.syndesis-dashboard-connections {
  position: relative;

  .card {
    //----- Same as .card-pf-icon-circle except without the blue circle ----------------->>
    .card-pf-view .card-pf-top-element .card-pf-icon-large {
      display: block;
      font-size: 46px;
      height: 106px;
      line-height: 102px;
      margin: 0 auto;
      text-align: center;
      width: 106px;
    }

    .card-pf.card-pf-view.card-pf-view-xs.card-pf-view-select.card-pf-view-single-select {
      cursor: pointer;

      a:hover,
      a:focus {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .card-pf-body {
      height: 240px;
      overflow: hidden;

      .card-pf-title {
        line-height: 1.2;
      }
    }
  }
}
