<!-- Connections Header & Toolbar -->
<div class="container-fluid">
  <div class="row syndesis-dashboard__header">
      <h1 class="col-sm-6 syndesis-dashboard__title">{{ 'dashboard.connections.heading' | synI18n }}</h1>
      <div class="col-sm-6 syndesis-dashboard__actions text-right" *ngIf="connections?.length">
        <a [routerLink]="['/connections']" class="syndesis-dashboard__view-all">{{ 'viewall' | synI18n: ('connections.connections' | synI18n) }}</a>&nbsp;&nbsp;
        <button class="btn btn-primary" [routerLink]="['/connections/create']">{{ 'dashboard.connections.create-btn-txt' | synI18n }}</button>
      </div>
  </div>
</div>

<div class="syndesis-dashboard-connections">
  <syndesis-loading [loading]="loading" [content]="content">
    <ng-template #content>
      <!-- Empty State -->
      <ng-container *ngIf="connections?.length === 0">
        <div class="blank-slate-pf">
          <div class="blank-slate-pf-icon">
            <span class="pficon pficon pficon-add-circle-o"></span>
          </div>
          <h1>{{ 'dashboard.connections.empty-state-create-header' | synI18n }}</h1>
          <p>{{ 'dashboard.connections.empty-state-txt' | synI18n }}</p>
          <div class="blank-slate-pf-main-action">
            <button class="btn btn-primary btn-lg" [routerLink]="['/connections/create']">{{ 'dashboard.connections.create-btn-txt' | synI18n }}</button>
          </div>
        </div>
      </ng-container>

      <!-- Not empty state -->
      <ng-container *ngIf="connections?.length > 0">
        <div class="row row-cards-pf">

          <!-- Each Connection's Card Container -->
          <div class="col-sm-6 col-md-3 card"
              *ngFor="let connection of connections; let i = index">

            <!-- Connection Card -->
            <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select"
                *ngIf="i < 8">
              <syndesis-card-tech-preview [item]="connection"></syndesis-card-tech-preview>
              <div class="card-pf-body" (click)="onSelect(connection)">

                <!-- Card Icon -->
                <div class="card-pf-top-element">
                  <span class="card-pf-icon-large image-icon">
                    <img class="syn-icon-medium" [src]="connection | synIconPath">
                  </span>
                </div>

                <!-- Card Name -->
                <h2 class="card-pf-title text-center syn-truncate__ellipsis"
                    title="{{ connection.name }}">
                  {{ connection.name }}
                </h2>

                <!-- Card Description / Item Overview -->
                <p class="card-pf-info text-center" [attr.title]="connection.description">
                  {{ connection.description | truncate : '50' : truncateTrail }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </syndesis-loading>
</div>
