<syndesis-loading [loading]="loading">
  <div class="container-cards-pf syndesis-dashboard-connections">
    <!-- Empty State -->
    <ng-container *ngIf="connections?.length === 0">
      <div class="blank-slate-pf">
        <div class="blank-slate-pf-icon">
          <span class="pficon pficon pficon-add-circle-o"></span>
        </div>
        <h1>Create a Connection</h1>
        <p>There are currently no connections available.  Please click on the button below to create one.</p>
        <button class="btn btn-primary" [routerLink]="['/connections/create']">Create Connection</button>
      </div>
    </ng-container>

    <!-- Not empty state -->
    <ng-container *ngIf="connections?.length > 0">
      <div class="row row-cards-pf cards">

        <!-- Each Connection's Card Container -->

        <div class="col-xs-12 col-sm-3 col-md-2 card"
             *ngFor="let connection of connections; let i = index">

          <!-- Connection Card -->

          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select"
               *ngIf="i<8"
               (click)="onSelect(connection)">
            <div class="card-pf-body">

              <!-- Card Icon -->

              <div class="card-pf-top-element">
                <span class="card-pf-icon-large image-icon">
                <img class="syn-icon-medium" [src]="connection | synIconPath">
              </span>
              </div>

              <!-- Card Name -->

              <h2 class="card-pf-title text-center"
                  title="{{ connection.name }}">
                {{ connection.name | truncate : '20' : truncateTrail }}
              </h2>

              <!-- Card Description / Item Overview -->

              <p class="card-pf-info text-center">
                {{ connection.description | truncate : '100' : truncateTrail }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</syndesis-loading>
