apiVersion: syndesis.io/v1alpha1
kind: Syndesis
metadata:
  name: app
spec:
  devImages: {{.DevImages}}
  components:
    meta:
      scheduled: true
    server:
      scheduled: true
    s2i:
      scheduled: true
    ui:
      scheduled: true
