apiVersion: apps/v1
kind: Deployment
metadata:
  name: syndesis-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: syndesis-operator
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
  template:
    metadata:
      labels:
        name: syndesis-operator
        syndesis.io/app: syndesis
        syndesis.io/type: operator
        syndesis.io/component: syndesis-operator
    spec:
      serviceAccountName: syndesis-operator
      initContainers:
      - command:
        - bash
        - -c
        - postgres -V
        image: '{{.DatabaseImage}}'
        name: postgres-version
      containers:
      - name: syndesis-operator
        image: '{{.OperatorImage}}'
        imagePullPolicy: Always
        ports:
          - containerPort: 60000
            name: metrics
        env:
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: OPERATOR_NAME
            value: "syndesis-operator"
