apiVersion: apps/v1
kind: Deployment
metadata:
  name: syndesis-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: syndesis-operator
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
  template:
    metadata:
      labels:
        name: syndesis-operator
        syndesis.io/app: syndesis
        syndesis.io/type: operator
        syndesis.io/component: syndesis-operator
    spec:
      serviceAccountName: syndesis-operator
      initContainers:
      - command:
        - bash
        - -c
        - postgres -V
        image: '{{.DatabaseImage}}'
        imagePullPolicy: Always
        name: postgres-version
      containers:
      - name: syndesis-operator
        image: '{{.OperatorImage}}'
        imagePullPolicy: Always
        ports:
          - containerPort: 60000
            name: metrics
        env:
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
{{- if .RelatedImages }}
          - name: OPERATOR_NAME
            value: "syndesis-operator"
          - name: RELATED_IMAGE_TODO
            value: '{{.TodoImage}}'
          - name: RELATED_IMAGE_OAUTH
            value: '{{.OauthImage}}'
          - name: RELATED_IMAGE_UI
            value: '{{.UiImage}}'
          - name: RELATED_IMAGE_S2I
            value: '{{.S2iImage}}'
          - name: RELATED_IMAGE_PROMETHEUS
            value: '{{.PrometheusImage}}'
          - name: RELATED_IMAGE_UPGRADE
            value: '{{.UpgradeImage}}'
          - name: RELATED_IMAGE_META
            value: '{{.MetaImage}}'
          - name: RELATED_IMAGE_DATABASE
            value: '{{.DatabaseImage}}'
          - name: RELATED_IMAGE_PSQL_EXPORTER
            value: '{{.ExporterImage}}'
          - name: RELATED_IMAGE_SERVER
            value: '{{.ServerImage}}'
          - name: RELATED_IMAGE_AMQ
            value: '{{.AmqImage}}'
{{- end }}
