- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: syndesis-operator
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
- kind: RoleBinding
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: syndesis-operator:install
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
  subjects:
  - kind: ServiceAccount
    name: syndesis-operator
  roleRef:
    kind: Role
    name: syndesis-operator
    apiGroup: rbac.authorization.k8s.io

{{- if .ApiServer.ImageStreams}}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
    name: syndesis-operator
  spec:
    tags:
    {{if .DevSupport}}
    - name: "latest"
      from:
        name: {{.Image}}:latest
        kind: ImageStreamTag
    {{else}}
    - name: "{{.Tag}}"
      from:
        name: {{.Image}}:{{.Tag}}
        kind: DockerImage
      importPolicy:
        scheduled: true
    {{end}}
{{end}}

- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
    {{- if .ApiServer.ImageStreams}}
      #
      # Sets a trigger on this deployment to overwrite
      # the template.spec.image property and point to
      # the syndesis-operator image stream.
      #
      # If in dev mode, modify the tag accordingly.
      #
      {{if .DevSupport}}
      image.openshift.io/triggers: '[{"from":{"kind":"ImageStreamTag","name":"syndesis-operator:latest"},"fieldPath":"spec.template.spec.containers[?(@.name==\"syndesis-operator\")].image"}]'
      {{else}}
      image.openshift.io/triggers: '[{"from":{"kind":"ImageStreamTag","name":"syndesis-operator:{{.Tag}}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"syndesis-operator\")].image"}]'
      {{end}}
    {{end}}
    name: syndesis-operator
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
  spec:
    strategy:
      type: Recreate
    replicas: 1
    selector:
      matchLabels:
        syndesis.io/app: syndesis
        syndesis.io/type: operator
        syndesis.io/component: syndesis-operator
    template:
      metadata:
        labels:
          name: syndesis-operator
          syndesis.io/app: syndesis
          syndesis.io/type: operator
          syndesis.io/component: syndesis-operator
      spec:
        serviceAccountName: syndesis-operator
        containers:
        - name: syndesis-operator
          image: {{.Image}}:{{.Tag}}
        {{- if .DevSupport}}
          imagePullPolicy: Always
        {{else}}
          imagePullPolicy: IfNotPresent
        {{end}}
          ports:
          - containerPort: 60000
            name: metrics
          env:
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: OPERATOR_NAME
            value: "syndesis-operator"
          - name: DEV_SUPPORT
            value: "{{.DevSupport}}"
        initContainers:
        - command:
          - bash
          - -c
          - postgres -V
          image: '{{.DatabaseImage}}'
          name: postgres-version
