- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: syndesis-operator
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
- kind: RoleBinding
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: syndesis-operator:install
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
  subjects:
  - kind: ServiceAccount
    name: syndesis-operator
  roleRef:
    kind: Role
    name: {{ .Role }}
    apiGroup: rbac.authorization.k8s.io

{{- if .ApiServer.ConsoleLink }}
- apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRoleBinding
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/component: syndesis-operator
      syndesis.io/type: operator
    name: {{.Namespace}}-syndesis-operator-install-consolelink
  subjects:
  - kind: ServiceAccount
    name: syndesis-operator
    namespace: {{.Namespace}}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: syndesis-operator-consolelink
{{- end }}

{{- if .ApiServer.OlmSupport }}
- apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRoleBinding
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/component: syndesis-operator
      syndesis.io/type: operator
    name: {{.Namespace}}-syndesis-operator-install-olm
  subjects:
  - kind: ServiceAccount
    name: syndesis-operator
    namespace: {{.Namespace}}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: syndesis-operator-olm
{{- end }}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
    name: syndesis-operator
  spec:
    tags:
    - name: "{{.Tag}}"
      from:
        name: {{.Image}}:{{.Tag}}
    {{if .DevSupport}}
        kind: ImageStreamTag
    {{else}}
        kind: DockerImage
      importPolicy:
        scheduled: true
    {{end}}
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    name: syndesis-operator
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
  spec:
    strategy:
      type: Recreate
    replicas: 1
    selector:
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
    template:
      metadata:
        labels:
          name: syndesis-operator
          syndesis.io/app: syndesis
          syndesis.io/type: operator
          syndesis.io/component: syndesis-operator
      spec:
        serviceAccountName: syndesis-operator
        containers:
        - name: syndesis-operator
          image: ' '
          imagePullPolicy: Always
          ports:
          - containerPort: 60000
            name: metrics
          args:
        {{- if gt .LogLevel 0}}
          - '--zap-level={{.LogLevel}}'
        {{else}}
          - '--zap-level=info'
        {{end}}
          env:
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: OPERATOR_NAME
            value: "syndesis-operator"
          - name: DEV_SUPPORT
            value: "{{.DevSupport}}"
          volumeMounts:
          - name: syndesis-operator-data
            mountPath: /data
        initContainers:
        - command:
          - bash
          - -c
          - "postgres -V > /data/postgresql.txt"
          image: '{{.DatabaseImage}}'
          imagePullPolicy: Always
          name: postgres-version
          volumeMounts:
          - name: syndesis-operator-data
            mountPath: /data
        volumes:
        - name: syndesis-operator-data
          emptyDir: {}
    triggers:
    - imageChangeParams:
        automatic: true
        containerNames:
        - syndesis-operator
        from:
          kind: ImageStreamTag
          name: syndesis-operator:{{.Tag}}
      type: ImageChange
    - type: ConfigChange
