- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: syndesis-operator
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
- kind: RoleBinding
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: syndesis-operator:install
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
  subjects:
  - kind: ServiceAccount
    name: syndesis-operator
  roleRef:
    kind: Role
    name: {{ .Role }}
    apiGroup: rbac.authorization.k8s.io

{{- if .ApiServer.ConsoleLink }}
- apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRoleBinding
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/component: syndesis-operator
      syndesis.io/type: operator
    name: {{.Namespace}}-syndesis-operator-install-consolelink
  subjects:
  - kind: ServiceAccount
    name: syndesis-operator
    namespace: {{.Namespace}}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: syndesis-operator-consolelink
{{- end }}

{{- if .ApiServer.OlmSupport }}
- apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRoleBinding
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/component: syndesis-operator
      syndesis.io/type: operator
    name: {{.Namespace}}-syndesis-operator-install-olm
  subjects:
  - kind: ServiceAccount
    name: syndesis-operator
    namespace: {{.Namespace}}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: syndesis-operator-olm
{{- end }}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: operator
      syndesis.io/component: syndesis-operator
    name: syndesis-operator
  spec:
    tags:
    - name: "{{.Tag}}"
      from:
        name: {{.Image}}:{{.Tag}}
    {{if .DevSupport}}
        kind: ImageStreamTag
    {{else}}
        kind: DockerImage
      importPolicy:
        scheduled: true
    {{end}}
