# To speed up docker based go builds, avoid sending
# these files to docker
.DS_Store
.dockerignore
.gitignore
.idea
dist
.Dockerfile
build/_output/bin/client-gen
build/_output/bin/deepcopy-gen
build/_output/bin/informer-gen
build/_output/bin/lister-gen
/operator-builder.tmp