# Temporary Build Files
build/_output
deploy/operatorsource.yaml
dist
.*
build.sh
before_launch.sh
/operator-builder.tmp

**/*.gen.tmpl
**/*.gen.yaml
**/operator/dockerconfigjson
**/release/*-installer*
**/bundle
