<div class="row toolbar-pf">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="inline-block">
        <ol class="breadcrumb no-bottom-margin">
          <li>
            <a [routerLink]="['/customizations']">
              Customizations
            </a>
          </li>
          <li>
            <a [routerLink]="['/customizations/tech-extensions']">
              Extensions
            </a>
          </li>
          <li class="active">
            <strong>
              <ng-container *ngIf="!extensionId && !extensionName">
                Import Extension
              </ng-container>
              <ng-container *ngIf="extensionId && extensionName">
                Update {{ extensionName }} <small>(ID: {{ extensionId }})</small>
              </ng-container>
            </strong>
          </li>
        </ol>
      </div>
      <div class="toolbar-pf-action-right">
        <div class="toolbar-pf-action-right-alignment">
          <button class="btn btn-default"
                [routerLink]="['/customizations/tech-extensions']">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p></p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <ng-container *ngIf="!extensionId && !extensionName">
            Import Extension
          </ng-container>
          <ng-container *ngIf="extensionId && extensionName">
            Update {{ extensionName }} <small>(ID: {{ extensionId }})</small>
          </ng-container>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <ng-container *ngIf="!extensionId && !extensionName">
            To import an extension, it must be packaged as a .jar file. To update an extension in the breadcrumbs above,
            click Extensions and in the list of extensions, click Update for the appropriate extension.
          </ng-container>
          <ng-container *ngIf="extensionId && extensionName">
            To update an extension, you must ensure that the new version you are uploading is compatible with the previously uploaded version.
          </ng-container>
        </p>
        <ng-container *ngIf="error">
          <div [class]="error.level" [innerHtml]="error.message">
          </div>
        </ng-container>
        <dl class="dl-horizontal"
            ng2FileDrop
            [uploader]="uploader">
          <dt>
            Upload File
          </dt>
          <dd>
            <div class="row">
              <div class="col-md-6">
                <input #fileSelect
                       type="file"
                       ng2FileSelect
                       [uploader]="uploader">
                <p class="help-block">Accepted file type: .jar</p>
              </div>
              <div class="col-md-6">
                <div *ngIf="uploader.queue.length">
                  <div *ngFor="let item of uploader.queue">
                    <p *ngIf="!item.isUploaded">
                      <span class="spinner spinner-lg spinner-inline"></span>
                      {{ item.file.name }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </dd>
        </dl>
        <ng-container *ngIf="response">
          <dl class="dl-horizontal">
            <dt>
              ID
            </dt>
            <dd>
              {{ response.extensionId }}
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>
              Name
            </dt>
            <dd>
              {{ response.name }}
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>
              Description
            </dt>
            <dd>
              {{ response.description }}
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>
              Steps
            </dt>
            <dd>
              <div *ngFor="let action of response.actions">
                <strong>
                  {{ action.name }}
                </strong>
                 - {{ action.description }}
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt></dt>
            <dd>
              <button type="button"
                      class="btn btn-primary"
                      [disabled]="importing"
                      (click)="doImport()">
                <span *ngIf="importing"
                      class="spinner spinner-sm spinner-inline"></span>
                Import
              </button>
              <button *ngIf="!importing"
                      type="button"
                      class="btn btn-default"
                      [routerLink]="['..']">
                Cancel
              </button>
            </dd>
          </dl>
        </ng-container>
      </div>
    </div>
  </div>
</div>
