.syndesis-dashboard-empty {
  margin: 15px;

  .first-row {
    padding: 70px 0;

    .btn {
      margin: 10px 5px;
      padding: 2px 20px !important;
    }

    .description {
      margin: 25px auto 10px;
      max-width: 40%;
    }
  }

  .second-row {
    text-align: left;

    h2 {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
