@import 'syndesis-sass';

.integrations.api-provider {
  height: 100%;

  .row {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .mapper {
    margin-left: 0;
    margin-right: 0;
  }

  .wizard-sidebar {
    flex: 0 0 auto;
    background: #fafafa;
    border-right: 1px solid #d1d1d1;
    height: 100%;
  }

  .main-panel {
    flex: 1 1 auto;
  }

  ::ng-deep {
    .control-buttons {
      margin-bottom: 15px;
    }
  }
}
:host {
  .api-connector-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-pf-white;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: $gutter;
      padding-right: $gutter;
    }

    &__title {
      display: inline-flex;
      align-items: center;

      h2 {
        border-left: 1px solid $color-pf-black-300;
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 0 1em;
        padding-left: 1em;
      }
    }

    &__body {
      position: relative;
    }
  }

  .wizard {
    &__main {
      margin-left: -$gutter;
      margin-right: -$gutter;
      position: relative;
    }

    &-nav {
      &__button {
        margin-left: 1.6em;
      }
    }

    &__body {
      max-width: 700px;
      margin: auto;
    }
  }
}
