<api-provider-creation-step-upload
  *ngIf="(currentActiveStep$ | async) == ApiProviderWizardSteps.UploadSpecification"
  [uploadSpecification]="uploadSpecification$ | async"
  [errors]="validationErrors$ | async"
  [loading]="loading$ | async"
  (onUploadSpecificationChange)="onUploadSpecificationChange($event)"
  (onDone)="onStepDone()"
  (onCancel)="showCancelModal()">
</api-provider-creation-step-upload>

<api-provider-creation-step-validate
  *ngIf="(currentActiveStep$ | async) == ApiProviderWizardSteps.ReviewApiProvider"
  [validationResponse]="validationResponse$ | async"
  [loading]="loading$ | async"
  (onDone)="onStepDone()"
  (onCancel)="showCancelModal()"
  (onEdit)="onEditSpecification()">
</api-provider-creation-step-validate>

<api-provider-creation-step-editor
  *ngIf="(currentActiveStep$ | async) == ApiProviderWizardSteps.EditSpecification"
  [specification]="(specificationForEditor$ | async)"
  (onBack)="onBackPressed()"
  (onCancel)="onBackPressed()"
  (onSave)="onSpecificationEdited($event)"
>
</api-provider-creation-step-editor>

<api-provider-creation-step-name
  *ngIf="(currentActiveStep$ | async) == ApiProviderWizardSteps.IntegrationName"
  [loading]="loading$ | async"
  [name]="(integrationName$ | async)"
  [description]="integrationDescription$ | async"
  [creationError]="creationError$ | async"
  (onNameChange)="updateIntegrationName($event)"
  (onDescriptionChange)="updateIntegrationDescription($event)"
  (onSave)="createIntegration()"
  (onBack)="onBackPressed()">
</api-provider-creation-step-name>

<ng-template #cancelModalTemplate>
  <cancel-confirmation-modal
    (cancel)="onCancelModalCancel($event)"
    primaryLabel="Yes"
    secondaryLabel="No">
    <p class="lead">{{ 'integrations.api-provider.cancel-modal-lead' | synI18n }}</p>
    <p>{{ 'integrations.api-provider.cancel-modal' | synI18n }}</p>
  </cancel-confirmation-modal>
</ng-template>
