@import 'syndesis-sass';

.openapi-review-fallback {
  padding-bottom: 1.4em;
}

button.openapi-review-form__submit.btn.btn-default.apicurio.pull-right {
  margin-top: -25px;
}

.openapi-review-actions {
  padding-bottom: 0.5em;

  &__header {
    display: flex;
    background-color: $color-pf-black-200;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.4em 0.6em;
  }

  &__operations {
    list-style-type: none;
    padding-left: 2em;
  }

  &__operations &__operations li:before {
    display: inline;
    content: '-';
    margin: 0 0.3em;
  }

  &__label {
    background: $color-pf-black-300;
    color: white;
    font-size: 11px;
    margin: 0 1em;
    padding: 0.2em 0.6em;

    &--error {
      background: $color-pf-red-100;
    }

    &--warning {
      background: $color-pf-orange-300;
    }
  }
}

.btn {
  @extend %syn-cta-btn;
}
