<div class="card-pf-heading">
  <h2 class="card-pf-title">
    {{ 'openapi.api-review-title' | synI18n }}
  </h2>
</div>
<div class="card-pf-body" *ngIf="actionsSummary; else validationFallback">
  <h5 class="openapi-review-actions__header">
    {{ 'openapi.api-review-api-info-header' | synI18n }}
  </h5>
  <ol class="openapi-review-actions__operations">
    <li [innerHtml]="'openapi.api-review-api-name' | synI18n: name"></li>
    <li [innerHtml]="'openapi.api-review-api-description' | synI18n: description"></li>
  </ol>

  <div class="openapi-review-actions" *ngIf="actionsSummary as actionsSummary">
    <h5 class="openapi-review-actions__header">
      {{ 'openapi.api-review-imported-header' | synI18n }}
    </h5>
    <ol class="openapi-review-actions__operations">
      <li [innerHtml]="'openapi.api-review-operations-count' | synI18n: actionsSummary.totalActions"
          *ngIf="actionsSummary.totalActions > 0">
      </li>
      <li [innerHtml]="'openapi.api-review-no-operations' | synI18n"
          *ngIf="!actionsSummary.totalActions">
      </li>
      <ol class="openapi-review-actions__operations">
        <li *ngFor="let importedAction of importedActions"
            [innerHtml]="'openapi.api-review-action-tagged-count' | synI18n: [importedAction.count, importedAction.tag]">
        </li>
      </ol>
    </ol>
  </div>

  <div class="openapi-review-actions" *ngIf="errors">
    <h5 class="openapi-review-actions__header" *ngIf="errors.length">
      {{ 'openapi.api-review-errors-header' | synI18n }}
      <span class="openapi-review-actions__label openapi-review-actions__label--error">
        {{ errors.length }}
      </span>
    </h5>
    <ol *ngIf="errors.length">
      <li *ngFor="let error of errors">{{ error.property }}: {{ error.message }}</li>
    </ol>
  </div>

  <div class="openapi-review-actions" *ngIf="warnings">
    <h5 class="openapi-review-actions__header" *ngIf="warnings.length">
      {{ 'openapi.api-review-warnings-header' | synI18n }}
      <span class="openapi-review-actions__label openapi-review-actions__label--warning">
          {{ warnings.length }}
      </span>
    </h5>
    <ol *ngIf="warnings.length">
      <li *ngFor="let warning of warnings">{{ warning.message }}</li>
    </ol>
  </div>
</div>

<ng-template #validationFallback>
  <h5 class="openapi-review-fallback">
    {{ 'openapi.api-review-validation-fallback' | synI18n }}
  </h5>
</ng-template>
