<ng-template #template>
  <div class="modal-header">
    <button type="button"
            class="close"
            aria-hidden="true"
            (click)="cancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title">{{ title }}</h4>
  </div>
  <div class="modal-body">
    <p>{{ message }}</p>
    <ng-template *ngIf="body"
                 [ngTemplateOutlet]="body"
                 [ngTemplateOutletContext]="{ modal: this }"></ng-template>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-default"
            (click)="cancel()">
      Cancel
    </button>
    <button type="button"
            class="btn btn-primary"
            (click)="ok()">
      OK
    </button>
  </div>
</ng-template>
