<syndesis-loading [loading]="loading">
  <div class="container-cards-pf connections-list">
    <div class="row row-cards-pf cards">

      <!-- Delete Modal Container -->

      <syndesis-modal title="Confirm Delete"
                      [message]="'Are you sure you would like to delete the \'' + selectedForDelete?.name + '\' connection?'">
      </syndesis-modal>

      <!-- Empty state -->
      <ng-container *ngIf="connections && connections.length === 0">
        <div class="blank-slate-pf">
          <div class="blank-slate-pf-icon">
            <span class="pficon pficon pficon-add-circle-o"></span>
          </div>
          <!-- Connections -->
          <ng-container *ngIf="!isConnectors">
            <h1>Create a Connection</h1>
            <p>There are currently no connections available. Please click on the button below to create one.</p>
            <button class="btn btn-primary"
                    [routerLink]="['/connections/create']">Create Connection</button>
          </ng-container>
          <!-- Connectors -->
          <ng-container *ngIf="isConnectors">
            <h1>Register Applications</h1>
            <p>There are currently no applications registered.</p>
            <p>Before you can create a connection, you must register your applications to allow Syndesis to access information
              and act on your behalf</p>
            <button class="btn btn-primary"
                    [routerLink]="['/settings/oauth-clients']">Register Applications</button>
          </ng-container>
        </div>
      </ng-container>

      <!-- Each Connection's Card Container -->
      <ng-container *ngIf="connections && connections.length > 0">
        <div class="connection col-xs-12 col-sm-3 col-md-2 card"
          *ngFor="let connection of connections"
          (click)="onSelect(connection, $event)">

          <!-- Connection Card -->
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select"
              [class.active]="connection.id === selectedId">
            <div class="card-pf-body">

              <!-- Card Heading -->
              <div class="card-pf-heading-kebab">
                <!-- Card Actions -->
                <div *ngIf="showKebab">
                  <div dropdown
                      class="dropdown dropdown-kebab-pf pull-right"
                      placement="bottom">
                    <button dropdownToggle
                            class="btn btn-link dropdown-toggle"
                            type="button"
                            id="dropdownKebabRight9"
                            (click)="$event.stopPropagation()">
                    <span class="fa fa-ellipsis-v"></span>
                  </button>
                    <ul *dropdownMenu
                        class="dropdown-menu dropdown-menu-right"
                        role="menu">
                      <li role="menuitem">
                        <a [routerLink]="['/connections', connection.id]"
                          class="dropdown-item">View</a>
                      </li>
                      <li role="menuitem">
                        <a [routerLink]="['/connections', connection.id]"
                          [queryParams]="{ edit: true }"
                          class="dropdown-item">Edit</a>
                      </li>
                      <!--
                    <li role="menuitem">
                      <a class="dropdown-item">Duplicate</a>
                    </li>
                    -->
                      <li>
                        <a (click)="requestDelete(connection); $event.stopPropagation()"
                          class="dropdown-item">Delete</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


              <!-- Card Icon -->
              <div class="card-pf-top-element">
                <span class="card-pf-icon-large image-icon">
                <img class="syn-icon-medium" [src]="connection | synIconPath">
              </span>
              </div>

              <!-- Card Name -->
              <h2 class="card-pf-title text-center"
                  (click)="onSelect(connection)"
                  title="{{ connection.name }}">
                {{ connection.name | truncate : '20' : truncateTrail }}
              </h2>

              <!-- Card Description / Item Overview -->
              <p class="card-pf-info text-center">
                {{ connection.description | truncate : '100' : truncateTrail }}
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="showNewConnection && connections.length > 0">
        <div class="connection new-connection col-xs-12 col-sm-3 col-md-2 card"
             (click)="onSelect(undefined, $event)">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
            <div class="card-pf-body">

              <!-- Card Icon -->
              <div class="card-pf-top-element">
                <span class="card-pf-icon-large pficon pficon-add-circle-o">
                </span>
              </div>

              <!-- Card Description / Item Overview -->
              <div class="card-pf-info text-center">
                <button class="btn btn-default" (click)="onSelect(undefined, $event)">Create Connection</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</syndesis-loading>
