@import 'syndesis-sass';

.connections-list {
  .cards {
    ::ng-deep .card {
      .card-pf.card-pf-view.card-pf-view-xs.card-pf-view-select.card-pf-view-single-select {
        cursor: pointer;

        .dropdown-toggle {
          padding: 4px 10px;
        }

        a:hover,
        a:focus {
          cursor: pointer;
          text-decoration: none;
        }
      }

      .card-pf-body {
        height: 240px;
        position: relative;

        .card-pf-top-element {
          font-size: 46px;
          color: $color-pf-blue-300;
          line-height: 1;
          text-align: center;
          padding-top: 35px;
          margin-bottom: 10px;

          .api-provider {
            max-width: 62px;
            max-height: 62px;
          }
        }

        .card-pf-title {
          margin: 0;
          line-height: 1.2;
        }

        .card-pf-heading-kebab {
          .dropdown-kebab-pf {
            position: absolute;
            top: 15px;
            right: 0;

            &:focus {
              outline: 0;
            }

            .btn-link {
              color: #252525;
              font-size: 16px;
              line-height: 1;
              padding: 5px 12px;
              margin: 4px 1px 0 -12px;

              .fa:focus {
                outline: 0;
              }
            }

            .dropdown-menu.dropdown-menu-right {
              left: auto;
              right: -1px;
              top: 26px;
            }
          }
        }

        .connection-config-alert {
          .alert {
            position: absolute;
            bottom: -2px;
            left: calc(-#{$gutter} - 2px);
            right: calc(-#{$gutter} - 2px);
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            > .pficon {
              position: static;
              margin-right: 10px;
            }
          }
        }
      }

      &.empty-state-card {
        .card-pf-icon-large {
          color: $color-pf-blue-300;
        }
      }
    }
  }
}

.disabled-menu-item {
  color: lightgray;
  cursor: not-allowed;
  margin-left: 10px;
}
