@import 'syndesis-sass';

.connections-list {
  .cards {
    .card {
      &.new-connection {
        .card-pf-view {
          background: inherit;
          box-shadow: none;
        }
        .card-pf-icon-large {
          color: $color-pf-blue-300;
        }
      }
      width: 25%;

      //----- Same as .card-pf-icon-circle except without the blue circle ----------------->>

      .card-pf-view .card-pf-top-element .card-pf-icon-large {
        display: block;
        font-size: 46px;
        height: 106px;
        line-height: 102px;
        margin: 0 auto;
        text-align: center;
        width: 106px;
      }

      .card-pf.card-pf-view.card-pf-view-xs.card-pf-view-select.card-pf-view-single-select {
        cursor: pointer;

        .dropdown-toggle {
          padding: 4px 10px;
        }

        a:hover,
        a:focus {
          cursor: pointer;
          text-decoration: none;
        }
      }

      .card-pf-body {
        height: 240px;

        .card-pf-heading-kebab {
          .dropdown-kebab-pf {
            margin-top: -8px;

            &:focus {
              outline: 0;
            }

            .btn-link {
              color: #252525;
              font-size: 16px;
              line-height: 1;
              padding: 5px 12px;
              margin: 4px 1px 0 -12px;

              .fa:focus {
                outline: 0;
              }
            }

            .dropdown-menu.dropdown-menu-right {
              left: auto;
              right: -1px;
              top: 26px;
            }
          }
        }
      }
    }
  }
}
