
<!-- Toolbar & Breadcrumbs -->

<nav class="row toolbar-pf toolbar">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="inline-block">
        <ol class="breadcrumb no-bottom-margin">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/integrations">Integrations</a>
          </li>
          <li class="active">
            <strong>Import Integration</strong>
          </li>
        </ol>
      </div>
      <div class="toolbar-pf-action-right">
        <button class="btn btn-primary"
                (click)="redirectBack()">
          Done
        </button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
