
<!-- Toolbar & Breadcrumbs -->

<nav class="row toolbar-pf toolbar">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="inline-block">
        <ol class="breadcrumb no-bottom-margin">
          <li>
            <a routerLink="/">{{ 'home' | synI18n }}</a>
          </li>
          <li>
            <a routerLink="/integrations">{{ 'integrations' | synI18n }}</a>
          </li>
          <li class="active">
            <strong>{{ 'integrations.import-export.header' | synI18n }}</strong>
          </li>
        </ol>
      </div>
      <div class="toolbar-pf-action-right">
        <div class="toolbar-pf-action-right-alignment">
          <button class="btn btn-primary"
                  (click)="redirectBack()">
            {{ 'integrations.import-export.btn-done' | synI18n }}
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
