<syndesis-loading [loading]="loading" [content]="content">
  <ng-template #content>
    <div class="container-fluid">
      <div class="row">
        <pfng-list
          [items]="actions | derp"
          [itemTemplate]="itemTemplate"
          (onClick)="onSelect($event)"
        >
          <ng-template #itemTemplate let-action="item" let-index="index">
            <div class="list-pf-content-wrapper">
              <div class="list-pf-main-content">
                <div class="list-pf-description text-overflow-pf">
                  {{ action.description | truncate: truncateLimit:truncateTrail }}
                </div>
              </div>
              <div class="list-pf-title">{{ action.name }}</div>
            </div>
          </ng-template>
        </pfng-list>
      </div>
    </div>
  </ng-template>
</syndesis-loading>
