@import 'syndesis-sass';

.integrations.list {
  ::ng-deep .pfng-list-content {
    min-width: 0;
  }

  .integration-icons {
    display: inline-table;
    min-width: 135px;

    .api-provider {
      max-width: 35px;
      max-height: 35px;
    }

    .fa-angle-right {
      margin: 0 10px 0 10px;
      font-size: 18px;
    }

    .icon {
      position: relative;

      .syn-badge {
        position: absolute;
        background: #ec7a08;
        border-radius: 10px;
        top: 0;
        right: 0;
        height: 20px;
        min-width: 20px;
        line-height: 1;
        transform: translate(75%, -75%);
        color: $color-pf-white;
        padding: 4px;
      }
    }

  }

  .integration-content {
    .name {
      font-weight: 700;
    }
  }

  .integration-status {
    .pass-fail {
      i {
        font-size: 16px;
      }
    }
  }
}
