<div class="integrations list">

  <syndesis-modal [title]="modalTitle"
                  [message]="modalMessage"
                  [type]="modalType"
                  [primaryText]="modalPrimaryText">
  </syndesis-modal>

  <!-- List Container -->
  <pfng-list [items]="integrations"
             [config]="listConfig"
             [itemTemplate]="itemTemplate"
             [actionTemplate]="actionTemplate"
             (onActionSelect)="integrationActionsService.requestAction($event.id, undefined)"
             (onClick)="integrationActionsService.requestAction('view', $event.item)">
    <ng-template #itemTemplate
                 let-integration="item"
                 let-index="index">
      <div class="list-view-pf-left integration-icons">
        <span *ngIf="integrationActionsService.getStart(integration).connection; let connection">
          <img class="syn-icon-small" [src]="connection | synIconPath">
        </span>
        <span class="fa fa-angle-right"></span>
        <span *ngIf="integrationActionsService.getFinish(integration).connection; let connection">
          <img  class="syn-icon-small" [src]="connection | synIconPath">
        </span>
      </div>
      <div class="list-pf-content-wrapper">
        <div class="list-pf-main-content integration-content">
          <div *ngIf="complete"
            class="list-pf-title name syn-truncate__ellipsis" 
            title="{{ integration.name }}">{{ integration.name }}</div>
          <div class="list-pf-description description syn-truncate__ellipsis"
            title="{{ complete ? integration.description : integration.name }}">
            {{ complete ? integration.description : integration.name }}
          </div>
        </div>
        <div class="list-pf-additional-content integration-status">
          <syndesis-integration-status *ngIf="complete"
                                       [integration]="integration"></syndesis-integration-status>
          <span *ngIf="integration.board?.notices || integration.board?.warnings || integration.board?.errors">
            <span class="pficon pficon-warning-triangle-o"></span>
            Configuration Required
          </span>
          <div class="pass-fail">
            <ng-template #statTemplate>{{ integration.statusMessage }}</ng-template>
            <i *ngIf="integration.statusMessage"
               class="pficon pficon-error-circle-o"
               [tooltip]="statTemplate"
               placement="bottom"></i>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #actionTemplate
                 let-integration="item"
                 let-index="index">
      <syndesis-integration-action-menu [integration]="integration"></syndesis-integration-action-menu>
    </ng-template>
  </pfng-list>
</div>
