<div class="tag-cicd-modal modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" (click)="cancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title">{{ 'integrations.cicd-modal.title' | synI18n }}</h4>
  </div>
  <div class="modal-body">
    <syndesis-loading [loading]="!loaded" [content]="content">
      <ng-template #content>
        <div class="alert alert-danger" *ngIf="removalCandidate">
          <button
            class="btn btn-default pull-right"
            type="button"
            (click)="cancelRemove()"
          >
            Cancel
          </button>
          <button
            class="btn btn-danger pull-right"
            type="button"
            (click)="remove()"
          >
            Remove
          </button>
          <span class="pficon pficon-warning-triangle-o"></span> Are you sure
          you want to remove <strong>{{ removalCandidate.name }}</strong> for
          all integrations?
        </div>
        <div>{{ 'integrations.cicd-modal.body' | synI18n }}</div>
        <div class="list-group">
          <div *ngFor="let environment of environments" class="list-group-item">
            <ng-container *ngIf="!environment.isNew && !environment.editing">
              <div class="list-view-pf-checkbox">
                <input type="checkbox" [(ngModel)]="environment.tagged" />
              </div>
              <div class="list-view-pf-actions">
                <a [routerLink]="" (click)="edit(environment)">Edit</a>
                <a [routerLink]="" (click)="promptRemove(environment)"
                  >Remove</a
                >
              </div>
            </ng-container>
            <div class="list-view-pf-main-info">
              <div class="list-view-pf-body">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">
                    <span *ngIf="!environment.isNew && !environment.editing">{{
                      environment.name
                    }}</span>
                    <div
                      class="form-group"
                      *ngIf="environment.isNew || environment.editing"
                    >
                      <input
                        class="input"
                        type="text"
                        placeholder="{{
                          'integrations.cicd-modal.placeholder' | synI18n
                        }}"
                        [(ngModel)]="environment.name"
                      />
                      <button
                        *ngIf="environment.isNew"
                        class="btn btn-primary"
                        type="button"
                        (click)="add()"
                      >
                        {{ 'add' | synI18n }}
                      </button>
                      <button
                        *ngIf="environment.editing"
                        class="btn btn-primary form-control-pf-save"
                        type="button"
                        (click)="rename(environment)"
                        [disabled]="environment.name === environment.oldName"
                      >
                        <i class="glyphicon glyphicon-ok"></i>
                      </button>
                      <button
                        *ngIf="environment.editing"
                        class="btn btn-default form-control-pf-cancel"
                        type="button"
                        (click)="cancelRename(environment)"
                      >
                        <i class="glyphicon glyphicon-remove"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <a [routerLink]="" (click)="addNew()">{{
            'integrations.cicd-modal.addnew' | synI18n
          }}</a>
        </div>
      </ng-template>
    </syndesis-loading>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="cancel()">
      {{ 'cancel' | synI18n }}
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="save()"
      [disabled]="!canSave()"
    >
      {{ 'save' | synI18n }}
    </button>
  </div>
</div>
