<div class="row toolbar-pf">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="form-group">
        <ol class="breadcrumb">
          <li>
            <a [routerLink]=" ['/'] ">Home</a>
          </li>
          <li>
            <a [routerLink]=" ['/connections'] ">Connections</a>
          </li>
          <li class='active'><strong>Connection Details</strong></li>
        </ol>
      </div>
      <div class="toolbar-pf-action-right"
           *ngIf="connection">
        <div class="form-group">
          <button *ngIf="mode === 'view'"
                  class="btn btn-primary"
                  type="button"
                  (click)="doEdit()">
              Edit
          </button>
          <button *ngIf="mode === 'edit'"
                  [disabled]="saving"
                  class="btn btn-default"
                  type="button"
                  (click)="cancel()">
              Cancel
          </button>
          <button *ngIf="mode === 'edit'"
                  [disabled]="saving"
                  class="btn btn-primary"
                  type="button"
                  (click)="doSave()">
              <span *ngIf="saving" class="spinner spinner-sm spinner-inline"></span> Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
