@import '../../../scss/colors';
.oauth-apps {
  & /deep/ .toolbar-pf {
    background: inherit;
    box-shadow: none;
    border-bottom-color: transparent;
  }

  & /deep/ .list-pf-item {
    background: $pf-white;
  }

  & /deep/ div.close {
    display: none;
  }
}
