<div bsModal
     #childModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="activateModal"
     aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                aria-hidden="true"
                (click)="hideModal()">
              <span class="pficon pficon-close"></span>
            </button>
        <h4 class="modal-title">Remove OAuth Credentials?</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to clear the credentials for {{item?.client.name}}?
        </p>
        <p>
          <strong>This operation cannot be undone!</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                (click)="hideModal()">
                    Cancel
            </button>
        <button type="button"
                class="btn btn-primary"
                (click)="removeCredentials()">
                    Remove
            </button>
      </div>
    </div>
  </div>
</div>
