<div class="api-connector-list">
  <h1>API Client Connectors</h1>
  <p>
    <a>{{ appName }}</a> creates an API client connector when you upload a valid OpenAPI 2.0 document that describes the
    API you want to connect to.
  </p>
  <syndesis-validation-error *ngIf="stateError | async">
    {{ stateError | async }}
  </syndesis-validation-error>

  <syndesis-loading [loading]="(apiConnectorState$ | async)?.loading" [content]="content">

    <ng-template #content>
      <syndesis-list-toolbar [items]="apiConnectors$" [filterTags]="false" [filteredItems]="filteredApiConnectors$" [viewTemplate]="viewTemplate">
        <ng-template #viewTemplate>
          <div class="toolbar-pf-action-right">
              <button type="button" class="btn btn-primary" *ngIf="(filteredApiConnectors$ | async).length > 0" routerLink="/customizations/api-connector/create/swagger-connector">
              Create API Connector
            </button>
          </div>
        </ng-template>
      </syndesis-list-toolbar>

      <pfng-list [items]="filteredApiConnectors$ | async" [config]="listConfig" [itemTemplate]="itemTemplate" [actionTemplate]="actionTemplate"
        (onActionSelect)="handleAction($event)" (onClick)="handleClick($event)">
        <ng-template #itemTemplate let-item="item" let-index="index">
          <div class="list-pf-content-wrapper">
            <div class="list-pf-additional-content">
              <div class="list-pf-title">{{ item.name }}</div>
            </div>
            <div class="list-pf-main-content">
              <div class="list-pf-description" text-overflow-pf [innerHtml]="item.description | synParseMarkdownLinks">
              </div>
            </div>
            <div class="list-pf-additional-content">
              <div *ngIf="item.uses !== null && item.uses !== undefined">
                <strong>Used by integrations
                  <span [innerHtml]="item.uses | i18nPlural: itemUseMapping"></span>
                </strong>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #actionTemplate let-item="item" let-index="index">
          <button type="button" (click)="onDelete(item)" [disabled]="item.uses > 0" class="foo btn btn-default">
            Delete
          </button>
        </ng-template>
      </pfng-list>
    </ng-template>
  </syndesis-loading>
</div>

<ng-template #confirmDeleteModalTemplate>
  <delete-confirmation-modal (delete)="onDeleteConfirm($event)" title="{{ 'customizations.api-client-connectors.delete-connector-modal-title' | synI18n }}">
    <p class="lead">{{ 'customizations.api-client-connectors.delete-connector-modal-lead' | synI18n: deletableApiConnectorName }}</p>
    <p>{{ 'customizations.api-client-connectors.delete-connector-modal' | synI18n }}</p>
  </delete-confirmation-modal>
</ng-template>
