<div class="syn-scrollable">
  <div class="syn-scrollable--body">
    <div class="container-fluid">
      <div *ngIf="errorMessage">
        <div class="alert alert-danger">
          <button
            type="button"
            class="close"
            (click)="errorMessage = undefined"
          >
            <span class="pficon pficon-close"></span>
          </button>
          <span class="pficon pficon-error-circle-o"></span>
          <p>Error saving integration:</p>
          <pre>{{ errorMessage }}</pre>
        </div>
      </div>
      <div class="title"><h1>Create an integration</h1></div>
      <p>Add details about this integration.</p>
      <div class="row row-cards-pf">
        <div class="card-pf">
          <div class="card-pf-body">
            <form class="form-horizontal">
              <!-- replacing id with data-id to pass build errors -->
              <div class="form-group required">
                <label class="col-sm-3 control-label required-pf">
                  Integration Name
                </label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    name="nameInput"
                    data-id="nameInput"
                    placeholder="{{ name }}"
                    [(ngModel)]="name"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                  <textarea
                    data-id="descriptionInput"
                    name="descriptionInput"
                    class="form-control"
                    [(ngModel)]="description"
                    rows="2"
                  ></textarea>
                </div>
              </div>
              <!--
              <div class="form-group required">
                <label class="col-xs-4 control-label">Tag(s)</label>
                <div class="col-xs-8">
                  <input type="text" name="tagsInput" data-id="tagsInput" [(ngModel)]="tags" class="form-control">
                </div>
              </div>
              -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
