@import 'syndesis-sass';

.integrations.edit {
  display: flex;
  flex-flow: column;
  height: 100%;

  .content {
    display: flex;
    flex: 1;

    .operations {
      flex: 1 1 auto;
    }
  }
}
