<div class="syn-scrollable">
  <div class="syn-scrollable--body">
    <div class="container-fluid">
      <div class="row row-cards-pf">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h1 class="card-pf-title">Operations ({{ (flows$ | async).length }})</h1>
            <p>
              An integration can have multiple flows. Select an operation to start
              creating a flow.
            </p>

            <!-- Toolbar -->
            <syndesis-list-toolbar
              [items]="enrichedFlows$"
              [filterTags]="false"
              [filteredItems]="filteredFlows$"
              [toolbarConfig]="toolbarConfig"
            >
            </syndesis-list-toolbar>
          </div>
          <div class="card-pf-body">
            <div class="container-fluid">
              <div class="row">
                <pfng-list
                  [items]="filteredFlows$ | async"
                  [itemTemplate]="itemTemplate"
                  [actionTemplate]="actionTemplate"
                  (onClick)="handleClick($event)"
                >
                  <ng-template #itemTemplate let-flow="item" let-index="index">
                    <div class="list-pf-content-wrapper">
                      <div class="list-pf-main-content">
                        <div class="list-pf-description text-overflow-pf">
                          <integration-api-provider-operation-description
                            [description]="flow.description"
                          ></integration-api-provider-operation-description>
                        </div>
                      </div>
                      <div class="list-pf-title">{{ flow.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template #actionTemplate let-flow="item" let-index="index">
                    <span *ngIf="flow.implemented === 1">
                      <button class="btn btn-default" (click)="handleClick(flow)">
                        Edit Flow
                      </button>
                    </span>
                    <span *ngIf="flow.implemented === 0">
                      <button class="btn btn-primary" (click)="handleClick(flow)">
                        Create a Flow
                      </button>
                    </span>
                  </ng-template>
                </pfng-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
