<div class="integrations">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          &lt;&lt;&nbsp;<a [routerLink]="['/integrations']">All Integrations</a>
        </li>
        <li *ngIf="(currentFlowService.loaded$ | async)">
          <a
            [routerLink]="['/integrations', currentFlowService.integration.id]"
            >{{ currentFlowService.integration.name }}</a
          >
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <syndesis-integration-flow-toolbar
        [isApiProvider]="true"
      ></syndesis-integration-flow-toolbar>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <syndesis-loading
        [loading]="!(currentFlowService.loaded$ | async)"
        [content]="content"
      >
      </syndesis-loading>
    </div>
  </div>
</div>

<ng-template #content>
  <div class="syn-scrollable">
    <div class="syn-scrollable--body">
      <syndesis-integration-api-provider-operations-list
        [flows$]="currentFlowService.flows$"
        [integrationId]="currentFlowService.integration?.id"
      ></syndesis-integration-api-provider-operations-list>
    </div>
  </div>
</ng-template>
