<div class="integrations api-provider">
  <div class="row">

    <!-- Sidebar -->
    <div class="wizard-sidebar">
      <syndesis-integration-flow-view></syndesis-integration-flow-view>
    </div>

    <!-- Add/Edit Integration -->
    <div class="main-panel wizard-main">
      <div class="syn-scrollable">
        <!-- Toolbar -->
        <div class="toolbar syn-toolbar--inverted">
          <div class="container-fluid">
            <!-- Toolbar: Breadcrumbs -->
            <div class="row toolbar-pf">
              <div class="col-sm-12">
                <div class="toolbar-pf-actions">
                  <div class="inline-block">
                    <ol class="breadcrumb">
                      <li>
                        <a [routerLink]="['/']">Home</a>
                      </li>
                      <li>
                        <a [routerLink]="['/integrations']">Integrations</a>
                      </li>
                      <li class="active">WUT</li>
                    </ol>
                  </div>
                  <div class="toolbar-pf-action-right">
                    <syndesis-cancel-add-step></syndesis-cancel-add-step>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="syn-scrollable--body">
          <div class="container-fluid">
            <div class="title">
              <h1>TODO</h1>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aspernatur dignissimos dolorem ex hic impedit inventore laudantium, nam nemo officiis quasi quibusdam quisquam repudiandae similique temporibus vel veniam voluptatum!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
