<article class="wizard syn-scrollable"
         onDragStart="return false;"
         ondragenter="return false;"
         ondragover="return false;"
         ondrop="return false;">
  <div class="syn-scrollable">
    <!-- Toolbar -->
    <div class="toolbar syn-toolbar--inverted">
      <div class="container-fluid">
        <!-- Toolbar: Breadcrumbs -->
        <div class="row toolbar-pf">
          <div class="col-sm-12">
            <div class="toolbar-pf-actions">
              <div class="inline-block">
                <ol class="breadcrumb">
                  <li>
                    <a [routerLink]="['/']">{{ 'shared.home' | synI18n }}</a>
                  </li>
                  <li>
                    <a [routerLink]="['/integrations']">{{ 'integrations.integrations' | synI18n }}</a>
                  </li>
                  <li>{{ 'integrations.new-integration' | synI18n }}</li>
                  <li class="active">{{ 'integrations.api-provider.creation-title' | synI18n }}</li>
                </ol>
              </div>
              <div class="toolbar-pf-action-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="syn-scrollable--body">
      <div class="container-fluid">

        <div class="title">
          <h1>{{ 'integrations.api-provider.creation-title' | synI18n }}</h1>
        </div>
        <p>{{ 'integrations.api-provider.creation-subtitle' | synI18n }}</p>

        <section>
          <ng-container *ngIf="(currentActiveStep$ | async) == ApiProviderWizardSteps.UploadSpecification; then uploadStep"></ng-container>
          <ng-container *ngIf="(currentActiveStep$ | async) == ApiProviderWizardSteps.ReviewApiProvider; then validateStep"></ng-container>
        </section>
      </div>
    </div>
  </div>
</article>

<ng-template #uploadStep>
  <div class="row row-cards-pf">
    <div class="card-pf">
      <div class="card-pf-body">
        <ng-container *ngIf="validationError$ | async">
          <syndesis-validation-error *ngFor="let error of (validationError$ | async).errors">
            {{ error.message }}
          </syndesis-validation-error>
        </ng-container>

        <form class="form-horizontal syn-form--swagger-upload"
              (ngSubmit)="onStepDone()"
              #openApiForm="ngForm"
              novalidate>
          <openapi-uploader [ngModel]="(uploadSpecification$ | async)"
                            (ngModelChange)="onUploadSpecificationChange($event)"
                            name="uploaderValue"
                            [allowSpecCreation]="true"
                            [isInvalid]="(validationError$ | async)">
          </openapi-uploader>
          <fieldset>
            <syndesis-button type="submit"
                             [loading]="(validationLoading$ | async)"
                             [disabled]="!(uploadSpecification$ | async)?.valid">
              {{ 'shared.next-button' | synI18n }}
            </syndesis-button>
          </fieldset>
        </form>

      </div>
    </div>
  </div>
</ng-template>

<ng-template #validateStep>
  <div class="row row-cards-pf">
    <div class="card-pf">
      <div class="card-pf-body">
        <syndesis-loading
          [loading]="validationLoading$ | async"
          [content]="validationContent">
        </syndesis-loading>
        <ng-template #validationContent>
          <openapi-review [validatorData]="(validationResponse$ | async)">
          </openapi-review>

          <fieldset>
            <syndesis-button type="button" theme="default" (click)="onBackPressed()">
              {{ 'shared.back-button' | synI18n }}
            </syndesis-button>

            <syndesis-button (click)="onStepDone()"
                             type="button"
                             theme="primary">
              {{ 'shared.next-button' | synI18n }}
            </syndesis-button>

            <ng-template #editTooltip>
              {{ 'customizations.api-client-connectors.edit-tooltip' | synI18n }}
            </ng-template>
            <syndesis-button (click)="null"
                             type="button"
                             class="pull-right"
                             theme="default">
              <span [tooltip]="editTooltip"
                    placement="top">
                {{ 'customizations.api-client-connectors.api-review-edit-button' | synI18n }}
              </span>
            </syndesis-button>
          </fieldset>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cancelModalTemplate>
  <cancel-confirmation-modal
    (cancel)="onCancel($event)"
    primaryLabel="Yes"
    secondaryLabel="No">
    <p class="lead">{{ 'customizations.api-client-connectors.cancel-connector-modal-lead' | synI18n }}</p>
    <p>{{ 'customizations.api-client-connectors.cancel-connector-modal' | synI18n }}</p>
  </cancel-confirmation-modal>
</ng-template>

<ng-template #cancelEditorModalTemplate>
  <cancel-confirmation-modal
    (cancel)="onCancelApiEditor($event)"
    primaryLabel="Yes"
    secondaryLabel="No">
    <p class="lead">{{ 'customizations.api-client-connectors.cancel-api-editor-modal-lead' | synI18n }}</p>
    <p *ngIf="apiName">{{ 'customizations.api-client-connectors.cancel-api-editor-modal' | synI18n: apiName }}</p>
    <p *ngIf="!apiName">{{ 'customizations.api-client-connectors.cancel-api-editor-unnamed-modal' | synI18n }}</p>
  </cancel-confirmation-modal>
</ng-template>
