<article class="wizard syn-scrollable"
         onDragStart="return false;"
         ondragenter="return false;"
         ondragover="return false;"
         ondrop="return false;">
  <div class="syn-scrollable">
    <!-- Toolbar -->
    <div class="toolbar syn-toolbar--inverted">
      <div class="container-fluid">
        <!-- Toolbar: Breadcrumbs -->
        <div class="row toolbar-pf">
          <div class="col-sm-12">
            <div class="toolbar-pf-actions">
              <div class="inline-block">
                <ol class="breadcrumb">
                  <li>
                    <a [routerLink]="['/']">{{ 'shared.home' | synI18n }}</a>
                  </li>
                  <li>
                    <a [routerLink]="['/integrations']">{{ 'integrations.integrations' | synI18n }}</a>
                  </li>
                  <li>{{ 'integrations.new-integration' | synI18n }}</li>
                  <li class="active">{{ 'integrations.api-provider.creation-title' | synI18n }}</li>
                </ol>
              </div>
              <div class="toolbar-pf-action-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="syn-scrollable--body">
      <div class="container-fluid">

        <div class="title">
          <h1>{{ 'integrations.api-provider.creation-title' | synI18n }}</h1>
        </div>
        <p>{{ 'integrations.api-provider.creation-subtitle' | synI18n }}</p>

        <section>
          <api-provider-spec-step-upload
            *ngIf="(currentActiveStep$ | async) == ApiProviderWizardSteps.UploadSpecification"
            [uploadSpecification]="uploadSpecification$ | async"
            [errors]="validationError$ | async"
            [loading]="validationLoading$ | async"
            (onUploadSpecificationChange)="onUploadSpecificationChange($event)"
            (onDone)="onStepDone()"
          >
          </api-provider-spec-step-upload>

          <api-provider-spec-step-validate
            *ngIf="(currentActiveStep$ | async) == ApiProviderWizardSteps.ReviewApiProvider"
            [validationResponse]="validationResponse$ | async"
            [loading]="validationLoading$ | async"
            (onDone)="onStepDone()"
            (onBack)="onBackPressed()"
            (onEdit)="null">
          </api-provider-spec-step-validate>
        </section>
      </div>
    </div>
  </div>
</article>

<ng-template #cancelModalTemplate>
  <cancel-confirmation-modal
    (cancel)="onCancel($event)"
    primaryLabel="Yes"
    secondaryLabel="No">
    <p class="lead">{{ 'customizations.api-client-connectors.cancel-connector-modal-lead' | synI18n }}</p>
    <p>{{ 'customizations.api-client-connectors.cancel-connector-modal' | synI18n }}</p>
  </cancel-confirmation-modal>
</ng-template>

<ng-template #cancelEditorModalTemplate>
  <cancel-confirmation-modal
    (cancel)="onCancelApiEditor($event)"
    primaryLabel="Yes"
    secondaryLabel="No">
    <p class="lead">{{ 'customizations.api-client-connectors.cancel-api-editor-modal-lead' | synI18n }}</p>
    <p *ngIf="apiName">{{ 'customizations.api-client-connectors.cancel-api-editor-modal' | synI18n: apiName }}</p>
    <p *ngIf="!apiName">{{ 'customizations.api-client-connectors.cancel-api-editor-unnamed-modal' | synI18n }}</p>
  </cancel-confirmation-modal>
</ng-template>
