<div [class.form-group]="formGroupClass"
     [class.has-error]="showErrorMessages"
     [formGroup]="group"
     [hidden]="model && model['inputType'] === 'hidden'"
     [ngClass]="[elementContainerClass, gridContainerClass]">

  <label *ngIf="type !== 2 && model.label !== null"
         [attr.for]="model.id"
         [class.required-pf]="model.required"
         [ngClass]="[elementLabelClass, gridLabelClass]">
    {{ model.label }}
    <ng-template #labelTooltipTemplate><div [innerHtml]="model.labelTooltip"></div></ng-template>
    <div *ngIf="model.labelTooltip"
         [tooltip]="labelTooltipTemplate"
         placement="right"
         class="inline-block hint-icon">
      <span class="glyphicon glyphicon-info-sign"></span>
    </div>
  </label>

  <ng-container *ngTemplateOutlet="templates[0]?.templateRef; context: model"></ng-container>

  <!-- CHECKBOX -->
  <div *ngIf="type === 2"
       [ngClass]="gridControlClass">

    <div [class.disabled]="model.disabled"
         [ngClass]="elementControlClass || 'checkbox'">

      <label>

        <input type="checkbox"
               [attr.tabindex]="model.tabIndex"
               [dynamicId]="bindId && model.id"
               [formControlName]="model.id"
               [name]="model.name"
               [ngClass]="elementControlClass"
               [required]="model.required"
               [value]="model.value"
               (blur)="onBlur($event)"
               (change)="onValueChange($event)"
               (focus)="onFocus($event)">
        <span [innerHTML]="model.label"
              [ngClass]="[elementLabelClass, gridLabelClass]">
        </span>
        <ng-template #checkboxLabelTooltipTemplate><div [innerHtml]="model.labelTooltip"></div></ng-template>
        <div *ngIf="model.labelTooltip"
             [tooltip]="checkboxLabelTooltipTemplate"
             placement="right"
             class="inline-block hint-icon">
          &nbsp;
          <span class="glyphicon glyphicon-info-sign"></span>
        </div>
      </label>
    </div>

  </div>


  <div *ngIf="type !== 2"
       [ngClass]="gridControlClass">

    <ng-container [ngSwitch]="type">

      <!-- FORM ARRAY -->
      <div *ngSwitchCase="1"
           [dynamicId]="bindId && model.id"
           [formArrayName]="model.id"
           [ngClass]="elementControlClass">

        <div *ngFor="let groupModel of model.groups; let idx = index"
             role="group"
             [formGroupName]="idx"
             [ngClass]="[elementGroupClass, gridGroupClass, formArrayRowClass]">

          <syndesis-form-control *ngFor="let _model of groupModel.group"
                                 [bindId]="false"
                                 [context]="groupModel"
                                 [group]="control.at(idx)"
                                 [hasErrorMessaging]="_model.hasErrorMessages"
                                 [hidden]="_model.hidden"
                                 [layout]="layout"
                                 [model]="_model"
                                 [templates]="templateList"
                                 [ngClass]="[getClass('element', 'host', _model), getClass('grid', 'host', _model)]"
                                 (blur)="onBlur($event)"
                                 (change)="onValueChange($event)"
                                 (focus)="onFocus($event)"
                                 [formArrayRowClass]="formArrayRowClass"></syndesis-form-control>

            <ng-container *ngTemplateOutlet="templates[2]?.templateRef; context: groupModel"></ng-container>
        </div>

      </div>

      <!-- DATEPICKER -->
      <!-- BsDatepickerModule is under development, BREAKING CHANGES are possible -->

      <!-- FORM GROUP -->
      <fieldset *ngSwitchCase="4"
                [dynamicId]="bindId && model.id"
                [formGroupName]="model.id"
                [name]="model.name"
                [ngClass]="elementControlClass">

        <legend *ngIf="model.legend"
                [innerHTML]="model.legend"></legend>

        <syndesis-form-control *ngFor="let _model of model.group"
                               [asBootstrapFormGroup]="false"
                               [group]="control"
                               [hasErrorMessaging]="_model.hasErrorMessages"
                               [hidden]="_model.hidden"
                               [layout]="layout"
                               [model]="_model"
                               [templates]="templateList"
                               [ngClass]="[getClass('element', 'host', _model), getClass('grid', 'host', _model)]"
                               (blur)="onBlur($event)"
                               (change)="onValueChange($event)"
                               (focus)="onFocus($event)"
                               [formArrayRowClass]="formArrayRowClass"></syndesis-form-control>
      </fieldset>

      <!-- INPUT -->
      <div *ngSwitchCase="5"
           [class.input-group]="model.prefix || model.suffix">

        <ng-container [ngSwitch]="model.inputType">
          <ng-container *ngSwitchCase="'duration'">
            <syndesis-duration-control [group]="group"
                                       [model]="model"
                                       [bindId]="bindId"
                                       (blur)="onBlur($event)"
                                       (change)="onValueChange($event)"
                                       (focus)="onFocus($event)">
            </syndesis-duration-control>
          </ng-container>
          <ng-container *ngSwitchDefault>

            <div *ngIf="model.prefix"
                class="input-group-addon"
                [innerHTML]="model.prefix"></div>

            <input class="form-control"
                  [attr.accept]="model.accept"
                  [attr.autoComplete]="model.autoComplete"
                  [attr.list]="model.listId"
                  [attr.max]="model.max"
                  [attr.min]="model.min"
                  [attr.multiple]="model.multiple"
                  [attr.step]="model.step"
                  [attr.tabindex]="model.tabIndex"
                  [autofocus]="model.autoFocus"
                  [dynamicId]="bindId && model.id"
                  [formControlName]="model.id"
                  [maxlength]="model.maxLength"
                  [minlength]="model.minLength"
                  [name]="model.name"
                  [tooltip]="model.controlTooltip"
                  [ngClass]="elementControlClass"
                  [pattern]="model.pattern"
                  [placeholder]="model.placeholder"
                  [readonly]="model.readOnly"
                  [required]="model.required"
                  [spellcheck]="model.spellCheck"
                  [textMask]="{mask: (model.mask || false), showMask: model.mask && !(model.placeholder)}"
                  [type]="model.inputType"
                  (blur)="onBlur($event)"
                  (change)="onValueChange($event)"
                  (focus)="onFocus($event)" />

            <div *ngIf="model.suffix"
                class="input-group-addon"
                [innerHTML]="model.suffix"></div>

            <datalist *ngIf="hasList"
                      [id]="model.listId">

              <option *ngFor="let option of model.list"
                      [value]="option">

            </datalist>

          </ng-container>

        </ng-container>
      </div>

      <!-- RADIO GROUP -->
      <fieldset *ngSwitchCase="6"
                role="radiogroup"
                [attr.tabindex]="model.tabIndex"
                [dynamicId]="bindId && model.id"
                [name]="model.name"
                [ngClass]="elementControlClass"
                (change)="onValueChange($event)">

        <legend *ngIf="model.legend"
                [innerHTML]="model.legend"></legend>

        <div *ngFor="let option of model.options$ | async"
             [ngClass]="elementOptionClass || 'radio'">

          <label>

            <input type="radio"
                   [formControlName]="model.id"
                   [name]="model.name"
                   [value]="option.value"
                   (blur)="onBlur($event)"
                   (focus)="onFocus($event)" />
            <span [innerHTML]="option.label"></span>
          </label>
        </div>
      </fieldset>

      <!-- SELECT -->
      <select *ngSwitchCase="7"
              class="form-control"
              [attr.tabindex]="model.tabIndex"
              [dynamicId]="bindId && model.id"
              [formControlName]="model.id"
              [name]="model.name"
              [tooltip]="model.controlTooltip"
              [ngClass]="elementControlClass"
              [required]="model.required"
              (blur)="onBlur($event)"
              (change)="onValueChange($event)"
              (focus)="onFocus($event)"
              [multiple]="model.multiple">

        <option *ngFor="let option of model.options$ | async"
                [attr.name]="model.name"
                [disabled]="option.disabled"
                [ngValue]="option.value">{{ option.label }}</option>

      </select>


      <textarea *ngSwitchCase="8"
                class="form-control"
                [attr.tabindex]="model.tabIndex"
                [dynamicId]="bindId && model.id"
                [cols]="model.cols"
                [formControlName]="model.id"
                [maxlength]="model.maxLength"
                [minlength]="model.minLength"
                [name]="model.name"
                [ngClass]="elementControlClass"
                [placeholder]="model.placeholder"
                [readonly]="model.readOnly"
                [required]="model.required"
                [rows]="model.rows"
                [spellcheck]="model.spellCheck"
                [wrap]="model.wrap"
                (blur)="onBlur($event)"
                (change)="onValueChange($event)"
                (focus)="onFocus($event)"></textarea>


      <span *ngIf="showHint" class="help-block" [innerHTML]="model.hint" [ngClass]="getClass('element', 'hint')"></span>

      <!-- TIMEPICKER -->
      <!-- <timepicker *ngSwitchCase="9"
        [arrowkeys]="getAdditional('arrowkeys', true)"
        [dynamicId]="bindId && model.id"
        [formControlName]="model.id"
        [hourStep]="getAdditional('hourStep', 1)"
        [max]="model.max"
        [min]="model.min"
        [mousewheel]="getAdditional('mousewheel', true)"
        [minuteStep]="getAdditional('minuteStep', 1)"
        [ngClass]="elementControlClass"
        [secondsStep]="getAdditional('secondsStep', 1)"
        [showMeridian]="model.meridian"
        [showSeconds]="model.showSeconds"
        [showSpinners]="getAdditional('spinners', true)"></timepicker> -->

    </ng-container>

    <span class="help-block"
          *ngIf="showErrorMessages">{{ errorMessages[0] }}</span>

  </div>

  <!-- <ul *ngIf="showErrorMessages" class="has-error" [ngClass]="[getClass('element', 'errors'), getClass('grid', 'errors')]">
      <li *ngFor="let message of errorMessages" class="help-block">{{ message }}</li>
  </ul> -->

  <ng-container *ngTemplateOutlet="templates[1]?.templateRef; context: model"></ng-container>

  <ng-content></ng-content>

</div>
