{{^Dev}}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: ipaas-rest
    labels:
      app: redhat-ipaas
      component: ipaas-rest
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/rhipaas/ipaas-rest:latest
      importPolicy:
        scheduled: true
      name: latest
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: ipaas-keycloak
    labels:
      app: redhat-ipaas
      component: ipaas-keycloak
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/jimmidyson/keycloak-openshift:2.5.4.Final
      importPolicy:
        scheduled: true
      name: 2.5.4.Final
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: ipaas-ui
    labels:
      app: redhat-ipaas
      component: ipaas-ui
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/rhipaas/ipaas-ui:latest
      importPolicy:
        scheduled: true
      name: latest
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: ipaas-token-rp
    labels:
      app: redhat-ipaas
      component: ipaas-token-rp
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/rhipaas/token-rp:v0.4.0
      importPolicy:
        scheduled: true
      name: v0.4.0
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: ipaas-datamapper
    labels:
      app: redhat-ipaas
      component: ipaas-datamapper
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/atlasmap/ipaas-datamapper:latest
      importPolicy:
        scheduled: true
      name: latest
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: ipaas-verifier
    labels:
      app: redhat-ipaas
      component: ipaas-verifier
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/rhipaas/ipaas-verifier:latest
      importPolicy:
        scheduled: true
      name: latest
{{/Dev}}
