{{^Dev}}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-rest
    labels:
      app: syndesis
      component: syndesis-rest
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/syndesis/syndesis-rest:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: {{ Tags.Syndesis }}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-keycloak
    labels:
      app: syndesis
      component: syndesis-keycloak
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.Keycloak }}
      importPolicy:
        scheduled: true
      name: {{ Tags.Keycloak }}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-ui
    labels:
      app: syndesis
      component: syndesis-ui
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/syndesis/syndesis-ui:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: {{ Tags.Syndesis }}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-token-rp
    labels:
      app: syndesis
      component: syndesis-token-rp
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.TokenRp }}
      importPolicy:
        scheduled: true
      name: {{ Tags.TokenRp }}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-atlasmap
    labels:
      app: syndesis
      component: syndesis-atlasmap
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/atlasmap/atlasmap:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: {{ Tags.Syndesis }}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-verifier
    labels:
      app: syndesis
      component: syndesis-verifier
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/syndesis/syndesis-verifier:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: {{ Tags.Syndesis }}
{{/Dev}}
