{{^Dev}}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-rest
    labels:
      app: syndesis
      component: syndesis-rest
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/syndesis/syndesis-rest:latest
      importPolicy:
        scheduled: true
      name: latest
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-keycloak
    labels:
      app: syndesis
      component: syndesis-keycloak
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/jimmidyson/keycloak-openshift:2.5.4.Final
      importPolicy:
        scheduled: true
      name: 2.5.4.Final
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-ui
    labels:
      app: syndesis
      component: syndesis-ui
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/syndesis/syndesis-ui:latest
      importPolicy:
        scheduled: true
      name: latest
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-token-rp
    labels:
      app: syndesis
      component: syndesis-token-rp
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/syndesis/token-rp:v0.4.0
      importPolicy:
        scheduled: true
      name: v0.4.0
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-datamapper
    labels:
      app: syndesis
      component: syndesis-datamapper
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/atlasmap/syndesis-datamapper:latest
      importPolicy:
        scheduled: true
      name: latest
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-verifier
    labels:
      app: syndesis
      component: syndesis-verifier
  spec:
    tags:
    - from:
        kind: DockerImage
        name: docker.io/syndesis/syndesis-verifier:latest
      importPolicy:
        scheduled: true
      name: latest
{{/Dev}}
