{{^Dev}}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-rest
    labels:
      app: syndesis
      component: syndesis-rest
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.Syndesis.Rest }}:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: {{ Tags.Syndesis }}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-keycloak
    labels:
      app: syndesis
      component: syndesis-keycloak
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.Support.Keycloak }}:{{ Tags.Keycloak }}
      importPolicy:
        scheduled: true
      name: {{ Tags.Keycloak }}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-ui
    labels:
      app: syndesis
      component: syndesis-ui
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.Syndesis.Ui }}:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: {{ Tags.Syndesis }}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-atlasmap
    labels:
      app: syndesis
      component: syndesis-atlasmap
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.Syndesis.Atlasmap }}:{{ Tags.Atlasmap }}
      importPolicy:
        scheduled: true
      name: {{ Tags.Syndesis }}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: syndesis-verifier
    labels:
      app: syndesis
      component: syndesis-verifier
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.Syndesis.Verifier }}:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: {{ Tags.Syndesis }}
{{/Dev}}
