- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: redhat-ipaas
      component: ipaas-github-proxy
    annotations:
      service.alpha.openshift.io/serving-cert-secret-name: ipaas-github-proxy-tls
    name: ipaas-github-proxy
  spec:
    ports:
    - port: 443
      protocol: TCP
      targetPort: 8080
    selector:
      app: redhat-ipaas
      component: ipaas-github-proxy
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: redhat-ipaas
      component: ipaas-github-proxy
    name: ipaas-github-proxy
  spec:
    replicas: 1
    selector:
      app: redhat-ipaas
      component: ipaas-github-proxy
      deploymentconfig: ipaas-github-proxy
    strategy:
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      type: Rolling
    template:
      metadata:
        labels:
          app: redhat-ipaas
          component: ipaas-github-proxy
          deploymentconfig: ipaas-github-proxy
      spec:
        containers:
        - name: ipaas-github-proxy
{{^Dev}}
          image: ' '
{{/Dev}}{{#Dev}}
          image: rhipaas/token-rp:v0.4.0
{{/Dev}}
          imagePullPolicy: IfNotPresent
          args:
          - -issuer-url=https://${ROUTE_HOSTNAME}/auth/realms/${KEYCLOAK_IPAAS_REALM_NAME}
          - -proxy-url=https://api.github.com
          - -client-id=ipaas-ui
          - -provider-alias=github
          - -provider-type=github
          - -tls-cert=/tls/tls.crt
          - -tls-key=/tls/tls.key
          - -ca-cert=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          - -ca-cert=/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt
          - -insecure-skip-verify=${INSECURE_SKIP_VERIFY}
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 1
          ports:
          - containerPort: 8080
          volumeMounts:
          - mountPath: /tls
            name: tls-volume
        volumes:
        - secret:
            secretName: ipaas-github-proxy-tls
          name: tls-volume
    triggers:
{{^Dev}}
    - imageChangeParams:
        automatic: true
        containerNames:
        - ipaas-github-proxy
        from:
          kind: ImageStreamTag
          name: ipaas-token-rp:v0.4.0
      type: ImageChange
{{/Dev}}
    - type: ConfigChange
