- apiVersion: v1
  kind: Service
  metadata:
    name: syndesis-ui
    labels:
      app: syndesis
      component: syndesis-ui
    annotations:
      service.alpha.openshift.io/serving-cert-secret-name: syndesis-ui-tls
      service.alpha.openshift.io/dependencies: |
        [ {"name":"syndesis-keycloak","kind":"Service"},
          {"name":"syndesis-rest","kind":"Service"},
          {"name":"syndesis-verifier","kind":"Service"},
          {"name":"syndesis-atlasmap","kind":"Service"},
          {"name":"syndesis-github-proxy","kind":"Service"},
          {"name":"syndesis-openshift-proxy","kind":"Service"},
          {"name":"syndesis-db","kind":"Service"} ]
  spec:
    ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      app: syndesis
      component: syndesis-ui
- apiVersion: v1
  kind: Route
  metadata:
    labels:
      app: syndesis
      component: syndesis-ui
    name: syndesis-ui
  spec:
    host: ${ROUTE_HOSTNAME}
    port:
      targetPort: 8080
    tls:
      insecureEdgeTerminationPolicy: Redirect
      termination: edge
    to:
      kind: Service
      name: syndesis-ui
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: syndesis
      component: syndesis-ui
    name: syndesis-ui
  spec:
    replicas: 1
    selector:
      app: syndesis
      component: syndesis-ui
      deploymentconfig: syndesis-ui
    strategy:
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      resources:
        limits:
          cpu: "100m"
          memory: "256Mi"
      type: Rolling
    template:
      metadata:
        labels:
          app: syndesis
          component: syndesis-ui
          deploymentconfig: syndesis-ui
      spec:
        containers:
        - name: syndesis-ui
{{^Dev}}
          image: ' '
{{/Dev}}{{#Dev}}
          image: syndesis/syndesis-ui:latest
{{/Dev}}
          imagePullPolicy: IfNotPresent
{{^Probeless}}
          livenessProbe:
            httpGet:
              path: "/"
              port: 8080
            initialDelaySeconds: 3
          readinessProbe:
            httpGet:
              path: "/"
              port: 8080
            initialDelaySeconds: 1{{/Probeless}}
          ports:
          - containerPort: 8080
          volumeMounts:
          - mountPath: /usr/share/nginx/html/config.json
            name: config-volume
            subPath: config/config.json
          resources:
            limits:
              cpu: 2000m
              memory: 255Mi
            requests:
              cpu: 200m
              memory: 255Mi
        volumes:
        - configMap:
            items:
            - key: config.json
              path: config/config.json
            name: syndesis-ui-config
          name: config-volume
    triggers:
{{^Dev}}
    - imageChangeParams:
        automatic: true
        containerNames:
        - syndesis-ui
        from:
          kind: ImageStreamTag
          name: syndesis-ui:latest
      type: ImageChange
{{/Dev}}
    - type: ConfigChange
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: syndesis-ui-config
    labels:
      app: syndesis
      component: syndesis-ui
  data:
    config.json: |
      {
        "apiEndpoint": "https://${ROUTE_HOSTNAME}/api/v1",
        "title": "Syndesis",
        "datamapper": {
          "baseJavaInspectionServiceUrl": "https://${ROUTE_HOSTNAME}/v2/atlas/java/",
          "baseXMLInspectionServiceUrl": "https://${ROUTE_HOSTNAME}/v2/atlas/xml/",
          "baseJSONInspectionServiceUrl": "https://${ROUTE_HOSTNAME}/v2/atlas/json/",
          "baseMappingServiceUrl": "https://${ROUTE_HOSTNAME}/v2/atlas/"
        },
        "oauth": {
          "clientId": "syndesis-ui",
          "scopes": ["openid"],
          "oidc": true,
          "hybrid": true,
          "issuer": "https://${ROUTE_HOSTNAME}/auth/realms/${KEYCLOAK_SYNDESIS_REALM_NAME}",
          "auto-link-github": ${CONTROLLERS_INTEGRATION_ENABLED}
        }
      }
