- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: syndesis-atlasmap
    labels:
      app: syndesis
      component: syndesis-atlasmap

- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: syndesis
      component: syndesis-atlasmap
    annotations:
      service.alpha.openshift.io/serving-cert-secret-name: syndesis-atlasmap-tls
    name: syndesis-atlasmap
  spec:
    ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
    selector:
      app: syndesis
      component: syndesis-atlasmap

- apiVersion: v1
  kind: Route
  metadata:
    labels:
      app: syndesis
      component: syndesis-atlasmap
    name: syndesis-atlasmap
  spec:
    host: ${ROUTE_HOSTNAME}
    path: /v2/atlas
    port:
      targetPort: 8080
    tls:
      insecureEdgeTerminationPolicy: Redirect
      termination: edge
    to:
      kind: Service
      name: syndesis-atlasmap
      weight: 100

- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: syndesis
      component: syndesis-atlasmap
    name: syndesis-atlasmap
  spec:
    replicas: 1
    selector:
      app: syndesis
      component: syndesis-atlasmap
      deploymentconfig: syndesis-atlasmap
    strategy:
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 10800
        updatePeriodSeconds: 1
      resources:
        limits:
          cpu: "100m"
          memory: "256Mi"
      type: Rolling
    template:
      metadata:
        labels:
          app: syndesis
          component: syndesis-atlasmap
          deploymentconfig: syndesis-atlasmap
        annotations:
          pod.beta.kubernetes.io/init-containers: |-
            [{
              "name": "openshift-ca-pemtokeystore",
              "image": "${PEMTOKEYSTORE_IMAGE}",
              "imagePullPolicy": "IfNotPresent",
              "args": [
                "-keystore", "/tls-keystore/openshift-truststore.jks",
                "-ca-file", "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt",
                "-ca-file", "/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt",
                "-ca-dir", "/usr/share/ca-certificates/mozilla"
              ],
              "volumeMounts": [{
                "name": "syndesis-atlasmap-tls",
                "mountPath": "/tls-keystore"
              }]
            }]
      spec:
        initContainers:
        - name: openshift-ca-pemtokeystore
          image: ${PEMTOKEYSTORE_IMAGE}
          imagePullPolicy: IfNotPresent
          args:
          - -keystore
          - /tls-keystore/openshift-truststore.jks
          - -ca-file
          - /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          - -ca-file
          - /var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt
          - -ca-dir
          - /usr/share/ca-certificates/mozilla
          volumeMounts:
          - name: syndesis-atlasmap-tls
            mountPath: /tls-keystore
        serviceAccountName: syndesis-atlasmap
        containers:
        - name: atlasmap
          env:
          - name: HOME
            value: /deployments
          - name: JAVA_TOOL_OPTIONS
            value: '-Duser.home=/deployments -Duser.name=jboss'
          - name: AB_JOLOKIA_OFF
            value: "true"
          - name: JAVA_APP_DIR
            value: /deployments
          - name: AB_OFF
            value: "true"
          - name: JAVA_OPTIONS
            value: "-Djava.net.preferIPv4Stack=true -Djavax.net.ssl.trustStore=/tls-keystore/openshift-truststore.jks -Duser.home=/tmp"
{{^Dev}}
          image: ' '
{{/Dev}}{{#Dev}}
          image: atlasmap/atlasmap:latest
{{/Dev}}
          imagePullPolicy: IfNotPresent
          readinessProbe:
            httpGet:
              path: "/health"
              port: 8181
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              path: "/health"
              port: 8181
            initialDelaySeconds: 180
          ports:
          - containerPort: 8080
            name: http
          - containerPort: 9779
            name: prometheus
          - containerPort: 8778
            name: jolokia
          volumeMounts:
          - name: syndesis-atlasmap-tls
            mountPath: /tls-keystore
          - name: config-volume
            mountPath: /deployments/config
          resources:
            limits:
              cpu: 2000m
              memory: 612Mi
            requests:
              cpu: 200m
              memory: 612Mi
        volumes:
        - name: syndesis-atlasmap-tls
          emptyDir: {}
        - name: config-volume
          configMap:
            name: syndesis-atlasmap-config
    triggers:
    - type: ConfigChange
{{^Dev}}
    - imageChangeParams:
        automatic: true
        containerNames:
        - atlasmap
        from:
          kind: ImageStreamTag
          name: syndesis-atlasmap:latest
      type: ImageChange
{{/Dev}}

- apiVersion: v1
  kind: ConfigMap
  metadata:
    labels:
      app: syndesis
      component: syndesis-atlasmap
    name: syndesis-atlasmap-config
  data:
    application.yml: |-
      cors:
{{^Dev}}
        allowedOrigins: https://${ROUTE_HOSTNAME}
{{/Dev}}{{#Dev}}
        allowedOrigins: http://localhost:4200, https://localhost:4200, https://${ROUTE_HOSTNAME}
{{/Dev}}
      spring:
        zipkin:
          enabled: false
      security:
        basic:
          enabled: false
      management:
        port: 8181
        security:
          enabled: true
      endpoints:
        health:
          sensitive: false
