- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: syndesis-datamapper
    labels:
      app: syndesis
      component: syndesis-datamapper

- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: syndesis
      component: syndesis-datamapper
    annotations:
      service.alpha.openshift.io/serving-cert-secret-name: syndesis-datamapper-tls
    name: syndesis-datamapper
  spec:
    ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
    selector:
      app: syndesis
      component: syndesis-datamapper

- apiVersion: v1
  kind: Route
  metadata:
    labels:
      app: syndesis
      component: syndesis-datamapper
    name: syndesis-datamapper
  spec:
    host: ${ROUTE_HOSTNAME}
    path: /v2/atlas
    port:
      targetPort: 8080
    tls:
      insecureEdgeTerminationPolicy: Redirect
      termination: edge
    to:
      kind: Service
      name: syndesis-datamapper
      weight: 100

- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: syndesis
      component: syndesis-datamapper
    name: syndesis-datamapper
  spec:
    replicas: 1
    selector:
      app: syndesis
      component: syndesis-datamapper
      deploymentconfig: syndesis-datamapper
    strategy:
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 10800
        updatePeriodSeconds: 1
      type: Rolling
    template:
      metadata:
        labels:
          app: syndesis
          component: syndesis-datamapper
          deploymentconfig: syndesis-datamapper
        annotations:
          pod.beta.kubernetes.io/init-containers: |-
            [{
              "name": "openshift-ca-pemtokeystore",
              "image": "${PEMTOKEYSTORE_IMAGE}",
              "imagePullPolicy": "IfNotPresent",
              "args": [
                "-keystore", "/tls-keystore/openshift-truststore.jks",
                "-ca-file", "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt",
                "-ca-file", "/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt",
                "-ca-dir", "/usr/share/ca-certificates/mozilla"
              ],
              "volumeMounts": [{
                "name": "syndesis-datamapper-tls",
                "mountPath": "/tls-keystore"
              }]
            }]
      spec:
        initContainers:
        - name: openshift-ca-pemtokeystore
          image: ${PEMTOKEYSTORE_IMAGE}
          imagePullPolicy: IfNotPresent
          args:
          - -keystore
          - /tls-keystore/openshift-truststore.jks
          - -ca-file
          - /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          - -ca-file
          - /var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt
          - -ca-dir
          - /usr/share/ca-certificates/mozilla
          volumeMounts:
          - name: syndesis-datamapper-tls
            mountPath: /tls-keystore
        serviceAccountName: syndesis-datamapper
        containers:
        - name: syndesis-datamapper
          env:
          - name: HOME
            value: /deployments
          - name: JAVA_TOOL_OPTIONS
            value: '-Duser.home=/deployments -Duser.name=jboss'
          - name: AB_JOLOKIA_OFF
            value: "true"
          - name: JAVA_APP_DIR
            value: /deployments
          - name: AB_OFF
            value: "true"
          - name: JAVA_OPTIONS
            value: "-Djava.net.preferIPv4Stack=true -Djavax.net.ssl.trustStore=/tls-keystore/openshift-truststore.jks -Duser.home=/tmp"
{{^Dev}}
          image: ' '
{{/Dev}}{{#Dev}}
          image: atlasmap/syndesis-datamapper:latest
{{/Dev}}
          imagePullPolicy: IfNotPresent
          readinessProbe:
            httpGet:
              path: "/health"
              port: 8181
            initialDelaySeconds: 5
          ports:
          - containerPort: 8080
            name: http
          - containerPort: 9779
            name: prometheus
          - containerPort: 8778
            name: jolokia
          volumeMounts:
          - name: syndesis-datamapper-tls
            mountPath: /tls-keystore
          - name: config-volume
            mountPath: /deployments/config
          resources:
            limits:
              cpu: 2000m
              memory: 612Mi
            requests:
              cpu: 200m
              memory: 612Mi
        volumes:
        - name: syndesis-datamapper-tls
          emptyDir: {}
        - name: config-volume
          configMap:
            name: syndesis-datamapper-config
    triggers:
    - type: ConfigChange
{{^Dev}}
    - imageChangeParams:
        automatic: true
        containerNames:
        - syndesis-datamapper
        from:
          kind: ImageStreamTag
          name: syndesis-datamapper:latest
      type: ImageChange
{{/Dev}}

- apiVersion: v1
  kind: ConfigMap
  metadata:
    labels:
      app: syndesis
      component: syndesis-datamapper
    name: syndesis-datamapper-config
  data:
    application.yml: |-
      cors:
{{^Dev}}
        allowedOrigins: https://${ROUTE_HOSTNAME}
{{/Dev}}{{#Dev}}
        allowedOrigins: http://localhost:4200, https://${ROUTE_HOSTNAME}
{{/Dev}}
      spring:
        zipkin:
          enabled: false
      security:
        basic:
          enabled: false
      management:
        port: 8181
        security:
          enabled: true
      endpoints:
        health:
          sensitive: false
