{{^Restricted}}
- apiVersion: v1
  kind: OAuthClient
  metadata:
    name: ${OPENSHIFT_OAUTH_CLIENT_ID}
    labels:
      app: syndesis
      component: syndesis-ui
  secret: ${OPENSHIFT_OAUTH_CLIENT_SECRET}
  redirectURIs:
  - https://${ROUTE_HOSTNAME}/auth/realms/${KEYCLOAK_SYNDESIS_REALM_NAME}
  grantMethod: prompt
{{/Restricted}}

- apiVersion: v1
  kind: RoleBinding
  metadata:
    name: syndesis:viewers
    labels:
      app: syndesis
  roleRef:
    name: view
  subjects:
  - kind: ServiceAccount
    name: syndesis-rest
  - kind: ServiceAccount
    name: syndesis-integration
