@import 'syndesis-sass';

:host {
  .openapi-editor {
    background: $color-pf-white;
    height: 100%;
    display: flex;
    flex-flow: column;

    border-top: 2px solid transparent;
    box-shadow: 0 1px 1px rgba(3, 3, 3, 0.175);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: $gutter;
      padding-right: $gutter;
    }

    &__title {
      display: inline-flex;
      align-items: center;

      h2 {
        border-left: 1px solid $color-pf-black-300;
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 0 1em;
        padding-left: 1em;
      }
    }

    &__body {
      position: relative;
      flex: 1;
    }
  }

  .wizard {
    &__main {
      margin-left: -$gutter;
      margin-right: -$gutter;
      position: relative;
    }

    &-nav {
      &__button {
        margin-left: 1.6em;
      }
    }

    &__body {
      max-width: 700px;
      margin: auto;
    }
  }
}
