.api-provider-operations-list-item .operation-delete {
  color: red;
  font-weight: 400;
}

.api-provider-operations-list-item .operation-get {
  color: dodgerblue;
  font-weight: 400;
}

.api-provider-operations-list-item .operation-post {
  color: limegreen;
  font-weight: 400;
}

.api-provider-operations-list-item .operation-put {
  color: orange;
  font-weight: 400;
}

