<div class="row row-cards-pf">
  <div class="card-pf">
    <div class="card-pf-body">
      <syndesis-loading
        [loading]="loading"
        [content]="validationContent">
      </syndesis-loading>
      <ng-template #validationContent>
        <openapi-review [validatorData]="validationResponse">
        </openapi-review>

        <fieldset>
          <syndesis-button type="button" theme="default" (click)="onBack.emit()">
            {{ 'shared.back-button' | synI18n }}
          </syndesis-button>

          <syndesis-button (click)="onNext.emit()"
                           type="button"
                           theme="primary">
            {{ 'shared.next-button' | synI18n }}
          </syndesis-button>

          <ng-template #editTooltip>
            {{ 'customizations.api-client-connectors.edit-tooltip' | synI18n }}
          </ng-template>
          <syndesis-button (click)="onEdit.emit()"
                           type="button"
                           class="pull-right"
                           theme="default">
              <span [tooltip]="editTooltip"
                    placement="top">
                {{ 'customizations.api-client-connectors.api-review-edit-button' | synI18n }}
              </span>
          </syndesis-button>
        </fieldset>
      </ng-template>
    </div>
  </div>
</div>
