<div class="card-pf-heading">
  <h2 class="card-pf-title">
    Security
  </h2>
</div>
<div class="card-pf-body">
  <p>
    <strong>Authentication Type</strong>
  </p>
  <form [formGroup]="authSetupForm" #form="ngForm" (ngSubmit)="onSubmit(form)" class="syn-form syn-form--card syn-form--auth-setup" novalidate>
    <fieldset class="syn-form__body">
      <div class="syn-form-input-list">
        <label class="syn-form-input-list__option" *ngFor="let authType of customConnectorRequest.properties.authenticationType.enum">
          <input type="radio" 
            name="authenticationType"
            formControlName="authenticationType"
            [value]="authType.value"> {{ authType.label }}
        </label>
      </div>

      <div class="syn-form-row syn-form-row--oauth" *ngIf="authSetupForm.value.authenticationType == 'oauth2'">
        <label class="syn-form-row__label" for="authorizationEndpoint">Authorization URL</label>
        <input class="syn-form-row__input"
          [class.syn-submitted]="form.submitted"
          type="text"
          formControlName="authorizationEndpoint">
      </div>
      
      <div class="syn-form-row syn-form-row--oauth" *ngIf="authSetupForm.value.authenticationType == 'oauth2'">
        <label class="syn-form-row__label" for="tokenEndpoint">Access Token URL</label>
        <input class="syn-form-row__input"
          [class.syn-submitted]="form.submitted"
          type="text"
          formControlName="tokenEndpoint">
      </div>

    </fieldset>

    <fieldset class="syn-form__buttons">
      <syndesis-button type="submit" [disabled]="authSetupForm.invalid">
        Next
      </syndesis-button>
    </fieldset>
  </form>
</div>