<syndesis-list-toolbar [items]="integrations$"
                       [viewTemplate]="viewTemplate">
  <ng-template #viewTemplate>
    <div class="toolbar-pf-action-right">
        <button type="button"
                class="btn btn-primary"
                [routerLink]="['/integrations']">
                Cancel
        </button>
    </div>
  </ng-template>
</syndesis-list-toolbar>

<ng-template>
  Select the integration file to import:
  <form class="syn-form syn-form--integration-upload"
        (ngSubmit)="onSubmit(integrationImportForm, uploadFileOption.checked)"
        novalidate>
  </form>
</ng-template>
