<div class="row row-cards-pf second-row">
  <div class="card-pf">
    <div class="card-pf-heading">
      <div class="card-pf-title">
        <h1>{{ 'integrations.import-export.header' | synI18n }}</h1>
      </div>
    </div>
    <div class="card-pf-body">
      <div>
        <p>{{ 'integrations.import-export.choose-files' | synI18n }}</p>
      </div>
      <div class="syn-drop-zone"
           ng2FileDrop
           [uploader]="uploader"
           [ngClass]="{'syn-drop-zone--hover': hasBaseDropZoneOver}"
           (fileOver)="onFileOver($event)"
           (onFileDrop)="onDropFile()">
        <p>{{ 'integrations.import-export.drag-and-drop' | synI18n }}</p>
        <div class="row syn-drop-zone__file-select">
          <div class="col-md-3">
            <p>
              <input #fileSelect
                    type="file"
                    ng2FileSelect
                    (onFileSelected)="onFileSelected()"
                    multiple
                    [uploader]="uploader">
            </p>
          </div>
          <div class="col-md-9">
            <div *ngFor="let item of uploader.queue">
              <div class="row">
                <div class="col-xs-10">
                  <p *ngIf="item.isUploading"
                       class="text-muted">
                    <span *ngIf="item.isUploading"
                          class="spinner spinner-sm spinner-inline"></span>
                    <em>{{ 'integrations.import-export.importing' | synI18n }}</em>
                </p>
                  <p *ngIf="item.isUploaded">
                    <span *ngIf="item.isSuccess; else isError">
                      <span class="pficon-ok"></span>
                      {{ 'integrations.import-export.import-success' | synI18n }}
                    </span>
                    <ng-template #isError>
                      <span class="pficon-error-circle-o"></span>
                      {{ 'integrations.import-export.import-fail' | synI18n }}
                    </ng-template>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="help-block">
          <em>{{ 'integrations.import-export.help-block' | synI18n }}</em>
        </p>
      </div>
      <div class="integration-import-results row" *ngIf="showReviewStep">
        <div class="col-sm-2 text">
          <h3>{{ 'integrations.import-export.import-results' | synI18n }}</h3>
        </div>
        <div class="col-sm-10">
          <div class="list-group">
            <ng-container *ngFor="let integration of importedOverviews$ | async">
              <div class="list-group-item">
                <div class="row">
                  <div class="col-sm-3">
                    <strong>Integration Name</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ integration.name }}
                  </div>
                </div>
              </div>
              <div class="list-group-item" *ngFor="let step of integration.steps">
                <div class="row">
                  <div class="col-sm-3">
                    <strong>Connection Name</strong>
                  </div>
                  <div class="col-sm-9">
                    {{ step.connection.name }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"
          *ngIf="showButtons || showReviewStep">
          <button type="button"
            class="btn btn-primary"
            (click)="done(importedOverviews$)">
              {{ 'integrations.import-export.btn-done' | synI18n }}
          </button>
          <button type="button"
            class="btn btn-default"
            (click)="cancel()">
              {{ 'integrations.import-export.btn-cancel' | synI18n }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
