[submodule "rest"]
	path = rest
	url = https://github.com/syndesisio/syndesis-rest.git
[submodule "ui"]
	path = ui
	url = https://github.com/syndesisio/syndesis-ui.git
[submodule "project"]
	path = project
	url = https://github.com/syndesisio/syndesis-project.git
[submodule "runtime"]
	path = runtime
	url = https://github.com/syndesisio/syndesis-integration-runtime.git
[submodule "verifier"]
	path = verifier
	url = https://github.com/syndesisio/syndesis-verifier.git
[submodule "ux"]
	path = ux
	url = https://github.com/syndesisio/syndesis-ux.git
[submodule "tests"]
	path = tests
	url = https://github.com/syndesisio/syndesis-system-tests.git
[submodule "connectors"]
	path = connectors
	url = https://github.com/syndesisio/connectors.git
[submodule "ci"]
	path = ci
	url = https://github.com/syndesisio/syndesis-ci.git
