<ng-template #defaultMainTemplate
             let-item="item">
  <p>{{ item | json }}</p>
</ng-template>
<ng-template #defaultExpansionTemplate
             let-item="item">
  <p>Expansion</p>
</ng-template>
<div class="list-pf">
  <div *ngFor="let item of items"
       [class]="item.expanded ? 'list-pf-item active' : 'list-pf-item'">
    <div class="list-pf-container">
      <ng-template [ngTemplateOutlet]="mainTemplate || defaultMainTemplate"
                   [ngOutletContext]="{ item: item }"></ng-template>
    </div>
    <div [class]="item.expanded ? 'list-pf-expansion collapse in' : 'list-pf-expansion collapse'">
      <div class="list-pf-container">
        <ng-template [ngTemplateOutlet]="expansionTemplate || defaultExpansionTemplate"
                     [ngOutletContext]="{ item: item }"></ng-template>
      </div>
    </div>
  </div>
</div>
