<div class="row row-cards-pf">
  <div class="col-md-12">
    <div class="connector-list">
      <syndesis-list-toolbar [items]="connectors"
                             [filteredItems]="filteredConnectors"></syndesis-list-toolbar>

      <syndesis-connections-list [connections]="filteredConnectors | async"
                                 [loading]="loading | async"
                                 isConnectors="true"
                                 [showKebab]="false"
                                 (onSelected)="onSelected($event)"></syndesis-connections-list>
      </div>
  </div>
</div>
