@import 'syndesis-sass';

.integration-activity {
  &__toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;

    &-text {
      color: $color-pf-black-400;
      margin: 0 $gutter;
    }
  }

  &__pagination::ng-deep .content-view-pf-pagination {
    background: none;
    border: 0;
    margin: $gutter 0;
  }
}

// Patternfly overrides
.list-group-item-container {
  .table {
    margin-top: 20px;
  }
}

.list-view-pf-expand {
  margin-top: 15px;
}

.nowrap {
  white-space: nowrap
}
.step-output {
  padding: 0;
  background-color: #fafafa;
}
.step-output pre {
  margin:0; border:0;
}
.step-output .scrollable {
  max-height: 15em;
  margin: 0;
  padding: 0;
  overflow: auto;
}
