.basic-filter {
  .basic-filter-form-container {
    background: #ffffff;
    padding: 30px;

    .basic-filter-form {
      .rule-buttons {
        padding: 12px 0;

        a,
        a:hover,
        a:active,
        a:visited,
        a:focus {
          cursor: pointer;
          font-size: initial;
          text-decoration: none;
          vertical-align: middle;
        }
      }

      .rules-group {
        .form-group {
          padding: 10px 0;

          &.keywords {
            input {
              width: 100%;
            }
          }

          .input-group {
            .input-group-addon {
              cursor: pointer;
            }
          }
        }
      }
    }

    .add-rule {
      cursor: pointer;
      text-decoration: none;
    }
  }
}
