apiVersion: rbac.authorization.k8s.io/v1
kind: {{ .Kind }}Binding
metadata:
  name: syndesis-{{.Namespace}}-auth-delegator
  labels:
    app: syndesis
    syndesis.io/app: syndesis
    syndesis.io/type: infrastructure
    syndesis.io/component: syndesis-public-oauthproxy
subjects:
- kind: ServiceAccount
  name: syndesis-public-oauthproxy
  namespace: {{.Namespace}}
roleRef:
  kind: ClusterRole
  name: syndesis-auth-delegator
  apiGroup: rbac.authorization.k8s.io
