#
# If there is olm support then there is no need
# for the cluster role as OperatorHub takes care
# of installing the operator
#
{{- if not .ApiServer.OlmSupport }}

#
# The jaeger cluster role that all users
# wanting to use jaeger should be members of
#
- apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRole
  metadata:
    creationTimestamp: null
    name: jaeger-operator
  rules:
  - apiGroups:
    - ""
    resources:
    - pods
    - services
    - endpoints
    - persistentvolumeclaims
    - events
    - configmaps
    - secrets
    - serviceaccounts
    verbs:
    - '*'
  - apiGroups:
    - apps
    resources:
    - deployments
    - daemonsets
    - replicasets
    - statefulsets
    verbs:
    - '*'
  - apiGroups:
    - monitoring.coreos.com
    resources:
    - servicemonitors
    verbs:
    - get
    - create
  - apiGroups:
    - extensions
    resources:
    - replicasets
    - deployments
    - daemonsets
    - statefulsets
    - ingresses
    verbs:
    - '*'
  - apiGroups:
    - batch
    resources:
    - jobs
    - cronjobs
    verbs:
    - '*'
  - apiGroups:
    - route.openshift.io
    resources:
    - routes
    verbs:
    - '*'
  - apiGroups:
    - logging.openshift.io
    resources:
    - elasticsearches
    verbs:
    - '*'
  - apiGroups:
    - jaegertracing.io
    resources:
    - '*'
    verbs:
    - '*'
  - apiGroups:
    - rbac.authorization.k8s.io
    resources:
    - clusterrolebindings
    verbs:
    - '*'
  - apiGroups:
    - apps
    - extensions
    resourceNames:
    - jaeger-operator
    resources:
    - deployments/finalizers
    verbs:
    - update
  - apiGroups:
    - kafka.strimzi.io
    resources:
    - kafkas
    - kafkausers
    verbs:
    - '*'
#
# ClusterRoleBinding for the jaeger-operator installed
# in the given namespace. Allows for multiple bindings
# from different namespaces.
#
- kind: ClusterRoleBinding
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: syndesis-{{ .Namespace }}-jaeger-operator
  subjects:
  - kind: ServiceAccount
    name: jaeger-operator
    namespace: {{ .Namespace }}
  - kind: ServiceAccount
    name: syndesis-operator
    namespace: {{ .Namespace }}
  roleRef:
    kind: ClusterRole
    name: jaeger-operator
    apiGroup: rbac.authorization.k8s.io
#
# Grants the jaeger-operator ClusterRole to the user
# to allow them to add their own jaeger CR
#
- kind: ClusterRoleBinding
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: syndesis-{{ .Namespace }}-jaeger-{{ .User }}
    namespace: {{ .Namespace }}
  roleRef:
    kind: ClusterRole
    name: jaeger-operator
    apiGroup: rbac.authorization.k8s.io
  subjects:
  - kind: User
    name: {{ .User }}
    namespace: {{ .Namespace }}

{{end}}
