apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    app: camel-k
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
  name: camel-k:edit
rules:
  - apiGroups:
      - camel.apache.org
    resources:
      - '*'
    verbs:
      - '*'
