{{- if .ApiServer.OlmSupport }}

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Role }}-{{ .User }}-olm
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Role }}-olm
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ .User }}
  namespace: {{ .Namespace }}

{{end}}
