#
# Must be a ClusterRoleBinding as the oauthproxy
# has to review tokens of the user and this has to
# occur at the cluster-scope level.
#
# Note.
# A RoleBinding binding to a ClusterRole will only
# allow the permissions at the namespace-scope level
#
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: syndesis-{{.Namespace}}-auth-delegator
  labels:
    app: syndesis
    syndesis.io/app: syndesis
    syndesis.io/type: infrastructure
    syndesis.io/component: syndesis-public-oauthproxy
subjects:
- kind: ServiceAccount
  name: syndesis-public-oauthproxy
  namespace: {{.Namespace}}
roleRef:
  kind: ClusterRole
  name: syndesis-auth-delegator
  apiGroup: rbac.authorization.k8s.io
