{{^Productized}}
{{^WithDockerImages}}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: {{ Images.Syndesis.Rest }}
    labels:
      app: syndesis
      component: syndesis-rest
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.SyndesisImagesPrefix }}/{{ Images.Syndesis.Rest }}:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.Syndesis }}"
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: {{ Images.Syndesis.Ui }}
    labels:
      app: syndesis
      component: syndesis-ui
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.SyndesisImagesPrefix }}/{{ Images.Syndesis.Ui }}:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.Syndesis }}"
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: {{ Images.Syndesis.Atlasmap }}
    labels:
      app: syndesis
      component: syndesis-atlasmap
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{Images.AtlasMapImagesPrefix}}/{{ Images.Syndesis.Atlasmap }}:{{ Tags.Atlasmap }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.Syndesis }}"
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: {{ Images.Syndesis.Verifier }}
    labels:
      app: syndesis
      component: syndesis-verifier
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.SyndesisImagesPrefix }}/{{ Images.Syndesis.Verifier }}:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.Syndesis }}"
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: {{ Images.Support.OAuthProxy }}
    labels:
      app: syndesis
      component: syndesis-oauthproxy
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{Images.OAuthProxyImagePrefix}}/{{ Images.Support.OAuthProxy }}:{{ Tags.OAuthProxy }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.OAuthProxy }}"
{{/WithDockerImages}}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: {{ Images.S2i.ImageStream }}
    labels:
      app: syndesis
      component: s2i-java
  spec:
    tags:
    - from:
        kind: DockerImage
        name: {{ Images.S2i.DockerImage }}:{{ Images.S2i.Tag }}
      importPolicy:
        scheduled: true
      name: "{{ Images.S2i.Tag }}"
{{/Productized}}
