- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: syndesis-atlasmap
    labels:
      app: syndesis
      component: syndesis-atlasmap

- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: syndesis
      component: syndesis-atlasmap
    name: syndesis-atlasmap
  spec:
    ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
    selector:
      app: syndesis
      component: syndesis-atlasmap

- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: syndesis
      component: syndesis-atlasmap
    name: syndesis-atlasmap
  spec:
    replicas: 1
    selector:
      app: syndesis
      component: syndesis-atlasmap
      deploymentconfig: syndesis-atlasmap
    strategy:
      resources:
        limits:
          memory: "256Mi"
        requests:
          memory: "20Mi"
      type: Recreate
    template:
      metadata:
        labels:
          app: syndesis
          component: syndesis-atlasmap
          deploymentconfig: syndesis-atlasmap
      spec:
        serviceAccountName: syndesis-atlasmap
        containers:
        - name: atlasmap
          env:
          - name: HOME
            value: /deployments
          - name: JAVA_TOOL_OPTIONS
            value: '-Duser.home=/deployments -Duser.name=jboss'
          - name: AB_JOLOKIA_OFF
            value: "true"
          - name: JAVA_APP_DIR
            value: /deployments
          - name: AB_OFF
            value: "true"
          - name: JAVA_OPTIONS
            value: "-Djava.net.preferIPv4Stack=true -Duser.home=/tmp"
{{^WithDockerImages}}
          image: ' '
{{/WithDockerImages}}{{#WithDockerImages}}
          image: ${SYNDESIS_REGISTRY}/{{Images.AtlasMapImagesPrefix}}/{{ Images.Syndesis.Atlasmap }}:{{ Tags.Atlasmap }}
{{/WithDockerImages}}
          imagePullPolicy: IfNotPresent
{{^Probeless}}
          readinessProbe:
            httpGet:
              path: "/health"
              port: 8181
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              path: "/health"
              port: 8181
            initialDelaySeconds: 180{{/Probeless}}
          ports:
          - containerPort: 8080
            name: http
          - containerPort: 9779
            name: prometheus
          - containerPort: 8778
            name: jolokia
          volumeMounts:
          - name: config-volume
            mountPath: /deployments/config
          resources:
            limits:
              memory: 612Mi
            requests:
              memory: 255Mi
        volumes:
        - name: config-volume
          configMap:
            name: syndesis-atlasmap-config
    triggers:
    - type: ConfigChange
{{^WithDockerImages}}
    - imageChangeParams:
        automatic: true
        containerNames:
        - atlasmap
        from:
          kind: ImageStreamTag
          name: {{ Images.Syndesis.Atlasmap }}:{{ Tags.Atlasmap }}
          namespace: ${IMAGE_STREAM_NAMESPACE}
      type: ImageChange
{{/WithDockerImages}}

- apiVersion: v1
  kind: ConfigMap
  metadata:
    labels:
      app: syndesis
      component: syndesis-atlasmap
    name: syndesis-atlasmap-config
  data:
    application.yml: |-
      cors:
{{^AllowLocalHost}}
        allowedOrigins: https://${ROUTE_HOSTNAME}
{{/AllowLocalHost}}{{#AllowLocalHost}}
        allowedOrigins: http://localhost:4200, https://localhost:4200, https://${ROUTE_HOSTNAME}
{{/AllowLocalHost}}
      spring:
        zipkin:
          enabled: false
      security:
        basic:
          enabled: false
      management:
        port: 8181
        security:
          enabled: true
      endpoints:
        health:
          sensitive: false
