.bottom-bordered {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 0px;
}

.link-enabled {
  color: black;
  font-size: 14px;
}

.link-disabled {
  border-bottom: 2px solid currentColor;
  color: #00659c;
  cursor: default;
  font-size: 14px;
}

.link-enabled:hover,
.link-disabled:hover {
  text-decoration: none;
}
