.flow-view {
  width: 300px;

  .flow-view-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bold {
    font-weight: bold;
  }

  .name {
    font-style: italic;
  }

  // Steps on left-hand side
  .steps {
    flex-wrap: nowrap;
  }
}
