<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <p></p>
      <input type="text" id="integrationName" class="form-control" placeholder="Enter integration name..." [ngModel]="i.name">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>
      <i class="fa fa-cube"></i>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
      <i class="fa fa-cube"></i>
    </p>
  </div>
  <div class="col-md-9">
    <div>
      <h5>Start</h5>
      <ul>
        <li>
          <i class="fa fa-chevron-down"></i> Set up this connection
          <ul>
            <li>
              <span [class]="getClass('connection-select', 0)">Choose a connection</span>
            </li>
            <li>
              <span [class]="getClass('connection-configure', 0)">Configure the connection</span>              
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <h5>Finish</h5>
      <ul>
        <li>
          <i class="fa fa-chevron-down"></i> Set up this connection
          <ul>
            <li>
              <span [class]="getClass('connection-select', 1)">Choose a connection</span>
            </li>
            <li>
              <span [class]="getClass('connection-configure', 1)">Configure the connection</span>              
            </li>                            
          </ul>
        </li>
      </ul>
    </div>
  </div>  
</div>
<!-- debug -->
<!--
<div class="row">
  <div class="col-md-12">
    <pre>{{integration | json}}</pre>
  </div>
</div>
-->
