.flow-view {
  width: 300px;

  ul {
    list-style-type: none;
    -webkit-margin-before: 0;

    li {
      list-style-type: none;
    }
  }

  .bold {
    font-weight: bold;
  }

  // Integration Name Editor
  .name {
    border-bottom: 2px solid #D0D0D0;
    font-style: italic;
    margin-top: -10px;
    padding-bottom: 5px;
  }

  // Steps on left-hand side
  .steps {
    //margin-right: 65px;
    padding-top: 20px;

    // Left-hand side design with the cube and line
    .cube-line {
      //padding-right: 0;
      text-align: center;

      ul {
        padding-right: 35px;
        -webkit-padding-start: 0;

        li {
          padding-left: 5px;
        }
      }

      // Used for the containing <div> around any cubes to make e2e testing easier
      .cube {
        // Overriding the actual cube icon's colors
        .fa.fa-cube {
          color: #D1D1D1;
          font-size: x-large;
        }

        .round {
          -moz-border-radius: 100px;
          border-radius: 100px;
          padding: 7px;

          &.active {
            border: 3px solid #1487CB;
          }

          &.inactive {
            border: 3px solid #D0D0D0;
          }
        }
      }

      // Line that connects cubes
      .vertical {
        border: 2px solid #D0D0D0;
        height: 200px;
        left: 40px;
        margin-top: -10px;
        position: absolute;
        width: 0;
      }
    }

    // Right-hand side collapsible text menu
    .text {
      padding-right: 0;
      padding-top: 15px;

      ul {
        cursor: pointer;
        padding-right: 35px;
        -webkit-padding-start: 0;

        li {
          //padding-left: 5px;

          &:hover {
            //background-color:
          }
        }
      }

      .start, .finish {
        h5 {
          background-color: #EDEDED;
          cursor: pointer;
          display: inline;
          padding: 5px;
          text-transform: uppercase;
        }

        ul {
          min-width: 160px;
          padding: 10px 0;

          // Sub-Menu Items
          &.collapse {
            margin-top: 5px;
            padding: 5px 0;

            li {
              padding: 5px 5px 5px 15px;

              &.active {
                background-color: #D6EEFA;
                border-bottom: 1px solid #B8DFF3;
                border-top: 1px solid #B8DFF3;
              }

              &.inactive {
                color: #D1D1D1;
              }
            }
          }
        }
      }
    }
  }
}
