@import '../../../scss/colors';

.integrations.list {
  color: #656565;
  margin-top: 25px;

  .integration {
    background: #FFFFFF;
    cursor: pointer;
    padding: 20px;

    &:hover {
      //background: rgba(214, 238, 250, 0.36);
      background: $pf-blue-50;
    }

    .actions {
      padding: 5px;

      ul {
        cursor: pointer;
      }
    }

    .active-inactive {
      padding: 5px;

      .label {
        padding: 6px;
        cursor: pointer;
      }
    }

    .description {
      padding: 5px;
    }

    .icons {
      padding: 1px;

      .fa {
        margin-right: 15px;

        &.fa-angle-right {
          font-size: 18px;
        }
      }
    }

    .modal {
      .modal-footer {
        .btn {
          border: 0;
          margin: 5px 10px 5px 0;

          &.btn-cancel {
            background: #DADADA;
          }
        }
      }
    }

    .name {
      font-weight: 700;
      padding: 7px;
    }
  }

  .tab-content {
    background: #FFFFFF;
  }
}
