<div class="integrations list">

  <!-- Modal Container -->

  <div bsModal
       #childModal="bs-modal"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="activateModal"
       aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button"
                  class="close"
                  aria-hidden="true"
                  (click)="hideModal()">
            <span class="pficon pficon-close"></span>
          </button>
          <h4 class="modal-title">Confirm {{ getActionTitle() }}</h4>
        </div>
        <div class="modal-body">
          <div>
            <p>Are you sure you would like to {{ getAction() }} the following integration?</p>
          </div>
          <div style="text-align: center; font-weight: 700">
            <p>{{ selectedIntegration?.name }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-default"
                  (click)="hideModal()">Cancel</button>
          <button type="button"
                  class="btn btn-primary"
                  (click)="doAction(currentAction, selectedIntegration)">
            {{ getActionButtonText() }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- List Container -->

  <pfng-list [items]="integrations"
             [config]="listConfig"
             [itemTemplate]="itemTemplate"
             [actionTemplate]="actionTemplate"
             (onClick)="handleClick($event)">
    <ng-template #itemTemplate let-integration="item" let-index="index">
      <div class="list-pf-left integration-icons">
        <span *ngIf="getStart(integration).connection; let connection">
          <img src="../../../assets/icons/{{ connection.connectorId }}.integration.png">
        </span>
        <span class="fa fa-angle-right"></span>
        <span *ngIf="getFinish(integration).connection; let connection">
          <img src="../../../assets/icons/{{ connection.connectorId }}.integration.png">
        </span>
      </div>
      <div class="list-pf-content-wrapper">
        <div class="list-pf-main-content integration-content">
          <div *ngIf="complete" class="list-pf-title name">{{ integration.name }}</div>
          <div class="list-pf-description description">
            {{ complete ? integration.description : integration.name }}
          </div>
        </div>
        <div class="list-pf-additional-content integration-status">
          <div *ngIf="complete" class="active-inactive">
            <!-- In Progress -->
            <div *ngIf="integration.currentStatus === 'Pending'">
              <div class="spinner spinner-sm spinner-inline"></div>
              In Progress
            </div>
            <!-- Status -->
            <div *ngIf="integration.currentStatus !== 'Pending'"
                 class="not-pending">
              <span class="label label-{{ getLabelClass(integration.currentStatus) }}"
                    disabled>{{ getStatusText(integration.currentStatus) }}</span>
            </div>
          </div>
          <div class="pass-fail">
            <!-- OK Status -->
            <i *ngIf="!integration.statusMessage"
                class="pficon pficon-ok"></i>
            <!-- Not OK Status -->
            <ng-template #statTemplate>{{ integration.statusMessage }}</ng-template>
            <i *ngIf="integration.statusMessage"
                class="pficon pficon-error-circle-o"
                [tooltip]="statTemplate"
                placement="bottom"></i>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #actionTemplate let-integration="item" let-index="index">
      <pfng-action class="list-pf-actions"
                   [config]="getActionConfig(integration)"
                   (onActionSelect)="handleAction($event, integration)">
      </pfng-action>
    </ng-template>
  </pfng-list>
</div>
