<syndesis-loading [loading]="loading">
  <div class="integrations list">

    <!-- Toast Notification Container -->

    <toaster-container></toaster-container>

    <!-- Modal Container -->

    <div bsModal
         #childModal="bs-modal"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="activateModal"
         aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Confirm {{ getActionTitle() }}</h4>
            <button type="button"
                    class="close pull-right"
                    aria-label="Close"
                    (click)="hideModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <p>Are you sure you would like to {{ getAction() }} the following integration?</p>
            </div>
            <div style="text-align: center; font-weight: 700">
              <p>{{ selectedIntegration?.name }}</p>
            </div>
          </div>
          <div class="modal-footer">
            <button class="pull-right btn btn-primary"
                    (click)="doAction(currentAction, selectedIntegration)">
              {{ getActionButtonText() }}
            </button>
            <button class="pull-right btn btn-cancel"
                    (click)="hideModal()">Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="integration vertical-align col-xs-12"
         *ngFor="let integration of integrations; let i=index">

      <!-- Group 1: Icons -->

      <div class="col-xs-1 group icons"
           (click)="goto(integration)">
        <div class="col-xs-12"
             *ngIf="integration">
          <span class="image-icon"
                *ngIf="getStart(integration).connection">
            <img src="../../../assets/icons/{{ getStart(integration).connection.connectorId }}.integration.png"
                 class="start">
          </span>
          <span class="fa fa-angle-right"></span>
          <span class="image-icon"
                *ngIf="getFinish(integration).connection">
            <img src="../../../assets/icons/{{ getFinish(integration).connection.connectorId }}.integration.png"
                 class="end">
          </span>
        </div>
      </div>

      <!-- Group 2: Text -->

      <div class="col-xs-7 group text"
           (click)="goto(integration)">

        <!-- Name -->
        <div class="col-xs-5 name">
          {{ integration.name }}
        </div>

        <!-- Description -->
        <div class="col-xs-7 description">
          <div class="list-group-item-text">
            {{ integration.description }}
          </div>
        </div>
      </div>

      <!-- Group 3: Metrics & Actions -->

      <div class="col-xs-4 group metrics-actions">

        <!-- Active/Inactive Labels -->

        <div class="col-xs-6 active-inactive">
          <!-- In Progress -->

          <div class="in-progress"
               *ngIf="integration.currentStatus === 'Pending'">
            <h3>
              <div class="spinner spinner-sm spinner-inline"></div>
              In Progress
            </h3>
          </div>

          <!-- Status -->

          <div *ngIf="integration.currentStatus !== 'Pending'"
               class="not-pending">
            <span class="label label-{{ getLabelClass(integration.currentStatus) }}"
                  disabled>{{ getStatusText(integration.currentStatus) }}</span>
          </div>
        </div>


        <!-- Metrics & Actions -->

        <div class="col-xs-6">

          <!-- Uses -->

          <!--
          <div class="col-xs-7 uses"
               (click)="goto(integration)">
            <p>{{ integration.timesUsed || 0 }} uses</p>
          </div>
          -->


          <!-- Pass/Fail -->

          <div class="col-xs-10 pass-fail"
               (click)="goto(integration)">

            <!-- OK Status -->

            <i *ngIf="!integration.statusMessage"
               class="pficon pficon-ok"></i>

            <!-- Not OK Status -->

            <ng-template #statTemplate>{{integration.statusMessage}}</ng-template>
            <i *ngIf="integration.statusMessage"
               class="pficon pficon-error-circle-o"
               [tooltip]="statTemplate"
               placement="bottom"
               container="body"></i>
          </div>


          <!-- Actions -->

          <div class="col-xs-2 actions" *ngIf="integration.currentStatus !== 'Deleted'">
            <div dropdown
                 class="dropdown pull-right dropdown-kebab-pf">
              <button dropdownToggle
                      class="btn btn-link"
                      type="button"
                      id="dropdownKebabRight9"
                      aria-haspopup="true"
                      aria-expanded="true">
                    <span class="fa fa-ellipsis-v"></span>
                  </button>
              <ul *dropdownMenu
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownKebabRight9">
                <li role="menuitem"
                    *ngIf="canEdit(integration.currentStatus)">
                  <a [routerLink]="['edit', integration.id, 'save-or-add-step']">Edit</a>
                </li>
                <li role="menuitem"
                    *ngIf="canActivate(integration.currentStatus)">
                  <a (click)="requestActivate(integration)">Activate</a>
                </li>
                <li role="menuitem"
                    *ngIf="canDeactivate(integration.currentStatus)">
                  <a (click)="requestDeactivate(integration)">Deactivate</a>
                </li>
                <!--
                    <li>
                      <a>Duplicate</a>
                    </li>
                    -->
                <li role="menuitem"
                    *ngIf="canDelete(integration.currentStatus)">
                  <a (click)="requestDelete(integration)">Delete</a>
                </li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</syndesis-loading>
