@import '../../../scss/colors';

.integrations.list {
  color: #656565;
  margin-top: 25px;

  ////////////////////////////////////////////////////////////////////////////////
  // INTEGRATION ROWS
  // Each integration is displayed in a row.
  ////////////////////////////////////////////////////////////////////////////////

  .integration {
    background: #FFFFFF;
    cursor: pointer;
    padding: 20px;

    &:hover {
      //background: rgba(214, 238, 250, 0.36);
      background: $pf-blue-50;
    }

    ////////////////////////////////////////////////////////////////////////////////
    // INTEGRATION ROW GROUPS
    // Separate each integration row into groups within the 12-column grid
    ////////////////////////////////////////////////////////////////////////////////

    .group {

      //----- Group 1: Icons ----------------->>

      &.icons {
        padding: 1px;

        .fa {
          margin-right: 15px;

          &.fa-angle-right {
            font-size: 18px;
          }
        }
      }

      //----- Group 2: Text (Name & Description) ----------------->>

      &.text {
        .description {
          padding: 5px;
        }

        .name {
          font-weight: 700;
          padding: 7px;
        }
      }

      //----- Group 3: Metrics & Actions ----------------->>

      &.metrics-actions {
        .actions {
          padding: 5px;

          ul {
            cursor: pointer;
          }
        }

        .active-inactive {
          padding: 5px;

          .in-progress {
            h3 {
              font-size: 12px;
              margin: 0;
            }
          }

          .label {
            padding: 6px;
            cursor: pointer;
          }
        }
      }

    }


    ////////////////////////////////////////////////////////////////////////////////
    // MODALS
    ////////////////////////////////////////////////////////////////////////////////

    .modal {
      .modal-footer {
        .btn {
          border: 0;
          margin: 5px 10px 5px 0;

          &.btn-cancel {
            background: #DADADA;
          }
        }
      }
    }
  }
}
