<div class="oauth-apps">
  <h1>{{ 'settings.oauth-apps.heading' | synI18n }}</h1>
  <p [innerHtml]="
    'settings.oauth-apps.description' | synI18n: (
      'settings.oauth-apps.documentation-link' | synI18n
    )
  "
    (click)="handleLinks($event)"></p>
  <p>{{ 'settings.oauth-apps.registration-instruction' | synI18n }}
    <pfng-inline-copy [buttonAriaLabel]="'settings.oauth-apps.copy-instruction' | synI18n" [tooltipText]="'callback-url' | synI18n"
      [width]="'335px'" [value]="callbackURL"></pfng-inline-copy>
  </p>

  <!-- Modal -->
  <syndesis-oauth-app-modal #modal></syndesis-oauth-app-modal>

  <!-- Toolbar -->
  <syndesis-list-toolbar [items]="oauthApps$" [filterTags]="false" [filteredItems]="filteredOAuthApps$" [filterFields]="filterFields">
  </syndesis-list-toolbar>

  <!-- List displayed here -->
  <syndesis-loading [loading]="loading$ | async" [content]="content">
    <ng-template #content>
      <pfng-list [items]="filteredOAuthApps$ | async" [config]="listConfig" [itemTemplate]="listItemMain"
        [actionTemplate]="actions" [expandTemplate]="listItemExpansion" (onClick)="$event.item.expanded = !$event.item.expanded">
      </pfng-list>
    </ng-template>
  </syndesis-loading>

  <!-- One list item, main row -->
  <ng-template #listItemMain let-item="item">
    <div class="list-pf-chevron">
      <span *ngIf="item.expanded" class="fa fa-angle-down"></span>
      <span *ngIf="!item.expanded" class="fa fa-angle-right"></span>
    </div>
    <div class="list-pf-content list-pf-content-flex">
      <div class="list-pf-left">
        <img *ngIf="!(item.client.icon || '').startsWith('fa-')" class="syn-icon-medium list-pf-icon list-pf-icon-small"
          [src]="item.client | synIconPath">
        <span *ngIf="(item.client.icon || '').startsWith('fa-')" class="fa {{ item.client.icon }} list-pf-icon list-pf-icon-small"></span>
      </div>
      <div class="list-pf-content-wrapper">
        <div class="list-pf-main-content">
          <div class="list-pf-title">
            {{ item.client.name }}
          </div>
          <div class="list-pf-description">
            <ng-container *ngIf="!isConfigured(item)">
              <i>{{ 'settings.oauth-apps.list.item.description' | synI18n }}</i>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
  </ng-template>

  <!-- list item actions -->
  <ng-template #actions let-item="item">
    <div class="list-pf-actions">
      <button *ngIf="!item.expanded" [attr.aria-label]="('register' | synI18n) + ' ' + item.client.name" class="btn btn-default"
        (click)="item.expanded = !item.expanded">
        <ng-container *ngIf="!isConfigured(item)">{{ 'register' | synI18n }}</ng-container>
        <ng-container *ngIf="isConfigured(item)">{{ 'edit' | synI18n }}</ng-container>
      </button>
      <button class="btn btn-default" *ngIf="isConfigured(item)" (click)="item.expanded = false; modal.show(item)">
        {{ 'remove' | synI18n }}</button>
    </div>
  </ng-template>

  <!-- list item's expansion -->
  <ng-template #listItemExpansion let-item="item">
    <div *ngIf="item.expanded">
      <syndesis-oauth-app-form [item]="item" (onSave)="onSave()"></syndesis-oauth-app-form>
    </div>
  </ng-template>
</div>
