<div class="row">
  <div class="col-xs-8 col-xs-offset-4">
    <div class="alert alert-success"
         *ngIf="message">
      <span class="pficon pficon-ok"></span>
      <strong>Registration successful!</strong> You can validate these values when
      <a [routerLink]="['/connections/create']">creating a connection</a> to {{ item.client.name }}
    </div>
    <div class="alert alert-warning"
         *ngIf="error">
      <span class="pficon pficon-warning-triangle"></span>
      <strong>Error saving OAuth app settings</strong>
      <pre>{{ error | json }}</pre>
    </div>
    <form class="form-horizontal"
          [formGroup]="formGroup">
      <syndesis-form-control *ngFor="let controlModel of formModel; last as last"
                             [group]="formGroup"
                             [model]="controlModel">
        <div *ngIf="last"
             class="col-md-12">
          <p></p>
          <div class="pull-right">
            <ng-container *ngIf="!message">
              <button type="button"
                      class="btn btn-primary"
                      (click)="save()"
                      [disabled]="loading">
                <span class="spinner spinner-sm spinner-inline"
                      *ngIf="loading"></span>Save</button>
              <button type="button"
                      class="btn btn-default"
                      (click)="item.expanded = false"
                      [disabled]="loading">Cancel</button>
            </ng-container>
            <ng-container *ngIf="message">
              <button type="button"
                      class="btn btn-primary"
                      (click)="item.expanded = false"
                      [disabled]="loading">Ok</button>
            </ng-container>
          </div>
        </div>
      </syndesis-form-control>
    </form>
  </div>
</div>
