.integrations.create {
  margin-left: -20px;

  .title {
    border-bottom: 1px solid #D7D6D7;
    margin: auto -20px;
    margin-bottom: 15px;

    h1 {
      padding: 0 20px;
    }
  }

  // This does not get inherited by the directive
  /*
  .toolbar-pf {
    background: none;
  }
  */

  .wizard-pf-row {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 60px;
    width: 100%;
  }

  .wizard-pf-main {
    height: 100%;
    margin-left: 325px;
    margin-right: -15px;
    overflow: auto;
    padding: 15px 3em 3em 3em;
    vertical-align: top;
  }

  .wizard-pf-sidebar {
    background: #fafafa;
    border-right: 1px solid #d1d1d1;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    padding: 20px;
  }

  .wizard-pf-footer {
    background: #FFFFFF;
    padding: 10px;
  }
}

