.integrations.create {
  margin-left: -20px;

  .wizard-pf-row {
    //bottom: 58px;
    bottom: 0;
    //left: 200px;
    //left: 0;
    //margin-left: 0;
    //margin-right: 0;
    overflow: hidden;
    position: absolute;
    //right: 0;
    top: 60px;
    //width: 100%;
    width: auto;
  }

  .wizard-pf-main {
    height: 100%;
    //margin-left: 253px;
    margin-left: 295px;
    margin-right: -15px;
    overflow: auto;
    padding: 3em;
    vertical-align: top;
  }

  .wizard-pf-sidebar {
    background: #fafafa;
    border-right: 1px solid #d1d1d1;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    padding: 20px;
  }
}

