- apiVersion: v1
  kind: Secret
  metadata:
    name: syndesis-oauth-proxy-cookie-secret
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
  stringData:
    oauthCookieSecret: {{.Env.OAUTH_COOKIE_SECRET}}
- apiVersion: v1
  kind: Secret
  metadata:
    name: syndesis-server-secret
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
  stringData:
    clientStateAuthenticationKey: {{.Env.CLIENT_STATE_AUTHENTICATION_KEY}}
    clientStateEncryptionKey: {{.Env.CLIENT_STATE_ENCRYPTION_KEY}}
- apiVersion: v1
  kind: Secret
  metadata:
    name: syndesis-global-config
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
  stringData:
    syndesis: "{{ .Tags.Syndesis }}"
    postgresql: "{{ .Tags.Postgresql }}"
    oauthproxy: "{{ .Tags.OAuthProxy }}"
    prometheus: "{{ .Tags.Prometheus }}"
    params: |-
      OPENSHIFT_OAUTH_CLIENT_SECRET={{.Env.OPENSHIFT_OAUTH_CLIENT_SECRET}}
      POSTGRESQL_USER={{.Syndesis.Spec.Components.Db.User}}
      POSTGRESQL_PASSWORD={{.Env.POSTGRESQL_PASSWORD}}
      POSTGRESQL_SAMPLEDB_PASSWORD={{.Env.POSTGRESQL_SAMPLEDB_PASSWORD}}
      OAUTH_COOKIE_SECRET={{.Env.OAUTH_COOKIE_SECRET}}
      SYNDESIS_ENCRYPT_KEY={{.Env.SYNDESIS_ENCRYPT_KEY}}
      CLIENT_STATE_AUTHENTICATION_KEY={{.Env.CLIENT_STATE_AUTHENTICATION_KEY}}
      CLIENT_STATE_ENCRYPTION_KEY={{.Env.CLIENT_STATE_ENCRYPTION_KEY}}
