- apiVersion: v1
  kind: Secret
  metadata:
    name: syndesis-server-secret
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
  stringData:
    clientStateAuthenticationKey: {{.Syndesis.Components.Server.ClientStateAuthenticationKey}}
    clientStateEncryptionKey: {{.Syndesis.Components.Server.ClientStateEncryptionKey}}
- apiVersion: v1
  kind: Secret
  metadata:
    name: syndesis-global-config
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
  stringData:
    OPENSHIFT_OAUTH_CLIENT_SECRET: |-
      {{.OpenShiftOauthClientSecret}}
    POSTGRESQL_PASSWORD: |-
      {{.Syndesis.Components.Database.Password}}
    POSTGRESQL_SAMPLEDB_PASSWORD: |-
      {{.Syndesis.Components.Database.SampledbPassword}}
    OAUTH_COOKIE_SECRET: |-
      {{.Syndesis.Components.Oauth.CookieSecret}}
    SYNDESIS_ENCRYPT_KEY: |-
      {{.Syndesis.Components.Server.SyndesisEncryptKey}}
    CLIENT_STATE_AUTHENTICATION_KEY: |-
      {{.Syndesis.Components.Server.ClientStateAuthenticationKey}}
    CLIENT_STATE_ENCRYPTION_KEY: |-
      {{.Syndesis.Components.Server.ClientStateEncryptionKey}}
    params: |-
      OPENSHIFT_OAUTH_CLIENT_SECRET={{.OpenShiftOauthClientSecret}}
      POSTGRESQL_PASSWORD={{.Syndesis.Components.Database.Password}}
      POSTGRESQL_SAMPLEDB_PASSWORD={{.Syndesis.Components.Database.SampledbPassword}}
      OAUTH_COOKIE_SECRET={{.Syndesis.Components.Oauth.CookieSecret}}
      SYNDESIS_ENCRYPT_KEY={{.Syndesis.Components.Server.SyndesisEncryptKey}}
      CLIENT_STATE_AUTHENTICATION_KEY={{.Syndesis.Components.Server.ClientStateAuthenticationKey}}
      CLIENT_STATE_ENCRYPTION_KEY={{.Syndesis.Components.Server.ClientStateEncryptionKey}}
