- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: syndesis-s2i
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: s2i-java
  spec:
    tags:
      {{if .DevSupport}}
    - name: "latest"
      from:
        kind: ImageStreamTag
        name: 'syndesis-s2i:latest'
      {{else}}
    - name: "{{ tagOf .Syndesis.Components.S2I.Image }}"
      from:
        kind: DockerImage
        name: '{{ .Syndesis.Components.S2I.Image }}'
      {{if .Scheduled}}
      importPolicy:
        scheduled: true
      {{end}}
      {{end}}
