- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: syndesis-default
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-infrastructure
{{if .ImagePullSecrets }}
  imagePullSecrets:
{{end}}{{range .ImagePullSecrets}}
  - name: "{{.}}"
{{end}}
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: syndesis-server
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
{{if .ImagePullSecrets }}
  imagePullSecrets:
{{end}}{{range .ImagePullSecrets}}
  - name: "{{.}}"
{{end}}
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: syndesis-integration
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
{{if .ImagePullSecrets }}
  imagePullSecrets:
{{end}}{{range .ImagePullSecrets}}
  - name: "{{.}}"
{{end}}
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: syndesis-prometheus
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-prometheus
{{if .ImagePullSecrets }}
  imagePullSecrets:
{{end}}{{range .ImagePullSecrets}}
  - name: "{{.}}"
{{end}}