- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ .Images.Syndesis.Rest }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
  spec:
    tags:
    - name: "{{ .Syndesis.Spec.Components.Server.Tag }}"
      from:
      {{if .Syndesis.Spec.DevImages}}
        kind: ImageStreamTag
        name: '{{ .Images.Syndesis.Rest }}:latest'
      {{else}}
        kind: DockerImage
        name: '{{ .Syndesis.Spec.Registry }}/{{ .Images.SyndesisImagesPrefix }}/{{ .Images.Syndesis.Rest }}:{{ .Syndesis.Spec.Components.Server.Tag }}'
      importPolicy:
        scheduled: true
      {{end}}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ .Images.Syndesis.Ui }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-ui
  spec:
    tags:
    - name: "{{ .Syndesis.Spec.Components.UI.Tag }}"
      from:
      {{if .Syndesis.Spec.DevImages}}
        kind: ImageStreamTag
        name: '{{ .Images.Syndesis.Ui }}:latest'
      {{else}}
        kind: DockerImage
        name: '{{ .Syndesis.Spec.Registry }}/{{ .Images.SyndesisImagesPrefix }}/{{ .Images.Syndesis.Ui }}:{{ .Syndesis.Spec.Components.UI.Tag }}'
      importPolicy:
        scheduled: true
      {{end}}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ .Images.Syndesis.Verifier }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-meta
  spec:
    tags:
    - name: "{{ .Syndesis.Spec.Components.Meta.Tag }}"
      from:
      {{if .Syndesis.Spec.DevImages}}
        kind: ImageStreamTag
        name: '{{ .Images.Syndesis.Verifier }}:latest'
      {{else}}
        kind: DockerImage
        name: '{{ .Syndesis.Spec.Registry }}/{{ .Images.SyndesisImagesPrefix }}/{{ .Images.Syndesis.Verifier }}:{{ .Syndesis.Spec.Components.Meta.Tag }}'
      importPolicy:
        scheduled: true
      {{end}}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ .Images.Support.OAuthProxy }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-oauthproxy
  spec:
    tags:
    - from:
        kind: DockerImage
        name: {{.Images.OAuthProxyImagePrefix}}/{{ .Images.Support.OAuthProxyImage }}:{{ .Syndesis.Spec.Components.Oauth.Tag }}
      importPolicy:
        scheduled: true
      name: "{{ .Syndesis.Spec.Components.Oauth.Tag }}"
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ .Images.Support.Prometheus }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-prometheus
  spec:
    tags:
    - from:
        kind: DockerImage
        name: '{{.Syndesis.Spec.Registry}}/{{.Images.PrometheusImagePrefix}}/{{ .Images.Support.Prometheus }}:{{ .Syndesis.Spec.Components.Prometheus.Tag }}'
      importPolicy:
        scheduled: true
      name: "{{ .Syndesis.Spec.Components.Prometheus.Tag }}"
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ .Images.Support.PostgresExporter }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-db-metrics
  spec:
    tags:
    - from:
        kind: DockerImage
        name: '{{.Syndesis.Spec.Registry}}/{{.Images.PostgresExporterImagePrefix}}/{{ .Images.Support.PostgresExporter }}:{{ .Syndesis.Spec.Components.PostgresExporter.Tag }}'
      importPolicy:
        scheduled: true
      name: "{{ .Syndesis.Spec.Components.PostgresExporter.Tag }}"
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ .Images.Syndesis.S2i }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: s2i-java
  spec:
    tags:
    - from:
      {{if .Syndesis.Spec.DevImages}}
        kind: ImageStreamTag
        name: '{{ .Images.Syndesis.S2i }}:latest'
      {{else}}
        kind: DockerImage
        name: '{{.Syndesis.Spec.Registry}}/{{ .Images.SyndesisImagesPrefix }}/{{ .Images.Syndesis.S2i }}:{{ .Syndesis.Spec.Components.S2I.Tag }}'
      importPolicy:
        scheduled: true
      {{end}}
