- apiVersion: v1
  kind: ConfigMap
  metadata:
    annotations:
      io.syndesis/upgrade-mode: keep
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
    name: syndesis-server-config
  data:
    application.yml: |-
      deployment:
        load-demo-data: '{{.Syndesis.DemoData}}'
      cors:
{{- if (not .AllowLocalHost)}}
        allowedOrigins: https://{{.Syndesis.RouteHostname}}
{{- else}}
        allowedOrigins: http://localhost:4200, https://localhost:4200, https://{{.Syndesis.RouteHostname}}
{{- end}}
      cache:
        cluster:
          name: SyndesisCluster
        max:
          entries: 100
      encrypt:
        key: '{{.Syndesis.Components.Server.SyndesisEncryptKey}}'
      spring:
        zipkin:
          enabled: false
        datasource:
          url: 'jdbc:{{.Syndesis.Components.Database.URL}}'
          username: '{{.Syndesis.Components.Database.User}}'
          password: '{{.Syndesis.Components.Database.Password}}'
          driver-class-name: org.postgresql.Driver
          hikari:
            {{- if .Syndesis.Components.Server.ConnectionPool.ConnectionTimeout }}
            connection-timeout: '{{.Syndesis.Components.Server.ConnectionPool.ConnectionTimeout}}'
            {{- end}}
            {{- if .Syndesis.Components.Server.ConnectionPool.IdleTimeout }}
            idle-timeout: '{{.Syndesis.Components.Server.ConnectionPool.IdleTimeout}}'
            {{- end}}
            {{- if .Syndesis.Components.Server.ConnectionPool.LeakDetectionThreshold }}
            leak-detection-threshold: '{{.Syndesis.Components.Server.ConnectionPool.LeakDetectionThreshold}}'
            {{- end}}
            {{- if .Syndesis.Components.Server.ConnectionPool.MaximumPoolSize }}
            maximum-pool-size: '{{.Syndesis.Components.Server.ConnectionPool.MaximumPoolSize}}'
            {{- end}}
            {{- if .Syndesis.Components.Server.ConnectionPool.MaxLifetime }}
            max-lifetime: '{{.Syndesis.Components.Server.ConnectionPool.MaxLifetime}}'
            {{- end}}
            {{- if .Syndesis.Components.Server.ConnectionPool.MinimumIdle }}
            minimum-idle: '{{.Syndesis.Components.Server.ConnectionPool.MinimumIdle}}'
            {{- end}}
      security:
        basic:
          enabled: false
      management:
        port: 8181
        security:
          enabled: true
      endpoints:
        health:
          sensitive: false
        jsondb:
          enabled: true
      monitoring:
        kind: default
      features:
        monitoring:
          enabled: true
        public-api:
          enabled: true
        knative:
          {{- if .Syndesis.Addons.Knative.Enabled }}
          enabled: true
          {{- else}}
          enabled: false
          {{- end}}
        auditing:
          enabled: {{.Syndesis.Components.Server.Features.Auditing}}
{{- if .Syndesis.Addons.Jaeger.Enabled}}
        dblogging:
          enabled: false
        jaeger-activity-tracing:
          enabled: true
      jaeger:
      {{- if .Syndesis.Addons.Jaeger.QueryUri}}
        query.api.url: {{.Syndesis.Addons.Jaeger.QueryUri}}
      {{- else}}
        query.api.url: http://noauth-syndesis-jaeger-query:443/api
      {{- end}}
        service.name: syndesis-server
{{- end}}
{{- if .Syndesis.Components.Server.Features.Maven.Repositories}}
      maven:
        repositories:
    {{- range $id, $url := .Syndesis.Components.Server.Features.Maven.Repositories}}
          {{ $id }}: {{ $url }}
    {{- end }}
{{- end}}
      openshift:
        apiBaseUrl: '{{.Syndesis.Components.Server.Features.OpenShiftMaster}}/oapi/v1'
        namespace: '{{.OpenShiftProject}}'
        imageStreamNamespace: '{{.OpenShiftProject}}'
        builderImageStreamTag: syndesis-s2i:{{ tagOf .Syndesis.Components.S2I.Image }}
        deploymentMemoryRequestMi: 200
        deploymentMemoryLimitMi: 512
        mavenOptions: "-XX:+UseG1GC -XX:+UseStringDeduplication -Xmx310m"
{{- if .Syndesis.Components.Server.Features.Maven.AdditionalArguments}}
        additionalMavenArguments: "--strict-checksums {{ .Syndesis.Components.Server.Features.Maven.AdditionalArguments }}"
{{- else}}
        additionalMavenArguments: "--strict-checksums"
{{- end}}
        integrationLivenessProbeInitialDelaySeconds: 120
      dao:
        kind: jsondb
      controllers:
        maxIntegrationsPerUser: '{{.Syndesis.Components.Server.Features.IntegrationLimit}}'
        maxDeploymentsPerUser: '{{.Syndesis.Components.Server.Features.IntegrationLimit}}'
        integrationStateCheckInterval: '{{.Syndesis.Components.Server.Features.IntegrationStateCheckInterval}}'
{{- if .Syndesis.Addons.Jaeger.Enabled}}
      generator:
        activityTracing: true
{{- end}}
