- apiVersion: v1
  kind: Service
  metadata:
    name: syndesis-ui
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-ui
  spec:
    ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
    selector:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/component: syndesis-ui
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-ui
    name: syndesis-ui
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: syndesis
        syndesis.io/app: syndesis
        syndesis.io/component: syndesis-ui
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      resources:
        limits:
          memory: "256Mi"
        requests:
          memory: "20Mi"
      type: RollingUpdate
    template:
      metadata:
        labels:
          app: syndesis
          syndesis.io/app: syndesis
          syndesis.io/type: infrastructure
          syndesis.io/component: syndesis-ui
      spec:
        serviceAccountName: syndesis-default
        containers:
        - name: syndesis-ui
          image: '{{ dockerImageFromComponent .Syndesis.Components.UI.Image .Syndesis.SHA }}'
          env:
# We need a config value to change to trigger a new deployment which switching the DevSupport flag.
# Just changing the image name is not considered a config change.
          - name: DEV_SUPPORT
            value: '{{.DevSupport}}'
        {{if .DevSupport}}
          imagePullPolicy: Always
        {{else}}
          imagePullPolicy: IfNotPresent
        {{end}}
          livenessProbe:
            httpGet:
              path: "/"
              port: 8080
            initialDelaySeconds: 30
          readinessProbe:
            httpGet:
              path: "/"
              port: 8080
            initialDelaySeconds: 1
          ports:
          - containerPort: 8080
          volumeMounts:
          - mountPath: /opt/app-root/src/config
            name: config-volume
          # Set to burstable with a low memory footprint to start (50 Mi)
          resources:
            limits:
              memory: 255Mi
            requests:
              memory: 50Mi
        volumes:
        - configMap:
            name: syndesis-ui-config
          name: config-volume

- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: syndesis-ui-config
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-ui
  data:
    config.json: |
      {
        "apiBase": "https://{{.Syndesis.RouteHostname}}",
        "apiEndpoint": "/api/v1",
        "title": "Syndesis",
        "consoleUrl": "{{.OpenShiftConsoleUrl}}",
        "project": "{{.OpenShiftProject}}",
        "datamapper": {
          "baseMappingServiceUrl": "https://{{.Syndesis.RouteHostname}}/api/v1/atlas/",
          "baseJavaInspectionServiceUrl": "https://{{.Syndesis.RouteHostname}}/api/v1/atlas/java/",
          "baseXMLInspectionServiceUrl": "https://{{.Syndesis.RouteHostname}}/api/v1/atlas/xml/",
          "baseJSONInspectionServiceUrl": "https://{{.Syndesis.RouteHostname}}/api/v1/atlas/json/",
          "disableMappingPreviewMode": false
        },
        "datavirt": {
          "dvUrl": "/dv/v1/",
{{- if .Syndesis.Addons.DV.Enabled }}
          "enabled": 1
        {{- else }}
          "enabled": 0
        {{- end }}
        },
        "features" : {
{{- if .Syndesis.Addons.CamelK.Enabled}}
          "extensions": false,
          {{- end}}
          "logging": false
        },
{{- if .Productized}}
        "branding": {
          "appName": "Fuse Online",
          "favicon32": "/favicon-32x32.png",
          "favicon16": "/favicon-16x16.png",
          "touchIcon": "/apple-touch-icon.png",
          "productBuild": true
       }{{- end}}{{- if not .Productized}}
        "branding": {
          "appName": "Syndesis",
          "favicon32": "/favicon-32x32.png",
          "favicon16": "/favicon-16x16.png",
          "touchIcon": "/apple-touch-icon.png",
          "productBuild": false
       }{{- end}}
      }
