{{- if .Productized}}
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      description: The broker's OpenWire port.
    labels:
      application: broker
    name: broker-amq-tcp
  spec:
    ports:
    - name: openwire
      port: 61616
      targetPort: 61616
    - name: stomp
      port: 61613
      targetPort: 61613
    selector:
      syndesis.io/example: broker-amq
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/example: broker-amq
    name: broker-amq
  spec:
    replicas: 1
    selector:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/example: broker-amq
    strategy:
      type: Recreate
    template:
      metadata:
        labels:
          app: syndesis
          syndesis.io/app: syndesis
          syndesis.io/example: broker-amq
          com.company: Red_Hat
          rht.prod_name: Red_Hat_Integration
          rht.prod_ver: "{{.Version}}"
          rht.comp: Fuse
          rht.comp_ver: "{{.Version}}"
          rht.subcomp: broker-amq
          rht.subcomp_t: infrastructure
        name: broker-amq
      spec:
        containers:
        - env:
          - name: AMQ_USER
            value: amq
          - name: AMQ_PASSWORD
            value: topSecret
          - name: AMQ_TRANSPORTS
            value: openwire,stomp
          image: '{{ .Syndesis.Components.AMQ.Image }}'
          imagePullPolicy: Always
          name: broker-amq
          ports:
          - containerPort: 8778
            name: jolokia
            protocol: TCP
          - containerPort: 61616
            name: tcp
            protocol: TCP
          - containerPort: 61613
            name: stomp
            protocol: TCP
          readinessProbe:
            exec:
              command:
              - /bin/bash
              - -c
              - /opt/amq/bin/readinessProbe.sh
        terminationGracePeriodSeconds: 60
    triggers:
    - type: ConfigChange
