{{- if .Syndesis.Addons.Todo.Enabled }}
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      description: The broker's OpenWire port.
    labels:
      application: broker
    name: broker-amq-tcp
  spec:
    ports:
    - name: openwire
      port: 61616
      targetPort: 61616
    - name: stomp
      port: 61613
      targetPort: 61613
    selector:
      syndesis.io/example: broker-amq
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/example: broker-amq
    name: broker-amq
  spec:
    replicas: 1
    selector:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/example: broker-amq
    strategy:
      type: Recreate
    template:
      metadata:
        labels:
          app: syndesis
          syndesis.io/app: syndesis
          syndesis.io/example: broker-amq
        name: broker-amq
      spec:
        containers:
        - env:
          - name: AMQ_USER
            value: amq
          - name: AMQ_PASSWORD
            value: topSecret
          image: '{{ .Syndesis.Components.AMQ.Image }}'
          imagePullPolicy: Always
          name: broker-amq
          ports:
          - containerPort: 8161
            name: console
            protocol: TCP
          - containerPort: 61616
            name: tcp
            protocol: TCP
          - containerPort: 61613
            name: stomp
            protocol: TCP
          readinessProbe:
            exec:
              command:
              - /home/jboss/broker/bin/artemis
              - check
              - node
            timeoutSeconds: 5
            periodSeconds: 20
            successThreshold: 1
            failureThreshold: 3
        terminationGracePeriodSeconds: 60
    triggers:
    - type: ConfigChange
{{- end}}
