- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
    name: syndesis-server
  spec:
    ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
      name: http
    selector:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/component: syndesis-server
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
    name: syndesis-server
  spec:
    replicas: 1
    selector:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/component: syndesis-server
    strategy:
      resources:
        limits:
          memory: "256Mi"
        requests:
          memory: "20Mi"
      type: Recreate
    template:
      metadata:
        labels:
          app: syndesis
          syndesis.io/app: syndesis
          syndesis.io/type: infrastructure
          syndesis.io/component: syndesis-server
      spec:
        serviceAccountName: syndesis-server
        containers:
        - name: {{.ProductName}}-server
          env:
          - name: JAVA_APP_DIR
            value: /deployments
          - name: JAVA_OPTIONS
            value: "-Djava.net.preferIPv4Stack=true -Duser.home=/tmp"
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: ENDPOINTS_TEST_SUPPORT_ENABLED
            value: '{{ .Syndesis.Spec.TestSupport }}'
          - name: CONTROLLERS_INTEGRATION_ENABLED
            value: '{{ .Syndesis.Spec.DeployIntegrations }}'
          - name: POSTGRESQL_SAMPLEDB_PASSWORD
            value: '{{.Env.POSTGRESQL_SAMPLEDB_PASSWORD}}'
          - name: CLIENT_STATE_AUTHENTICATION_ALGORITHM
            value: "HmacSHA1"
          - name: CLIENT_STATE_AUTHENTICATION_KEY
            valueFrom:
              secretKeyRef:
                name: syndesis-server-secret
                key: clientStateAuthenticationKey
          - name: CLIENT_STATE_ENCRYPTION_ALGORITHM
            value: "AES/CBC/PKCS5Padding"
          - name: CLIENT_STATE_ENCRYPTION_KEY
            valueFrom:
              secretKeyRef:
                name: syndesis-server-secret
                key: clientStateEncryptionKey
          - name: CLIENT_STATE_TID
            value: "1"
          - name: INTEGRATION_STATE_CHECK_INTERVAL
            value: '{{ .Syndesis.Spec.Integration.StateCheckInterval }}'
          - name: OPENSHIFT_MANAGEMENT_URL_FOR3SCALE
            value: '{{ .Syndesis.Spec.Components.Server.Features.ManagementUrlFor3scale }}'
{{- if (eq (or .Syndesis.Spec.Addons.jaeger.enabled "false") "true") }}
          - name: JAEGER_ENDPOINT
            value: "http://syndesis-jaeger-collector:14268/api/traces"
          - name: JAEGER_SAMPLER_TYPE
            value: "{{or .Syndesis.Spec.Addons.jaeger.SAMPLER_TYPE "const"}}"
          - name: JAEGER_SAMPLER_PARAM
            value: "{{or .Syndesis.Spec.Addons.jaeger.SAMPLER_PARAM "0"}}"
{{- end}}
{{- if (eq (or .Syndesis.Spec.Addons.camelk.enabled "false") "true") }}
          # Marker that causes a redeployment of the syndesis server, so that the new configuration is applied
          - name: CAMEL_K_ENABLED
            value: "true"
{{- end}}
          - name: JAVA_DEBUG
            value: "{{.Debug}}"
          image: ' '
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              port: 8080
              path: /api/v1/version
              httpHeaders:
              - name: Accept
                value: 'text/plain'
            initialDelaySeconds: 300
            periodSeconds: 20
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: "/health"
              port: 8181
            initialDelaySeconds: 10
          ports:
          - containerPort: 8080
            name: http
          - containerPort: 8181
            name: metrics
          - containerPort: 9779
            name: prometheus
          - containerPort: 8778
            name: jolokia
          workingDir: /deployments
          volumeMounts:
          - name: config-volume
            mountPath: /deployments/config
          # Set QoS class to "Guaranteed" (limits == requests)
          # This doesn't work on OSO as there is a fixed ratio
          # from limit to resource (80% currently). 'requests' is ignored there
          resources:
            limits:
              memory: '{{ memoryLimit .Syndesis.Spec.Components.Server.Resources.Limits }}'
              cpu: 750m
            requests:
              memory: 256Mi
              cpu: 450m
        volumes:
        - name: config-volume
          configMap:
            name: syndesis-server-config
    triggers:
    - imageChangeParams:
        automatic: true
        containerNames:
        - {{.ProductName}}-server
        from:
          kind: ImageStreamTag
          name: '{{ .Images.Syndesis.Rest }}:{{ .Syndesis.Spec.Components.Server.Tag }}'
          namespace: '{{.Syndesis.Spec.ImageStreamNamespace}}'
      type: ImageChange
    - type: ConfigChange

# workaround camel-k metrics
- apiVersion: v1
  kind: ConfigMap
  metadata:
    annotations:
      io.syndesis/upgrade-mode: keep
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
    name: syndesis-prometheus-agent-config
  data:
    prometheus-config.yml: |-
{{.PrometheusRules}}

{{- if eq .Syndesis.Spec.Addons.camelk.enabled "true" }}
# START:CAMEL-K
- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1beta1
  metadata:
    name: camel-k
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
  rules:
  - apiGroups:
    - camel.apache.org
    resources:
    - "*"
    verbs: [ get, list, create, update, delete, deletecollection, watch]
- kind: RoleBinding
  apiVersion: rbac.authorization.k8s.io/v1beta1
  metadata:
    name: camel-k
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
  subjects:
  - kind: ServiceAccount
    name: syndesis-server
  roleRef:
    kind: Role
    name: camel-k
    apiGroup: rbac.authorization.k8s.io
- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1beta1
  metadata:
    name: syndesis-knative-reader
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
  rules:
  - apiGroups:
      - serving.knative.dev
    resources:
      - services
    verbs: [ get, list, watch]
  - apiGroups:
      - eventing.knative.dev
    resources:
      - channels
    verbs: [ get, list, watch]
- kind: RoleBinding
  apiVersion: rbac.authorization.k8s.io/v1beta1
  metadata:
    name: syndesis-knative-reader
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
  subjects:
  - kind: ServiceAccount
    name: syndesis-server
  roleRef:
    kind: Role
    name: syndesis-knative-reader
    apiGroup: rbac.authorization.k8s.io
# END:CAMEL-K
{{end}}
