- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
    name: syndesis-server
  spec:
    ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
      name: http
    selector:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/component: syndesis-server
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
    name: syndesis-server
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: syndesis
        syndesis.io/app: syndesis
        syndesis.io/component: syndesis-server
    strategy:
      resources:
        limits:
          memory: "256Mi"
        requests:
          memory: "20Mi"
      type: Recreate
    template:
      metadata:
        labels:
          app: syndesis
          syndesis.io/app: syndesis
          syndesis.io/type: infrastructure
          syndesis.io/component: syndesis-server
      spec:
        serviceAccountName: syndesis-server
        containers:
        - name: syndesis-server
          env:
          - name: JAVA_APP_DIR
            value: /deployments
          - name: JAVA_OPTIONS
            value: "-Djava.net.preferIPv4Stack=true -Duser.home=/tmp"
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: ENDPOINTS_TEST_SUPPORT_ENABLED
            value: '{{ .Syndesis.Components.Server.Features.TestSupport }}'
          - name: CONTROLLERS_INTEGRATION_ENABLED
            value: '{{ .Syndesis.Components.Server.Features.DeployIntegrations }}'
          - name: POSTGRESQL_SAMPLEDB_PASSWORD
            value: '{{.Syndesis.Components.Database.SampledbPassword}}'
          - name: CLIENT_STATE_AUTHENTICATION_ALGORITHM
            value: "HmacSHA1"
          - name: CLIENT_STATE_AUTHENTICATION_KEY
            valueFrom:
              secretKeyRef:
                name: syndesis-server-secret
                key: clientStateAuthenticationKey
          - name: CLIENT_STATE_ENCRYPTION_ALGORITHM
            value: "AES/CBC/PKCS5Padding"
          - name: CLIENT_STATE_ENCRYPTION_KEY
            valueFrom:
              secretKeyRef:
                name: syndesis-server-secret
                key: clientStateEncryptionKey
          - name: CLIENT_STATE_TID
            value: "1"
          - name: INTEGRATION_STATE_CHECK_INTERVAL
            value: '{{ .Syndesis.Components.Server.Features.IntegrationStateCheckInterval }}'
          - name: OPENSHIFT_MANAGEMENT_URL_FOR3SCALE
            value: '{{ .Syndesis.Components.Server.Features.ManagementUrlFor3scale }}'
{{- if .Syndesis.Addons.Jaeger.Enabled}}
          - name: JAEGER_ENDPOINT
        {{- if .Syndesis.Addons.Jaeger.CollectorUri}}
            value: "{{.Syndesis.Addons.Jaeger.CollectorUri}}"
        {{- else}}
            value: "http://syndesis-jaeger-collector:14268/api/traces"
        {{- end}}
          - name: JAEGER_SAMPLER_TYPE
            value: "{{.Syndesis.Addons.Jaeger.SamplerType}}"
          - name: JAEGER_SAMPLER_PARAM
            value: "{{.Syndesis.Addons.Jaeger.SamplerParam}}"
{{- end}}
{{- if .Syndesis.Addons.CamelK.Enabled}}
          # Marker that causes a redeployment of the syndesis server, so that the new configuration is applied
          - name: CAMEL_K_ENABLED
            value: "true"
{{- end}}
{{- if .Syndesis.Addons.Knative.Enabled}}
          # Marker that causes a redeployment of the syndesis server, so that the new configuration is applied
          - name: KNATIVE_ENABLED
            value: "true"
{{- end}}
{{if .DevSupport}}
          - name: JAVA_DEBUG
            value: "true"
{{end}}
          image: '{{ dockerImageFromComponent .Syndesis.Components.Server.Image .Syndesis.SHA }}'
{{if .DevSupport}}
          imagePullPolicy: Always
{{else}}
          imagePullPolicy: IfNotPresent
{{end}}
          livenessProbe:
            httpGet:
              port: 8080
              path: /api/v1/version
              httpHeaders:
              - name: Accept
                value: 'text/plain'
            initialDelaySeconds: 300
            periodSeconds: 20
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: "/health"
              port: 8181
            initialDelaySeconds: 10
          ports:
          - containerPort: 8080
            name: http
          - containerPort: 8181
            name: metrics
          - containerPort: 9779
            name: prometheus
          - containerPort: 8778
            name: jolokia
          workingDir: /deployments
          volumeMounts:
          - name: config-volume
            mountPath: /deployments/config
          # Set QoS class to "Guaranteed" (limits == requests)
          # This doesn't work on OSO as there is a fixed ratio
          # from limit to resource (80% currently). 'requests' is ignored there
          resources:
            limits:
              memory: '{{ .Syndesis.Components.Server.Resources.Memory }}'
              cpu: 750m
            requests:
              memory: 256Mi
              cpu: 450m
        volumes:
        - name: config-volume
          configMap:
            name: syndesis-server-config

# workaround camel-k metrics
- apiVersion: v1
  kind: ConfigMap
  metadata:
    annotations:
      io.syndesis/upgrade-mode: keep
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
    name: syndesis-prometheus-agent-config
  data:
    prometheus-config.yml: |-
{{.Syndesis.Components.Prometheus.Rules}}

{{- if .Syndesis.Addons.CamelK.Enabled }}
# START:CAMEL-K
- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: camel-k
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
  rules:
  - apiGroups:
    - camel.apache.org
    resources:
    - "*"
    verbs: [ get, list, create, update, delete, deletecollection, watch]
- kind: RoleBinding
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: camel-k
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
  subjects:
  - kind: ServiceAccount
    name: syndesis-server
  roleRef:
    kind: Role
    name: camel-k
    apiGroup: rbac.authorization.k8s.io
- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: syndesis-knative-reader
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
  rules:
  - apiGroups:
      - serving.knative.dev
    resources:
      - services
    verbs: [ get, list, watch]
  - apiGroups:
      - eventing.knative.dev
    resources:
      - channels
    verbs: [ get, list, watch]
- kind: RoleBinding
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: syndesis-knative-reader
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
  subjects:
  - kind: ServiceAccount
    name: syndesis-server
  roleRef:
    kind: Role
    name: syndesis-knative-reader
    apiGroup: rbac.authorization.k8s.io
# END:CAMEL-K
{{end}}
