@import '../../../scss/colors';

.connections-view {
  .card-pf-body {
    .fa {
      font-size: x-large;
    }
  }

  .create, .edit {
    .form {
      border-bottom: solid 1px $pf-black-200;
      padding-bottom: 10px;

      .form-horizontal {
        float: left;
      }
    }
  }
}

.connection-edit {
  background: #fff;
  border-top: 2px solid transparent;
  box-shadow: 0 1px 1px rgba(3, 3, 3, 0.175);
  padding: 0 20px;
}
