@import '../../../scss/colors';

.connections-view {
  .card-pf-body {
    .fa {
      font-size: x-large;
    }
  }

  .create, .edit {
    .form {
      border-bottom: solid 1px $pf-black-200;
      padding-bottom: 10px;

      .form-horizontal {
        float: left;
      }
    }

    // Create & Edit Specific Changes to the Connection List Toolbar

    /deep/ .toolbar-pf {
      padding: 15px 5px;

      .toolbar-pf-actions {
        margin: 0;

        .search {
          input {
            font-style: italic;
          }

          .input-group {
            width: 100%;
          }

          .input-group-btn {
            display: none;
          }
        }
      }
    }

    // Create & Edit Specific Changes to the Connection List

    /deep/ .connections-list {
      .cards {
        cursor: pointer !important;

        .card-pf.card-pf-view.card-pf-view-xs.card-pf-view-select.card-pf-view-single-select {
          cursor: pointer !important;

          .dropdown-kebab-pf {
            display: none;
          }
        }
      }
    }
  }
}

.connection-edit {
  background: #fff;
  border-top: 2px solid transparent;
  box-shadow: 0 1px 1px rgba(3, 3, 3, 0.175);
  padding: 0 20px;
}
