<div class="row row-cards-pf connections-view"
     [ngClass]="{edit: 'edit', create: 'create'}[mode] || 'view'"
     *ngIf="connection">

  <!-- Connections: Basics -->

  <div class="col-xs-4"
       *ngIf="showName">
    <div class="card-pf">
      <div class="card-pf-body">
        <div class="icon">
          <span class="card-pf-icon-large image-icon">
            <img src="../../../assets/icons/{{ connection.connectorId }}.connection.png">
          </span>
        </div>
        <div class="name">
          <h2 class="card-pf-title">{{name}}</h2>
        </div>
        <div class="description">{{description}}</div>
        <div class="tags">
          <span class="label label-primary"
                *ngFor="let tag of tagsArray">{{tag}}</span>
        </div>
      </div>
    </div>
  </div>

  <div [class]="columnClass()"
       [ngSwitch]="mode">

    <!-- Editing the connection configuration -->

    <div [class]="inView ? '' : 'col-md-8 col-md-offset-2'"
         *ngSwitchCase="'edit'">
      <div class="card-pf">
        <h2 class="card-pf-title">
          {{ connection?.connector?.name }} Configuration
          <div class="pull-right"
               *ngIf="formGroup">
            <p *ngIf="validating"
               class="inline-block">Validating, please wait...
              <span class="spinner spinner-xs spinner-inline"></span>
            </p>
            <button *ngIf="showButton(connection?.connector?.id)"
                    [disabled]="!formGroup.valid || validating"
                    (click)="doValidate(connection.connector, formGroup)"
                    class="btn btn-primary">Validate
            </button>
          </div>
        </h2>
        <div class="card-pf-body">
          <div *ngIf="validateError">
            <div class="alert alert-warning alert-dismissable">
              <button type="button"
                      class="close"
                      (click)="validateError = undefined">
                <span class="pficon pficon-close"></span>
              </button>
              <span class="pficon pficon-warning-triangle-o"></span>
              <p>Validation error:</p>
              <pre>{{ validateError }}</pre>
            </div>
          </div>
          <div *ngIf="validateSuccess">

            <div class="alert alert-success alert-dismissable">
              <button type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-hidden="true">
                <span class="pficon pficon-close"></span>
              </button>
              <span class="pficon pficon-ok"></span>
              <strong>{{ connection.connector.name }}</strong> has been successfully validated
            </div>
          </div>
          <div *ngIf="formModel && formGroup">
            <form class="form-horizontal"
                  [formGroup]="formGroup">
              <dynamic-form-bootstrap-control *ngFor="let controlModel of formModel"
                                              [controlGroup]="formGroup"
                                              [model]="controlModel"></dynamic-form-bootstrap-control>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end Editing -->

    <div *ngSwitchCase="'create1'">
      <div class="connector-list">
        <ipaas-connections-list-toolbar [(filter)]="filter"
                                        [(sort)]="sort"
                                        [showCreate]="false"></ipaas-connections-list-toolbar>

        <ipaas-connections-list [connections]="connectors | async | objectPropertyFilter:filter | objectPropertySort:sort"
                                [loading]="loading | async"
                                [showKebab]="false"
                                (onSelected)="onSelected($event)"></ipaas-connections-list>
      </div>
    </div>


    <!-- Creating the connection -->
    <div *ngSwitchCase="'create2'">
      <div class="card-pf">
        <h2 class="card-pf-title">Add Connection Details</h2>
        <div class="card-pf-body">
          <div class="row form">
            <form class="form-horizontal col-xs-6">
              <!-- replacing id with data-id to pass build errors -->
              <div class="form-group required">
                <label class="col-sm-4 control-label">Connection Name&nbsp;
                  <span style="color: red">*</span>
                </label>
                <div class="col-sm-8">
                  <input type="text"
                         name="nameInput"
                         data-id="nameInput"
                         placeholder="{{ name }}"
                         [(ngModel)]="name"
                         class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Description</label>
                <div class="col-sm-8">
                  <textarea data-id="descriptionInput"
                            name="descriptionInput"
                            class="form-control"
                            [(ngModel)]="description"
                            rows="2"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Tag(s)</label>
                <div class="col-sm-8">
                  <input type="text"
                         name="tagsInput"
                         data-id="tagsInput"
                         [(ngModel)]="tags"
                         class="form-control">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end Creating -->

    <!-- Viewing the connection configuration -->

    <div *ngSwitchDefault
         class="view">
      <div class="card-pf">
        <h2 class="card-pf-title">Connection Fields</h2>
        <div class="card-pf-body">
          <div *ngFor="let field of getFormFields(connection)">
            <dl class="dl-horizontal">
              <dt>
                {{ field.displayName }}
              </dt>
              <dd>
                <div *ngIf="field.secret">{{ getPassword(field.value) }}</div>
                <div *ngIf="!field.secret">{{ field.value || "&lt;not set&gt;" }}</div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <!-- end Viewing -->
  </div>
</div>
