<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright (C) 2017 Red Hat, Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<settings>
  <profiles>
    <profile>
      <id>syndesis-repos</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>apache-snapshot</id>
          <url>http://repository.apache.org/snapshots/</url>
        </repository>
        <repository>
          <id>ea-repo</id>
          <name>ea-repo</name>
          <url>http://origin-repository.jboss.org/nexus/content/groups/ea</url>
        </repository>
        <repository>
          <id>central</id>
          <name>Maven Central Repo</name>
          <url>http://repo1.maven.org/maven2/</url>
        </repository>
        <repository>
          <id>oss-sonatype-staging</id>
          <name>Sonatype Snapshot Repository</name>
          <url>https://oss.sonatype.org/content/repositories/snapshots</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>apache-snapshot</id>
          <url>http://repository.apache.org/snapshots/</url>
        </pluginRepository>
        <pluginRepository>
          <id>fuse-ea</id>
          <name>Fuse EA Repository</name>
          <url>https://repository.jboss.org/nexus/content/groups/ea</url>
        </pluginRepository>
        <pluginRepository>
          <id>enterprise</id>
          <name>Enterprise Releases</name>
          <url>http://maven.repository.redhat.com/techpreview/all/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>syndesis-repos</activeProfile>
  </activeProfiles>

</settings>

