<!-- Toolbar -->

<div class="row toolbar-pf toolbar">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="inline-block">
        <ol class="breadcrumb">
          <li>
            <a [routerLink]=" ['/'] ">Home</a>
          </li>
          <li>
            <a [routerLink]=" ['..'] ">Connections</a>
          </li>
          <li class="active"><strong>Create Connection</strong></li>
        </ol>
      </div>
      <div class="toolbar-pf-action-right">
        <button class="btn btn-default"
                (click)="cancel()">Cancel
        </button> &nbsp;
        <button class="btn btn-default"
                *ngIf="showBack()"
                (click)="goBack()">
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button class="btn btn-primary"
                *ngIf="getCurrentPage() === 'configure-fields'"
                (click)="goForward()"
                [disabled]="!canContinue()">
          Next <i class="fa fa-chevron-right"></i>
        </button>
        <button class="btn btn-primary"
                *ngIf="getCurrentPage() === 'review'"
                (click)="doCreate()"
                tourAnchor="connections.publish"
                [disabled]="!canContinue()">Create
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Wizard Progress Bar-->

<div class="row toolbar-pf steps">
  <!-- hidden -->
  <ul class="wizard-pf-steps-indicator center">
    <li class="wizard-pf-step"
        tourAnchor="connections.type">
      <a class="disabled"
          [routerLink]=" ['connection-basics'] "
          routerLinkActive="active">
        <span class="wizard-pf-step-number">1</span>
        <span class="wizard-pf-step-title">Select Connection Type</span>
      </a>
    </li>
    <li class="wizard-pf-step">
      <a class="disabled"
          [routerLink]=" ['configure-fields'] "
          routerLinkActive="active">
        <span class="wizard-pf-step-number">2</span>
        <span class="wizard-pf-step-title">Configure Connection</span>
      </a>
    </li>
    <li class="wizard-pf-step">
      <a class="disabled"
          [routerLink]=" ['review'] "
          routerLinkActive="active">
        <span class="wizard-pf-step-number">3</span>
        <span class="wizard-pf-step-title">Name Connection</span>
      </a>
    </li>
  </ul>
</div>

<!-- debug section -->
<!--
<div class="row">
  <pre>{{ connection | json }}</pre>
</div>
-->

<!-- Wizard Content -->

<router-outlet></router-outlet>
