.dv-client-session-metric__sessionCount {
  font-size: large;
  font-weight: 600;
}

.dv-client-session-metric__sessionText {
  font-size: small;
}

.dv-client-session-metric__content {
  align-items: center;
}
