.dv-result-set-cache-metric__content {
  align-items: center;
}

.dv-result-set-cache-metric__hitRatioText {
  font-size: small;
}

.dv-result-set-cache-metric__hitRatioPercentage {
  font-size: large;
  font-weight: 600;
}

