.dashboard__connections__actions .view,
.dashboard__integrations__actions .view {
  padding: 0.3em 0.8em;
}

.dashboard__connections__actions {
  padding: 0 10px;
}

.dashboard__metrics .card-pf.card-pf-aggregate-status {
  padding: 0 10px 24px 10px;
}

.dashboard__metrics .card-pf-title .card-pf-aggregate-status-count {
  font-size: 14px;
}

.dashboard__metrics .metrics-uptime {
  font-size: 24px;
  font-weight: 300;
}
