
.recent-updates-item {
  cursor: default;
  padding: 10px 0;
}

.recent-updates-item .recent-updates-item__title-container {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

.recent-updates-item:hover {
  background: rgba(214,238,250,.36);
}
