.top-integrations .integration-list-item {
  padding-left: 20px;
  padding-right: 20px;
}

.top-integrations__heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.top-integrations__heading-daterange {
  font-size: 11px;
  color: #8b8d8f;
}

.top-integrations .list-group-item {
  border: 0;
  background-clip: border-box;
}
