<syndesis-list-toolbar [items]="integrations"
                       [filteredItems]="filteredIntegrations"
                       [actionTemplate]="actionTemplate">
  <ng-template #actionTemplate>
    <button type="button"
            class="btn btn-primary toolbar-pf-action-right"
            [routerLink]="['/integrations/create']">
            Create Integration
    </button>
  </ng-template>
</syndesis-list-toolbar>

<div class="integrations list-page">
  <p>&nbsp;</p>
  <tabset class="nav nav-tabs nav-tabs-pf">
    <tab heading="All" (select)="statusFilter.filter = ''"></tab>
    <tab heading="Active" (select)="statusFilter.filter = 'Activated'"></tab>
    <tab heading="Inactive" (select)="statusFilter.filter = 'Deactivated'"></tab>
    <tab heading="Draft" (select)="statusFilter.filter = 'Draft'"></tab>
  </tabset>

  <syndesis-loading [loading]="loading | async">
    <syndesis-integrations-list [complete]="true"
                                [integrations]="filteredIntegrations | async | objectPropertyFilter: statusFilter"></syndesis-integrations-list>
  </syndesis-loading>
</div>
