<div class="integrations list-page">
  <syndesis-integrations-list-toolbar [(filter)]="filter"
                                   [(sort)]="sort"></syndesis-integrations-list-toolbar>
  <p>&nbsp;</p>
  <tabset class="nav nav-tabs nav-tabs-pf">
    <tab heading="All" (select)="statusFilter.filter = ''"></tab>
    <tab heading="Active" (select)="statusFilter.filter = 'Activated'"></tab>
    <tab heading="Inactive" (select)="statusFilter.filter = 'Deactivated'"></tab>
    <tab heading="Draft" (select)="statusFilter.filter = 'Draft'"></tab>
  </tabset>

  <syndesis-integrations-list [integrations]="integrations | async | objectPropertyFilter: statusFilter | objectPropertyFilter:filter | objectPropertySort:sort"

                           [loading]="loading | async"></syndesis-integrations-list>
</div>
