<syndesis-list-toolbar [items]="integrations"
                       [filteredItems]="filteredIntegrations"
                       [viewTemplate]="viewTemplate"
                       [filterFields]="filterFields">
  <ng-template #viewTemplate>
    <button type="button"
            class="btn btn-primary toolbar-pf-action-right"
            [routerLink]="['/integrations/create']">
            Create Integration
    </button>
  </ng-template>
</syndesis-list-toolbar>

<syndesis-loading [loading]="loading | async">
  <syndesis-integrations-list [complete]="true"
                              [integrations]="filteredIntegrations | async"></syndesis-integrations-list>
</syndesis-loading>
