<div class="step-configure row"
     *ngIf="step">
  <div class="col-md-12">
    <!-- Toolbar -->
    <div [class]="getToolbarClass()">
      <!-- Toolbar: Breadcrumbs -->
      <div class="row toolbar-pf">
        <div class="col-sm-12">
          <div class="toolbar-pf-actions">
            <div class="inline-block">
              <ol class="breadcrumb">
                <li><a [routerLink]="['/']"><i class="fa fa-angle-double-left"></i> Dashboard</a></li>
                <li class="active">Configure {{ step.stepKind }}</li>
              </ol>
            </div>
            <div class="toolbar-pf-action-right">
              <!--
              <button class="btn btn-default" (click)="cancel()">Cancel</button> &nbsp;
              <button class="btn btn-default" (click)="goBack()"><i class="fa fa-chevron-left"></i> Back</button>
              -->
              <button type="button"
                      class="btn btn-primary"
                      (click)="continue()">Next <i class="fa fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [class]="step.stepKind !== 'mapper' ? 'wizard-pf-body clearfix' : ''">
      <div [ngSwitch]="step.stepKind">
        <div *ngSwitchCase="'mapper'">
          <div class="row">
            <div class="col-md-12">
              <syndesis-data-mapper-host></syndesis-data-mapper-host>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'basic-filter'">
          <div class="row">
            <div class="col-md-12">
              <syndesis-basic-filter [(basicFilterObject)]="filterForm"></syndesis-basic-filter>
            </div>
          </div>
        </div>
        <div *ngSwitchDefault>
          <div class="title">
            <h1>Configure {{ step.stepKind }}</h1>
          </div>
          <p>Fill out the fields associated with the selected step.</p>
          <div *ngIf="formGroup">
            <form class="form-horizontal"
                  [formGroup]="formGroup">
              <dynamic-form-bootstrap-control *ngFor="let controlModel of formModel"
                                              [group]="formGroup"
                                              [model]="controlModel"></dynamic-form-bootstrap-control>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
