.connection-card,
.connection-card:hover {
  color: inherit;
  cursor: pointer;
  height: 240px;
  position: relative;
  text-decoration: none;
}

.connection-card:hover {
  box-shadow: 0 1px 6px rgba(3,3,3,.35);
}

.connection-card__heading--tech-preview {
  color: #363636;
  cursor: pointer;
  font-size: small;
  padding: 5px 10px;
}

.connection-card__heading--no-border {
  border-bottom: 1px solid #FFFF;
  font-size: small;
  padding: 4px;
}

.connection-card__heading .heading__dropdown {
  position: absolute;
  top: 35px;
  right: 10px;
}

a.connection-card__content:hover,
a.connection-card__content:focus {
  color: initial;
  text-decoration: none;
}

.connection-card__body {
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.connection-card__body .connection-card__icon {
  max-height: 35px;
  max-width: 35px;
  margin-bottom: 25px;
  padding: 3px;
}

.connection-card__body .connection-card__title,
.connection-card__body .connection-card__title:hover {
  color: initial;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

.connection-card__body .connection-card__description {
  color: initial;
  font-size: small;
  font-weight: 300;
  margin-top: 15px;
  text-decoration: none;
}

.connection-card__footer--config-required {
  background-color: #fdf2e5;
  border-color: #ec7a08;
  font-size: smaller;
  text-align: center;
  padding: 15px;
}
