.connection-details-header__row {
  align-items: center;
}

.connection-details-header__connectionName {
  font-size: 2em;
}

.connection-details-header__connectionIcon {
  width: 46px;
}

.connection-details-header__propertyLabel {
  --pf-c-content--dt--FontWeight: bold; /* override for OpenSans not supporting weight 500 */
}
