.connection-card,
.connection-card:hover {
  color: inherit;
  cursor: pointer;
  height: 240px;
  position: relative;
  text-decoration: none;
  padding-top: 2em;
}

.connection-card:hover {
  box-shadow: 0 1px 6px rgba(3,3,3,.35);
}

.connection-card__tech-preview {
  color: #363636;
  cursor: pointer;
  font-size: small;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #d1d1d1;
}

.connection-card__heading--no-border {
  border-bottom: 1px solid #FFFF;
  font-size: small;
  padding: 4px;
}

.connection-card__dropdown {
  position: absolute;
  top: calc(2em + 8px);
  right: 10px;
}

a.connection-card__content:hover,
a.connection-card__content:focus {
  color: initial;
  text-decoration: none;
}

.connection-card__body {
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.connection-card__body .connection-card__icon {
  height: 35px;
  width: 35px;
  margin-bottom: 25px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connection-card__body .connection-card__title,
.connection-card__body .connection-card__title:hover {
  color: initial;
  text-decoration: none;
}

.connection-card__body .connection-card__description {
  color: initial;
  font-size: small;
  font-weight: 300;
  margin-top: 15px;
  text-decoration: none;
  overflow: hidden;
  max-height: var(--pf-global--spacer--3xl);
}

.pf-c-card__footer.connection-card__footer--config-required {
  background-color: #fdf2e5;
  border-color: #ec7a08;
  font-size: smaller;
  text-align: center;
  padding: 16px;
}
