.step-configure {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: visible;
  .toolbar {
    flex: 0 0 auto;
    &.mapper {
      margin-top: 15px;
    }
    .toolbar-pf {
      background: none !important;
      border-bottom: 1px #d9d9d9 solid;
      box-shadow: none;
      margin: 0;
      padding: 0 0 10px 0;
      .breadcrumb {
        padding: 0;
        margin: 0;
      }
      .toolbar-pf-actions {
        margin-bottom: 0;
      }
    }
  }
  .body {
    flex: 1 1 auto;
    position: relative;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
    margin-bottom: -20px;
    padding-bottom: 20px;
    &.mapper {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  /deep/ .control-buttons {
    margin-right: 15px;
    .btn {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}
