<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">

  <modelVersion>4.0.0</modelVersion>

  <groupId>io.syndesis.integrations</groupId>
  <artifactId>project</artifactId>
  <version>0.1-SNAPSHOT</version>
  <name>Syndesis Integrations :: {{name}}</name>
  {{#description}}<description>{{description}}</description>{{/description}}
  <packaging>jar</packaging>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>

    <!--
        The spring-boot-starter-parent chooses fairly conservative Java compatibility. If you want to follow our
        recommendation and use a later Java version you can add a java.version property
    -->
    <java.version>1.8</java.version>

    <spring-boot.version>@spring-boot.version@</spring-boot.version>
    <camel.version>@camel.version@</camel.version>
    <syndesis.version>@syndesis.version@</syndesis.version>
  </properties>
  {{^mavenRepositories.empty}}

  <repositories>
    {{#mavenRepositories}}
    <repository>
      <id>{{key}}</id>
      <name>{{key}}</name>
      <url>{{value}}</url>
    </repository>
    {{/mavenRepositories}}
  </repositories>

  <pluginRepositories>
    {{#mavenRepositories}}
    <pluginRepository>
      <id>{{key}}</id>
      <name>{{key}}</name>
      <url>{{value}}</url>
    </pluginRepository>
    {{/mavenRepositories}}
  </pluginRepositories>
  {{/mavenRepositories.empty}}

  <dependencyManagement>
    <dependencies>
      <dependency>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-dependencies</artifactId>
        <version>\${spring-boot.version}</version>
        <type>pom</type>
        <scope>import</scope>
      </dependency>
      <dependency>
        <groupId>org.apache.camel</groupId>
        <artifactId>camel-spring-boot-dependencies</artifactId>
        <version>\${camel.version}</version>
        <type>pom</type>
        <scope>import</scope>
      </dependency>
      <dependency>
        <groupId>io.syndesis.integration</groupId>
        <artifactId>integration-bom</artifactId>
        <version>\${syndesis.version}</version>
        <type>pom</type>
        <scope>import</scope>
      </dependency>
    </dependencies>
  </dependencyManagement>

  <dependencies>
    <!-- atlasmap runtime -->
    <dependency>
      <groupId>io.atlasmap</groupId>
      <artifactId>camel-atlasmap</artifactId>
    </dependency>

    <!-- dependencies used in this integration -->
  {{#dependencies}}
    <dependency>
      <groupId>{{groupId}}</groupId>
      <artifactId>{{artifactId}}</artifactId>
    </dependency>
  {{/dependencies}}

    <!-- spring-boot as runtime -->
    <dependency>
      <groupId>org.apache.camel</groupId>
      <artifactId>camel-spring-boot-starter</artifactId>
    </dependency>
    <dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-web</artifactId>
      <exclusions>
        <exclusion>
          <groupId>org.springframework.boot</groupId>
          <artifactId>spring-boot-starter-tomcat</artifactId>
        </exclusion>
      </exclusions>
    </dependency>
    <dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-undertow</artifactId>
    </dependency>
    <dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-actuator</artifactId>
    </dependency>

    <!-- Integration runtime -->
    <dependency>
      <groupId>io.syndesis.integration</groupId>
      <artifactId>integration-runtime</artifactId>
    </dependency>

    <dependency>
      <groupId>io.syndesis.integration</groupId>
      <artifactId>integration-runtime-springboot</artifactId>
    </dependency>

  </dependencies>

  <build>
    <plugins>
      <plugin>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-maven-plugin</artifactId>
        <version>\${spring-boot.version}</version>
        <configuration>
          <layout>ZIP</layout>
        </configuration>
        <executions>
          <execution>
            <goals>
              <goal>repackage</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>

</project>
