.Loader.is-block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 1em 1em 0;
}

.Loader.is-inline {
  display: inline-flex;
  align-items: center;
  margin: 0 1em 0em 0;
}
