<syndesis-loading [loading]="!current.loaded" [content]="content">
  <ng-template #content>
    <div class="wizard-pf-contents">
      <div class="row row-cards-pf connections-view">
        <div class="col-md-8 col-md-offset-2">
          <div class="card-pf">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                {{ 'thing-configuration' | synI18n: connection?.connector?.name }}
              </h2>
            </div>
            <div class="card-pf-body">
              <ng-container *ngIf='!hasCredentials'>
                <div *ngIf="formModel && formGroup">
                  <form class="form-horizontal" [formGroup]="formGroup">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <syndesis-connection-configuration-validation [connection]="connection" [formGroup]="formGroup" placement="right" primaryAction></syndesis-connection-configuration-validation>
                      </div>
                    </div>
                    <p class="fields-status-pf" [innerHTML]="'required-fields' | synI18n"></p>
                    <syndesis-form-control *ngFor="let controlModel of formModel" [group]="formGroup" [model]="controlModel"></syndesis-form-control>
                  </form>
                  <form *ngIf="!formModel.length">
                    <p class="alert alert-info">{{ 'no-properties' | synI18n }}</p>
                  </form>
                </div>
              </ng-container>
              <ng-container *ngIf='hasCredentials'>
                <p>{{ 'connections.oauth-prompt' | synI18n: connection?.connector?.name }}</p>
                <div class="alert alert-warning alert-dismissable" *ngIf="current.oauthError">
                  <button type="button" class="close" (click)="current.clearOAuthError()"></button>
                  <span class="pficon pficon-warning-triangle-o"></span>
                  <p [innerHTML]='current.oauthStatus.message'></p>
                </div>
                <p class="text-center">
                  <button class="btn btn-primary" [disabled]="acquiringCredentials" (click)="acquireCredentials()">
                    <span *ngIf="acquiringCredentials" class="spinner spinner-sm spinner-inline"></span>
                    {{ 'connections.oauth-button' | synI18n: connection?.connector?.name }}
                  </button>
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</syndesis-loading>
<syndesis-modal title="{{ 'connections.leave-page-title' | synI18n }}" message="{{ 'connections.leave-page-message' | synI18n }}">
</syndesis-modal>
