<openapi-editor
  [title]="'customizations.api-client-connectors.edit-api-definition' | synI18n"
  [specification]="specification"
  (onBack)="onBack.emit()"
  (onCancel)="showCancelModal()"
  (onSave)="onApiDefinitionChange($event)">
</openapi-editor>

<ng-template #cancelModalTemplate>
  <cancel-confirmation-modal
    (cancel)="onCancelModalCancel($event)"
    primaryLabel="Yes"
    secondaryLabel="No">
    <p class="lead">{{ 'customizations.api-client-connectors.cancel-api-editor-modal-lead' | synI18n }}</p>
    <p>{{ 'customizations.api-client-connectors.cancel-api-editor-modal' | synI18n: specificationTitle }}</p>
  </cancel-confirmation-modal>
</ng-template>
