.connection-select {
  .toolbar {
    margin: 0 -20px;

    .toolbar-pf {
      background: none !important;
      border-bottom: 1px #D9D9D9 solid;
      box-shadow: none;
      margin: 0;
      padding: 0 0 10px 0;

      .breadcrumb {
        padding: 0;
        margin: 0;
      }

      .search {
        width: 50%;

        .input-group {
          width: 80%;
        }
      }

      .toolbar-pf-actions {
        margin-bottom: 0;
      }
    }
  }

  /deep/ .card {
    .card-pf.card-pf-view.card-pf-view-xs.card-pf-view-select.card-pf-view-single-select {
      cursor: pointer !important;
    }
  }
}

