#
# Copyright (C) 2016 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
version: 2

common_env: &common_env
  MAVEN_OPTS: -Xmx1024m
  DOCKER_VERSION: 18.06.1-ce

job_default: &job_defaults
  working_directory: /workspace
  docker:
    - image: openjdk:8-jdk
  filters:
    branches:
      only:
        - master
        - /\d+\.\d+\.x/

push_images: &push_images
  deploy:
    command: |
      if [ "${CIRCLE_PROJECT_USERNAME}" != "syndesisio" ]; then
        exit 0
      fi

      if [ ! -x /usr/bin/docker ]; then
        curl -fsSL https://download.docker.com/linux/static/stable/x86_64/docker-${DOCKER_VERSION}.tgz | tar xz -C /usr/bin --strip-components 1
      fi

      IMAGES_TO_PUSH=""
      for image in ${IMAGES}; do
        if [ ! -z "$(docker images -q $image)" ]; then
          IMAGES_TO_PUSH="$IMAGES_TO_PUSH $image"
        fi
      done

      if [ -z $IMAGES_TO_PUSH ]; then
        exit 0
      fi

      if [ "${CIRCLE_BRANCH}" == "master" ]; then
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        for image in ${DOCKER_IMAGES} ; do
          docker push syndesis/${image}:latest | cat -
        done
      fi
      if [[ "${CIRCLE_TAG}" =~ ^[0-9]+(\.[0-9]+){2} ]]; then
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        for image in ${IMAGES_TO_PUSH} ; do
          docker push syndesis/${image}:${CIRCLE_TAG} | cat -
          docker tag syndesis/${image}:${CIRCLE_TAG} syndesis/${image}:$(echo ${CIRCLE_TAG} | sed -e 's/\.[0-9][0-9]*$//')
          docker push syndesis/${image}:$(echo ${CIRCLE_TAG} | sed -e 's/\.[0-9][0-9]*$//')
        done
      fi

load_m2: &load_m2
  attach_workspace:
    at: ~/.m2

save_m2: &save_m2
  persist_to_workspace:
    root: ~/.m2
    paths:
      - repository/io/syndesis

save_junit: &save_junit
  run:
    name: Collect junit reports
    when: always
    command: |
      mkdir -p /workspace/junit/
      find . -type f -regextype posix-extended -regex ".*target/.*TESTS?-.*xml" | xargs -i cp --backup --suffix=.xml {} /workspace/junit/

jobs:
  # UI has no dependencies, just load cache
  ui:
    <<: *job_defaults
    environment:
      DOCKER_IMAGES: syndesis-ui
      CHROME_BIN: "/usr/bin/google-chrome"
      <<: *common_env
    steps:
      - setup_remote_docker
      - checkout
      - restore_cache:
          key: syndesis-mvn-ui-{{ checksum "app/ui-react/pom.xml" }}
      - restore_cache:
          key: syndesis-yarn-{{ checksum "app/ui-react/yarn.lock" }}
      - run:
          name: Build UI
          command: |
            apt-get update -y
            apt-get install -y --force-yes libxss1 patch apt-transport-https
            echo "deb https://dl.google.com/linux/chrome/deb/ stable main" > /etc/apt/sources.list.d/google-chrome.list
            curl -sSL https://dl.google.com/linux/linux_signing_key.pub | apt-key add -
            apt-get update -y
            apt-get install -y --force-yes --no-install-recommends  google-chrome-stable fontconfig fonts-ipafont-gothic fonts-wqy-zenhei fonts-thai-tlwg fonts-kacst fonts-symbola fonts-noto ttf-freefont
            ./tools/bin/syndesis build --batch-mode --module ui-react --docker | tee build_log.txt
      - <<: *save_junit
      - store_test_results:
          path: /workspace/junit
      - store_artifacts:
          path: ./build_ui_log.txt
      - save_cache:
          key: syndesis-yarn-{{ checksum "app/ui-react/yarn.lock" }}
          paths:
          - /usr/local/share/.cache/yarn/v1
      - store_artifacts:
          path: build_log.txt
      - save_cache:
          key: syndesis-mvn-ui-{{ checksum "app/ui-react/pom.xml" }}
          paths:
          - ~/.m2
      - <<: *push_images

  ui-legacy:
    <<: *job_defaults
    environment:
      DOCKER_IMAGES: syndesis-ui-legacy
      CHROME_BIN: "/usr/bin/google-chrome"
      <<: *common_env
    steps:
      - setup_remote_docker
      - checkout
      - restore_cache:
          key: syndesis-mvn-ui-legacy-{{ checksum "app/ui-angular/pom.xml" }}
      - restore_cache:
          key: syndesis-yarn-legacy-{{ checksum "app/ui-angular/yarn.lock" }}
      - run:
          name: Build UI
          command: |
            apt-get update -y
            apt-get install -y --force-yes libxss1 patch apt-transport-https
            echo "deb https://dl.google.com/linux/chrome/deb/ stable main" > /etc/apt/sources.list.d/google-chrome.list
            curl -sSL https://dl.google.com/linux/linux_signing_key.pub | apt-key add -
            apt-get update -y
            apt-get install -y --force-yes --no-install-recommends  google-chrome-stable fontconfig fonts-ipafont-gothic fonts-wqy-zenhei fonts-thai-tlwg fonts-kacst fonts-symbola fonts-noto ttf-freefont
            ./tools/bin/syndesis build --batch-mode --module ui-angular --docker | tee build_log.txt
      - <<: *save_junit
      - store_test_results:
          path: /workspace/junit
      - store_artifacts:
          path: ./build_ui_log.txt
      - save_cache:
          key: syndesis-yarn-legacy-{{ checksum "app/ui-angular/yarn.lock" }}
          paths:
          - /usr/local/share/.cache/yarn/v1
      - store_artifacts:
          path: build_log.txt
      - save_cache:
          key: syndesis-mvn-ui-legacy{{ checksum "app/ui-angular/pom.xml" }}
          paths:
          - ~/.m2
      - <<: *push_images

  # Connector depends on integration, mount workspace .m2
  connector:
    <<: *job_defaults
    environment:
      <<: *common_env
    steps:
      - checkout
      - restore_cache:
          key: syndesis-mvn-connector-{{ checksum "app/connector/pom.xml" }}
      - <<: *load_m2
      - run:
          name: Build Connectors
          command: |
            ./tools/bin/syndesis build --batch-mode --module connector | tee build_log.txt
      - <<: *save_junit
      - store_test_results:
          path: /workspace/junit
      - store_artifacts:
          path: build_log.txt
      - save_cache:
          key: syndesis-mvn-connector-{{ checksum "app/connector/pom.xml" }}
          paths:
          - ~/.m2
      - <<: *save_m2


  # Meta depends on connectors, mount workspace .m2
  meta:
    <<: *job_defaults
    environment:
      DOCKER_IMAGES: syndesis-meta
      <<: *common_env
    steps:
      - setup_remote_docker
      - checkout
      - restore_cache:
          key: syndesis-mvn-meta-{{ checksum "app/meta/pom.xml" }}
      - <<: *load_m2
      - run:
          name: Build Meta
          command: |
            ./tools/bin/syndesis build --batch-mode --module meta --docker | tee build_log.txt
      - <<: *save_junit
      - store_test_results:
          path: /workspace/junit
      - store_artifacts:
          path: build_log.txt
      - <<: *push_images
      - <<: *save_m2
      - save_cache:
          key: syndesis-mvn-meta-{{ checksum "app/meta/pom.xml" }}
          paths:
          - ~/.m2

  # Common has no dependencies, just load cache
  common:
    <<: *job_defaults
    environment:
      <<: *common_env
    steps:
      - checkout
      - restore_cache:
          key: syndesis-mvn-common-{{ checksum "app/common/pom.xml" }}
      - <<: *load_m2
      - run:
          name: Build Common
          command: |
            ./tools/bin/syndesis build --batch-mode --module common | tee build_log.txt
      - <<: *save_junit
      - store_test_results:
          path: /workspace/junit
      - store_artifacts:
          path: build_log.txt
      - <<: *save_m2
      - save_cache:
          key: syndesis-mvn-common-{{ checksum "app/common/pom.xml" }}
          paths:
          - ~/.m2

  # Extension depends on common
  extension:
    <<: *job_defaults
    environment:
      <<: *common_env
    steps:
      - checkout
      - restore_cache:
          key: syndesis-mvn-extension-{{ checksum "app/extension/pom.xml" }}
      - <<: *load_m2
      - run:
          name: Build Extension
          command: |
            ./tools/bin/syndesis build --batch-mode --module extension | tee build_log.txt
      - <<: *save_junit
      - store_test_results:
          path: /workspace/junit
      - store_artifacts:
          path: build_log.txt
      - <<: *save_m2
      - save_cache:
          key: syndesis-mvn-extension-{{ checksum "app/extension/pom.xml" }}
          paths:
          - ~/.m2

  # integration dependes on extension, mount workspace .m2
  integration:
    <<: *job_defaults
    environment:
      <<: *common_env
    steps:
      - checkout
      - restore_cache:
          key: syndesis-mvn-integration-{{ checksum "app/integration/pom.xml" }}
      - <<: *load_m2
      - run:
          name: Build Connectors
          command: |
            ./tools/bin/syndesis build --batch-mode --module integration | tee build_log.txt
      - <<: *save_junit
      - store_test_results:
          path: /workspace/junit
      - store_artifacts:
          path: build_log.txt
      - save_cache:
          key: syndesis-mvn-integration-{{ checksum "app/integration/pom.xml" }}
          paths:
          - ~/.m2
      - <<: *save_m2

  # S2I image
  s2i:
    <<: *job_defaults
    environment:
      DOCKER_IMAGES: syndesis-s2i
      <<: *common_env
    steps:
      - setup_remote_docker
      - checkout
      - restore_cache:
          key: syndesis-mvn-s2i-{{ checksum "app/s2i/pom.xml" }}
      - <<: *load_m2
      - run:
          name: Build S2I Builder image
          command: |
            ./tools/bin/syndesis build --batch-mode --module s2i --docker | tee build_log.txt
      - store_artifacts:
          path: build_log.txt
      - <<: *push_images
      - <<: *save_m2
      - save_cache:
          key: syndesis-mvn-s2i-{{ checksum "app/s2i/pom.xml" }}
          paths:
          - ~/.m2

  # "server" depends on common, connector and integration, mount workspace .m2
  server:
    <<: *job_defaults
    environment:
      DOCKER_IMAGES: syndesis-server
      <<: *common_env
    steps:
      - setup_remote_docker
      - checkout
      - restore_cache:
          key: syndesis-mvn-server-{{ checksum "app/server/pom.xml" }}
      - <<: *load_m2
      - run:
          name: Build Server
          command: |
            ./tools/bin/syndesis build --batch-mode --module server --docker | tee build_log.txt
      - run:
          name: Collect API docs
          command: |
            mkdir ./apidocs
            if [[ -d app/runtime/runtime/target/classes/static ]]; then
              cp app/runtime/runtime/target/classes/static/index.html ./apidocs
              cp app/runtime/runtime/target/classes/static/swagger.json ./apidocs
              cp app/runtime/runtime/target/classes/static/swagger.yaml ./apidocs
            fi
      - <<: *save_junit
      - store_test_results:
          path: /workspace/junit
      - store_artifacts:
          path: apidocs
      - store_artifacts:
          path: build_log.txt
      - <<: *push_images
      - <<: *save_m2
      - save_cache:
          key: syndesis-mvn-server-{{ checksum "app/server/pom.xml" }}
          paths:
          - ~/.m2

  operator:
    machine: true
    environment:
      DOCKER_IMAGES: syndesis-operator
      <<: *common_env
    steps:
      - checkout
      - run:
          name: Build Operator
          command: |
            ./tools/bin/syndesis build --module operator --image --docker --ensure | tee build_log.txt
      - store_artifacts:
          path: build_log.txt
      - <<: *push_images

  upgrade:
    <<: *job_defaults
    environment:
      DOCKER_IMAGES: syndesis-upgrade
      <<: *common_env
    steps:
      - setup_remote_docker
      - checkout
      - restore_cache:
          key: syndesis-mvn-server-{{ checksum "app/server/pom.xml" }}
      - <<: *load_m2
      - run:
          name: Install Docker
          command: |
            if [ ! -x /usr/bin/docker ]; then
              curl -fsSL https://download.docker.com/linux/static/stable/x86_64/docker-${DOCKER_VERSION}.tgz | tar xz -C /usr/bin --strip-components 1
            fi
      - run:
          name: Build CLI jar
          command: |
            ./tools/bin/syndesis build --batch-mode --flash --module server
      - run:
          name: Build upgrade image
          command: |
            ./tools/bin/syndesis build --batch-mode --module upgrade --docker
      - <<: *push_images


  system-test:
    <<: *job_defaults
    environment:
      <<: *common_env
    steps:
      - checkout
      - run:
          name: Prep for Maven cache load
          command: |
            cat $(find app -name pom.xml ! -path */src/* | sort) > all-poms
      - restore_cache:
          key: syndesis-mvn-tests-{{ checksum "all-poms" }}
      - run:
          name: Run System Tests
          command: |
            if [ -n "${OPENSHIFT_TOKEN}" ]; then
              # Install 'oc' and login
              curl -fsSL https://github.com/openshift/origin/releases/download/v3.6.0/openshift-origin-client-tools-v3.6.0-c4dd4cf-linux-64bit.tar.gz | tar xz -C /usr/bin --strip-components 1
              oc login --server "${OPENSHIFT_SERVER}" --token "${OPENSHIFT_TOKEN}"
              test_id="${CIRCLE_JOB}-${CIRCLE_BUILD_NUM}"

              # Install missing libs for UI tests
              apt-get update
              apt-get install libxss1

              ./tools/bin/syndesis system-test --batch-mode --server "${OPENSHIFT_SERVER}" --token "${OPENSHIFT_TOKEN}" --test-id "$test_id" --project ${OPENSHIFT_PROJECT} | tee test_log.txt | grep -v " Download"
              # Always cleanup
              ./tools/bin/syndesis system-test --release-project --test-id "$test_id"
            fi
      - store_artifacts:
          path: test_log.txt
      - save_cache:
          key: syndesis-mvn-tests-{{ checksum "all-poms" }}
          paths:
          - ~/.m2

  license-check:
    <<: *job_defaults
    environment:
      <<: *common_env
    steps:
      - checkout
      - run:
          name: Prep for Maven cache load
          command: |
            cat $(find app -name pom.xml ! -path */src/* | sort) > all-poms
      - restore_cache:
          key: syndesis-license-check-{{ checksum "all-poms" }}
      - run:
          name: License check
          command: |
            cd app
            ./mvnw -N install license:check
      - save_cache:
          key: syndesis-license-check-{{ checksum "all-poms" }}
          paths:
          - ~/.m2

  doc:
    docker:
      - image: syndesis/builder-doc
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "d8:49:be:71:ed:d9:d3:dc:7a:dd:35:ac:81:30:c5:d8"
      - run:
          name: Generate docs
          command: |
            git config --global user.email "circleci@syndesis.io"
            git config --global user.name "CircleCI"
            ./tools/bin/syndesis doc --local --html --pdf --gh-pages

workflows:
  version: 2
  syndesis:
    jobs:
      - system-test:
          filters:
            branches:
              only: system-test
      - doc:
          filters:
            branches:
              only: master
      - license-check
      - ui
      - ui-legacy
      - common
      - operator
      - extension:
          requires:
           - common
      - integration:
          requires:
            - extension
      - connector:
          requires:
            - integration
      - meta:
          requires:
            - connector
      - server:
          requires:
            - integration
            - connector
            - common
      - s2i:
          requires:
            - server
      - upgrade:
          filters:
            branches:
              only: master
          requires:
            - server
