#
# Copyright (C) 2016 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
version: 2
jobs:
  build:
    working_directory: /workspace
    docker:
    - image: openjdk:8-jdk
    environment:
      MAVEN_OPTS: -Xmx1024m
      DOCKER_VERSION: 17.04.0-ce

    steps:
      - setup_remote_docker

      - checkout

      - run:
          name: Prep for Cache Load
          command: |
            find app | grep pom.xml | grep -v src/test/resources | grep -v src/main/resources | sort | xargs cat > all-poms

      - restore_cache:
          key: syndesis-mvn-{{ checksum "all-poms" }}
      - restore_cache:
          key: syndesis-yarn-{{ checksum "app/ui/yarn.lock" }}

      - run:
          name: Build
          command: |
            ./app/build.sh --batch-mode --image-mode=docker | tee build_log.txt
      
      - save_cache:
          key: syndesis-mvn-{{ checksum "all-poms" }}
          paths:
          - ~/.m2
      - save_cache:
          key: syndesis-yarn-{{ checksum "ui/yarn.lock" }}
          paths:
          - /usr/local/share/.cache/yarn/v1

      - run:
          name: Collect junit reports
          command: |
            mkdir ./junit/
            find . -type f -regex "app/.*/target/.*-reports/.*xml" -exec cp {} ./junit/ \;

      - run:
          name: Collect API docs
          command: |
            mkdir ./apidocs
            if [[ -d app/runtime/runtime/target/classes/static ]]; then
              cp app/runtime/runtime/target/classes/static/index.html ./apidocs
              cp app/runtime/runtime/target/classes/static/swagger.json ./apidocs
              cp app/runtime/runtime/target/classes/static/swagger.yaml ./apidocs
            fi

      - store_artifacts:
          path: all-poms
      - store_artifacts:
          path: ./apidocs
      - store_artifacts:
          path: ./junit
      - store_artifacts:
          path: ./build_log.txt


      - deploy:
          command: |
            if [ "${CIRCLE_PROJECT_USERNAME}" != "syndesisio" ]; then
              exit 0
            fi

            curl -fsSL https://get.docker.com/builds/Linux/x86_64/docker-${DOCKER_VERSION}.tgz | tar xz -C /usr/bin --strip-components 1

            IMAGES='syndesis-rest syndesis-verifier syndesis-ui syndesis-s2i'

            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
              for image in ${IMAGES} ; do
                docker push syndesis/${image}:latest | cat -
              done
            fi
            if [[ "${CIRCLE_TAG}" =~ ^[0-9]+(\.[0-9]+){2} ]]; then
              docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
              for image in ${IMAGES} ; do
                docker push syndesis/${image}:${CIRCLE_TAG} | cat -
                docker tag syndesis/${image}:${CIRCLE_TAG} syndesis/${image}:$(echo ${CIRCLE_TAG} | sed -e 's/\.[0-9][0-9]*$//')
                docker push syndesis/${image}:$(echo ${CIRCLE_TAG} | sed -e 's/\.[0-9][0-9]*$//')
              done
            fi

