@import 'patternfly-sass/assets/stylesheets/patternfly/color-variables';

.api-connector-detail {
  a, a:visited, a:active, a:hover {
    cursor: pointer;
    text-decoration: none;
  }

  .content {
    margin-top: 30px;

    .icon {
      button {
        margin-left: 25px;
      }

      .fa {
        padding: 0 10px;
      }
    }
  }

  .table {
    margin-top: 20px;

    tr {

      th {
        border: none;
        max-width: 35px;
        padding: 15px 0;
        text-align: right;
      }

      td {
        border: none;
        padding: 15px 0 15px 40px;
      }
    }
  }
}
