@import 'patternfly-sass/assets/stylesheets/patternfly/color-variables';

:host {
  flex: 1 1 auto;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;
  // Dock the scrollbar to the right
  margin-right: -20px;
  padding-right: 20px;
}

.api-connector-list {
  height: 100%;

  .col-xs-12 {
    height: 100%;
  }

  & /deep/ .toolbar-pf {
    background: inherit;
    box-shadow: none;
    border-bottom-color: transparent;
  }

  a, a:visited, a:active, a:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
