@import 'patternfly-sass/assets/stylesheets/patternfly/color-variables';

.api-connector-detail {
  a, a:visited, a:active, a:hover {
    cursor: pointer;
    text-decoration: none;
  }

  /**
  So that first table column is not indented
   */
  tr th {
    padding-left: 0;
  }

  .content {
    margin-top: 30px;
  }
}
