<nav class="row toolbar-pf">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="inline-block">
        <ol class="breadcrumb no-bottom-margin">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a [routerLink]="['/customizations']">
              Customizations
            </a>
          </li>
          <li>
            <a [routerLink]="['..']">
              API Client Connector
            </a>
          </li>
          <li class="active">
            <strong>
              Connector Details
            </strong>
          </li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<article class="api-connector-detail row" *ngIf="apiConnectorData$ | async; let apiConnectorData">
  <div class="col-xs-12">
    <section class="col-sm-4">
      <div class="card-pf card-pf-view">
        <div class="card-pf-body">
          <div class="card-pf-top-element text-center">
            <img class="syn-icon-large" [src]="apiConnectorData | synIconPath:true"/>
          </div>
          <h2 class="card-pf-title text-center">
            {{ apiConnectorData.name || 'N/A' }}
          </h2>
          <div class="card-pf-items text-center"
            [innerHtml]=" (apiConnectorData.description || 'N/A') | synParseMarkdownLinks">
          </div>
        </div>
      </div>
    </section>

    <section class="col-sm-8">
      <div class="card-pf">
        <div class="card-pf-heading api-connector-detail__header">
          <div class="spinner spinner-lg api-connector-detail__loader"
            [class.api-connector-detail__loader--loading]="(apiConnectorState$ | async)?.loading">
          </div>
          <h2 class="card-pf-title">{{ apiConnectorData.name }}</h2>
        </div>
        <div class="card-pf-body">
          <syndesis-api-connector-info
            [apiConnectorData]="apiConnectorData"
            [apiConnectorState]="apiConnectorState$ | async"
            (update)="onUpdate($event)">
          </syndesis-api-connector-info>
          <syndesis-api-connector-review
            *ngIf="(createRequest$ | async).actionsSummary"
            [apiConnectorTemplateName]="apiConnectorData.name"
            [enableEditButton]="false"
            [loading]="(loading$ | async)"
            [showNextButton]="false"
            [validation]="(createRequest$ | async)">
          </syndesis-api-connector-review>
        </div>
      </div>
    </section>
  </div>
</article>
