@import 'syndesis-sass';

.api-connector-detail {
  margin-top: $top-page-gutter;

  &__header {
    position: relative;
  }

  &__loader {
    position: absolute;
    right: $forms-grid-gutter;
    top: -5px;
    opacity: 0;
    @include transition(opacity 0.6s ease-in-out);

    &--loading {
      opacity: 1;
    }
  }
}
