.view-permission-list-list_heading {
  visibility: hidden;
}
.view-permission-list_headingText {
  font-weight: bold;
}

.view-permission-list_set-model {
  overflow: hidden;
  padding-bottom: 15px;
}

.view-permission-list_set-model_grant {
  justify-content: center;
  padding: 15px;
}

.view-permission-list_clear-model {
  overflow: hidden;
}

.view-permission-list_model-text-size {
  font-size: 1.3em;
}

.view-permission-list_radios {
  margin-bottom: 15px;
}

.view-permission-list_sso-warning-text {
  margin-left: 5px;
}

.view-permission-list_model-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
