.view-permission-list-items-permission_badge {
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.view-permission-list-items-disabled_text {
  color: var(--pf-c-button--disabled--Color);
}
