{{- if and (not .Syndesis.Addons.Jaeger.ClientOnly) (not .Syndesis.Addons.Jaeger.OperatorOnly)}}
- apiVersion: jaegertracing.io/v1
  kind: Jaeger
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: jaeger
    name: syndesis-jaeger
  spec:
    strategy: allInOne
    allInOne:
    {{- if not .ApiServer.OlmSupport }}
      #
      # Difficult to control the image version in an OperatorHub env
      #
      image: '{{ .Syndesis.Addons.Jaeger.ImageAllInOne }}'
    {{- end}}
      options:
        memory:
          max-traces: 100000
      ingress:
        enabled: false
{{- end}}

#
# This is required in both the hybrid and default cases:
# 1) In the default case, the jaeger instance is initialised by the
#    syndesis-enabled jaeger-operator and the query url expects to
#    access the 'noauth-syndesis-jaeger-query' service;
# 2) In the hybrid case, the user has requested syndesis enable the
#    jaeger operator but not create a CR. However, the query url from
#    the syndesis server still expects 'noauth-syndesis-jaeger-query'
#    and the jaeger instance is still 'owned' by the syndesis-enabled
#    operator so this service is still required.
#
# Only in the client-only use-case is this not necessary because the user
# would be expected to override the queryUrl and collectorUrl seeing as
# the jaeger-instance would be completely independent and have no relation
# to the default service hostnames.
#
{{- if not .Syndesis.Addons.Jaeger.ClientOnly }}
#
# This is service is here as a hack to more easily access the query api from syndesis, bypassing
# the oauth proxy..
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: jaeger
    name: noauth-syndesis-jaeger-query
  spec:
    ports:
      - name: query
        port: 443
        protocol: TCP
        targetPort: 16686
    selector:
      app: jaeger
      app.kubernetes.io/component: all-in-one
      app.kubernetes.io/name: syndesis-jaeger
{{- end}}
