<syndesis-loading [loading]="!currentFlowService.loaded">
  <div class="main-panel-inner">
    <!-- Toolbar -->
    <div class="toolbar">
      <!-- Toolbar: Breadcrumbs -->
      <div class="row toolbar-pf">
        <div class="col-sm-12">
          <div class="toolbar-pf-actions">
            <div class="inline-block">
              <ol class="breadcrumb">
                <li>
                  <a [routerLink]="['/']">Home</a>
                </li>
                <li>
                  <a [routerLink]="['/integrations']">Integrations</a>
                </li>
                <li>
                  <a *ngIf="flowPageService.integrationName"
                     [routerLink]="['/integrations', currentFlowService.integration.id]">{{ flowPageService.integrationName }}</a>
                  <ng-container *ngIf="!flowPageService.integrationName">New Integration</ng-container>
                </li>
                <li class="active">Configure {{ actionName }}</li>
              </ol>
            </div>
            <div class="toolbar-pf-action-right">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-panel-body wizard-pf-body clearfix">
      <div class="title">
        <h1>{{ connectionName }}</h1>
        <h3>Specify {{ direction | capitalize }} Data Type</h3>
      </div>
      <ng-container *ngIf="formGroup">
        <form class="form-horizontal"
              [formGroup]="formGroup">
          <syndesis-form-control *ngFor="let controlModel of formModel"
                                  [group]="formGroup"
                                  [model]="controlModel"></syndesis-form-control>
        </form>
      </ng-container>
      <div class="pull-right control-buttons">
        <button class="btn btn-primary" type="button" (click)="continue()">Next</button>
      </div>
    </div>
  </div>
</syndesis-loading>
