- apiVersion: batch/v1
  kind: Job
  metadata:
    name: upgrade-db-migration
  spec:
    parallelism: 1
    completions: 1
    template:
      metadata:
        name: upgrade-db-migration
        labels:
          job-name: upgrade-db-migration
      spec:
        serviceAccountName: syndesis-default
        containers:
        - name: upgrade-db-migration
          image: "{{ .Syndesis.Components.Upgrade.Image }}"
          command:
            - "/opt/entrypoint.sh"
            - "--user"
            - "{{ .Syndesis.Components.Database.User }}"
            - "--pass"
            - "{{ .Syndesis.Components.Database.Password }}"
            - "--url"
            - "{{ .Syndesis.Components.Database.URL }}"
            - "--verbose"
        restartPolicy: Never
    backoffLimit: 3
