- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: syndesis-upgrade
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: '{{.Syndesis.Spec.Components.Upgrade.Resources.VolumeCapacity}}'
- apiVersion: v1
  kind: Pod
  metadata:
    name: {{.ProductName }}-upgrade-{{ .Tags.Upgrade }}
  spec:
    serviceAccountName: syndesis-operator
    containers:
    - name: upgrade
      image: '{{ .Syndesis.Spec.Components.Upgrade.Registry }}/{{ .Syndesis.Spec.Components.Upgrade.ImagePrefix }}/{{ .Images.Syndesis.Upgrade }}:{{ .Tags.Upgrade }}'
      env:
        - name: SYNDESIS_VERSION
          value: "{{ .Tags.Syndesis }}"
        - name: ENV_S2I_TARGET_TAG
          value: "{{ .Syndesis.Spec.Components.S2I.Tag }}"
        - name: SYNDESIS_UPGRADE_PROJECT
          valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
      imagePullPolicy: IfNotPresent
      args:
        - "--backup"
        - "/opt/backup"
        - "--tag"
        - "{{ .Syndesis.Status.TargetVersion }}"
        - "--verbose"
      volumeMounts:
      - mountPath: /opt/backup
        name: backup-dir
    volumes:
    - name: backup-dir
      persistentVolumeClaim:
        claimName: syndesis-upgrade
    restartPolicy: Never
