- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: syndesis-upgrade
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: '{{Env.UPGRADE_VOLUME_CAPACITY}}'
- apiVersion: v1
  kind: Pod
  metadata:
    name: {{ProductName}}-upgrade-{{ Tags.Upgrade }}
  spec:
    serviceAccountName: syndesis-operator
    containers:
    - name: upgrade
      image: '{{Env.UPGRADE_REGISTRY}}/{{ Images.SyndesisImagesPrefix }}/{{ Images.Syndesis.Upgrade }}:{{ Tags.Upgrade }}'
      env:
        - name: SYNDESIS_UPGRADE_PROJECT
          valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
      imagePullPolicy: IfNotPresent
      args:
        - "--backup"
        - "/opt/backup"
      volumeMounts:
      - mountPath: /opt/backup
        name: backup-dir
    volumes:
    - name: backup-dir
      persistentVolumeClaim:
        claimName: syndesis-upgrade
    restartPolicy: Never
