<div class="integrations list">

  <syndesis-modal [title]="'Confirm ' + getActionTitle()"
                  [message]="'Are you sure you would like to ' + getAction() + ' the \'' + selectedIntegration?.name + '\' integration?'">
  </syndesis-modal>

  <!-- List Container -->
  <pfng-list [items]="integrations"
             [config]="listConfig"
             [itemTemplate]="itemTemplate"
             [actionTemplate]="actionTemplate"
             (onActionSelect)="handleAction($event, undefined)"
             (onClick)="handleClick($event)">
    <ng-template #itemTemplate
                 let-integration="item"
                 let-index="index">
      <div class="list-pf-left integration-icons">
        <span *ngIf="getStart(integration).connection; let connection">
          <img src="{{ connectionIcon(connection) }}" height="40" width="40">
        </span>
        <span class="fa fa-angle-right"></span>
        <span *ngIf="getFinish(integration).connection; let connection">
          <img src="{{ connectionIcon(connection) }}" height="40" width="40">
        </span>
      </div>
      <div class="list-pf-content-wrapper">
        <div class="list-pf-main-content integration-content">
          <div *ngIf="complete"
               class="list-pf-title name">{{ integration.name }}</div>
          <div class="list-pf-description description">
            {{ complete ? integration.description : integration.name }}
          </div>
        </div>
        <div class="list-pf-additional-content integration-status">
          <syndesis-integration-status *ngIf="complete"
                                       [integration]="integration"></syndesis-integration-status>
          <div class="pass-fail">
            <!-- OK Status -->
            <i *ngIf="!integration.statusMessage"
               class="pficon pficon-ok"></i>
            <!-- Not OK Status -->
            <ng-template #statTemplate>{{ integration.statusMessage }}</ng-template>
            <i *ngIf="integration.statusMessage"
               class="pficon pficon-error-circle-o"
               [tooltip]="statTemplate"
               placement="bottom"></i>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #actionTemplate
                 let-integration="item"
                 let-index="index">
      <pfng-action class="list-pf-actions"
                   [config]="getActionConfig(integration)"
                   (onActionSelect)="requestAction($event.id, integration)">
      </pfng-action>
    </ng-template>
  </pfng-list>
</div>
