.connection-select {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: visible;

  .toolbar {
    flex: 0 0 auto;
    margin: 0 -20px;

    .toolbar-pf {
      background: none !important;
      border-bottom: 1px #d9d9d9 solid;
      box-shadow: none;
      margin: 0;
      padding: 0 0 10px 0;

      .breadcrumb {
        padding: 0;
        margin: 0;
      }

      .search {
        width: 50%;

        .input-group {
          width: 80%;
        }
      }

      .toolbar-pf-actions {
        margin-bottom: 0;
      }
    }
  }

  .wizard-pf-body {
    flex: 1 1 auto;
    position: relative;
    overflow-y: scroll;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
    margin-bottom: -20px;
    padding-bottom: 20px;
  }

  /deep/ .card {
    .card-pf.card-pf-view.card-pf-view-xs.card-pf-view-select.card-pf-view-single-select {
      cursor: pointer !important;
    }
  }
}
