<div class="row">
  <div class="col-xs-8 col-xs-offset-4">
    <form class="form-horizontal"
          [formGroup]="formGroup">
      <syndesis-form-control *ngFor="let controlModel of formModel; last as last"
                             [group]="formGroup"
                             [model]="controlModel">
        <div *ngIf="last"
             class="col-md-12">
          <p></p>
          <div class="pull-right">
            <button type="button"
                    class="btn btn-primary">Save</button>
            <button type="button"
                    class="btn btn-default" (click)="item.expanded = false">Cancel</button>
          </div>
        </div>
      </syndesis-form-control>
    </form>
  </div>
</div>
