apiVersion: v1
kind: PersistentVolume
metadata:
  name: syndesis-<PVNAME>
  labels:
    type: local
spec:
  storageClassName: standard
  persistentVolumeReclaimPolicy: Delete
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/<PVNAME>"
