apiVersion: v1
kind: Secret
metadata:
  name: syndesis-oauth-credentials
  labels:
    app: syndesis
    syndesis.io/app: syndesis
    syndesis.io/type: infrastructure
stringData:
  OAUTH_PROVIDER: "<PROVIDER>"
  OAUTH_CLIENT_ID: "<CLIENT-ID>"
  OAUTH_CLIENT_SECRET: "<CLIENT-SECRET>"
