<ipaas-loading [loading]="!(integration | async)">
  <div class="integrations edit" *ngIf="integration | async">
    <div [class]="currentStep?.stepKind !== 'datamapper' ? 'wizard-pf-row' : ''">

      <!-- Sidebar -->
      <div class="wizard-pf-sidebar" *ngIf="currentStep?.stepKind !== 'datamapper'" >
        <ipaas-integrations-flow-view></ipaas-integrations-flow-view>
      </div>

      <!-- Add/Edit Integration -->
      <div [class]="currentStep?.stepKind !== 'datamapper' ? 'wizard-pf-main' : 'row'">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ipaas-loading>
