<div class="integrations edit">
  <div class="wizard-pf-row">
    <div class="wizard-pf-sidebar">
      <ipaas-integrations-flow-view></ipaas-integrations-flow-view>
    </div>
    <div class="wizard-pf-main">
      <router-outlet></router-outlet>
      <!-- Wizard Footer -->
      <div class='wizard-pf-footer'>
        <button type='button' class='btn btn-default btn-cancel wizard-pf-cancel wizard-pf-dismiss' (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-default" *ngIf="showBack()" (click)="goBack()"><i class="fa fa-chevron-left"></i> Back</button>
        <button type="button" class="btn btn-primary" *ngIf="showNext()" [disabled]="!canContinue()" (click)="continue()" >Next <i class="fa fa-chevron-right"></i></button>
        <!-- TODO hiding showing hack -->
        <!-- TODO base text on creating if new or saving if existing -->
        <button type="button" class="btn btn-primary" *ngIf="showFinish()" [disabled]="!canFinish()" (click)="finish()">Create</button>
      </div>
    </div>
  </div>
</div>
