<div class="save-or-add-step">

  <!-- Toolbar -->
  <div class="toolbar">
    <!-- Toolbar: Breadcrumbs -->
    <div class="row toolbar-pf">
      <div class="col-sm-12">
        <div class="toolbar-pf-actions">
          <div class="inline-block">
            <ol class="breadcrumb">
              <li>
                <a [routerLink]="['/']"><i class="fa fa-angle-double-left"></i> Dashboard</a>
              </li>
              <li class="active">Create an integration</li>
            </ol>
          </div>
          <div class="toolbar-pf-action-right">
            <button class="btn btn-default"
                    (click)="cancel()">Cancel
            </button>
            &nbsp;
            <button type="button"
                    class="btn btn-default"
                    (click)="save()">Save
            </button>
            <button type="button"
                    class="btn btn-primary"
                    (click)="saveAndPublish()">Publish
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="wizard-pf-body clearfix">
    <div class="blank-slate-pf">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon pficon-add-circle-o"></span>
      </div>
      <h1>
        Add to Integration
      </h1>
      <p>Now you can add additional connections as well as steps to your integration.</p>
      <p>You can interact with the left hand panel to continue adding steps and connections to your integration as well.</p>
      
      <!-- First Step -->
      <div class="blank-slate-pf-secondary-action first-step" *ngIf="getMiddleSteps().length === 0">
        <a (click)="insertStepAfter(0)" class="btn btn-default">Add a Step</a>
        &nbsp;&nbsp;&nbsp;
        <a (click)="insertConnectionAfter(0)" class="btn btn-default">Add a Connection</a>
      </div>
      
      <!-- Middle Steps -->
      <div class="blank-slate-pf-secondary-action middle-steps" *ngIf="getMiddleSteps().length !== 0">
        <a (click)="insertStepAfter(position + 1)" class="btn btn-default">Add a Step</a>
        &nbsp;&nbsp;&nbsp;
        <a (click)="insertConnectionAfter(position + 1)" class="btn btn-default">Add a Connection</a>
      </div>
    </div>
  </div>
</div>
