@import '../../../../scss/colors';

.save-or-add-step {
  .toolbar {
    margin: 0 -20px;

    .toolbar-pf {
      background: none !important;
      border-bottom: 1px #d9d9d9 solid;
      box-shadow: none;
      margin: 0;
      padding: 0 0 10px 0;

      .breadcrumb {
        padding: 0;
        margin: 0;
      }

      .toolbar-pf-actions {
        margin-bottom: 0;
      }
    }
  }
}
