.list-view-toolbar .toolbar-pf > .col-sm-12 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .toolbar-pf-actions > .toolbar-pf-filter,
  .toolbar-pf-actions > .form-group {
    float: left;
    margin-bottom: 0;
    margin-right: 5px;
  }
  .toolbar-pf-actions .toolbar-pf-action-right {
    clear: both;
    padding-top: 10px;
  }
}