.open-api-review-actions .review-actions__heading {
  background-color: #f5f5f5;
  font-weight: 800 !important;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 4px 8px;
}

.open-api-review-actions .review-actions__heading .heading__label {
  margin-left: 15px;
}

.open-api-review-actions .review-actions__warnings {
  margin-top: 15px;
}

.open-api-review-actions .review-actions__warnings [data-pf-content] {
  margin-bottom: 0 !important;
}

.open-api-review-actions .review-actions__tagMessageList {
  --pf-c-content--ul--ListStyle: none;
}

.open-api-review-actions .review-actions__validationFallbackMessage {
  font-weight: bold;
}
