:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: visible;
}

.card-pf {
  box-shadow: none;
}

.toolbar.toolbar-pf {
  padding: 10px 0;
  flex: 0 0 auto;

  .toolbar-pf-actions {
    margin: 0;

    .breadcrumb {
      margin: 0;
    }
  }
}

.toolbar-pf.steps {
  flex: 0 0 auto;
}

/deep/ syndesis-connections-connection-basics,
/deep/ syndesis-connections-configure-fields,
/deep/ syndesis-connections-review {
  position: relative;
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -20px;
  padding-left: 20px;
  // Dock the scrollbar to the right
  margin-right: -20px;
  padding-right: 20px;
  height: 100%;
}

/deep/ .connector-list {
  margin-top: -5px;

  .toolbar-pf {
    margin: -20px -50px;
  }
}
