<div *ngIf="step"
     class="flow-view-step">

  <ng-template #addDatamapper>
    <div>
      <div class="alert alert-warning no-bottom-margin"
        *ngIf="previousStepShouldDefineDataShape">
        <span class="pficon pficon-warning-triangle-o"></span>
        <p><strong>Typeless Previous Step:</strong> <a [routerLink]="" (click)="visitPreviousStepDescribeData()">Define the data type</a> for the previous step to resolve this warning.</p>
      </div>

      <div class="alert alert-warning no-bottom-margin"
        *ngIf="shouldAddDatamapper">
        <span class="pficon pficon-warning-triangle-o"></span>
        <p><strong>Data Type Mismatch:</strong> <a [routerLink]="" (click)="addDataMapper()">Add a data mapping step</a> before this connection to resolve the difference.</p>
      </div>

    </div>
  </ng-template>

  <ng-template #tooltipPopover>
    <div class="info-popover container-fluid">
      <dl class="row">
        <dt class="col-xs-6 text-right">
          Name
        </dt>
        <dd class="col-xs-6">
          {{ step.connection?.name }}
        </dd>
      </dl>
      <dl class="row">
        <dt class="col-xs-6 text-right">
          Action
        </dt>
        <dd class="col-xs-6">
          {{ step.action?.name }}
        </dd>
      </dl>
      <dl class="row" *ngIf="inputDataShapeText">
        <dt class="col-xs-6 text-right">
          Input Data Type
        </dt>
        <dd class="col-xs-6">
          {{ inputDataShapeText }}
        </dd>
      </dl>
      <dl class="row" *ngIf="outputDataShapeText">
        <dt class="col-xs-6 text-right">
          Output Data Type
        </dt>
        <dd class="col-xs-6">
          {{ outputDataShapeText }}
        </dd>
      </dl>
    </div>
  </ng-template>

  <!-- Icon Progress Line -->
  <div class="col-md-3 progress-line">
    <span class="step-index">{{ stepIndex }}</span>
    <div [ngClass]="'icon ' + getParentActiveClass() + ' ' + getMenuCompleteClass() + ' ' + getConnectionClass()"
      [popover]="tooltipPopover"
      #connectionImgPop="bs-popover"
      placement="right"
      (mouseover)="showInfoPopoverCollapsed()"
      (mouseout)="hideInfoPopoverCollapsed()"
      triggers=""
      containerClass="flow-view-popover"
      popoverTitle="Connection Properties"
      outsideClick="true"
      container="body">
      <i [ngClass]="getIconClass()"
         *ngIf="step.stepKind === 'endpoint' && !step.connection"></i>
      <img class="syn-icon-small"
           *ngIf="step.stepKind === 'endpoint' && step.connection"
           [src]="step.connection | synIconPath">
    </div>
  </div>

  <!-- Step Item Wrapper -->
  <div class="col-md-9 menu"
       *ngIf="currentStepKind !== 'mapper'"
       [ngSwitch]="step.stepKind">

    <!-- Connection Steps -->
    <div *ngSwitchCase="'endpoint'"
         [ngClass]="getParentActiveClass() + ' step-container'">

      <!-- Connection Title -->
      <div [ngClass]="getParentClass()"
            (click)="goto('action-configure')">
        <span class="pficon pficon-warning-triangle-o data-mismatch"
          *ngIf="shouldAddDatamapper || previousStepShouldDefineDataShape"
          [popover]="addDatamapper"
          #datamapperInfoPop="bs-popover"
          triggers=""
          containerClass="flow-view-popover"
          placement="right"
          outsideClick="true"
          (click)="toggleAddDatamapperInfo(); $event.stopPropagation();"
          container="body"></span>

        <div class="step-content">
          <div class="step-name" title="{{ stepName }}">
            {{ stepName }}
          </div>

          <div class="step-icons">
            <!-- Info icon -->
            <i class="fa fa-lg fa-info-circle"
              [popover]="tooltipPopover"
              #connectionInfoPop="bs-popover"
              placement="right"
              (click)="toggleInfoPopover(); $event.stopPropagation();"
              triggers=""
              containerClass="flow-view-popover"
              popoverTitle="Connection Properties"
              outsideClick="true"
              container="body"></i>
            <!-- Delete Icon -->
            <i *ngIf="showDelete()"
              class="fa fa-lg fa-trash"
              title="Delete this connection"
              (click)="deletePrompt(); $event.stopPropagation();"></i>
          </div>
        </div>
      </div>

      <!-- Connection Sub Pages -->
      <ul [collapse]="isCollapsed()"
          class="sub-steps">
        <li *ngIf="!step.connection"
            [ngClass]="getSubMenuActiveClass('connection-select')"
            (click)="goto('connection-select')">
          <span [ngClass]="getTextClass('connection-select')">Choose a connection</span>
        </li>
        <li *ngIf="step.connection && !step.action"
            [ngClass]="getSubMenuActiveClass('action-select')"
            (click)="goto('action-select')">
          <span [ngClass]="getTextClass('action-select')">Choose an action</span>
        </li>
        <ng-container *ngIf="step.action && currentState === 'action-configure'">
          <ng-template ngFor
                       let-definition
                       [ngForOf]="getPropertyDefinitions(step.action)"
                       let-page="index">
            <li [ngClass]="getSubMenuActiveClass('action-configure', page)"
                (click)="goto('action-configure', page)">
              <span [ngClass]="getTextClass('action-configure', page)">{{ definition.name | capitalize }}</span>
            </li>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="step.action && currentState === 'describe-data'">
          <li [ngClass]="getSubMenuActiveClass('describe-data')">
            <span [ngClass]="getTextClass('describe-data')">Specify Data Type</span>
          </li>
        </ng-container>
      </ul>

    </div>

    <!-- Default Steps -->
    <div *ngSwitchDefault
         [ngClass]="getParentActiveClass() + ' step-container'">
      <!-- Step Heading -->
      <div [ngClass]="getParentClass()"
        (click)="goto('step-configure')">
        <div class="step-content">
          <div class="step-name" title="{{ stepName }}">
            {{ stepName }}
          </div>
          <div class="step-icons">
            <!-- Delete Icon -->
            <i *ngIf="showDelete()"
              class="fa fa-lg fa-trash pull-right"
              title="Delete this step"
              [class.add-step-or-connection]="step.stepKind !== 'endpoint'"
              (click)="deletePrompt(); $event.stopPropagation();"></i>
          </div>
        </div>
      </div>

      <!-- Step Sub Pages -->
      <ul [collapse]="isCollapsed()"
          class="sub-steps">
        <li *ngIf="!step.stepKind"
            [ngClass]="getSubMenuActiveClass('step-select')"
            (click)="goto('step-select')">
          <span [ngClass]="getTextClass('step-select')">Choose a step</span>
        </li>
        <li *ngIf="step.stepKind && !step.configuredProperties"
            [ngClass]="getSubMenuActiveClass('step-configure')"
            (click)="goto('step-configure')">
          <span [ngClass]="getTextClass('step-configure')">Configure the step</span>
        </li>
        <li *ngIf="step.configuredProperties"
            [ngClass]="getSubMenuActiveClass('step-configure')"
            (click)="goto('step-configure')">
          <span [ngClass]="getTextClass('step-configure')">Configuration</span>
        </li>
      </ul>
    </div>
  </div>
</div>
