<div *ngIf="step"
     class="flow-view-step">

  <ng-template #tooltipPopover>
    <span>

      <!-- TODO Apply UXD outcome - https://github.com/syndesisio/syndesis/issues/700 -->
      <div *ngIf="previousStepShouldDefineDataShape"><p style="color:red"><b>Define a data type</b></p></div>
      <div *ngIf="shouldAddDatamapper"><p style="color:red"><b>Add a datamapper step</b></p></div>

      <strong [innerHtml]="getStepText()"></strong><br/>

      <!-- TODO Apply UXD outcome - https://github.com/syndesisio/syndesis/issues/700 -->
      <div *ngIf="inputDataShapeText" >Input: {{ inputDataShapeText }}</div>
      <div *ngIf="outputDataShapeText">Output: {{ outputDataShapeText }}</div>

    </span>
  </ng-template>

  <!-- Icon Progress Line -->
  <div class="col-md-3 progress-line">
    <div [ngClass]="'icon ' + getParentActiveClass() + ' ' + getMenuCompleteClass() + ' ' + getConnectionClass()"
       [popover]="tooltipPopover"
       #pop="bs-popover"
       placement="right"
       (mouseover)="showTooltip()"
       (mouseleave)="hideTooltip()"
       triggers=""
       container="body">
      <i [ngClass]="getIconClass()"
         *ngIf="step.stepKind === 'endpoint' && !step.connection"></i>
      <img class="syn-icon-small"
           *ngIf="step.stepKind === 'endpoint' && step.connection"
           [src]="step.connection | synIconPath">
    </div>
  </div>

  <!-- Step Item Wrapper -->
  <div class="col-md-9 menu"
       *ngIf="currentStepKind !== 'mapper'"
       [ngSwitch]="step.stepKind">

    <!-- Connection Steps -->
    <div *ngSwitchCase="'endpoint'"
         [ngClass]="getParentActiveClass() + ' step-container'">

      <!-- Delete Icon -->
      <i *ngIf="showDelete()"
         class="delete-icon fa fa-lg fa-trash"
         title="Delete this connection"
         (click)="deletePrompt()"></i>


      <!-- Connection Title -->
      <div [ngClass]="getParentClass()"
            (click)="goto('action-configure')">
        <i *ngIf="!isCollapsed()" class="fa fa-chevron-down"></i>
        <i *ngIf="isCollapsed()" class="fa fa-chevron-right"></i>
        {{ getStepText() }}
      </div>

      <!-- Connection Sub Pages -->
      <ul [collapse]="isCollapsed()"
          class="sub-steps">
        <li *ngIf="!step.connection"
            [ngClass]="getSubMenuActiveClass('connection-select')"
            (click)="goto('connection-select')">
          <span [ngClass]="getTextClass('connection-select')">Choose a connection</span>
        </li>
        <li *ngIf="step.connection && !step.action"
            [ngClass]="getSubMenuActiveClass('action-select')"
            (click)="goto('action-select')">
          <span [ngClass]="getTextClass('action-select')">Choose an action</span>
        </li>
        <ng-container *ngIf="step.action && currentState === 'action-configure'">
          <ng-template ngFor
                       let-definition
                       [ngForOf]="getPropertyDefinitions(step.action)"
                       let-page="index">
            <li [ngClass]="getSubMenuActiveClass('action-configure', page)"
                (click)="goto('action-configure', page)">
              <span [ngClass]="getTextClass('action-configure', page)">{{ definition.name | capitalize }}</span>
            </li>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="step.action && currentState === 'describe-data'">
          <li [ngClass]="getSubMenuActiveClass('describe-data')">
            <span [ngClass]="getTextClass('describe-data')">Specify Data Type</span>
          </li>
        </ng-container>
      </ul>

    </div>

    <!-- Default Steps -->
    <div *ngSwitchDefault
         [ngClass]="getParentActiveClass() + ' step-container'">

      <!-- Delete Icon -->
      <i *ngIf="showDelete()"
         class="delete-icon fa fa-lg fa-trash"
         title="Delete this step"
         [class.add-step-or-connection]="step.stepKind !== 'endpoint'"
         (click)="deletePrompt()"></i>

      <!-- Step Heading -->
      <div [ngClass]="getParentClass()"
            (click)="goto('step-configure')">
        <i *ngIf="!isCollapsed()" class="fa fa-chevron-down"></i>
        <i *ngIf="isCollapsed()" class="fa fa-chevron-right"></i>
        {{ getStepText() }}
      </div>

      <!-- Step Sub Pages -->
      <ul [collapse]="isCollapsed()"
          class="sub-steps">
        <li *ngIf="!step.stepKind"
            [ngClass]="getSubMenuActiveClass('step-select')"
            (click)="goto('step-select')">
          <span [ngClass]="getTextClass('step-select')">Choose a step</span>
        </li>
        <li *ngIf="step.stepKind && !step.configuredProperties"
            [ngClass]="getSubMenuActiveClass('step-configure')"
            (click)="goto('step-configure')">
          <span [ngClass]="getTextClass('step-configure')">Configure the step</span>
        </li>
        <li *ngIf="step.configuredProperties"
            [ngClass]="getSubMenuActiveClass('step-configure')"
            (click)="goto('step-configure')">
          <span [ngClass]="getTextClass('step-configure')">Configuration</span>
        </li>
      </ul>
    </div>

  </div>
</div>
