<div *ngIf="step"
     class="flow-view-step">

  <ng-template #tooltipPopover>
    <span>
      <strong> {{ getStepText() }} </strong>
    </span>
  </ng-template>

  <!-- Icon Progress Line -->
  <div class="col-md-3 progress-line">
    <p [class]="'icon ' + getParentActiveClass() + ' ' + getMenuCompleteClass() + ' ' + getConnectionClass()"
       [popover]="tooltipPopover"
       #pop="bs-popover"
       placement="right"
       (mouseover)="showTooltip()"
       (mouseleave)="hideTooltip()"
       triggers=""
       container="body">
      <i [class]="getIconClass()"
         *ngIf="step.stepKind === 'endpoint' && !step.connection"></i>
      <img class="syn-icon-small"
           *ngIf="step.stepKind === 'endpoint' && step.connection"
           [src]="step.connection | synIconPath">
    </p>
  </div>

  <!-- Step Item Wrapper -->
  <div class="col-md-9 menu"
       *ngIf="currentStepKind !== 'mapper'"
       [ngSwitch]="step.stepKind">

    <!-- Connection Steps -->
    <div *ngSwitchCase="'endpoint'"
         [class]="getParentActiveClass() + ' step-container'">

      <!-- Delete Icon -->
      <i *ngIf="showDelete()"
         class="delete-icon fa fa-lg fa-trash"
         title="Delete this connection"
         (click)="deletePrompt()"></i>


      <!-- Connection Title -->
      <div [class]="getParentClass()"
            (click)="goto('action-configure')">
        <i *ngIf="!isCollapsed()" class="fa fa-chevron-down"></i>
        <i *ngIf="isCollapsed()" class="fa fa-chevron-right"></i>
        {{ getStepText() }}
      </div>

      <!-- Connection Sub Pages -->
      <ul [collapse]="isCollapsed()"
          class="sub-steps">
        <li *ngIf="!step.connection"
            [class]="getSubMenuActiveClass('connection-select')"
            (click)="goto('connection-select')">
          <span [class]="getTextClass('connection-select')">Choose a connection</span>
        </li>
        <li *ngIf="step.connection && !step.action"
            [class]="getSubMenuActiveClass('action-select')"
            (click)="goto('action-select')">
          <span [class]="getTextClass('action-select')">Choose an action</span>
        </li>
        <ng-container *ngIf="step.action">
          <ng-template ngFor
                       let-definition
                       [ngForOf]="getPropertyDefinitions(step.action)"
                       let-page="index">
            <li [class]="getSubMenuActiveClass('action-configure', page)"
                (click)="goto('action-configure', page)">
              <span [class]="getTextClass('action-configure', page)">{{ definition.name | capitalize }}</span>
            </li>
          </ng-template>
        </ng-container>
      </ul>

    </div>

    <!-- Default Steps -->
    <div *ngSwitchDefault
         [class]="getParentActiveClass() + ' step-container'">

      <!-- Delete Icon -->
      <i *ngIf="showDelete()"
         class="delete-icon fa fa-lg fa-trash"
         title="Delete this step"
         [class.add-step-or-connection]="step.stepKind !== 'endpoint'"
         (click)="deletePrompt()"></i>

      <!-- Step Heading -->
      <div [class]="getParentClass()"
            (click)="goto('step-configure')">
        <i *ngIf="!isCollapsed()" class="fa fa-chevron-down"></i>
        <i *ngIf="isCollapsed()" class="fa fa-chevron-right"></i>
        {{ getStepText() }}
      </div>

      <!-- Step Sub Pages -->
      <ul [collapse]="isCollapsed()"
          class="sub-steps">
        <li *ngIf="!step.stepKind"
            [class]="getSubMenuActiveClass('step-select')"
            (click)="goto('step-select')">
          <span [class]="getTextClass('step-select')">Choose a step</span>
        </li>
        <li *ngIf="step.stepKind && !step.configuredProperties"
            [class]="getSubMenuActiveClass('step-configure')"
            (click)="goto('step-configure')">
          <span [class]="getTextClass('step-configure')">Configure the step</span>
        </li>
        <li *ngIf="step.configuredProperties"
            [class]="getSubMenuActiveClass('step-configure')"
            (click)="goto('step-configure')">
          <span [class]="getTextClass('step-configure')">Configuration</span>
        </li>
      </ul>
    </div>

  </div>
</div>
