@import 'flow-view.component';
@import 'patternfly-sass/assets/stylesheets/patternfly/color-variables';

////////////////////////////////////////////////////////////////////////////////
// FLOW-VIEW-STEP
//
// 2 Primary State Categories:
//
// 1 - Published/Unpublished - Is the user currently on this section/step?
// 2 - Complete/Incomplete - Has the user completed/configured this section/step?
//
// 03/24/2017
// This file is now organized first by section, then by state (ie text/icon then active/inactive). RMY
//
////////////////////////////////////////////////////////////////////////////////
.flow-view-step {
  ////////////////////////////////////////////////////////////////////////////////
  // SIDEBAR: COMMON, REGARDLESS OF STATE
  ////////////////////////////////////////////////////////////////////////////////
  flex-wrap: nowrap;
  ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    li {
      list-style-type: none;
    }
  }
  .delete-icon {
    position: absolute;
    top: 18px;
    right: 10px;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
    &:hover {
      opacity: 1;
    }
  } ////////////////////////////////////////////////////////////////////////////////
  // SIDEBAR: LEFT HAND (VERTICAL PROGRESS LINE & ICON)
  ////////////////////////////////////////////////////////////////////////////////
  .progress-line {
    padding: 0;
    text-align: center;
    .fa {
      color: $color-pf-black-300;
      font-size: x-large;
    }
    .icon {
      -moz-border-radius: 100px;
      border-radius: 100px;
      border-style: solid;
      border-width: 3px;
      border-color: $color-pf-black-300;
      padding: 11px;
      width: 55px;
      height: 55px;
      background-color: #ffffff;
      &.not-connection {
        background-color: #ffffff;
        border-width: 10px;
        padding: 5px 0px;
        border-radius: 100px;
        height: 33px;
        margin: 11px;
        width: 32px;
      }
      .connection-icon {
        //width: 24px;
        height: 24px;
        margin-top: 1px;
      } //----- Sidebar: Progress Line: Published State ----------------->>
      &.active {
        border-color: $color-pf-blue-400;
      } //----- Sidebar: Progress Line: Unpublished State ----------------->>
      &.inactive {
        border-color: #d0d0d0;
      } //----- Sidebar: Progress Line: Complete State ----------------->>
      &.complete {
        .fa {
          color: $color-pf-black-900;
        }
      } //----- Sidebar: Progress Line: Incomplete State ----------------->>
      &.incomplete {
        .fa {
          color: #d1d1d1;
        }
      }
    } // Vertical Line
    .step-line {
      height: 100%;
    }
  } ////////////////////////////////////////////////////////////////////////////////
  // SIDEBAR: RIGHT HAND (PROGRESS MENU)
  ////////////////////////////////////////////////////////////////////////////////
  .menu {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px; //----- Sidebar: Menu & Parent Step Container ----------------->>
    .step-container {
      .fa.fa-chevron-down,
      .fa.fa-chevron-right {
        font-size: x-small;
        padding-right: 5px;
        margin-right: 5px;
      } // Published State for Entire Container of Single Step
      &.active {
        .fa.fa-trash {
          color: #ffffff;
        }
      } //----- Sidebar: Menu: Parent Step ----------------->>
      .parent-step {
        text-overflow: ellipsis;
        overflow-x: hidden;
        background-color: $color-pf-black-300;
        cursor: pointer;
        &.disabled {
          cursor: default;
        }
        padding: 8px 18px 8px 8px;
        text-transform: uppercase;
        white-space: nowrap; //----- Sidebar: Menu: Parent Step: Published State ----------------->>
        &.active {
          background-color: #158acc;
          color: #ffffff;
        } //----- Sidebar: Menu: Parent Step: Unpublished State ----------------->>
        &.inactive {
        }
        //----- Sidebar: Menu: Parent Step: Complete State ----------------->>
        &.complete {
        }
        //----- Sidebar: Menu: Parent Step: Incomplete State ----------------->>
        &.incomplete {
        }
      } //----- Sidebar: Menu: Sub Steps ----------------->>
      ul.sub-steps {
        cursor: default;
        list-style-type: none;
        margin-bottom: 10px;
        margin-top: 5px;
        min-width: 160px;
        padding: 5px 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0; // Each Step
        li {
          display: list-item;
          list-style-type: none;
          margin: 7px 0 0 0;
          padding: 5px 5px 5px 30px; //----- Sidebar: Menu: Sub Step: Published State ----------------->>
          &.active {
            background-color: #d6eefa;
            border-bottom: 1px solid #b8dff3;
            border-top: 1px solid #b8dff3;
            color: #363636;
            cursor: pointer;
          } //----- Sidebar: Menu: Sub Step: Unpublished State ----------------->>
          &.inactive {
          }
          //----- Sidebar: Menu: Sub Step: Complete State ----------------->>
          &.complete {
          }
          //----- Sidebar: Menu: Sub Step: Incomplete State ----------------->>
          &.incomplete {
          }
        }
      }
    }
  }
}
