<!-- Insert step popover -->
<ng-template #popTemplate let-position='position' class="asdfasdf">
  <div class="popover-body">
    <div *ngIf="showAddStep();" class="syn-nowrap">
      <a (click)="insertStepAfter(position)">Add a step</a>
    </div>
    <div *ngIf="showAddConnection();" class="syn-nowrap">
      <a (click)="insertConnectionAfter(position)">Add a connection</a>
    </div>
  </div>
</ng-template>

<div class="flow-view">
  <!-- Insert step line -->
  <ng-template #insertStepTemplate let-position='position'>
    <div *ngIf="currentState === 'save-or-add-step'"
         class="step step-insert"
         (mouseover)="pop.show()"
         (mouseleave)="pop.hide()">
      <div class="icon-container">
        <div class="square-icon"
            [popover]="popTemplate"
            [popoverContext]="{ position: position }"
            placement="bottom"
            #pop="bs-popover"
            containerClass="flow-view-add-popover">
          <i class="fa fa-plus-square"></i>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Delete Modal Container -->
  <syndesis-modal id="delete-step"
                  title="{{ 'integrations.edit.delete-step-modal-title' | synI18n }}"
                  type="delete"
                  message="{{ 'integrations.edit.delete-step-modal' | synI18n }}">
  </syndesis-modal>

  <syndesis-loading [loading]="!loaded()" class="syn-scrollable">

    <!-- Header -->
    <div class="row name">
      <div class="col-md-12">
        <div class="vertical-align">
          <div class="integration-name">
            <input type="text"
                  #nameInput
                  class="form-control integration-name-field"
                  placeholder="Enter integration name..."
                  [title]="integrationName"
                  [(ngModel)]="integrationName"
                  [readonly]="!editingName"
                  (blur)="stopEditingName()"
                  (click)="!editingName && startEditingName()"
                  (keyup)="$event.keyCode == 13 && stopEditingName()"
                  size="1">
          </div>
          <div class="integration-name-edit" *ngIf="!editingName">
            <button
              aria-label="Edit Integration Name"
              class="btn btn-link integration-name-edit-btn"
              type="button"
              (click)="startEditingName()">
              <span class="fa fa-pencil"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="flow-view-container syn-scrollable--body"
         [ngClass]="{ 'collapsed': isCollapsed }"
         *ngIf="i && i.steps">

      <!-- First Step -->
      <div class="step start">
        <syndesis-integration-flow-view-step [step]="startConnection()"
                                              [position]="firstPosition()"
                                              [currentPosition]="currentPosition"
                                              [currentState]="currentState"></syndesis-integration-flow-view-step>
      </div>

      <!-- First Step: Save or Add Step -->
      <ng-container *ngTemplateOutlet="insertStepTemplate; context: { position: 0 }"></ng-container>

      <!-- Middle Steps -->
      <ng-template ngFor
                   let-step
                   [ngForOf]="getMiddleSteps()"
                   let-position="index">
        <div class="step">
          <syndesis-integration-flow-view-step [step]="step"
                                                [position]="position + 1"
                                                [currentPosition]="currentPosition"
                                                [currentState]="currentState"></syndesis-integration-flow-view-step>
        </div>

        <!-- Middle Steps: Save or Add Step -->
        <ng-container *ngTemplateOutlet="insertStepTemplate; context: { position: (position + 1) }"></ng-container>
      </ng-template>

      <!-- Last Step -->
      <div class="step finish">
        <syndesis-integration-flow-view-step [step]="endConnection()"
                                              [position]="lastPosition()"
                                              [currentPosition]="currentPosition"
                                              [currentState]="currentState"></syndesis-integration-flow-view-step>
      </div>
    </div>
  </syndesis-loading>
  <button
    class="btn btn-default toggle-collapsed"
    (click)="toggleCollapsed()"
    [class.collapsed]="isCollapsed"
    [tooltip]="toggleButtonTooltip"
    aria-label="Integration Visualization Pane Details Toggle"
    placement="right"></button>
  <ng-template #toggleButtonTooltip><div class="syn-nowrap">Expand info</div></ng-template>
</div>
