@import 'syndesis-sass';

.multiflow-step {
  position: relative;
  z-index: -1;

  .icon-container {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      background-color: #d4d4d4;
      top: -100px;
      bottom: 50%;
      left: 50%;
      transform: translateX(-50%);

      ::ng-deep .flow-view-container.collapsed & {
        top: -50px;
      }
    }

    &:nth-child(1) {
      transform: translateX(-75%);

      &:before {
        transform: translateX(-50%) rotate(18deg);
        transform-origin: bottom left;

        ::ng-deep .flow-view-container.collapsed & {
          transform: translateX(-50%) rotate(30deg);
        }
      }
    }

    &:nth-child(3) {
      transform: translateX(75%);

      &:before {
        transform: translateX(-50%) rotate(-18deg);
        transform-origin: bottom right;

        ::ng-deep .flow-view-container.collapsed & {
          transform: translateX(-50%) rotate(-30deg);
        }
      }
    }
  }

  .icon {
    border-radius: 50%;
    border: 3px dashed $color-pf-black-300;
    padding: 11px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .fa {
      color: #d1d1d1;
      line-height: 1.15;
    }
  }
}
