@import 'syndesis-sass';

.collapsed {
  .step-insert {
    display: none;
  }
}

.popover-body > div {
  padding: 5px;
}

.flow-view {
  height: 100%;

  syndesis-loading {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: visible;
  }

  .flow-view-container {
    flex: 1 1 auto;
    overflow-y: scroll;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-right: -20px;
    width: 320px;
    display: flex;
    flex-direction: column;

    &.collapsed {
      width: 130px;
      align-items: center;
      margin-right: 0;
    }

    .start,
    .finish {
      h5 {
        background-color: #ededed;
        cursor: pointer;
        display: inline;
        padding: 5px;
        text-transform: uppercase;
      }

      ul {
        min-width: 160px;
        padding: 10px 0; // Sub-Menu Items

        &.collapse {
          margin-top: 5px;
          padding: 5px 0;

          li {
            padding: 5px 5px 5px 17px;

            &.active {
              background-color: #d6eefa;
              border-bottom: 1px solid #b8dff3;
              border-top: 1px solid #b8dff3;
            }

            &.inactive {
              color: #d1d1d1;
            }
          }
        }
      }

      .fa {
        font-size: x-small;
        padding-right: 5px;
      }
    }
  }

  .name {
    flex: 0 0 auto;
    border-bottom: 1px #d9d9d9 solid;
    padding-bottom: 20px;

    .integration-name {
      flex: 1 0 0;
      padding-right: 1em;

      .integration-name-field {
        color: #363636;
        font-size: 14px;
        font-style: normal;

        &[readonly] {
          background: none;
          border-color: transparent;
          box-shadow: none;
        }

        &.ng-invalid {
          color: #ff0000;
        }
      }

    }

  }

  ////////////////////////////////////////////////////////////////////////////////
  // LEFT-HAND NAV BAR W/ STEPS
  ////////////////////////////////////////////////////////////////////////////////
  .step {
    position: relative;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    min-height: 110px;

    .step-line {
      position: absolute;
      height: 100%;
      top: 0;
      left: 26px;
      width: 2px;
      background-color: #d4d4d4;
    }

    &.finish {
      flex: 0 0 auto;
      min-height: 0px;
    }

    &.step-insert {
      flex: 0 0 auto;
      min-height: 80px;

      ::ng-deep .popover {
        margin-top: -2px;
        margin-left: 28px !important;
        border-color: $color-pf-black-500;

        &.right > .arrow {
          border-right-color: $color-pf-black-500;
        }
      }

      a {
        text-decoration: none;
      }

      .popover-body {
        a {
          cursor: pointer;
          padding: 10px;
        }
      }

      .square-icon {
        padding-left: 0;

        .fa.fa-plus-square {
          color: #158acc;
          background-color: white;
          font-size: x-large;
          margin: 0;
          margin-left: 17px;
          margin-top: 10px;
        }
      }
    }
  }
}
