<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">

  <modelVersion>4.0.0</modelVersion>

  <groupId>io.syndesis.integrations</groupId>
  <artifactId>project</artifactId>
  <version>0.1-SNAPSHOT</version>
  <name>Syndesis Integrations :: {{name}}</name>
  {{#description}}<description>{{description}}</description>{{/description}}
  <packaging>jar</packaging>

  <properties>
    <spring-boot.version>@spring-boot.version@</spring-boot.version>
    <camel.version>@camel.runtime.version@</camel.version>
    <syndesis-integration-runtime.version>@syndesis-integration-runtime.version@</syndesis-integration-runtime.version>
    <camel-atlasmap.version>@camel-atlasmap.version@</camel-atlasmap.version>
  </properties>
  {{^mavenRepositories.empty}}

  <repositories>
    {{#mavenRepositories}}
    <repository>
      <id>{{key}}</id>
      <url>{{value}}</url>
    </repository>
    {{/mavenRepositories}}
  </repositories>
  {{/mavenRepositories.empty}}

  <dependencyManagement>
    <dependencies>
      <dependency>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-dependencies</artifactId>
        <version>\${spring-boot.version}</version>
        <type>pom</type>
        <scope>import</scope>
      </dependency>
      <dependency>
        <groupId>org.apache.camel</groupId>
        <artifactId>camel-spring-boot-dependencies</artifactId>
        <version>\${camel.version}</version>
        <type>pom</type>
        <scope>import</scope>
      </dependency>
    </dependencies>
  </dependencyManagement>

  <dependencies>
    <!-- atlasmap runtime -->
    <dependency>
      <groupId>io.atlasmap</groupId>
      <artifactId>camel-atlasmap</artifactId>
      <version>\${camel-atlasmap.version}</version>
    </dependency>

    <!-- connectors used in this integration -->
  {{#connectors}}
    <dependency>
      <groupId>{{groupId}}</groupId>
      <artifactId>{{artifactId}}</artifactId>
      <version>{{version}}</version>
    </dependency>
  {{/connectors}}

    <!-- extensions used in this integration -->
  {{#extensions}}
    <dependency>
      <groupId>{{groupId}}</groupId>
      <artifactId>{{artifactId}}</artifactId>
      <version>{{version}}</version>
    </dependency>
  {{/extensions}}

    <!-- spring-boot as runtime -->
    <dependency>
      <groupId>org.apache.camel</groupId>
      <artifactId>camel-spring-boot-starter</artifactId>
    </dependency>
    <dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-web</artifactId>
    </dependency>
    <dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-undertow</artifactId>
    </dependency>
    <dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-actuator</artifactId>
    </dependency>

    <!-- Integration runtime -->
    <dependency>
      <groupId>io.syndesis.integration-runtime</groupId>
      <artifactId>model</artifactId>
      <version>\${syndesis-integration-runtime.version}</version>
    </dependency>
    <dependency>
      <groupId>io.syndesis.integration-runtime</groupId>
      <artifactId>runtime</artifactId>
      <version>\${syndesis-integration-runtime.version}</version>
    </dependency>

  </dependencies>

  <build>
    <plugins>
      <plugin>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-maven-plugin</artifactId>
        <version>\${spring-boot.version}</version>
        <configuration>
          <layout>ZIP</layout>
        </configuration>
        <executions>
          <execution>
            <goals>
              <goal>repackage</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>

</project>
