.integrations.edit {
  height: 100%;

  .title {
    border-bottom: 1px solid #d7d6d7;
    margin: auto -20px;
    margin-bottom: 15px;

    h1 {
      padding: 0 20px;
    }
  }

  .row {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .wizard-main {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 20px;
  }

  .mapper-main {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
    overflow: auto;
  }

  .wizard-sidebar {
    flex: 0 0 auto;
    position: relative;
    background: #fafafa;
    border-right: 1px solid #d1d1d1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 20px 0 20px;
    min-width: 300px;
  }

  .mapper-sidebar {
    flex: 0 0 auto;
    position: relative;
    background: #fafafa;
    border-right: 1px solid #d1d1d1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
