/* pf3 modules */
@import url('~patternfly/dist/css/patternfly.css');
@import url('~patternfly/dist/css/patternfly-additions.css');
@import url('~patternfly-react/dist/css/patternfly-react.css');

/* selective pf4 base styles */
@import url('~@patternfly/patternfly/patternfly-variables.css');
@import url('~@patternfly/patternfly/patternfly-shield-noninheritable.css');
@import url('~@patternfly/patternfly/patternfly-common.css');
@import url('~@patternfly/patternfly/patternfly-globals.css');
@import url('~@patternfly/patternfly/utilities/Spacing/spacing.css');
@import url('~@patternfly/patternfly/layouts/Level/level.css');
@import url('~@patternfly/patternfly/layouts/Split/split.css');

/* selective pf4 component specific stylesheets */
@import url('~@patternfly/patternfly/components/Page/page.css');
@import url('~@patternfly/patternfly/components/Nav/nav.css');
@import url('~@patternfly/patternfly/components/Dropdown/dropdown.css');
@import url('~@patternfly/patternfly/components/AboutModalBox/about-modal-box.css');
@import url('~@patternfly/patternfly/components/BackgroundImage/background-image.css');
@import url('~@patternfly/patternfly/components/Content/content.css');
@import url('~@patternfly/patternfly/components/Popover/popover.css');
@import url('~@patternfly/patternfly/components/Tooltip/tooltip.css');
@import url('~@patternfly/patternfly/components/Card/card.css');

:root {
  --pf-global--link--Color: #0088ce;
  --pf-c-nav__list-link--m-current--after--BackgroundColor: #0088ce;
  --pf-global--link--Color--hover: #00659c;
  --pf-c-backdrop--Color: rgba(3,3,3,.62);
}

.pf-c-dropdown {
  --pf-c-dropdown__toggle--FontSize: var(--pf-global--FontSize--xs);
}

.pf-c-page {
  width: 100%;
  height: 100vh;
}

.pf-c-dropdown__menu-item {
  --pf-c-dropdown__menu-item--FontSize: var(--pf-global--FontSize--xs);
}

body {
  font-size: var(--pf-global--FontSize--sm);
  line-height: var(--pf-global--LineHeight--sm);
  color: var(--pf-global--Color--100);
}

#root {
  flex: 1;
  display: flex;
}

.navbar-pf .navbar-utility > li > button {
  padding: 9px 10px;
}

.blank-slate-pf .blank-slate-pf-secondary-action a {
  padding: 2px 6px;
  margin-bottom: 0;
}

.wizard-pf-footer .wizard-pf-extrabuttons {
  order: -1;
  margin-right: 25px;
}

.wizard-pf-footer .wizard-pf-cancel {
  order: -2;
}

.modal-body > div {
  width: 100%;
}

.list-view-pf-stacked .list-group-item-heading {
  font-size: var(--pf-global--FontSize--sm);
}

.label {
  font-size: var(--pf-global--FontSize--xs);
}

.syn-scrollable {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.syn-scrollable--body {
  flex: 1 1 auto;
  overflow: auto;
}

.pf-c-backdrop {
  background-color: var(--pf-c-backdrop--Color);
}

.pf-c-about-modal-box__content dd {
  word-break: break-word;
}

.pf-c-content {
  --pf-c-content--FontSize: var(--pf-global--FontSize--sm);
}

.pf-c-dropdown__toggle.syn-help-dropdown {
  --pf-c-dropdown__toggle--FontSize: var(--pf-global--FontSize--md);
}

.list-view-pf-view {
  margin-top: 0;
}

.syn-truncate__ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
