/// Centralized Library of Mixins

@mixin visuallyhidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

@mixin preventclick {
  cursor: default;
  pointer-events: none;
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin syn-icon-box($size) {
  max-height: $size;
  max-width: $size;
}
