<div
  class="syn-scrollable"
  onDragStart="return false;"
  ondragenter="return false;"
  ondragover="return false;"
  ondrop="return false;"
>
  <div class="syn-scrollable--body">
    <div class="container-fluid">
      <div class="row row-cards-pf">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h1 class="card-pf-title">{{ 'integrations.api-provider.creation-title' | synI18n }}</h1>
          </div>
          <div class="card-pf-body">
            <p>{{ 'integrations.api-provider.creation-subtitle' | synI18n }}</p>

            <syndesis-validation-error *ngFor="let error of errors">
              {{ error.message }}
            </syndesis-validation-error>

            <form class="form-horizontal syn-form--swagger-upload"
                  (ngSubmit)="onDone.emit()"
                  #openApiForm="ngForm"
                  novalidate>
              <openapi-uploader [ngModel]="uploadSpecification"
                                (ngModelChange)="onUploadSpecificationChange.emit($event)"
                                name="uploaderValue"
                                [allowSpecCreation]="true"
                                [isInvalid]="(errors)">
              </openapi-uploader>
              <fieldset>
                <syndesis-button type="submit"
                                 [loading]="loading"
                                 [disabled]="!uploadSpecification.valid">
                  {{ 'shared.next' | synI18n }}
                </syndesis-button>

                <syndesis-button type="button" theme="default" (click)="onCancel.emit()">
                  {{ 'shared.cancel' | synI18n }}
                </syndesis-button>
              </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
