@import '@patternfly/patternfly/sass-utilities/all';
/// Common CSS overrides for UI normalization and styles referred to generic (PF/component-agnostic) items
html,
body {
  height: 100%;
}

body {
  overflow-y: hidden;
}

/// Patternfly Card overrides
.card-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.pf-c-page {
  display: block;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template-areas: none;
}

.pf-c-page__header {
  --pf-c-page__header-brand--md--BackgroundColor: #151515;
  background-color: var(--pf-c-page__header-brand--md--BackgroundColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 76px;
  z-index: 300;
  grid-area: none;
}
.pf-c-page__main {
  z-index: 100;
  .pf-c-page__main-section {
    background-color: $color-pf-custom-gray;
    margin-top: 76px;
    overflow: auto;
    padding: 0 20px;
  }
}

.pf-c-page__header-tools {
  z-index: 111;
}

.navbar-brand {
  margin: 6px 0 0 25px;
  white-space: nowrap;
  #appLogo {
    width: 11.7rem;
    height: auto;
  }
  .navbar-brand-icon {
    max-height: 28px;
    vertical-align: middle;
  }
  .navbar-brand-name {
    max-height: 28px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
  }
}

.pf-c-page__main.collapsed-nav {
  margin-left: 0;
}

.pf-c-page__main {
  margin-left: 290px;
}

.nav-pf-vertical .list-group-item > a {
  padding-left: 32px;
}

@media screen and (max-width: 767px) {
  .pf-c-page__header-brand-link {
    --pf-c-page__header-brand-link--md--MaxWidth: 130px;
  }

  .nav-pf-vertical {
    display: none;

    &[role="navigation"].collapsed {
      display: block;

      .list-group-item > a {
        padding-left: 20px;

        .list-group-item-value {
          display: block;
        }
      }
    }
  }

  .pf-c-page__main {
    margin-left: 0;
  }
}

.pf-c-page__header-tools {
  .pf-m-mobile {
    @media screen and (min-width: $pf-global--breakpoint--md) {
      display: none;
    }
  }
}

/// Patternfly Tabbed Nav overrides (which also override ngx-bootstrap's tab style)
.tab-container {
  .nav-tabs {
    border-bottom: solid 1px $color-pf-black-300;

    li.nav-item {
      margin: 0;

      a {
        border: none;
        cursor: pointer;

        &.active,
        &.active:hover,
        &.active:focus,
        &.active:visited {
          background: none;
          border-bottom: solid 1px $color-pf-blue-300;
        }

        &:hover {
          background: $color-pf-black-300;
          border-bottom: solid 1px $color-pf-black-300;
        }
      }
    }
  }

  .tab-content {
    background: #ffffff;
  }
}

// Override the background that seems off with patternfly-ng's list
.list-pf {
  .list-pf-item {
    background: $color-pf-white;
    //cursor: pointer;
    &:hover {
      background: $color-pf-blue-50;
    }
    .list-pf-container {
      .list-pf-content {
        // added cursor area minus the kebab to the right of the list item
        .list-pf-content {
          cursor: pointer;
        }
      }
    }
  }
}

.blank-slate-pf {
  background-color: inherit;
}

// Override classes to help sort padding issues
.no-bottom-margin {
  margin-bottom: 0px;
}

// Wrapper for toolbar-pf buttons where a breadcrumb is also used
.toolbar-pf-action-right-alignment {
  margin-top: 5px;
  position: relative;
}

// Create some space before the first label in the PatternFly toolbar
.toolbar-pf {
  .filter-pf {
    .list-inline {
      margin-left: -3px;
    }
  }
}

// Improve layout/responsiveness of default wizard status bar
.wizard-pf-steps {
  background: #fff;

  .wizard-pf-steps-indicator {
    height: auto;
    border: 0;
    cursor: pointer;

    @media (min-width: 768px) {
      padding: $gutter 0 calc(#{$gutter} + 35px);
      pointer-events: none;
    }

    .wizard-pf-step {
      flex: 1 1 0;

      &::before {
        top: calc(100% + 22.5px);
      }

      a {
        height: 100%;
        display: flex;
        align-items: center;

        .wizard-pf-step-title {
          line-height: 1.4;
        }

        .wizard-pf-step-number {
          top: calc(100% + 10px);
        }
      }
    }
  }
}

// Override PF3's popover/tooltip arrow margin, use ngx-bootstrap's positioning
.popover,
.tooltip {
  &.top,
  &.right,
  &.bottom,
  &.left {
    .arrow {
      margin: 0;
    }
  }
}

// PF4 overrides
.pf-c-page {
  --pf-global--FontSize--md: 12px;
  --pf-c-page__header-sidebar-toggle__c-button--FontSize: 24px;
  --pf-c-page__header-brand--md--FlexBasis: 290px;

  ul {
    list-style-type: none;
  }

  .pf-c-page__header-tools-group {
    .pf-icon {
      font-size: 16px;
    }
    &.user-menu-group {
      .pf-c-dropdown__toggle {
        line-height: 2;
      }
    }
  }
}

.integrations {
  .operations {
    .list-pf {
      .list-pf-actions {
        min-width: 92px;
      }
    }
  }
}
