<syndesis-modal [title]="'Confirm ' + getActionTitle()"
                [message]="'Are you sure you would like to ' + getAction() + ' the \'' + selectedIntegration?.name + '\' integration?'">
</syndesis-modal>
<syndesis-loading [loading]="i && loading | async">
  <div *ngIf="i"
       class="row integration-detail">
    <div class=" toolbar-pf toolbar">
      <div class="col-sm-12">
        <div class="inline-block">
          <ol class="breadcrumb">
            <li>
              <a [routerLink]="['/']">Home</a>
            </li>
            <li>
              <a [routerLink]="['/integrations']">Integrations</a>
            </li>
            <li class="active"><strong>Integration Summary</strong></li>
          </ol>
        </div>
        <div class="toolbar-pf-action-right">
          <button type="button"
                  class="btn btn-primary"
                  [routerLink]="['..']">Done</button>
          <button type="button"
                  class="btn btn-default"
                  (click)="exportIntegration()">Export</button>
          <button type="button"
                  class="btn btn-default"
                  [routerLink]="['edit']">Edit Integration</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 details">
      <h1>
        <syndesis-editable-text [value]="i.name"
                                [validationFn]="validateName"
                                (onSave)="onAttributeUpdated('name', $event)"></syndesis-editable-text>
      </h1>
      <dl class="dl-horizontal">
        <dt>
          Description:
        </dt>
        <dd>
          <p>
            <ng-template ngFor
                         let-step
                         [ngForOf]="i.steps"
                         let-index="index">
              <div *ngIf="step"
                   class="step-block inline-block text-center">
                <ng-container [ngSwitch]="step.stepKind">
                  <ng-container *ngSwitchCase="'endpoint'">
                    <div id="{{ step.connection.name | toId }}"
                         class="text-center connection"
                         (click)="viewDetails(step)"
                         title="{{ step.connection.name }}&nbsp;{{ step.action.name }}">
                      <div [class]="'step-line ' + getStepLineClass(index)"></div>
                      <div class="icon">
                        <img class="connection-icon"
                             src="../../../assets/icons/{{ step.connection.connectorId }}.integration.png">
                      </div>
                      <div>{{ step.connection.name | capitalize }}</div>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <div id="{{ (step.name || step.stepKind) | toId }}"
                         class="text-center step">
                      <div class="step-line"></div>
                      <div class="icon not-connection">
                        <div class="icon-line"></div>
                      </div>
                      <div>{{ stepStore.getStepName(step) }}</div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-template>
          </p>
          <p>
            <syndesis-editable-textarea [value]="i.description"
                                        placeholder="No description set..."
                                        (onSave)="onAttributeUpdated('description', $event)"></syndesis-editable-textarea>
          </p>
        </dd>
      </dl>
      <!--
      <dl class="dl-horizontal">
        <dt>Tags:</dt>
        <dd>
          <syndesis-editable-tags [value]="i.tags"
                                  placeholder="No tags set..."
                                  (onSave)="onAttributeUpdated('tags', $event)"></syndesis-editable-tags>

        </dd>
      </dl>
      -->
      <dl class="dl-horizontal">
        <dt>
          Status:
        </dt>
        <dd>
          <p>
            <syndesis-integration-status [integration]="i"></syndesis-integration-status>
          </p>
          <p>
            <button *ngIf="canDeactivate(i)"
                    class="btn btn-default"
                    (click)="requestAction('deactivate', i)">Stop Integration</button>
            <button *ngIf="canActivate(i)"
                    class="btn btn-default"
                    (click)="requestAction('activate', i)">Start Integration</button>
            <!--
            <button class="btn btn-default">Undeploy Integration</button>
            -->
          </p>
        </dd>
      </dl>
      <!--
      <dl class="dl-horizontal">
        <dt>
          History:
        </dt>
        <dd>
          <syndesis-loading [loading]="!history">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Version</th>
                  <th>Start date/time</th>
                  <th>Run Length</th>
                  <th>Uses</th>
                  <th>Status</th>
                  <th width="25%">Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor
                             let-row
                             [ngForOf]="history">
                  <tr>
                    <td>
                      <ng-container *ngIf="row.version === 'Draft'">
                        <i>Draft</i>
                      </ng-container>
                      <ng-container *ngIf="row.version !== 'Draft'">
                        {{ row.version }}
                      </ng-container>
                    </td>
                    <td>{{ row.startTime | date:"M/d/y H:m:s" }}</td>
                    <td>
                      <ng-container *ngIf="row.runLength || row.runLength === 0">
                        {{ row.runLength }}s
                      </ng-container>
                    </td>
                    <td>{{ row.uses }}</td>
                    <td>
                      <span *ngFor="let status of row.status"
                            [class]="status.class">
                          <i *ngIf="status.icon" [class]="status.icon"></i>
                          {{ status.label }}
                        </span>
                    </td>
                    <td>
                      <button class="btn btn-default"
                              *ngFor="let action of row.actions" (click)="onRevisionAction(action, row.revision)">{{action.label}}</button>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </syndesis-loading>
        </dd>
      </dl>
      -->
      <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
          <button *ngIf="canDelete(i)"
                  class="btn btn-danger"
                  (click)="requestAction('delete', i)">Delete Integration</button>
        </dd>
      </dl>

    </div>
  </div>
</syndesis-loading>
