.connection-schema-list-create-connection-button {
  margin-bottom: 5px;
  margin-left: 20px;
}
.connection-schema-list-empty-create-connection-button {
  margin-top: 10px;
}
.connection-schema-list {
  overflow-y: auto;
}
.connection-schema-list_content {
  padding: 10px;
  height: 100%;
}
.connection-schema-list_contentSection{
  flex-grow: 1;
  padding: 0 10px;
}
.connection-schema-list_headingSection{
  border-bottom: 2px solid #E1E1E1;
  margin: 0 !important;
}
.connection-schema-list_heading_text{
  padding-left: 25px;
}
