.connection-schema-list-create-connection-button {
  margin-bottom: 5px;
}
.connection-schema-list-empty-create-connection-button {
  margin-top: 10px;
}
.connection-schema-list {
    max-height: 45em;
    overflow-y: auto;
  }
