.preview-selected-Connection {
  padding: 10px;
  height: 100%;
}

.preview-selected-Connection_heading_text {
  padding-left: 25px;
}

.preview-selected-Connection_headingSection {
  border-bottom: 2px solid #e1e1e1;
  margin: 0 !important;
}

.preview-selected-Connection_contentSection {
  flex-grow: 1;
}
