.schema-node-list-item .schema-node-list-item__text-wrapper {
  margin-left: 8px;
  margin-top:7px;
}

.schema-node-list-item .schema-node-list-item__path {
  margin-left: 8px;
  margin-top: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.schema-node-list-item .pf-c-data-list__item-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

.schema-node-list-item .pf-c-data-list__item-control {
  padding-top: 7px;
  padding-bottom: 0px;
}

.schema-node-list-item .pf-c-data-list__cell {
  padding-top: 2px;
  padding-bottom: 7px;
}

.schema-node-list-item .pf-c-data-list__cell + .pf-c-data-list__cell {
  padding-top: 2px;
  padding-bottom: 7px;
}
