.selected-connection-tables {
  padding: 10px;
  height: 100%;
}

.selected-connection-tables_heading_text {
  padding-left: 25px;
}

.selected-connection-tables_headingSection {
  border-bottom: 2px solid #e1e1e1;
  margin: 0 !important;
}

.selected-connection-tables_contentSection {
  flex-grow: 1;
  height: 350px;
  overflow-y: auto;
}
