.view-output-toolbar__stackItem {
  border-bottom: 1px solid lightgray;
  padding: 8px;
}

.view-output-toolbar__activeFilter {
  --pf-c-chip--BorderRadius: 30em;
}

.view-output-toolbar__filterResultsMessage {
  font-weight: bold;
}

.view-output-toolbar__removeColumnDialog-columnList {
  margin: 10px 20px;
}

.view-output-toolbar__removeColumnDialog-message {
  font-weight: bold;
}

.view-output-toolbar__reorderButton.pf-c-button {
  --pf-c-button--BorderRadius: 60em;
  --pf-c-button--LineHeight: 0.75;
}

.pf-l-toolbar .pf-m-align-right {
  margin-left: auto;
}

.pf-c-content dl {
  grid-row-gap: 0;
}

.pf-c-content dt {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}
