.view-create-layout-card-body {
  background-color: #ededed;
}

.pf-c-card__footer.view-create-layout-card-footer {
  background-color: #ededed;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #d1d1d1;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.view-create-layout {
  flex: 1 0;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.view-create-layout__body {
  display: flex;
  flex: 1 0;
  width: 100%;
}

.view-create-layout__contentOuter {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.view-create-layout__contentInner {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.view-create-layout__card {
  height: 100%;
}

.view-create-layout__grid {
  flex-grow: 8;
  border-bottom: 2px solid #e1e1e1;
}

.view-create-layout__grid_withDataPreview {
  max-height: 500px;
}

.view-create-layout__header {
  border-bottom: 1px solid #ededed;
}
.view-create-layout_connection {
  border-right: 2px solid #e1e1e1;
  padding-top: 10px;
}

.view-create-layout_previewSection{
  padding: 10px 25px;
}

.view-create-layout_previewSection table{
  border: 1px solid #e1e1e1;
}

.view-create-layout_tableSelected {
  padding: 10px;
}

.view-create-layout_expandable button{
 float: right;
 margin-top: -40px;
 outline: none;
}

.view-create-layout__previewData{
  flex-grow: 1;
}

.view-create-layout__contentOuter .toolbar-pf {
  background-color: var(--pf-global--BackgroundColor--200);
}

@media (min-width: 768px) {
  .view-create-layout {
    height: 100%;
    display: flex;
    flex-flow: column;
  }
  .view-create-layout__body {
    overflow: hidden;
  }

  .view-create-layout__contentOuter {
    overflow: auto;
    padding: 0;
    width: 100%;
  }
  .view-create-layout__contentInner {
    display: flex;
    flex-flow: column;
  }
}
