.view-edit-content__buttonBar {
  border-top: none;
  margin-left: auto;
  padding: 0px 20px 10px;
  width: 90%;
}

.view-edit-content__editButton {
  margin-bottom: 8px;
  margin-right: 4px;
}

.view-edit-content__formFields {
  margin-left: auto;
  width: 90%;
}
