.views-import-layout-card-body {
  background-color: #ededed;
}

.pf-c-card__footer.views-import-layout-card-footer {
  background-color: #ededed;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #d1d1d1;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
