.integration-detail-metrics .pf-c-card {
  min-height: 155px;
}

.integration-detail-metrics__duration-difference {
  font-size: smaller;
}

.integration-detail-metrics__last-processed {
  font-size: smaller;
}

.integration-detail-metrics__uptime-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.integration-detail-metrics__uptime-uptime {
  font-size: 11px;
  color: #8b8d8f;
  text-align: right;
}

