apiVersion: v1
data:
  settings.xml: |-
    <?xml version="1.0" encoding="UTF-8"?>
    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <localRepository></localRepository>
      <profiles>
        <profile>
          <id>maven-settings</id>
          <activation>
            <activeByDefault>true</activeByDefault>
          </activation>

          <!-- Config: Productized={{.Productized}}, EarlyAccess={{.EarlyAccess}}, Custom={{ if .Syndesis.Spec.MavenRepositories}}true{{else}}false{{end}} -->

      {{- if .Syndesis.Spec.MavenRepositories}}
          <repositories>
            {{- range $id, $url := .Syndesis.Spec.MavenRepositories}}
              <repository>
                <id>{{ $id }}</id>
                <url>{{ $url }}</url>
                <snapshots>
                  <enabled>false</enabled>
                </snapshots>
                <releases>
                  <enabled>true</enabled>
                </releases>
              </repository>

            {{- end }}
          </repositories>
          <pluginRepositories>
            {{- range $id, $url := .Syndesis.Spec.MavenRepositories}}
              <pluginRepository>
                <id>{{ $id }}</id>
                <url>{{ $url }}</url>
                <snapshots>
                  <enabled>false</enabled>
                </snapshots>
                <releases>
                  <enabled>true</enabled>
                </releases>
              </pluginRepository>

            {{- end }}
          </pluginRepositories>

      {{- end}}
        </profile>
      </profiles>
    </settings>
kind: ConfigMap
metadata:
  labels:
    app: camel-k
  name: camel-k-maven-settings
