- apiVersion: camel.apache.org/v1alpha1
  kind: IntegrationPlatform
  metadata:
    labels:
      app: camel-k
    name: camel-k
  spec:
    {{- if .Syndesis.Addons.Knative.Enabled }}
    profile: Knative
    {{- end}}
    build:
      baseImage: '{{ .Syndesis.Addons.CamelK.Image }}'
      {{- if (not .Productized)}}
      camelVersion: {{.Syndesis.Addons.CamelK.CamelVersion}}
      runtimeVersion: {{.Syndesis.Addons.CamelK.CamelKRuntime}}
      {{- end}}
      maven:
        settings:
          configMapKeyRef:
            key: settings.xml
            name: camel-k-maven-settings
