- apiVersion: camel.apache.org/v1alpha1
  kind: IntegrationPlatform
  metadata:
    labels:
      app: camel-k
    name: camel-k
  spec:
    build:
      {{- if .Syndesis.Spec.Addons.camelk.image}}
      baseImage: '{{.Syndesis.Spec.Addons.camelk.image}}'
      {{- end}}
      {{- if (not .Productized)}}
      camelVersion: {{.Versions.Camel}}
      runtimeVersion: {{.Versions.CamelKRuntime}}
      {{- end}}
      maven:
        settings:
          configMapKeyRef:
            key: settings.xml
            name: camel-k-maven-settings
