- apiVersion: camel.apache.org/v1alpha1
  kind: IntegrationPlatform
  metadata:
    labels:
      app: camel-k
    name: camel-k
  spec:
    build:
      baseImage: '{{ .Images.CamelKBaseImagePrefix }}:{{ .Tags.CamelKBase }}'
      camelVersion: {{.Versions.Camel}}
      maven:
        settings:
          configMapKeyRef:
            key: settings.xml
            name: camel-k-maven-settings
      runtimeVersion: {{.Versions.CamelKRuntime}}
