<div class="card-pf-heading">
  <h2 class="card-pf-title">
    Upload Swagger
  </h2>
</div>
<div class="card-pf-body">
  <p>Upload the swagger file for your Custom API Client Connector. Custom API's are RESTful APIs and can be hosted anywhere,
    as long as a well-documented swagger is available and conforms to OpenAPI standard.</p>
  <p>
    <strong>Choose how you want to create your connector?</strong>
  </p>
  <form class="swagger-upload">
    <fieldset class="swagger-upload__fieldset swagger-upload__fieldset--options">
      <label class="swagger-upload__option">
        <input type="radio" checked="checked" name="connector-source" #uploadFileOption> Upload a Swagger file
      </label>
      <label class="swagger-upload__option">
        <input type="radio" name="connector-source" #fetchUrlOption> Use a URL
      </label>
    </fieldset>

    <fieldset class="swagger-upload__fieldset swagger-upload__fieldset--uploader" *ngIf="uploadFileOption.checked">
      <input type="file">
    </fieldset>

    <fieldset class="swagger-upload__fieldset swagger-upload__fieldset--textinput" *ngIf="fetchUrlOption.checked">
      <input type="text">
      <em>* Please note, we will download this for you but any updates to the online version will not e updated in our
        app</em>
    </fieldset>

    <button type="button" class="swagger-upload__submit btn btn-primary" (click)="next.emit()">
      Next
    </button>
  </form>
</div>
