<syndesis-loading [loading]="!currentFlowService.loaded">
  <!-- Navigation buttons -->
  <ng-template #controlButtons>
    <syndesis-cancel-add-step></syndesis-cancel-add-step>
    <button type="button"
            *ngIf="lastPage === 0 || page === 0"
            class="btn btn-default"
            (click)="goBack()">
            <i class="fa fa-chevron-left"></i>
            Choose Action
            </button>
    <button type="button"
            *ngIf="lastPage > 0 && page !== 0"
            class="btn btn-default"
            (click)="previous()">
            <i class="fa fa-chevron-left"></i>
            Previous
    </button>
    <button type="button"
            class="btn btn-primary"
            (click)="continue()"
            [disabled]="maybeDisableDone()">
      <ng-container *ngIf="!isShapeless && (page >= lastPage || !hasConfiguration)">
        Done
      </ng-container>
      <ng-container *ngIf="isShapeless || page < lastPage">
        Next
      </ng-container>
    </button>
  </ng-template>
  <div class="syn-scrollable">
    <!-- Toolbar -->
    <div class="toolbar syn-toolbar--inverted">
      <!-- Toolbar: Breadcrumbs -->
      <div class="container-fluid">
        <div class="row toolbar-pf">
          <div class="col-sm-12">
            <div class="toolbar-pf-actions">
              <div class="inline-block">
                <ol class="breadcrumb">
                  <li>
                    <a [routerLink]="['/']">Home</a>
                  </li>
                  <li>
                    <a [routerLink]="['/integrations']">Integrations</a>
                  </li>
                  <li>
                    <a *ngIf="flowPageService.integrationName"
                      [routerLink]="['/integrations', currentFlowService.integration.id]">{{ flowPageService.integrationName }}</a>
                    <ng-container *ngIf="!flowPageService.integrationName">New Integration</ng-container>
                  </li>
                  <li class="active">Configure {{ action?.name }}</li>
                </ol>
              </div>
              <div class="toolbar-pf-action-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="syn-scrollable--body">
      <div class="container-fluid">
        <div class="title">
          <h1>{{ step?.connection?.name }}</h1>
          <h3>{{ action?.name }}</h3>
        </div>
        <syndesis-loading [loading]="loading">
          <p *ngIf="hasConfiguration">{{ descriptor.description }}</p>
          <div class="row row-cards-pf">
            <div class="card-pf">
              <div class="card-pf-body">
                <ng-container *ngIf="error">
                  <div class="row">
                    <div class="col-xs-12">
                      <p [ngClass]="error.class">
                        <span [ngClass]="error.icon"></span>
                        {{ error.message }}
                      </p>
                    </div>
                  </div>
                  <div *ngIf="!hasConfiguration"
                      class="row control-buttons">
                    <div class="col-xs-12">
                      <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="hasConfiguration">
                  <form class="form-horizontal"
                        [formGroup]="formGroup">
                    <syndesis-form-control *ngFor="let controlModel of formModel"
                                        [group]="formGroup"
                                        [model]="controlModel"></syndesis-form-control>
                    <div class="row control-buttons">
                      <div class="col-sm-9 col-sm-offset-3">
                        <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
                      </div>
                    </div>
                  </form>
                </ng-container>
              </div>
            </div>
          </div>
        </syndesis-loading>
      </div>
    </div>
  </div>
</syndesis-loading>
