.pre-content {
  .toolbar-pf {
    background: none !important;
    border: none !important;

    .search {
      width: 50% !important;

      .input-group {
        width: 80% !important;
      }
    }
  }
}
