.column-permission-item-row_first_item {
  padding: 10px 0px;
}
.column-permission-item-row_item {
  padding: 10px 0px;
  border-top: 1px solid #d2d2d2;
}
.column-permission-item-remove_icon {
  cursor: pointer;
}
.column-permission-item-remove {
  text-align: end;
}

.column-permission-item-label {
  font-weight: bold;
  padding-bottom: 5px;
}
.column-permission-item-permissions {
  padding: 10px 0px !important;
}
.column-permission-item-column_select{
    padding-right: 15px;
}