.column-masking-item-condition_section {
  padding: 15px !important;
  background-color: #fafafa !important;
  margin-bottom: 15px !important;
}
.column-masking-item-condition-order {
  padding-right: 15px;
}
.column-permission-item-condition-delete {
  cursor: pointer;
}
