.row-filtering-item-row_first_item {
  padding: 10px 0px;
}
.row-filtering-item-row_item {
  padding: 10px 0px;
  border-top: 1px solid #d2d2d2;
}
.row-filtering-item-remove_icon {
  text-align: end;
}

.row-filtering-item-label {
  font-weight: bold;
  padding-bottom: 5px;
}
.row-filtering-item-condition {
  padding: 10px 0px !important;
}
.row-filtering-item-operation_select{
    padding-right: 15px;
}