<syndesis-modal [title]="modalTitle"
                [message]="modalMessage">
</syndesis-modal>
<syndesis-loading [loading]="loading$ | async">
  <div *ngIf="integration"
       class="row integration-detail">
    <div class=" toolbar-pf toolbar">
      <div class="col-sm-12">
        <div class="inline-block">
          <ol class="breadcrumb">
            <li>
              <a [routerLink]="['/']">Home</a>
            </li>
            <li>
              <a [routerLink]="['/integrations']">Integrations</a>
            </li>
            <li class="active"><strong>Integration Summary</strong></li>
          </ol>
        </div>
        <div class="toolbar-pf-action-right">
          <button type="button"
                  class="btn btn-primary"
                  [routerLink]="['..']">Done</button>
          <button type="button"
                  class="btn btn-default"
                  (click)="exportIntegration()">Export</button>
          <button type="button"
                  class="btn btn-default"
                  [routerLink]="['edit']">Edit Integration</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 details">
      <h1>
        <syndesis-editable-text [value]="integration.name"
                                [validationFn]="validateName"
                                (onSave)="attributeUpdated('name', $event, integration)"></syndesis-editable-text>
      </h1>
      <dl class="dl-horizontal">
        <dt>
          Description:
        </dt>
        <dd>
          <p>
            <!--<pre>{{ currentDeployment | json }}</pre>-->
            <ng-template ngFor
                         let-step
                         [ngForOf]="integration.steps"
                         let-index="index">
              <div *ngIf="step"
                   class="step-block inline-block text-center">
                <ng-container [ngSwitch]="step.stepKind">
                  <ng-container *ngSwitchCase="'endpoint'">
                    <div id="{{ step.connection.name | synSlugify }}"
                         class="text-center connection"
                         (click)="viewDetails(step)"
                         title="{{ step.connection.name }}&nbsp;{{ step.action.name }}">
                      <div [class]="'step-line ' + getStepLineClass(index)"></div>
                      <div class="icon">
                        <img class="syn-icon-small" [src]="step.connection | synIconPath">
                      </div>
                      <div>{{ step.connection.name | capitalize }}</div>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <div id="{{ (step.name || step.stepKind) | synSlugify }}"
                         class="text-center step">
                      <div class="step-line"></div>
                      <div class="icon not-connection">
                        <div class="icon-line"></div>
                      </div>
                      <div>{{ stepStore.getStepName(step) }}</div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-template>
          </p>
          <p>
            <syndesis-editable-textarea [value]="integration.description"
                                        placeholder="No description set..."
                                        (onSave)="attributeUpdated('description', $event, integration)"></syndesis-editable-textarea>
          </p>
        </dd>
      </dl>
      <!--
      <dl class="dl-horizontal">
        <dt>Tags:</dt>
        <dd>
          <syndesis-editable-tags [value]="integration.tags"
                                  placeholder="No tags set..."
                                  (onSave)="onAttributeUpdated('tags', $event)"></syndesis-editable-tags>

        </dd>
      </dl>
      -->
      <dl class="dl-horizontal">
        <dt>
          Status:
        </dt>
        <dd>
          <p>
            <syndesis-integration-status [integration]="integration"></syndesis-integration-status>
          </p>
          <p>
            <button *ngIf="canDeactivate(integration)"
                    class="btn btn-default"
                    (click)="requestAction('deactivate', integration)">Stop Integration</button>
            <button *ngIf="canActivate(integration)"
                    class="btn btn-default"
                    (click)="requestAction('activate', integration)">Start Integration</button>
          </p>
        </dd>
      </dl>
      <ng-container *ngIf="integrationDeployments$ | async; let integrationDeployments">
        <syndesis-loading [loading]="integrationDeployments === undefined">
          <dl class="dl-horizontal">
            <dt>
              History:
            </dt>
            <dd>
              <pfng-list [items]="integrationDeployments"
                         [config]="deploymentListConfig"
                         [itemTemplate]="itemTemplate"
                         [expandTemplate]="expandTemplate"
                         [actionTemplate]="actionTemplate">
                <ng-template #itemTemplate
                             let-deployment="item"
                             let-index="index">
                  <div class="list-pf-left">
                    <ng-container *ngIf="deployment.version === (integration.deploymentId || integration.version)">
                      <span class="pficon pficon-ok list-pf-icon-small"></span>
                    </ng-container>
                  </div>
                  <div class="list-pf-content-wrapper">
                    <div class="list-pf-main-content">
                      <div class="list-pf-title">
                        Version: {{ deployment.version }}
                      </div>
                    </div>
                  </div>
                  <div class="list-pf-additional-content">
                    <span>Last published on {{ deployment.lastUpdated | date }}</span>
                    <span>{{ deployment.timesUsed | i18nPlural:usesMapping }} </span>
                  </div>
                </ng-template>
                <ng-template #expandTemplate let-deployment="item" let-index="index">
                  <div class="row">
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>Created at:</dt>
                        <dd>{{ deployment.createdDate | date }}</dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt></dt>
                        <dd></dd>
                      </dl>
                    </div>
                  </div>
                </ng-template>
                <ng-template #actionTemplate let-deployment="item" let-index="index">
                  <pfng-action class="list-pf-actions"
                               [config]="deploymentActionConfigs[deployment.id]"
                               (onActionSelect)="deploymentAction($event, deployment)">
                  </pfng-action>
                </ng-template>
              </pfng-list>
            </dd>
          </dl>
        </syndesis-loading>
      </ng-container>
      <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
          <button *ngIf="canDelete(integration)"
                  class="btn btn-danger"
                  (click)="requestAction('delete', integration)">Delete Integration</button>
        </dd>
      </dl>
      <dl class="dl-horizontal" *ngIf="loggingEnabled">
        <dt>
          Logs:
        </dt>
        <syndesis-integration-logs [integration]=integration></syndesis-integration-logs>
      </dl>

    </div>
  </div>
</syndesis-loading>
