apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ${KUSER}-admin
  namespace: ${NAMESPACE}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: ${KUSER}

