<div class="row toolbar-pf">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="inline-block">
        <ol class="breadcrumb no-bottom-margin">
          <li>
            <a [routerLink]="['/customizations']">
              Customizations
            </a>
          </li>
          <li>
            <a [routerLink]="['..']">
              Technical Extensions
            </a>
          </li>
          <li class="active">
            <strong>
              Technical Extension Details
            </strong>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<syndesis-loading [loading]="loading | async">
  <div class="row">
    <div class="col-xs-12">
      <p></p>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            {{ extension.name }}
            <small>({{ extension.id }})</small>
          </h1>
        </div>
        <div class="panel-body">
          <h4>Overview</h4>
          <dl class="dl-horizontal">
            <dt>
              Name
            </dt>
            <dd>
              {{ extension.name }}
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>
              Description
            </dt>
            <dd>
              {{ extension.description }}
            </dd>
          </dl>
          <p></p>
          <h4>Supported Steps</h4>
          <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-11">
              <div *ngFor="let action of extension.actions">
                <strong>
                  {{ action.name }}
                </strong>
                - {{ action.description }}
              </div>
            </div>
          </div>
          <p></p>
          <h4>Usage</h4>
          <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-11">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</syndesis-loading>
