apiVersion: batch/v1
kind: Job
metadata:
  name: {{.Job}}
spec:
  backoffLimit: 4
  ttlSecondsAfterFinished: 100
  template:
    metadata:
      name: {{.Job}}
      labels:
        job-name: {{.Job}}
    spec:
      serviceAccountName: syndesis-operator
      restartPolicy: Never
      volumes:
      - name: tmp-pgdata
        emptyDir: {}
      containers:
      - name: restore-db-compiler
        image: {{.Image}}
        volumeMounts:
        - mountPath: /pgdata
          name: tmp-pgdata
        env:
        - name: PGHOST
          value: {{.Host}}
        - name: PGPORT
          value: "{{.Port}}"
        - name: PGUSER
          value: "{{.User}}"
        - name: PGPASSWORD
          value: "{{.Password}}"
        command:
        - /bin/bash
        args:
        - "-c"
        - |
          (while true;  do if [[ -f "/pgdata/pg-upload-complete" ]]; then sleep 5; break; fi; sleep 3; done)
          pg_restore {{.CustomOptions}} --dbname={{.Name}} {{.FileDir}}/{{.FileName}}
