@import 'patternfly-sass/assets/stylesheets/patternfly/color-variables';
.integrations.list {
  color: #656565;
  /deep/ .list-pf {
    .list-pf-item {
      background: $color-pf-white;
      cursor: pointer;
      &:hover {
        background: $color-pf-blue-50;
      }
    }
  }
  .integration-icons {
    display: inline-table;
    min-width: 135px;
    .fa-angle-right {
      margin: 0 10px 0 10px;
      font-size: 18px;
    }
  }
  .integration-content {
    .name {
      font-weight: 700;
    }
  }
  .integration-status {
    .pass-fail {
      i {
        font-size: 16px;
      }
    }
  }
}
