<ol class="breadcrumb">
  <li><a [routerLink]="['/']"><i class="fa fa-angle-double-left"></i> Dashboard</a></li>
  <li class="active">Select {{ atEnd() ? 'end' : 'start' }} Action</li>
</ol>
<div class="title">
  <h1>Select {{ atEnd() ? 'end' : 'start' }} Action</h1>
</div>
<div *ngIf="actions">
  <p>Select an Action</p>
  <ipaas-integrations-list-toolbar  [(filter)]="filter" [(sort)]="sort"></ipaas-integrations-list-toolbar>
  <ipaas-list-actions [actions]="actions | objectPropertyFilter:filter | objectPropertySort:sort" [loading]="loading | async" (onSelected)="onSelected($event)"></ipaas-list-actions>
</div>
