.integrations.edit {
  height: 100%;

  .title {
    border-bottom: 1px solid #d7d6d7;
    margin: auto -20px;
    margin-bottom: 15px;

    h1 {
      padding: 0 20px;
    }
  }

  .row {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .mapper {
    margin-left: 0;
    margin-right: 0;
  }

  .wizard-sidebar {
    flex: 0 0 auto;
    position: relative;
    background: #fafafa;
    border-right: 1px solid #d1d1d1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 20px 0 20px;
    min-width: 300px;
  }

  .mapper-sidebar {
    flex: 0 0 auto;
    position: relative;
    background: #fafafa;
    border-right: 1px solid #d1d1d1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .main-panel {
    flex: 1 1 auto;
  }

  ::ng-deep {
    .toolbar {
      .toolbar-pf {
        background: none !important;
        border-bottom: 1px #d9d9d9 solid;
        box-shadow: none;

        .breadcrumb {
          padding: 0;
          margin: 0;
        }

        .search {
          width: 50%;

          .input-group {
            width: 80%;
          }
        }
     }
    }

    .control-buttons {
      margin-bottom: 15px;
    }
  }
}
