@import 'syndesis-sass';

.integrations.edit {
  height: 100%;

  .title {
    border-bottom: 1px solid #d7d6d7;
    margin: auto -20px;
    margin-bottom: 15px;

    h1 {
      padding: 0 20px;
    }
  }

  .row {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .mapper {
    margin-left: 0;
    margin-right: 0;
  }

  .wizard-sidebar {
    flex: 0 0 auto;
    background: #fafafa;
    border-right: 1px solid #d1d1d1;
    height: 100%;
  }

  .main-panel {
    flex: 1 1 auto;
  }

  ::ng-deep {
    .control-buttons {
      margin-bottom: 15px;
    }
  }
}
