<syndesis-loading
  [loading]="!(currentFlowService.loaded$ | async)"
  [content]="content"
>
  <ng-template #content>
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            &lt;&lt;&nbsp;<a [routerLink]="['/integrations']"
              >All Integrations</a
            >
          </li>
          <li *ngIf="currentFlowService.integration.name">
            <a
              [routerLink]="[
                '/integrations',
                currentFlowService.integration.id
              ]"
              >{{ currentFlowService.integration.name }}</a
            >
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <syndesis-integration-flow-toolbar></syndesis-integration-flow-toolbar>
      </div>
    </div>
    <div class="integrations edit row">
      <!-- Sidebar -->
      <div class="wizard-sidebar">
        <syndesis-integration-flow-view></syndesis-integration-flow-view>
      </div>
      <!-- Add/Edit Integration -->
      <div class="main-panel {{ getPageContainer() }}">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-template>
</syndesis-loading>
