@import 'syndesis-sass';

.integrations.edit {
  display: flex;
  flex-flow: column;
  height: 100%;

  .header {
    .title {
      border-bottom: 1px solid #d7d6d7;
      margin: auto -20px;
      margin-bottom: 15px;

      h1 {
        padding: 0 20px;
      }
    }
  }

  .content {
    display: flex;
    flex: 1;

    .wizard-sidebar {
      flex: 0 0 auto;
      background: #fafafa;
      border-right: 1px solid #d1d1d1;
    }

    .main-panel {
      flex: 1 1 auto;
    }
  }


  ::ng-deep {
    .control-buttons {
      margin-bottom: 15px;
    }
  }
}
