.extension-group:not(:last-child) {
  margin-bottom: 35px;
}

.extension-id {
  font-size: 0.5em;
  margin-left: 10px;
}

.extension-title {
  margin: 0;
}

/* .section-heading {
} */

button + button {
  margin-left: 4px;
}
