.extension-import-review__buttonBar {
  margin: 12px;
}

.extension-import-review__cancelButton {
  margin-left: 4px;
}

.extension-import-review__container {
  background: white;
  width: 100%;
}

.extension-import-review__propertyLabel {
  font-weight: bold;
  text-align: right;
}

.extension-import-review__propertyValue {
  text-align: left;
}

.extension-import-review__title {
  font-size: 1.5em;
  padding: 12px;
  text-align: left;
}
