.basic-filter {
  .basic-filter-form-container {
    background: #FFFFFF;
    padding: 30px;

    .basic-filter-form {
      .rule-buttons {
        padding: 10px 0;
      }

      .rules-group {
        .form-group {
          padding: 10px 0;

          &.keywords {
            input {
              width: 100%;
            }
          }

          .input-group {
            .input-group-addon {
              cursor: pointer;
            }
          }
        }
      }
    }

    .add-rule {
      cursor: pointer;
    }
  }
}
