<div class="basic-filter">
  <div class="clearfix">

    <div class="title">
      <h1>Configure Basic Filter Step</h1>
    </div>

    <p>Fill out the fields associated with the selected step.</p>

    <div class="overflow-hidden content-margin basic-filter-form-container">

      <form [formGroup]="formGroup"
            class="basic-filter-form">

        <dynamic-form-bootstrap-control *ngFor="let controlModel of basicFilterModel"
                                        [group]="formGroup"
                                        [model]="controlModel"
                                        (change)="onChange($event)">

          <ng-template modelId="rulesFormArray"
                       let-context="context"
                       let-index="index">

            <div class="pull-right rule-buttons">
              <a *ngIf="index !== 0"
                 class="fa fa-trash-o"
                 (click)="remove(context, index)">
              </a>
            </div>

          </ng-template>

        </dynamic-form-bootstrap-control>

      </form>

      <a (click)="add()"
         class="add-rule">+ Add another rule
      </a>

    </div>
  </div>
</div>
