.publish-status-with-progress-progress {
    align-items: center;
    display: inline-flex;
    flex-flow: row;
    margin-right: 10px;
}

.publish-status-with-progress_Label {
    margin-right: 15px;
}

.publish-status-with-progress-margin10 {
    margin-right: 10px;
}

.publish-status-with-progress_text {
    margin-right: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.publish-status-with-progress-badge{
    margin-right: 10px;
    background-color: #D1D1D1 !important;
    padding: 2px;
    color: #000 !important;
}

.publish-status-with-progress_version-container {
    width: 100px;
    display: inline-block;
}

.publish-status-with-progress-badge-container {
    width: 78px;
    display: inline-block;
}

  