.sql-results-table.pf-c-table {
  --pf-c-table--m-compact--FontSize: 12px;
  --pf-c-table-cell--m-grid--hidden-visible--Display: visible;
}

.sql-results-table.pf-c-table td {
  border: 1px solid var(--pf-global--BorderColor--100);
}

.sql-results-table.pf-c-table th {
  border: 1px solid var(--pf-global--BorderColor--200);
  background-color: #D1D1D1;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sql-results-table__minimumColWidth {
  min-width: 80px;
}

.sql-results-table__smallColWidth {
  min-width: 200px;
}

.sql-results-table__mediumColWidth {
  min-width: 250px;
}

.sql-results-table__largeColWidth {
  min-width: 400px;
}
