.virtualization-list-item-odata-link-icon {
  margin-left: 5px;
}

.virtualization-list-item-lock-icon {
  margin-right: 5px;
}

.virtualization-list-item-secured {
  cursor: pointer;
}

.virtualization-list-item-secured-text {
  color: var(--pf-global--info-color--100);
}

.virtualization-list-item__odata-anchor {
  word-break: break-all;
}

.virtualization-list-item__odata-span {
  margin-top: 5px;
  text-align: left;
}

/* Disable click events when MenuItem is disabled */
.virtualization-list-item__menuItem.disabled {
  pointer-events: none;
}

.virtualization-list-item__usedby-text{
  width: 130px;
}
