.virtualization-details-header__row {
  align-items: center;
}

.virtualization-details-header__virtualizationName {
  font-size: 2em;
}

.virtualization-details-header__status {
  padding-top: 10px;
}

.virtualization-details-header-odata-link-icon {
  margin-left: 5px;
}
