<div *ngIf="formGroup">
  <syndesis-loading [loading]="loading">
    <form [formGroup]="formGroup" class="basic-filter-form">
      <syndesis-form-control *ngFor="let controlModel of basicFilterModel"
        [group]="formGroup"
        [model]="controlModel"
        (change)="onChange($event)"
        [formArrayRowClass]="'clearfix'">
        <ng-template modelId="rulesFormArray" let-context="context" let-index="index">
          <div class="pull-right rule-buttons">
            <a class="fa fa-trash-o"
              *ngIf="rulesArrayControl?.controls.length > 1"
              (click)="remove(context, index)">
            </a>
          </div>
        </ng-template>
      </syndesis-form-control>
    </form>
  </syndesis-loading>
  <div class="form-group">
    <a (click)="add()" class="add-rule">
      + Add another rule
    </a>
  </div>
</div>
