.form-array-control__array-controls {
  white-space: nowrap ;
}

.form-array-section__title {
  white-space: nowrap;
}

.form-array-control__array-controls .fa {
  font-size: 20px;
}

.form-array-control__array-add .btn {
  font-size: inherit;
}

.form-array-layout {
  display: grid;
  grid-gap: var(--pf-c-form--GridGap);
}
