@import 'flow-view.component';
@import 'syndesis-sass';

.flow-view-step-title {
  flex: 1;
  margin-left: -35px;
  margin-right: -35px;
  margin-bottom: 40px;
  width: 370px;
  overflow: hidden;

  span {
    float: left;
    padding-right: 3px;
    width: calc(100% - 18px);
  }

  i {
    cursor: pointer;
    color: $color-pf-blue-400;
    display: inline-block;
  }

  ::ng-deep .collapsed & {
    width: 125px;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
// FLOW-VIEW-STEP
//
// 2 Primary State Categories:
//
// 1 - Published/Unpublished - Is the user currently on this section/step?
// 2 - Complete/Incomplete - Has the user completed/configured this section/step?
//
// 03/24/2017
// This file is now organized first by section, then by state (ie text/icon then active/inactive). RMY
//
////////////////////////////////////////////////////////////////////////////////
.flow-view-step {
  ////////////////////////////////////////////////////////////////////////////////
  // SIDEBAR: COMMON, REGARDLESS OF STATE
  ////////////////////////////////////////////////////////////////////////////////
  display: flex;
  align-items: flex-start;

  ul {
    list-style-type: none;
    -webkit-margin-before: 0;

    li {
      list-style-type: none;
    }
  }

  .delete-icon {
    position: absolute;
    top: 18px;
    right: 10px;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  ////////////////////////////////////////////////////////////////////////////////
  // SIDEBAR: LEFT HAND (VERTICAL PROGRESS LINE & ICON)
  ////////////////////////////////////////////////////////////////////////////////

  .icon {
    border-radius: 50%;
    border: 3px solid $color-pf-black-300;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .connection-icon {
      height: 24px;
      margin-top: 1px;
    }

    //----- Sidebar: Progress Line: Published State ----------------->>
    &.active {
      border-color: $color-pf-blue-400;
    }

    //----- Sidebar: Progress Line: Unpublished State ----------------->>
    &.inactive {
      border-color: #d0d0d0;
    }

    //----- Sidebar: Progress Line: Complete State ----------------->>
    &.complete {
      .fa {
        color: $color-pf-black-900;
      }
    }

    //----- Sidebar: Progress Line: Incomplete State ----------------->>
    &.incomplete {
      .fa {
        color: #d1d1d1;
        line-height: 1.15;
      }
    }

    .api-provider {
      max-width: 35px;
      max-height: 35px;
    }
  }

  .step-badge {
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    top: 0;
    right: 0;
    min-width: 1.8em;
    min-height: 1.8em;
    transform: translate(25%, -25%);

    &::before {
      color: $color-pf-white;
    }

    &.step-suggestion {
      background: #0088ce;
    }

    &.data-mismatch {
      background: #ec7a08;
    }
  }

  ////////////////////////////////////////////////////////////////////////////////
  // SIDEBAR: RIGHT HAND (PROGRESS MENU)
  ////////////////////////////////////////////////////////////////////////////////
  .menu {
    position: relative;
    flex: 1 1 100%;
    min-width: 0;
    padding-left: 15px;
    padding-top: 15px;

    ::ng-deep .collapsed & {
      display: none;
    }

    //----- Sidebar: Menu & Parent Step Container ----------------->>
    .step-container {
      .fa.fa-chevron-down,
      .fa.fa-chevron-right {
        font-size: x-small;
        padding-right: 5px;
        margin-right: 5px;
      }

      // Published State for Entire Container of Single Step
      &.active {
        .fa.fa-trash {
          color: #ffffff;
        }

        + .step-details {
          display: none;
        }
      }

      //----- Sidebar: Menu: Parent Step ----------------->>
      .parent-step {
        background-color: $color-pf-black-300;
        cursor: pointer;
        padding-top: 2px;
        padding-bottom: 2px;
        position: relative;

        .step-content {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .step-name {
            text-transform: uppercase;
            padding-right: 1em;
          }

          .step-icons {
            flex-shrink: 0;
          }
        }

        &.disabled {
          cursor: default;
        }

        //----- Sidebar: Menu: Parent Step: Published State ----------------->>
        &.active {
          background-color: #158acc;
          color: #ffffff;
        }

        //----- Sidebar: Menu: Parent Step: Unpublished State ----------------->>
        &.inactive {
        }

        //----- Sidebar: Menu: Parent Step: Complete State ----------------->>
        &.complete {
        }

        //----- Sidebar: Menu: Parent Step: Incomplete State ----------------->>
        &.incomplete {
        }
      }

      //----- Sidebar: Menu: Sub Steps ----------------->>
      ul.sub-steps {
        cursor: default;
        list-style-type: none;
        margin-bottom: 10px;
        margin-top: 5px;
        min-width: 160px;
        padding: 5px 0;

        // Each Step
        li {
          display: list-item;
          list-style-type: none;
          margin: 7px 0 0 0;
          padding: 5px 5px 5px 30px;

          //----- Sidebar: Menu: Sub Step: Published State ----------------->>
          &.active {
            background-color: #d6eefa;
            border-bottom: 1px solid #b8dff3;
            border-top: 1px solid #b8dff3;
            color: #363636;
            cursor: pointer;
          }

          //----- Sidebar: Menu: Sub Step: Unpublished State ----------------->>
          &.inactive {
          }

          //----- Sidebar: Menu: Sub Step: Complete State ----------------->>
          &.complete {
          }

          //----- Sidebar: Menu: Sub Step: Incomplete State ----------------->>
          &.incomplete {
          }
        }
      }
    }
  }

  .step-details {
    position: absolute;
    top: calc(100% + 10px);
    left: $gutter;
    right: 0;

    dl {
      display: flex;
      margin: 0;

      dt {
        width: 40%;
        padding-left: $gutter;
      }

      dd {
        flex: 1 1 0;
        padding-right: $gutter;
      }
    }
  }
}
