<syndesis-loading
  [loading]="!(currentFlowService.loaded$ | async)"
  [content]="content"
>
  <ng-template #content>
    <div class="integrations edit row">
      <div class="header">
        <ol class="syn-breadcrumb">
          <li>
            <i class="fa fa-angle-double-left"></i>
            <a [routerLink]="['/integrations']">All Integrations</a>
          </li>
        </ol>
        <syndesis-integration-flow-toolbar
          [isApiProvider]="true"
          [hideOperationsButton]="false"
        ></syndesis-integration-flow-toolbar>
      </div>
      <div class="content">
        <syndesis-integration-api-provider-operations-list
          [flows$]="currentFlowService.flows$"
          [integrationId]="currentFlowService.integration.id"
          [showDescription]="false"
          [showToolbar]="false"
          class="operations"
        ></syndesis-integration-api-provider-operations-list>
        <div class="main-panel">
          <syndesis-integration-flow-view
            class="flow"
          ></syndesis-integration-flow-view>
          <div class="form">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</syndesis-loading>
