<syndesis-loading
  [loading]="!(currentFlowService.loaded$ | async)"
  [content]="content"
>
  <ng-template #content>
    <div class="integrations edit row">
      <div class="header">
        <ol class="syn-breadcrumb">
          <li>
            <i class="fa fa-angle-double-left"></i>
            <a [routerLink]="['/integrations']">All Integrations</a>
          </li>
        </ol>
        <syndesis-integration-api-provider-operation-editor-toolbar
          [showOperationsButton]="true"
          [currentFlow]="currentFlowService.currentFlow$ | async"
          [flows]="currentFlowService.flows$ | async"
        ></syndesis-integration-api-provider-operation-editor-toolbar>
      </div>
      <div class="content">
        <div class="card-pf">
          <div class="card-pf-heading">
            <div class="card-pf-title">
              <integration-api-provider-operation-description
                [description]="currentFlowService.getCurrentFlowDescription()"
              ></integration-api-provider-operation-description>
              <span>
                {{ currentFlowService.getCurrentFlowName() }}
              </span>
            </div>
          </div>
          <div class="card-pf-body">
            <div class="main-panel">
              <syndesis-integration-flow-view
                class="flow"
              ></syndesis-integration-flow-view>
              <div class="form">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</syndesis-loading>
