@import 'syndesis-sass';

.integrations.edit {
  display: flex;
  flex-flow: column;
  height: 100%;

  .content {
    display: flex;
    flex: 1;

    .operations {
      flex: 0 0 400px;
    }

    .main-panel {
      flex: 1 1 auto;
      display: flex;

      .flow {
        flex: 1 0 auto;
      }

      .form {
        flex: 1 1 auto;
      }
    }
  }
}
