.with-rule-filter-form {
  display: flex;
  flex-grow: 1;
}

.with-rule-filter-form .pf-c-form {
  max-width: 600px;
}

.with-rule-filter-form .pf-c-form > .pf-c-form__group {
  position: sticky;
  top: 0;
  background: white;
  padding: 20px 0;
  z-index: 1;
}

.with-rule-filter-form .pf-c-form .form-array-section {
  border: 1px solid #d1d1d1;
  padding: 20px;
}

.with-rule-filter-form .pf-c-form .with-rule-filter-form__action {
  order: -1;
  margin: 0;
  text-align: right;
}

.with-rule-filter-form .pf-c-form .with-rule-filter-form__action .control-label {
  display: none;
}

.form-array-container > :last-child {
  justify-self: start;
}

.form-array-section > :last-child {
  justify-self: end;
}
