.with-rule-filter-form,
.with-rule-filter-form .pf-c-page__main-section {
  flex-grow: 1;
}

.with-rule-filter-form {
  display: flex;
}

.with-rule-filter-form .form-array-fields {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3, auto);
}

.with-rule-filter-form fieldset:first-of-type .form-array-fields {
  margin-top: 40px;
}

.with-rule-filter-form__group {
  grid-column: 1 / 2;
}

.with-rule-filter-form__action {
  align-self: center;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  border-left: 1px solid var(--pf-global--BorderColor--100);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 31px;
}
