.ddl-editor {
  min-height: 300px;
}

.ddl-editor__button {
  margin-right: 4px; 
}

.ddl-editor__card-body.pf-c-card__body {
  padding: 4px 0 10px 0 !important;
}

.ddl-editor__card-footer.pf-c-card__footer {
  padding-left: 0;
  padding-bottom: 10px;
}

.ddl-editor .CodeMirror {
  height: 250px;
}