.ddl-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ddl-editor_metatree_table_scroll{
  max-height: 400px;
  overflow-y: auto;
}

.ddl-editor_metatree_table > .pf-c-table tr > *{
  padding: 1px 2px !important;
}

.ddl-editor_metatree_table .pf-c-table{
  --pf-c-table__expandable-row--before--BackgroundColor: none !important;
}

.ddl-editor__button {
  margin-right: 4px; 
}

.ddl-editor__card-body.pf-c-card__body {
  padding: 4px 0 10px 0 !important;
}

.ddl-editor__card-footer.pf-c-card__footer {
  padding-left: 0;
  padding-bottom: 10px;
}

.ddl-editor__card-body,
.ddl-editor .text-editor,
.ddl-editor .react-codemirror2,
.ddl-editor .CodeMirror{
  height: 100%;
}

.ddl-editor .pf-c-card {
  flex-grow: 1;
}

.ddl-editor-cursor-position-text {
  width: 160px;
  padding: 3px;
  color: rgb(0, 50, 160) !important;
  font-size: 10px !important;
}
