<div class="syndesis-dashboard">
  <syndesis-dashboard-metrics
    [integrationState]="integrationState$ | async"
    [connections]="connections$ | async"
    (refresh)="onMetricsRefresh($event)">
  </syndesis-dashboard-metrics>
  <syndesis-dashboard-integrations [integrations]="integrations | async"
                                   [integrationsLoading]="integrationsLoading | async"
                                   [connections]="connections$ | async"
                                   [connectionsLoading]="connectionsLoading | async"></syndesis-dashboard-integrations>

</div>
