<ng-template
  let-integrationState="integrationState"
  let-integrations="integrations"
  let-integrationsLoading="integrationsLoading"
  let-connections="connections"
  let-connectionsLoading="connectionsLoading"
  [ngTemplateOutletContext]="{
    integrationState: (integrationState$ | async),
    integrations: (integrations$ | async),
    integrationsLoading: (integrationsLoading$ | async),
    connections: (connections$ | async),
    connectionsLoading: (connectionsLoading$ | async)
  }"
  [ngTemplateOutlet]="me" #me>
  <div class="syndesis-dashboard">

      <!-- integrations -->
      <syndesis-dashboard-metrics
        [integrationState]="integrationState"
        [integrations]="integrations"
        [connections]="connections"
        (refresh)="onRefreshDashboard()">
      </syndesis-dashboard-metrics>
      <syndesis-dashboard-integrations [integrations]="integrations" [loading]="integrationsLoading" [integrationState]="integrationState"></syndesis-dashboard-integrations>

      <!-- connections -->
      <syndesis-dashboard-connections [connections]="connections" [loading]="connectionsLoading" (selectedConnection)="selectedConnection($event)"></syndesis-dashboard-connections>

  </div>
</ng-template>
