<syndesis-loading [loading]="integrationsLoading">
  <div class="container-cards-pf syndesis-dashboard-integrations">

    <!-- First Row: Page Header & Toolbar -->
    <div class="row row-cards-pf first-row vertical-align">
      <div class="page-header col-xs-12">
        <div class="col-xs-8">
          <h1>Dashboard: Integrations</h1>
        </div>
        <div class="col-xs-4 actions">
          <div class="pull-right"
               *ngIf="integrations.length > 0">
            <a href="#"
               [routerLink]="['/integrations']">View All Integrations</a>&nbsp;&nbsp;
            <button class="btn btn-primary"
                    [routerLink]="['/integrations/create']"
                    tourAnchor="dashboard.integration">Create Integration</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Second row empty State -->
    <ng-container *ngIf="integrations.length === 0">
      <div class="blank-slate-pf">
        <div class="blank-slate-pf-icon">
          <span class="pficon pficon pficon-add-circle-o"></span>
        </div>
        <h1>Create an Integration</h1>
        <p>There are currently no integrations available. Please click on the button below to create one.</p>
        <button class="btn btn-primary"
                tourAnchor="dashboard.integration"
                [routerLink]="['/integrations/create']">Create Integration</button>
      </div>
    </ng-container>

    <!-- Second Row not empty state -->
    <ng-container *ngIf="integrations.length > 0">
      <div class="row row-cards-pf second-row">

        <!-- Left: Integrations -->
        <div class="col-xs-7 top-integrations">
          <div class="card-pf">
            <div class="card-pf-heading">
              <p class="card-pf-heading-details">Last 30 days</p>

              <h2 class="card-pf-title">
                Top 5 Integrations
              </h2>
            </div>
            <div class="card-pf-body">
              <syndesis-integrations-list [integrations]="integrations.slice(0, 5)"></syndesis-integrations-list>
            </div>
          </div>
        </div>


        <!-- Right -->
        <div class="col-xs-5">

          <!-- Right: Integration Board -->
          <div class="card-pf integration-board">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Integration Board
              </h2>
            </div>
            <div class="card-pf-body">
              <div class="col-xs-8 chart"
                   *ngIf="!loading">
                <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [colors]="doughnutChartColors"
                        [legend]="doughnutChartLegend"
                        [options]="doughnutChartOptions"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                <div class="total-count">
                  <div class="number">{{ countTotalIntegrations() }}</div>
                  <div class="text">integrations</div>
                </div>
              </div>
              <div class="col-xs-4 legend">
                <div class="col-xs-12">
                  <div class="col-xs-1 colors active"></div>
                  <div class="col-xs-10 text">Active: {{ countActiveIntegrations() || 0 }}</div>
                </div>
                <div class="col-xs-12">
                  <div class="col-xs-1 colors draft"></div>
                  <div class="col-xs-10 text">Draft: {{ countDraftIntegrations() || 0 }}</div>
                </div>
                <div class="col-xs-12">
                  <div class="col-xs-1 colors inactive"></div>
                  <div class="col-xs-10 text">Inactive: {{ countInactiveIntegrations() || 0 }}</div>
                </div>
              </div>
            </div>
          </div>

          <!-- Right: Recent Updates -->
          <div class="card-pf recent-updates">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Recent Updates
              </h2>
            </div>
            <div class="card-pf-body">
              <div class="row"
                   *ngFor="let integration of integrations; let i=index">
                <div class="update col-xs-12"
                     *ngIf="i<5"
                     (click)="goto(integration)">
                  <div class="col-xs-5">
                    <a [routerLink]=" ['/integrations', integration.id] ">
                  {{ integration.name }}
                </a>
                  </div>
                  <div class="col-xs-3">
                    <span [class]="'label ' + getLabelClass(integration)">
                  {{ getStatusText(integration) }}
                </span>
                  </div>
                  <div class="col-xs-4">
                    {{ integration.lastUpdated | date:'d MMM HH:MM' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </ng-container>


    <!-- Third Row: Connections Header & Toolbar -->
    <div class="row row-cards-pf third-row vertical-align">
      <div class="page-header col-xs-12">
        <div class="col-xs-8">
          <h1>Dashboard: Connections</h1>
        </div>
        <div class="col-xs-4 actions">
          <div class="pull-right"
               *ngIf="connections.length">
            <a href="#"
               [routerLink]="['/connections']">View All Connections</a>&nbsp;&nbsp;
            <button class="btn btn-primary"
                    [routerLink]="['/connections/create']">Create Connection</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Fourth Row: Connections -->
    <div class="row row-cards-pf fourth-row">

      <syndesis-dashboard-connections [connections]="connections"
                                      [loading]="connectionsLoading"
                                      (selectedConnection)="selectedConnection($event)"></syndesis-dashboard-connections>

    </div>
  </div>
</syndesis-loading>
