.integrations.create {
  .toolbar-pf {
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0 1px 0 rgba(3, 3, 3, 0.045);
    padding-top: 10px;
    margin-right: -35px !important;
  }
}
