<div class="row github-oauth"
     *ngIf="!loading">

  <div class="col-xs-12">
    <h1>Getting Started in Syndesis</h1>

    <p>Welcome to Syndesis! To get started you will need to register and authorize Syndesis on GitHub and select a
      location for storing integrations.</p>


    <!-- Step One -->

    <div class="step-one"
         [ngClass]="{'step-complete' : stepOneComplete === true}">
      <div class="col-xs-10">
        <div class="col-xs-1">
          <div class="circle pull-right"><p>1</p></div>
        </div>
        <div class="col-xs-11">
          <div>
            <h2>Register Syndesis</h2>
            <div *ngIf="stepOneComplete === false">
              <p>To start using Syndesis with GitHub, register Syndesis as an OAuth application in GitHub.</p>
              <button class="btn btn-primary"
                      (click)="registerSyndesis($event)">Register Syndesis on GitHub
              </button>&nbsp;
              <a href="https://developer.github.com/apps/building-integrations/setting-up-and-registering-oauth-apps/registering-oauth-apps/"
                 rel="nofollow"
                 class="info"
                 target="_blank">Learn how to register an OAuth app on GitHub.
                <span class="pficon pficon-help"></span>
              </a>
            </div>
          </div>
          <div class="alert alert-success"
               *ngIf="stepOneComplete === true">
            <span class="pficon pficon-ok"></span>
            <b>Success!</b> Future changes can be made in <a>Syndesis Global Settings / GitHub Settings</a>.
          </div>
        </div>
      </div>
    </div>


    <!-- Step Two -->

    <div class="step-two"
         [ngClass]="{'step-complete' : stepTwoComplete === true}">
      <div class="col-xs-10">
        <div class="col-xs-1">
          <div class="circle pull-right"><p>2</p></div>
        </div>
        <div class="col-xs-11">
          <h2>GitHub Authorization</h2>
          <div *ngIf="stepTwoComplete === false">
            <div>
              <p>The Client ID and Client Secret generated in the first step will be used here to grant authorization for
                Syndesis to act on your behalf.</p>
            </div>
            <div class="col-xs-12 form-container">
              <div class="pull-right">
                <a href="https://auth0.com/docs/connections/social/github"
                   rel="nofollow"
                   class="info"
                   target="_blank">Learn how to get client ID and client secret on GitHub.
                  <span class="pficon pficon-help"></span>
                </a>
              </div>
              <div class="clearfix"></div>
              <form class="form-horizontal"
                    role="form"
                    [formGroup]="githubOauthForm"
                    (ngSubmit)="connectGitHub()"
                    novalidate>
                <div class="form-group">
                  <label for="ghClientId"
                         class="col-xs-2 control-label">Client ID</label>
                  <div class="col-xs-8">
                    <input type="text"
                           class="form-control"
                           id="ghClientId"
                           formControlName="clientId">
                  </div>
                </div>
                <div class="form-group">
                  <label for="ghClientSecret"
                         class="col-xs-2 control-label">Client Secret</label>
                  <div class="col-xs-8">
                    <input type="password"
                           class="form-control"
                           id="ghClientSecret"
                           formControlName="clientSecret">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit"
                            class="btn btn-primary"
                            [disabled]="githubOauthForm.invalid">Connect GitHub
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--
    <!-- Step Three --><!--
    <div class="step-three"
         [ngClass]="{'step-complete' : stepThreeComplete === true}">
      <div class="col-xs-10">
        <div class="col-xs-1">
          <div class="circle pull-right"><p>3</p></div>
        </div>
        <div class="col-xs-11">
          <h2>Configure Integration Location</h2>
          <div>Specify where to store the integration.</div>

          <div *ngIf="stepThreeComplete === false"
               class="integration-location">
            <div class="col-xs-3 account-label">
              <p>Connected Account</p>
            </div>

            <!-- Account is Connected --><!--
            <div class="col-xs-4 connected"
                 *ngIf="noAccountConnected === false">
              <p>Account</p>
            </div>

            <!-- Account is Not Connected --><!--
            <div class="col-xs-4 not-connected"
                 *ngIf="noAccountConnected === true">
              <i>No connected account.</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>


  <!-- All Steps Completed -->

  <div class="col-xs-12"
       *ngIf="stepOneComplete && stepTwoComplete">
    <h2>Success! You're ready to start in Syndesis.</h2>

    <p>Go to Syndesis home page to start using our awesome services! As always, you can go back and change the settings
      later on the GitHub Settings page.</p>

    <button (click)="getStarted()">Get Started</button>
  </div>

</div>
