<syndesis-list-toolbar [items]="integrations$"
                       [filterTags]="false"
                       [filteredItems]="filteredIntegrations$"
                       [viewTemplate]="viewTemplate"
                       [filterFields]="filterFields">
  <ng-template #viewTemplate>
    <div class="toolbar-pf-action-right">
        <button type="button"
                class="btn btn-default"
                [routerLink]="['/integrations/import']">
                Import
        </button>
        <button type="button"
                class="btn btn-primary"
                [routerLink]="['/integrations/create']">
                Create Integration
        </button>
    </div>
  </ng-template>
</syndesis-list-toolbar>

<!-- Support importing by DND right into the integration list area. Very google drive like -->
<syndesis-loading [loading]="loading$ | async"
  [content]="content"
  ng2FileDrop
  [uploader]="uploader"
  class="syn-scrollable--body">
  <ng-template #content>
    <syndesis-integration-list [complete]="true"
      [integrations]="filteredIntegrations$ | async"></syndesis-integration-list>
  </ng-template>
</syndesis-loading>

<syndesis-modal id="importIntegration" title="Integration Import" [body]="importIntegrationModal">

  <ng-template #importIntegrationModal let-modal="modal">

    Select the integration file to import:
    <input #fileSelect type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="fileSelect.value=''" />

    <!-- for more info/examples of how to use the ng2 file uploader, see https://valor-software.com/ng2-file-upload/ -->
    <div ng2FileDrop
      [uploader]="uploader"
      class="well my-drop-zone">
      Or drag and drop your integration files here
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">
      <h3>Upload queue</h3>

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Progress</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td>
              <strong>{{ item?.file?.name }}</strong>
            </td>
            <td>
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td nowrap>
              <div *ngIf="!item.isUploaded">
                <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel(); item.remove()">
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</syndesis-modal>
