{{^Productized}}
{{^WithDockerImages}}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ Images.Syndesis.Rest }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-server
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.SyndesisImagesPrefix }}/{{ Images.Syndesis.Rest }}:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.Syndesis }}"
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ Images.Syndesis.Ui }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-ui
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.SyndesisImagesPrefix }}/{{ Images.Syndesis.Ui }}:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.Syndesis }}"
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ Images.Syndesis.Verifier }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-meta
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.SyndesisImagesPrefix }}/{{ Images.Syndesis.Verifier }}:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.Syndesis }}"
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ Images.Support.OAuthProxy }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-oauthproxy
  spec:
    tags:
    - from:
        kind: DockerImage
        name: {{Images.OAuthProxyImagePrefix}}/{{ Images.Support.OAuthProxyImage }}:{{ Tags.OAuthProxy }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.OAuthProxy }}"
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ Images.Support.Prometheus }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-prometheus
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{Images.PrometheusImagePrefix}}/{{ Images.Support.Prometheus }}:{{ Tags.Prometheus }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.Prometheus }}"
{{#IncludeDint}}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ Images.Syndesis.Komodo }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: komodo-server
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.KomodoImagesPrefix }}/{{ Images.Syndesis.Komodo }}:{{ Tags.Komodo }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.Komodo }}"
{{/IncludeDint}}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ Images.Support.PostgresExporter }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: syndesis-db-metrics
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{Images.PostgresExporterImagePrefix}}/{{ Images.Support.PostgresExporter }}:{{ Tags.PostgresExporter }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.PostgresExporter }}"
{{/WithDockerImages}}
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: {{ Images.Syndesis.S2i }}
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
      syndesis.io/component: s2i-java
  spec:
    tags:
    - from:
        kind: DockerImage
        name: ${SYNDESIS_REGISTRY}/{{ Images.SyndesisImagesPrefix }}/{{ Images.Syndesis.S2i }}:{{ Tags.Syndesis }}
      importPolicy:
        scheduled: true
      name: "{{ Tags.Syndesis }}"
{{/Productized}}
