.LogViewer {
  margin-bottom: 10px;
}

.LogViewerRow {
  font-family: monospace;
  display: flex;
  padding: 2px 0;
}

.LogViewerRow_number {
  color: #237893;
  flex-basis: 36px;
  text-align: right;
}

.LogViewerRow_content {
  line-height: 1.3;
  margin-left: 36px;
  flex: 1;
}
