<syndesis-loading [loading]="!currentFlowService.loaded" [content]="content">
  <ng-template #content>
    <div class="save-or-add-step syn-scrollable">
      <!-- Content -->
      <div class="syn-scrollable--body">
        <div class="container-fluid">
          <div *ngIf="errorMessage">
            <div class="alert alert-danger">
              <button
                type="button"
                class="close"
                (click)="errorMessage = undefined"
              >
                <span class="pficon pficon-close"></span>
              </button>
              <span class="pficon pficon-error-circle-o"></span>
              <p>Error saving integration:</p>
              <pre>{{ errorMessage }}</pre>
            </div>
          </div>
          <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
              <span class="pficon pficon pficon-add-circle-o"></span>
            </div>
            <h1>Add to Integration</h1>
            <p>Now you can add additional steps to your integration.</p>
            <p>
              Interact with the left hand panel to continue adding steps and
              connections to the integration.
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</syndesis-loading>
