/deep/ .popover {
  margin-top: -2px;
  margin-left: 20px !important;
}

.clickable {
  cursor: pointer;
  & > * {
    cursor: pointer;
  }
}

.popover-body > div {
  padding: 5px;
}

.flow-view {
  width: 300px;

  .bold {
    font-weight: bold;
  }

  .flow-view-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;

    .start, .finish {
      h5 {
        background-color: #EDEDED;
        cursor: pointer;
        display: inline;
        padding: 5px;
        text-transform: uppercase;
      }

      ul {
        min-width: 160px;
        padding: 10px 0;

        // Sub-Menu Items
        &.collapse {
          margin-top: 5px;
          padding: 5px 0;

          li {
            padding: 5px 5px 5px 17px;
            &.active {
              background-color: #D6EEFA;
              border-bottom: 1px solid #B8DFF3;
              border-top: 1px solid #B8DFF3;
            }
            &.inactive {
              color: #D1D1D1;
            }
          }
        }
      }

      .fa {
        font-size: x-small;
        padding-right: 5px;
      }
    }
  }

  .name {
    margin-top: -10px;
    border-bottom: 1px #D9D9D9 solid;

    .integration-name {
      background: none;
      border: none;
      box-shadow: none;
      color: #363636;
      font-size: 14px;
      font-style: normal;

      &.ng-invalid {
        color: #FF0000;
      }
    }

    .pficon.pficon-edit {
      margin-top: -20px;
    }
  }

  // Steps on left-hand side
  .step-insert {
    position: relative;
    top: -47px;
    height: 50px;
    .popover-body {
      a {
        cursor: pointer;
      }
    }
    .square-icon {
      .fa.fa-plus-square {
        color: #158ACC;
        background-color: white;
        font-size: x-large;
        margin: 0;
        margin-left: 17px;
        margin-top: 10px;
      }
    }
    .step-line {
      position: absolute;
      height: 150px;
      top: 0;
      left: 46px;
      width: 2px;
      background-color: #d4d4d4;
    }
  }

  .steps {
    position: relative;
    height: 150px;
    flex-wrap: nowrap;
    .step-line {
      position: absolute;
      height: 150px;
      top: 0;
      left: 46px;
      width: 2px;
      background-color: #d4d4d4;
    }
    &.finish {
      .step-line {
        height: 10px;
      }
    }
  }


}
