.flow-view {
  width: 300px;

  .bold {
    font-weight: bold;
  }

  .flow-view-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name {

    .integration-name {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      box-shadow: none;
      color: #363636;
      font-size: 14px;
      font-style: normal;

      &.ng-invalid {
        color: #FF0000;
      }

      &.ng-pristine {
        //color:
      }

      &.ng-touched {
        //color:
      }
    }

    .pficon.pficon-edit {
      margin-top: -20px;
    }
  }

  // Steps on left-hand side
  .steps {
    flex-wrap: nowrap;
  }
}
