@import 'flow-view.component';
@import '../../../../scss/colors';

.flow-view-step {
  flex-wrap: nowrap;

  ul {
    list-style-type: none;
    -webkit-margin-before: 0;

    li {
      list-style-type: none;
    }
  }

  .delete-icon {
    position: absolute;
    top: 22px;
    right: 15px;
    cursor: pointer;
  }

  // Left-hand side design with the icon and line
  .progress-line {
    text-align: center;

    ul {
      padding-right: 35px;
      -webkit-padding-start: 0;

      li {
        padding-left: 5px;
      }
    }

    // Line that connects cubes
    .vertical {
      border: 2px solid #D0D0D0;
      height: 200px;
      left: 40px;
      margin-top: -10px;
      position: absolute;
      width: 0;
    }

    .icon {
      padding-top: 0;
      // Overriding the actual cube icon's colors
      .fa {
        color: #D1D1D1;
        font-size: x-large;
      }

      .round {
        -moz-border-radius: 100px;
        border-radius: 100px;
        padding: 11px;
        width: 55px;
        height: 55px;
        background-color: white;

        &.active {
          border: 3px solid $pf-blue-400;
        }

        &.inactive {
          border: 3px solid #D0D0D0;
        }

        &.add-step-or-connection {
          background-color: #fff;
          border: 10px solid $pf-blue-400;
          border-radius: 100px;
          height: 33px;
          margin: 11px;
          padding: 0;
          width: 32px;
        }
      }
    }
  }

  .text {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 19px;

    ul {
      min-width: 160px;
      padding: 10px 35px 0 0;
      -webkit-padding-start: 0;

      // Sub-Menu Items
      &.collapse {
        margin-top: 5px;
        padding: 5px 0;

        li {
          padding: 5px 5px 5px 30px;

          &.active {
            background-color: #D6EEFA;
            border-bottom: 1px solid #B8DFF3;
            border-top: 1px solid #B8DFF3;
          }

          &.inactive {
            cursor: pointer;
            color: #D1D1D1;
          }

          &.disabled {
            cursor: default;
            pointer-events: none;
          }

          > .current {
            cursor: pointer;
            color: #363636;
          }
        }
      }
    }

    .active {
      .fa.fa-trash {
        color: #FFFFFF;
      }
    }

    i.add-step-or-connection {
      color: #FFFFFF;
    }

    .fa.fa-chevron-down, .fa.fa-chevron-right {
      font-size: x-small;
      padding-right: 5px;
      margin-right: 5px;
    }

    .parent-step {
      background-color: #E7E7E7;
      cursor: pointer;
      display: inline;
      padding: 8px 100% 8px 8px;
      text-transform: uppercase;

      &.current {
        background-color: #158ACC;
        color: #FFFFFF;
      }
    }
  }

}
