<div class="flow-view">
  <ipaas-loading [loading]="loaded()">
    <div class="row name">
      <div class="col-md-12">
        <div class="form-group">
          <input type="text"
                id="integrationName"
                class="form-control"
                placeholder="Enter integration name..."
                [ngModel]="integrationName"
                (ngModelChange)="integrationNameChanged($event)">
        </div>
      </div>
    </div>

    <div class="flow-view-container" *ngIf="i && i.steps">
      <div class="row steps start">
        <ipaas-integrations-flow-view-step
          [step]="startConnection()"
          [position]="0"
          [currentPosition]="currentPosition"
          [currentState]="currentState"></ipaas-integrations-flow-view-step >
      </div>
      <div class="row steps" *ngFor="let step of getMiddleSteps(); let position = index;">
        <ipaas-integrations-flow-view-step
          [step]="step"
          [position]="position + 1"
          [currentPosition]="currentPosition"
          [currentState]="currentState"></ipaas-integrations-flow-view-step >
      </div>
      <div class="row steps finish">
        <ipaas-integrations-flow-view-step
          [step]="endConnection()"
          [position]="-1"
          [currentPosition]="currentPosition"
          [currentState]="currentState"></ipaas-integrations-flow-view-step >
      </div>
    </div>
  </ipaas-loading>

</div>
