.flow-view {
  width: 300px;

  .bold {
    font-weight: bold;
  }

  .flow-view-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;

    .start, .finish {
      h5 {
        background-color: #EDEDED;
        cursor: pointer;
        display: inline;
        padding: 5px;
        text-transform: uppercase;
      }

      ul {
        min-width: 160px;
        padding: 10px 0;

        // Sub-Menu Items
        &.collapse {
          margin-top: 5px;
          padding: 5px 0;

          li {
            padding: 5px 5px 5px 17px;
            &.active {
              background-color: #D6EEFA;
              border-bottom: 1px solid #B8DFF3;
              border-top: 1px solid #B8DFF3;
            }
            &.inactive {
              color: #D1D1D1;
            }
          }
        }
      }

      .fa {
        font-size: x-small;
        padding-right: 5px;
      }
    }
  }

  .name {
    margin-top: -10px;
    border-bottom: 1px #D9D9D9 solid;

    .integration-name {
      background: none;
      border: none;
      box-shadow: none;
      color: #363636;
      font-size: 14px;
      font-style: normal;

      &.ng-invalid {
        color: #FF0000;
      }
    }

    .pficon.pficon-edit {
      margin-top: -20px;
    }
  }

  // Steps on left-hand side
  .steps {
    flex-wrap: nowrap;
  }

}
