<div *ngIf="step" class="flow-view-step steps">

<!-- Delete Modal Container -->
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm Delete</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelDeletePrompt()">
                <span aria-hidden="true">&times;</span>
              </button>
      </div>
      <div class="modal-body">
        <div>
          <p>Are you sure you would like to delete this step?</p>
        </div>
        <div>
          <p><b style="color: red;">NOTE:</b> This action <i>cannot</i> be undone.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="pull-right btn btn-primary" (click)="deleteStep()">Delete</button>
        <button class="pull-right btn btn-cancel" (click)="cancelDeletePrompt()">Cancel</button>
      </div>
    </div>
  </div>
</div>

  <!-- Icon Progress Line -->

  <div class="col-md-3 progress-line">
    <div class="icon">
      <p [class]="'round ' + getSubMenuActiveClass()"
         [class.add-step-or-connection]="step.stepKind !== ('endpoint' || 'log')">
        <!-- Only display icon if step kind is not an endpoint or log -->
        <i [class]="getIconClass()"
           *ngIf="step.stepKind === ('endpoint' || 'log')"></i>
      </p>
    </div>
  </div>


  <!-- Progress Menu -->

  <div class="col-md-9 text" *ngIf="currentStepKind !== 'datamapper'" [ngSwitch]="step.stepKind">

    <!-- Endpoint Steps -->
    <div *ngSwitchCase="'endpoint'" [class]="getParentActiveClass()">
      <!-- Delete Icon -->
      <i class="delete-icon fa fa-lg fa-trash"
         (click)="deletePrompt()"></i>

      <span [class]="getParentClass() + ' step-heading'" (click)="goto('action-configure')">
        <i *ngIf="!isCollapsed()" class="fa fa-chevron-down"></i>
        <i *ngIf="isCollapsed()" class="fa fa-chevron-right"></i>
        {{ getStepText() }}
      </span>

      <ul [collapse]="isCollapsed()">
        <li *ngIf="!step.connection" [class]="getSubMenuActiveClass('connection-select')" (click)="goto('connection-select')">
          <span [class]="getTextClass('connection-select')">Choose a connection</span>
        </li>
        <li *ngIf="!step.action" [class]="getSubMenuActiveClass('action-select')" (click)="goto('action-select')">
          <span [class]="getTextClass('action-select')">Choose an action</span>
        </li>
        <li *ngIf="!step.configuredProperties" [class]="getSubMenuActiveClass('action-configure')" (click)="goto('action-configure')">
          <span [class]="getTextClass('action-configure')">Configure the action</span>
        </li>
        <li *ngIf="step.configuredProperties" [class]="getSubMenuActiveClass('action-configure')" (click)="goto('action-configure')">
          <span [class]="getTextClass('action-configure')">Configure</span>
        </li>
      </ul>

    </div>

    <!-- Default Steps -->
    <div *ngSwitchDefault [class]="getParentActiveClass()">
      <!-- Delete Icon -->
      <i class="delete-icon fa fa-lg fa-trash"
         [class.add-step-or-connection]="step.stepKind !== ('endpoint' || 'log')"
         (click)="deleteStep()"></i>
      <span [class]="getParentClass() + ' step-heading'" (click)="goto('step-configure')">
        <i *ngIf="!isCollapsed()" class="fa fa-chevron-down"></i>
        <i *ngIf="isCollapsed()" class="fa fa-chevron-right"></i>
        {{ getStepText() }}
      </span>

      <ul [collapse]="isCollapsed()">
        <li *ngIf="!step.stepKind" [class]="getSubMenuActiveClass('step-select')" (click)="goto('step-select')">
          <span [class]="getTextClass('step-select')">Choose a step</span>
        </li>
        <li *ngIf="!step.configuredProperties" [class]="getSubMenuActiveClass('step-configure')" (click)="goto('step-configure')">
          <span [class]="getTextClass('step-configure')">Configure the step</span>
        </li>
        <li *ngIf="step.configuredProperties" [class]="getSubMenuActiveClass('step-configure')" (click)="goto('step-configure')">
          <span [class]="getTextClass('step-configure')">Configure</span>
        </li>
      </ul>
    </div>

  </div>
</div>
