<div class="flow-view">
  <ipaas-loading [loading]="loaded()">

    <!-- Header -->
    <div class="row name">
      <div class="col-md-12">
        <div class="form-group">
          <input type="text" id="integrationName" class="form-control integration-name" placeholder="Enter integration name..." [ngModel]="integrationName"
            (ngModelChange)="integrationNameChanged($event)">
          <span class="pficon pficon-edit pull-right"></span>
        </div>
      </div>
    </div>

    <div class="flow-view-container" *ngIf="i && i.steps">

      <!-- Start -->

      <div class="row steps start">
        <ipaas-integrations-flow-view-step [step]="startConnection()" [position]="0" [currentPosition]="currentPosition" [currentState]="currentState"></ipaas-integrations-flow-view-step>
      </div>


      <!-- Steps -->

      <div class="row steps" *ngIf="currentState === 'save-or-add-step'">
        <template #firstPopTemplate>
          <div class="popover-body">
            <div>
              <a (click)="insertStepAfter(0)">Add a step</a>
            </div>
            <div>
              <a (click)="insertConnectionAfter(0)">Add a connection</a>
            </div>
          </div>
        </template>
        <div class="col-md-2 col-xs-offset-1 square-icon" [popover]="firstPopTemplate" triggers="mouseenter" placement="right">
          <p>
            <i class="fa fa-plus-square"></i>
          </p>
        </div>
        <div class="col-md-10">
        </div>
      </div>

      <template ngFor let-step [ngForOf]="getMiddleSteps()" let-position="index">

        <ipaas-integrations-flow-view-step [step]="step" [position]="position + 1" [currentPosition]="currentPosition" [currentState]="currentState"></ipaas-integrations-flow-view-step>

        <!-- Save or Add Step -->

        <div class="row steps" *ngIf="currentState === 'save-or-add-step'">
          <template #firstPopTemplate>
            <div class="popover-body">
              <div>
                <a (click)="insertStepAfter(position + 1)">Add a step</a>
              </div>
              <div>
                <a (click)="insertConnectionAfter(position + 1)">Add a connection</a>
              </div>
            </div>
          </template>
          <div class="col-md-2 col-xs-offset-1 square-icon" [popover]="firstPopTemplate" triggers="mouseenter" placement="right">
            <p>
              <i class="fa fa-plus-square"></i>
            </p>
          </div>
          <div class="col-md-10">
          </div>
        </div>

      </template>


      <!-- Finish -->

      <div class="row steps finish">
        <ipaas-integrations-flow-view-step [step]="endConnection()" [position]="-1" [currentPosition]="currentPosition" [currentState]="currentState"></ipaas-integrations-flow-view-step>
      </div>
    </div>
  </ipaas-loading>

</div>
