::ng-deep .toolbar-pf {
  box-shadow: none;
  border: none;
}

.indent {
  margin-left: 20px;
}

.mainform {
  background-color: white;
  padding: 20px;

  .integrations {
    border-top: 1px solid #ededed;
    margin-bottom: 10px;
  
    .toolbar_row {
      display: flex;
      justify-content: space-between;
    
      .toolbar_helpers {
        display: flex;
        align-items: center;
  
        .selected_items {
          border-right: 1px solid #d1d1d1;
          margin-right: 20px;
          padding-right: 20px;
        }
  
      }
      @media only screen and (max-width : 992px) {
        display: block;
        padding-bottom: 10px;
      }
  
    }
  
  }

}