::ng-deep .toolbar-pf {
  box-shadow: none;
  border: solid #ededed;
  border-width: 1px 0 0;

  .toolbar-pf-actions {
    margin-left: -20px;
  }

  .toolbar-pf-results {
    border-top: 1px solid #ededed;

    > .col-sm-12 {
      padding: 0;
    }

    .list-inline {
      margin: 0;
    }
    
  }

  .form-group {
    border-right: none;
  }

  @media only screen and (max-width : 992px) {
    border-width: 1px 0;
  }

}

.indent {
  margin-left: 20px;
}

.mainform {
  background-color: white;
  padding: 20px;

  .integrations {
    margin-bottom: 10px;
  
    .toolbar_row {
      position: relative;

      .toolbar_helpers {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 13px;

        @media only screen and (max-width : 992px) {
          position: static;
          padding-top: 10px;
          margin-left: -20px;
        }
  
        .selected_items {
          border-right: 1px solid #d1d1d1;
          margin-right: 20px;
          padding-right: 20px;
        }
  
      }

      @media only screen and (max-width : 992px) {
        display: block;
        padding-bottom: 10px;
      }
  
    }
  
  }

  .download {
    padding-top: 10px;
  }

}