<div class="row">
  <div class="col-md-12">
    <h1>Support</h1>
    <p>
      To obtain support, download diagnostic information through this page. If the downloaded zip file is less than 500 MB, attach it to an email message that requests help and send the message to <a href="mailto:fuse-online-tech-preview@redhat.com" class="text-nowrap">fuse-online-tech-preview@redhat.com</a>. If the downloaded zip file is larger than 500 MB, send an email message to request help, but do not attach the file, and indicate that the zip file is too large to attach. Technical support will provide instructions for sending the zip file.
    </p>

    <h1>Version</h1>
    <p class="indent">
      <strong>Syndesis:</strong> <span class="indent">v1.0</span>
    </p>

    <h1>Download Trobuleshooting Diagnostics</h1>
    <p>
      System level and application level diagnostics will be captured since both are required to troubleshoot any issue. Usernames and passwords are not present in the downloaded zip file. 
    </p>

    <div class="mainform">
      <p>Select the integrations to capture diagnostics for:</p>
      <form novalidate>
        <fieldset class="formfields">
          <div class="radio">
              <label><input type="radio" id="alllogs" name="logs" [value]="true" [(ngModel)]="allLogsSelected" (click)="deselectAll();"> All integrations</label>
          </div>
          <div class="radio">
              <label><input type="radio" id="specificlogs" name="logs" [value]="false" [(ngModel)]="allLogsSelected"> Specific integrations</label>
          </div>

          <div *ngIf="!allLogsSelected" class="integrations indent">
            <!-- Toolbar -->
            <div class="toolbar_row">
              <div class="container-fluid">
                <pfng-toolbar [config]="toolbarConfig"
                              (onFilterChange)="filterChanged($event)"
                              (onSortChange)="sortChanged($event)">
                </pfng-toolbar>
                <div class="toolbar_helpers">
                  <div class="selected_items">
                      <strong>{{ selectedItems() }} of {{ totalItems() }} Items</strong>
                  </div>
                  <div class="select_all">
                      <a role="button">Select All</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- List displayed here -->
            <syndesis-loading>
              <pfng-list [items]="items | objectPropertyFilter:filter | objectPropertySort:sort"
                        [config]="listConfig"
                        [itemTemplate]="listItemMain"
                        (onSelectionChange)="handleSelectionChange($event)">
              </pfng-list>
            </syndesis-loading>
            <!-- One list item, main row -->
            <ng-template #listItemMain
                        let-item="item">
              <div class="list-pf-content list-pf-content-flex">
                <div class="list-pf-content-wrapper">
                  <div class="list-pf-main-content">
                    <div class="list-pf-title">
                      {{ item.name }}
                    </div>
                    <div class="list-pf-description">
                      <i>{{ item.description }}</i>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <!-- Pagination goes here -->
          </div>

        </fieldset>
        <div class="download">
          <button (click)="onSubmit()" class="btn btn-primary">Download</button>
        </div>
      </form>
    </div>

  </div>
</div>