<syndesis-loading [loading]="!current.loaded">
  <div class="wizard-pf-contents">
    <ng-container *ngIf='!hasCredentials'>
      <syndesis-connection-view [(connection)]="connection"
                                [mode]="'edit'"
                                [showName]="false"></syndesis-connection-view>
    </ng-container>
    <ng-container *ngIf='hasCredentials'>
      <div class="row row-cards-pf connections-view">
        <div class="col-md-8 col-md-offset-2">
          <div class="card-pf">
            <div class="card-pf-title">
              {{ connection?.connector?.name }}
            </div>
            <div class="card-pf-body">
              <div class="alert alert-warning alert-dismissable"
                   *ngIf="current.oauthError">
                <button type="button"
                        class="close"
                        (click)="current.clearOAuthError()"></button>
                <span class="pficon pficon-warning-triangle-o"></span>
                <p>{{ current.oauthStatus.message }}</p>
              </div>
              <p>
                Log into your {{ connection?.connector?.name }} account to grant authorization for Syndesis to act on your behalf.
              </p>
              <p class="text-center">
                <button class="btn btn-primary"
                        (click)="acquireCredentials()">Connect {{ connection?.connector?.name }}</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</syndesis-loading>
<syndesis-modal title="Leave page"
                message="Are you sure you want to leave this page and lose any unsaved work?">
</syndesis-modal>
