<section class="integration-description">
  <div *ngFor="let step of integration?.steps; let index=index; let last=last"
        class="step-block inline-block text-center">
    <ng-container [ngSwitch]="step.stepKind">
      <div *ngSwitchCase="'endpoint'"
            id="{{ step.connection?.name | synSlugify }}"
            class="text-center connection"
            (click)="onViewDetails(step)"
            title="{{ step.connection?.name }}&nbsp;{{ step.action?.name }}">
        <div [class]="'step-line ' + getStepLineClass(index)"></div>
        <div class="icon">
          <img class="syn-icon-small" [src]="step.connection | synIconPath">
        </div>
        <div class="syn-truncate__ellipsis">{{ step.connection?.name | capitalize }}</div>
      </div>
      <div *ngSwitchDefault
            id="{{ (step.name || step.stepKind) | synSlugify }}"
            class="text-center step">
        <div class="step-line"></div>
        <div class="icon not-connection">
          <div class="icon-line"></div>
        </div>
        <div>{{ stepStore.getStepName(step) }}</div>
      </div>
    </ng-container>
    <span *ngIf="!last" class="step-sep fa fa-angle-right"></span>
  </div>
  <div *ngIf="integration.url" class="block-copy-container container-fluid">
    <div class="col-sm-8">
      <p>
        <pfng-block-copy
          [buttonAriaLabel]="'Copy External URL'"
          [expandToggleAriaLabel]="'Expand External URL'"
          [buttonLabel]="'Copy'"
          [label]="'External URL'"
          [value]="integration.url"
          (onCopy)="handleCopy($event, {
            name: 'External URL',
            msg: 'External URL Copied'
          })">
        </pfng-block-copy>
      </p>
    </div>
  </div>
  <p>
    <syndesis-editable-textarea [value]="integration.description"
                                placeholder="No description set..."
                                (onSave)="onAttributeUpdated('description', $event)">
    </syndesis-editable-textarea>
  </p>
</section>
