@import 'syndesis-sass';

.integration-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: visible;

  &__info {
    flex-grow: 0;
    padding-bottom: $gutter;
  }

  &__outlet {
    flex: 2;
    background: white;
    padding: $gutter;
  }

  .toolbar {
    flex: 0 0 auto;
  }

  ::ng-deep syndesis-editable .fa {
    font-size: 14px;
  }

  .toolbar-pf {
    background: inherit;

    ol {
      margin-bottom: 6px;
    }
  }

  .syn-tabs {
    margin: 0;
    padding-left: 0;
  }
}
