@import 'syndesis-sass';

.step-block {
  height: 100px;
  width: 120px;
  vertical-align: top;
  position: relative;
  padding: 0 10px;

  .connection {
    cursor: pointer;
  }

  & > .text-center {
    position: relative;

    &.step {
      padding-top: 12px;

      .icon {
        margin-bottom: 15px;
      }
    }
  }

  .step-line {
    position: absolute;
    height: 3px;
    top: 27px;
    z-index: -5;
    left: -2px;
    right: -2px;
    background-color: $color-pf-black-600;

    &.start {
      left: 50px;
    }

    &.finish {
      right: 50px;
    }
  }

  .icon {
    -moz-border-radius: 100px;
    border-radius: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: $color-pf-blue;
    padding: 11px;
    width: 55px;
    height: 55px;
    margin: 0 auto 5px;
    background-color: $color-pf-white;

    &.not-connection {
      position: relative;
      border-width: 10px;
      padding: 5px 0px;
      border-radius: 100px;
      height: 33px;
      margin-bottom: 15px;
      width: 32px;

      .icon-line {
        position: absolute;
        border: 1px solid $color-pf-white;
        height: 3px;
        background-color: $color-pf-white;
        top: 5px;
        left: -8px;
        right: -8px;
        border-radius: 1px;
      }
    }

    .connection-icon {
      width: 24px;
      height: 24px;
      margin-top: 1px;
    }
  }

  .step-sep {
    position: absolute;
    top: 28px;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 2em;
    line-height: 1;
    color: $color-pf-black-600;
  }
}

.integration-description {
  background-color: $color-pf-custom-gray;
  margin: (-$gutter) (-$gutter) 0;
  padding: $gutter;
  border-bottom: 1px solid #d1d1d1;

  &__draft {
    .list-pf-item {
      border-top: none;
    }
  }

  .block-copy-container,
  [class^="col-"] {
    padding: 0;

    .pfng-block-copy-inner-container {
      background-color: #fff;
    }
  }
}
