@import 'syndesis-sass';

.integration-detail {
  &__body {
    display: flex;
    flex: 2;
    flex-direction: column;
  }
  &__info {
    flex-grow: 0;
    padding: 0 0 $gutter $gutter;
  }

  &__outlet {
    flex: 2;
    background: white;
    padding: $gutter;
  }

  ::ng-deep syndesis-editable .fa {
    font-size: 14px;
  }

  .syn-tabs {
    margin: 0;
    padding-left: 0;
  }
}
