@import 'syndesis-sass';

.step-block {
  white-space: nowrap;
  height: 100px;
  min-width: 120px;
  vertical-align: top;
  position: relative;
  .connection {
    cursor: pointer;
  }
  & > .text-center {
    position: relative;
    &.step {
      padding-top: 12px;
      .icon {
        margin-bottom: 10px;
      }
    }
  }
  .step-line {
    position: absolute;
    height: 3px;
    top: 27px;
    z-index: -5;
    left: -2px;
    right: -2px;
    background-color: $color-pf-black-600;
    &.start {
      left: 50px;
    }
    &.finish {
      right: 50px;
    }
  }
  .icon {
    -moz-border-radius: 100px;
    border-radius: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: $color-pf-blue;
    padding: 11px;
    width: 55px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-pf-white;
    &.not-connection {
      position: relative;
      border-width: 10px;
      padding: 5px 0px;
      border-radius: 100px;
      height: 33px;
      margin-bottom: 10px;
      width: 32px;
      .icon-line {
        position: absolute;
        border: 1px solid $color-pf-white;
        height: 3px;
        background-color: $color-pf-white;
        top: 5px;
        left: -8px;
        right: -8px;
        border-radius: 1px;
      }
    }
    .connection-icon {
      width: 24px;
      height: 24px;
      margin-top: 1px;
    }
  }
}