<section class="integration-description">
  <p *ngIf="integration.steps">
    <ng-template ngFor let-step [ngForOf]="integration.steps" let-index="index" let-last="last">
      <div *ngIf="step" class="step-block inline-block text-center">
        <ng-container [ngSwitch]="step.stepKind">
          <ng-container *ngSwitchCase="'endpoint'">
            <div id="{{ step.connection.name | synSlugify }}" class="text-center connection" (click)="onViewDetails(step)" title="{{ step.connection.name }}&nbsp;{{ step.action.name }}">
              <div [class]="'step-line ' + getStepLineClass(index)"></div>
              <div class="icon">
                <img class="syn-icon-small" [src]="step.connection | synIconPath">
              </div>
              <div>{{ step.connection.name | capitalize }}</div>
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div id="{{ (step.name || step.stepKind) | synSlugify }}" class="text-center step">
              <div class="step-line"></div>
              <div class="icon not-connection">
                <div class="icon-line"></div>
              </div>
              <div>{{ stepStore.getStepName(step) }}</div>
            </div>
          </ng-container>
        </ng-container>
        <span *ngIf="!last" class="step-sep fa fa-angle-right"></span>
      </div>
    </ng-template>
  </p>
  <p>
    <syndesis-editable-textarea
      [value]="integration.description"
      placeholder="No description set..."
      (onSave)="onAttributeUpdated('description', $event)">
    </syndesis-editable-textarea>
  </p>
</section>
<section class="integration-description__draft" *ngIf="integration.draft">
  <div class="list-pf">
    <div class="list-pf-item">
      <div class="list-pf-container">
        <div class="list-pf-content list-pf-content-flex">
          <div class="list-pf-left">
          </div>
          <div class="list-pf-content-wrapper">
            <div class="list-pf-main-content">
              <div class="list-pf-title">
                <i>Draft</i>
              </div>
            </div>
          </div>
          <div class="list-pf-additional-content">

          </div>
          <div class="list-pf-actions">
            <pfng-action [config]="draftConfig"
              (onActionSelect)="onDraftAction($event)">
            </pfng-action>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
