<div class="container-cards-pf">
  <div class="row row-cards-pf">

    <!-- Connection Card -->

    <div class="col-xs-12 col-sm-3 col-md-2 card" *ngFor="let connection of connections">
      <div class="card-pf card-pf-view card-pf-view-xs">
        <div class="card-pf-body">

          <!-- Card Dropdown -->

          <div class="card-pf-heading-kebab">
            <div class="dropdown pull-right dropdown-kebab-pf card-pf-time-frame-filter">
              <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                  <span class="fa fa-ellipsis-v"></span>
                </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                  <a [routerLink]="['detail', connection.id]">View</a>
                </li>
                <li>
                  <a [routerLink]="['edit', connection.id]">Edit</a>
                </li>
                <li>
                  <a (click)="duplicateConnection(connection.id, $event)">Duplicate</a>
                </li>
                <li>
                  <a (click)="deleteConnection(connection.id, $event)">Delete</a>
                </li>
              </ul>
            </div>

            <!-- Card Title & Icon -->

            <h2 class="card-pf-title">
              <span class="fa {{ connection.icon }}"></span>
            </h2>
            <div (click)="gotoDetail(connection, $event)" class="card-title">{{ connection.name }}
            </div>
          </div>

          <!-- Card Description -->

          <p (click)="gotoDetail(connection, $event)">
            {{ connection.description | truncate : truncateLimit : truncateTrail }} </p>
        </div>
      </div>
    </div>
  </div>
</div>
