# See https://help.github.com/ignore-files/ for more about ignoring files.

# ignore built storybook
doc/syndesis
doc/auto-form
doc/ui
doc/app

# @syndesis/syndesis
syndesis/public/config.json
syndesis/public/config.json.bak
syndesis/public/atlasmap/
syndesis/public/apicurio/
syndesis/tapes/ht*
syndesis/cypress.env.json
.puppeteer_data

# @syndesis/models
packages/models/src/models.d.ts
packages/models/src/models-internal.d.ts

# dependencies
node_modules
node

# testing
coverage

# production
build
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.cache
.rts2_cache*
