<div class="row row-cards-pf">
  <div class="col-md-8 col-md-offset-2">
    <div class="card-pf">
      <h2 class="card-pf-title">Add Connection Details</h2>
      <div class="card-pf-body">
        <form id="reviewForm"
              [formGroup]="reviewForm"
              class="form-horizontal"
              novalidate>
          <p class="fields-status-pf">The fields marked with
            <span class="required-pf">*</span> are required.</p>
          <div class="form-group"
               [ngClass]="{'has-error': name.invalid && name.touched}">
            <label for="nameInput" class="col-sm-3 control-label required-pf">Connection Name</label>
            <!-- data-id is used in automated tests -->
            <div class="col-sm-9">
              <input data-id="nameInput"
                     id="nameInput"
                     class="form-control"
                     formControlName="name"
                     (blur)="validateNameNotTaken()"
                     required>
              <div *ngIf="name.invalid && name.touched">
                <span class="help-block"
                      *ngIf="name.errors.required">
                  Name is required
                </span>
                <span class="help-block"
                      *ngIf="name.errors.UniqueProperty">
                  That name is taken. Try another.
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="descriptionInput" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea data-id="descriptionInput"
                        id="descriptionInput"
                        class="form-control"
                        formControlName="description"
                        rows="2"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<syndesis-modal title="Leave page"
                message="Are you sure you want to leave this page and lose any unsaved work?">
</syndesis-modal>
