.role-permission-list-item_remove-button{
    cursor: pointer;
    margin-top: 10px;
}

.role-permission-list-item_checkbox {
    margin-top: 12px;
}

.role-permission-list-item_select .pf-c-select__menu {
    max-height: 200px;
    overflow-y: auto;
}