.view-permission-list-items-permission_badge {
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.view-permission-list-items-disabled_text {
  color: var(--pf-c-button--disabled--Color);
}


.view-permission-list_set-expanded_row{
  max-width: 100%;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .view-permission-list_set-expanded_row{
    max-width: 1200px;
  }
}