<syndesis-loading [loading]="!currentFlowService.loaded" [content]="content">
  <ng-template #content>
    <div class="syn-scrollable">
      <div class="syn-scrollable--body">
        <div class="container-fluid">
          <div class="row row-cards-pf cards">
            <div class="card-pf select-card">
              <div class="card-pf-heading">
                <h1 class="card-pf-title">
                  {{ 'Choose a ' + positionText + ' ' + typeText | titleize }}
                </h1>
                <p *ngIf="atStart">
                  Click the connection that starts the integration. If the connection
                  you need is not available, click Create Connection.
                </p>
                <p *ngIf="atEnd">
                  Click the connection that completes the integration. If the
                  connection you need is not available, click Create Connection.
                </p>
                <p *ngIf="!atStart && !atEnd">
                  A step specifies an operation on the data in the integration. Click
                  one to add it.
                </p>
                <syndesis-list-toolbar
                  [items]="allSteps$"
                  [filteredItems]="filteredSteps$"
                  [viewTemplate]="viewTemplate"
                >
                  <ng-template #viewTemplate>
                  <button
                    *ngIf="atStart || atEnd"
                    type="button"
                    class="btn btn-default toolbar-pf-action-right"
                    [routerLink]="['/connections/create']"
                  >
                    Create Connection
                  </button>
                </ng-template>
                </syndesis-list-toolbar>
              </div>
              <div class="card-pf-body">
                <syndesis-connections-list
                  [connections]="filteredSteps$ | async"
                  [loading]="loading$ | async"
                  (onSelected)="onSelected($event)"
                  [showKebab]="false"
                  [showNewConnection]="atStart || atEnd"
                ></syndesis-connections-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</syndesis-loading>
