:host ::ng-deep .card {
  .card-pf.card-pf-view.card-pf-view-xs.card-pf-view-select.card-pf-view-single-select {
    cursor: pointer !important;
  }
}

.select-card {
  padding: 0;
  background: #ededed;
  border-top-color: #fff;

  .card-pf-heading {
    background: #fff;
    margin: 0;
    padding: 20px 20px 0;

    .card-pf-title {
      margin-top: 0;
    }
  }
}
