<syndesis-loading [loading]="!currentFlowService.loaded">
  <div class="syn-scrollable">
    <!-- Toolbar -->
    <div class="toolbar syn-toolbar--inverted">
      <div class="container-fluid">
        <!-- Toolbar: Breadcrumbs -->
        <div class="row toolbar-pf">
          <div class="col-sm-12">
            <div class="toolbar-pf-actions">
              <div class="inline-block">
                <ol class="breadcrumb">
                  <li>
                    <a [routerLink]="['/']">Home</a>
                  </li>
                  <li>
                    <a [routerLink]="['/integrations']">Integrations</a>
                  </li>
                  <li>
                    <a *ngIf="flowPageService.integrationName"
                      [routerLink]="['/integrations', currentFlowService.integration.id]">{{ flowPageService.integrationName }}</a>
                    <ng-container *ngIf="!flowPageService.integrationName">New Integration</ng-container>
                  </li>
                  <li class="active">Choose a Step</li>
                </ol>
              </div>
              <div class="toolbar-pf-action-right">
                <syndesis-cancel-add-step></syndesis-cancel-add-step>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="syn-scrollable--body">
      <div class="container-fluid">
        <div class="title">
          <h1>Choose a Step</h1>
        </div>
        <p>A step specifies an operation on the data in the integration.  Click one to add it.</p>
        <syndesis-loading [loading]="loading$ | async">
          <pfng-toolbar [config]="toolbarConfig"
                        (onFilterChange)="onFilterChange($event)"
                        (onFilterFieldSelect)="onFilterFieldSelect($event)"
                        (onSortChange)="onSortChange($event)">
          </pfng-toolbar>
          <div *ngIf="steps"
              class="list-group list-view-pf list-view-pf-view">
            <div class="step list-group-item"
                title="{{step.name}}"
                *ngFor="let step of filteredSteps | stepVisible:{position: position}"
                (click)="onSelect(step)"
                [class.active]="isSelected(step)">
              <div class="list-view-pf-main-info">
                <div class="list-view-pf-body">
                  <div class="list-group-item-heading">{{ getName(step) }}</div>
                  <div class="list-group-item-text">{{ getDescription(step) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </syndesis-loading>
      </div>
    </div>
  </div>
</syndesis-loading>
