<div class="row toolbar-pf">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="inline-block">
        <ol class="breadcrumb no-bottom-margin">
          <li>
            <a [routerLink]="['/customizations']">
              Customizations
            </a>
          </li>
          <li>
            <a [routerLink]="['..']">
              Extensions
            </a>
          </li>
          <li class="active">
            <strong>
              Extension Details
            </strong>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<syndesis-loading [loading]="loading$ | async">
  <div class="row" *ngIf="extension$ | async; let extension">
    <div class="col-xs-12">
      <syndesis-tech-extension-delete-modal></syndesis-tech-extension-delete-modal>
      <p></p>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title inline-block">
            {{ extension.name }}
            <small>({{ extension.extensionId }})</small>
          </h1>
          <div class="pull-right">
            <button type="button"
                    class="btn btn-primary"
                    [routerLink]="['..', 'import', extension.id, { 'name': extension.name }]">Update</button>
            <button type="button"
                    class="btn btn-default"
                    (click)="deleteModal.prompt(extension)">Delete</button>
          </div>
        </div>
        <div class="panel-body">
          <h4>Overview</h4>
          <dl class="dl-horizontal">
            <dt>
              Name
            </dt>
            <dd>
              {{ extension.name }}
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>
              Description
            </dt>
            <dd>
              {{ extension.description }}
            </dd>
          </dl>
          <p></p>
          <h4>Supported Steps</h4>
          <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-11">
              <div *ngFor="let action of extension.actions">
                <strong>
                  {{ action.name }}
                </strong>
                - {{ action.description }}
              </div>
            </div>
          </div>
          <ng-container *ngIf="integrations$ | async; let integrations">
              <p></p>
              <h4>Usage</h4>
              <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-11">
                  <p *ngIf="integrations"
                     [innerHtml]="integrations.length | i18nPlural: integrationLengthMapping"></p>
                  <table class="table"
                         *ngIf="integrations.length">
                    <thead>
                      <tr>
                        <th>
                          Integration Name
                        </th>
                        <th>
                          Integration Description
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let integration of integrations">
                        <td>
                          <a [routerLink]="['/integrations', integration.id]">{{ integration.name }}</a>
                        </td>
                        <td>
                          {{ integration.description }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</syndesis-loading>
