.panel-heading {
  background: inherit;
  padding: 20px 15px;
}

h2.section-heading {
  font-weight: bold;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 20px;
}

h2.section-heading.intermediate {
  margin-top: 35px;
}

h1 small {
  padding-left: 5px;
  font-size: 85%;
}
