{{if eq (or .Syndesis.Spec.Addons.todo.enabled "true") "true"}}
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: todo
      syndesis.io/component: todo
    name: todo
  spec:
    ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      app: syndesis
      syndesis.io/app: todo
      syndesis.io/component: todo

- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: todo
      syndesis.io/component: todo
    name: todo
  spec:
    host: todo-{{.Syndesis.Spec.RouteHostname}}
    path: /
    port:
      targetPort: 8080
    tls:
      insecureEdgeTerminationPolicy: Allow
      termination: edge
    to:
      kind: Service
      name: todo
      weight: 100

- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: todo
    name: todo
  spec:
    lookupPolicy:
      local: false
  status:
    tags:
      - items:
        tag: latest

- apiVersion: build.openshift.io/v1
  kind: BuildConfig
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: todo
    name: todo
  spec:
    postCommit: {}
    resources: {}
    runPolicy: Serial
    source:
      git:
        uri: 'https://github.com/syndesisio/todo-example.git'
      type: Git
    output:
      to:
        kind: ImageStreamTag
        name: 'todo:latest'
    strategy:
      sourceStrategy:
        from:
          kind: ImageStreamTag
          name: 'php:7.0'
          namespace: openshift
      type: Source
    triggers:
      - type: ConfigChange
      - imageChange:
        type: ImageChange

- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: todo
    name: todo
  spec:
    replicas: 1
    selector:
      app: syndesis
      syndesis.io/app: todo
      syndesis.io/component: todo
    strategy:
      resources:
        limits:
          memory: "256Mi"
        requests:
          memory: "20Mi"
      type: Recreate
    template:
      metadata:
        annotations:
          openshift.io/container.todo.image.entrypoint: '["container-entrypoint","/bin/sh","-c","$STI_SCRIPTS_PATH/usage"]'
        creationTimestamp: null
        labels:
          app: syndesis
          syndesis.io/app: todo
          syndesis.io/component: todo
      spec:
        containers:
          - env:
              - name: TODO_DB_SERVER
                value: syndesis-db
              - name: TODO_DB_NAME
                value: sampledb
              - name: TODO_DB_USER
                value: sampledb
              - name: TODO_DB_PASS
                value: {{.Env.POSTGRESQL_SAMPLEDB_PASSWORD}}
              - name: TODO_DB_SCHEMA
                value: sampledb
            imagePullPolicy: Always
            name: todo
            image: ' '
            resources:
              limits:
                memory: 256Mi
              requests:
                memory: 256Mi
            ports:
              - containerPort: 8080
                name: http
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
    test: false
    triggers:
      - type: ConfigChange
      - imageChangeParams:
          automatic: true
          containerNames:
            - todo
          from:
            kind: ImageStreamTag
            name: todo:latest
        type: ImageChange
{{end}}
