<ipaas-loading [loading]="loading">
  <div class="container-cards-pf ipaas-dashboard-connections">
    <div class="row row-cards-pf cards">

      <!-- Each Connection's Card Container -->

      <div class="col-xs-12 col-sm-3 col-md-2 card"
           *ngFor="let connection of connections"
           (click)="onSelect(connection)">

        <!-- Connection Card -->

        <div class="card-pf card-pf-view card-pf-view-xs">
          <div class="card-pf-body">
            
            <!-- Card Heading -->
            <div class="card-pf-heading">

              <!-- Card Title & Icon -->
              
              <h2 class="card-pf-title">
                <span class="fa {{ connection.icon }}"></span>
                <p class="card-title">
                  <a [routerLink]="['/connections', connection.id]">{{ connection.name }}</a>
                </p>
              </h2>
            </div>
            
            <!-- Card Description / Item Overview -->
            
            <p>{{ connection.description | truncate : truncateLimit : truncateTrail }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ipaas-loading>
