@import '../../scss/colors';

.ipaas-dashboard-connections {
  .cards {
    margin-top: 40px;
    padding: 0;

    .card {
      cursor: default;
      width: 25%;

      .card-pf.card-pf-view.card-pf-view-xs {
        cursor: default;
        height: 150px !important;
        max-height: 150px !important;
        text-align: left;

        a:hover, a:focus {
          color: $pf-blue-400;
          text-decoration: none;
        }

        .card-pf-heading {
          border-bottom: none;

          .card-pf-title {

            // Text
            .card-title {
              padding-top: 20px;
            }

            // Icon
            .fa {
              font-size: 20px;
            }
          }
        }

        .card-pf-body {
          height: 100% !important;
        }
      }
    }
  }
}
