<div class="ipaas-dashboard">
  
  <!-- At Least One Integration -->
  
  <ipaas-dashboard-integrations *ngIf="integrations.length !== 0"
                               [integrations]="integrations | async"
                               [loading]="loading | async"
                               (onSelect)="onSelect($event)"></ipaas-dashboard-integrations>
  
  <!-- No Integrations -->
  
  <ipaas-dashboard-empty-state *ngIf="integrations.length === 0"
                               [loading]="loading | async"></ipaas-dashboard-empty-state>
</div>
