<div class='row text-center empty-state'>
  <h1>No Integrations Available</h1>
  <div class='row description'>
    <p>
      Integration helps you connect two or multiple web services. To create an integration, choose one of the templates below and
      add some contextual details.
    </p>
    <p>Alternatively, you can create an integration from scratch.</p>
  </div>
  <div class='row'>
    <a [routerLink]=" ['/integrations/create'] " class='btn btn-primary'>Create Integration</a>
  </div>
  <!--
  <div class='row'>
    <a [routerLink]=" ['/connections/create'] " class='btn btn-default'>Create Connection</a>
    <a [routerLink]=" ['/templates/create'] " class='btn btn-default'>Create Template</a>
  </div>
  -->
</div>
