<div class='row text-center empty-state'>
  <h1>No Integrations Available</h1>
  <div class='row description'>
    <!--
    <p>
      Integration helps you connect two or more web services. To create an integration, choose one of the templates below and add some contextual details.
    </p>
    <p>Alternatively, you can create an integration from scratch.</p>
    -->
    <p>Integrations help you connect two or more web services.</p>
  </div>
  <div class='row'>
    <button type="button" class="btn btn-primary" [routerLink]="['/integrations/create']">Create Integration</button>
  </div>
  <!--
  <div class='row'>
    <button type="button" [routerLink]=" ['/connections/create'] " class='btn btn-default'>Create Connection</button>
    <button type="button" [routerLink]=" ['/templates/create'] " class='btn btn-default'>Create Template</button>
  </div>
  -->
</div>
