@import '../../scss/colors';

.ipaas-dashboard-integrations {
  color: #656565;
  cursor: default;
  margin: 15px;

  a, a:visited {
    color: $pf-blue-400;
    cursor: pointer;

    &.btn {
      color: #FFFFFF;
    }

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
  }

  .btn {
    margin: 10px 5px;
    padding: 2px 20px !important;
  }

  .page-header {
    border-bottom: none;
    padding: 10px 0;
    margin: 0;

    .actions {
      justify-content: flex-end;
      margin: 0;
    }

    [class^="col-"], [class*=" col-"] {
      padding: 0;

      h1 {
        margin: 0;
      }
    }
  }


  ////////////////////////////////////////////////////////////////////////////////
  // FIRST ROW
  ////////////////////////////////////////////////////////////////////////////////

  .first-row {
    padding-top: 0;
  }

  ////////////////////////////////////////////////////////////////////////////////
  // SECOND ROW
  ////////////////////////////////////////////////////////////////////////////////

  .second-row {
    margin: 10px 0;
    padding: 0;

    //----- Integration Board ----------------->>

    .integration-board {

      .card-pf-body {
        overflow: auto;

        .chart {
          flex-grow: 1;
          //margin-bottom: -5em;
          display: flex;
          justify-content: center;
          flex-direction: column;
          position: relative;
          max-width: 180px;

          canvas {
            width: 80% !important;
            height: 80% !important;
          }

          .total-count {
            top: 20px;
            position: absolute;
            width: 62%;
            text-align: center;

            .number {
              font-size: 22px;
            }

            @media (max-width: 1020px) {
              .text { display: none }
            }

          }
        }
      }

      .legend {
        padding: 0;

        .col-xs-12 {
          padding: 0;

          .colors {
            height: 10px;
            padding: 9px;

            &.active {
              background: $pf-green-400;
            }

            &.deleted {
              background: $pf-orange-400;
            }

            &.draft {
              background: $pf-blue-400;
            }

            &.inactive {
              //background: $pf-black-200;
              //background: $pf-custom-gray;
              background: $pf-black-300;
            }
          }

          .text {
            padding: 0 0 0 13px;
          }
        }
      }
    }


    //----- Recent Updates ----------------->>

    .recent-updates {
      .update {
        border-bottom: 1px solid $pf-black-200;
        cursor: default;
        padding: 10px 0;

        &:hover {
          background: rgba(214, 238, 250, 0.36);
        }

        a:hover {
          text-decoration: none;
        }
      }

      .update:last-child { border-bottom: none; }
    }


    //----- Top 5 Integrations ----------------->>

    .top-integrations {
      .integration {
        cursor: pointer;
        padding: 15px;

        &:hover {
          //background: rgba(214, 238, 250, 0.36);
          background: $pf-blue-50;
        }

        .actions {
          margin-top: -6px;
          padding: 0;

          ul {
            cursor: pointer;
          }
        }

        .active-inactive {
          //padding: 5px;
          padding: 0;

          .btn.btn-primary {
            background: #199BD1;
            border: none;
            font-family: inherit;
            font-weight: 100;
            padding: 1px 10px;
          }
        }

        .description {
          max-width: 40%;
          padding: 0;
        }

        .icons {
          padding: 0 0 0 6px;

          .list-view-pf-left {
            display: table-cell;
            padding-right: 0;
            text-align: center;
            vertical-align: top;

            .fa:first-child, .fa-angle-right {
              margin-right: 15px;
            }

            .fa.fa-angle-right {
              font-size: 18px;
            }
          }
        }

        .name {
          font-weight: 500;
          line-height: 28px;
          padding: 0;

          a, a:visited, a:hover, a:focus {
            color: inherit;
            text-decoration: none;
          }
        }

        .status {
          font-size: large;
          padding: 0;
        }

        .times-of-use {
          line-height: 28px;
          padding: 0;

        }
      }
    }
  }


  ////////////////////////////////////////////////////////////////////////////////
  // THIRD ROW
  ////////////////////////////////////////////////////////////////////////////////

  .third-row {
    .actions {
      margin-top: -10px;
    }
  }
}
