<ipaas-loading [loading]="loading">
  <div class="container-cards-pf ipaas-dashboard-integrations">

    <!-- First Row: Page Header & Toolbar -->

    <div class="row row-cards-pf first-row">
      <div class="page-header">
        <div class="actions pull-right">
          <a href="#">View All Integrations</a>&nbsp;&nbsp;
          <a href=""
             class="btn btn-primary">Create Integration
          </a>
        </div>
        <h1>Dashboard: Integrations</h1>
      </div>
    </div>


    <!-- Second Row -->

    <div class="row row-cards-pf second-row">

      <!-- Left: Integrations -->

      <div class="col-xs-7">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Top 5 Integrations
            </h2>
          </div>
          <div class="card-pf-body">
            <div class="row integration"
                 *ngFor="let integration of integrations"
                 (click)="onSelect(integration)">

              <!-- Icons -->
              <div class="col-xs-2 icons">
                <div class="list-view-pf-left">
                  <span [class]="'fa ' + getStartIcon(integration) + ' list-view-pf-icon-sm'"></span>
                  <span class="fa fa-angle-right"></span>
                  <span [class]="'fa ' + getFinishIcon(integration) + ' list-view-pf-icon-sm'"></span>
                </div>
              </div>

              <!-- Name -->
              <div class="col-xs-3 name">
                {{ integration.name }}
              </div>

              <!-- Description -->
              <div class="col-xs-5">
                <p>1234</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Right -->

      <div class="col-xs-5">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Integration Board
            </h2>
          </div>
          <div class="card-pf-body">
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>

        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Recent Updates
            </h2>
          </div>
          <div class="card-pf-body">
            <div class="row integration"
                 *ngFor="let integration of integrations">
              <div class="col-xs-8">Update client service</div>
              <div class="col-xs-4">11 Oct 22:00</div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Third Row -->

    <div class="row row-cards-pf third-row">
      <div class="page-header">
        <div class="actions pull-right">
          <a href="#">View All Connections</a>&nbsp;&nbsp;
          <a href=""
             class="btn btn-primary">Create Connection
          </a>
        </div>
        <h1>Dashboard: Connections</h1>
      </div>
    </div>


    <!-- Fourth Row -->

    <div class="row row-cards-pf fourth-row">

      <ipaas-dashboard-connections [connections]="connections | async"
                                   (onSelect)="onSelect($event)"></ipaas-dashboard-connections>

    </div>
  </div>
</ipaas-loading>
