.ipaas-dashboard-integrations {
  color: #656565;
  margin: 15px;

  .btn {
    margin: 10px 5px;
    padding: 2px 20px !important;
  }

  ////////////////////////////////////////////////////////////////////////////////
  // FIRST ROW
  ////////////////////////////////////////////////////////////////////////////////

  .first-row {
    padding-top: 0;

    .page-header {
      padding-bottom: 9px;
      margin: 0;
    }
  }

  ////////////////////////////////////////////////////////////////////////////////
  // SECOND ROW
  ////////////////////////////////////////////////////////////////////////////////

  .second-row {
    margin: 10px 0;
    padding: 0;

    //----- Integration Board ----------------->>

    .integration-board {}


    //----- Recent Updates ----------------->>

    .recent-updates {}


    //----- Top 5 Integrations ----------------->>

    .top-integrations {
      .integration {
        cursor: default;
        padding: 10px;

        &:hover {
          background: rgba(214, 238, 250, 0.36);
        }

        .actions {
          padding: 5px;

          ul {
            cursor: pointer;
          }
        }

        .active-inactive {
          padding: 5px;

          .btn.btn-primary {
            background: #199BD1;
            border: none;
            font-family: inherit;
            font-weight: 100;
            padding: 1px 10px;
          }
        }

        .description {
          //margin: 25px auto;
          max-width: 40%;
          padding: 5px;
        }

        .icons {
          //padding: 1px;
          padding-left: 6px;
          //width: 22.666667%;

          .fa {
            margin-right: 15px;

            &.fa-angle-right {
              font-size: 18px;
            }
          }
        }

        .name {
          font-weight: 700;
          padding: 7px;
        }
      }
    }
  }


  ////////////////////////////////////////////////////////////////////////////////
  // THIRD ROW
  ////////////////////////////////////////////////////////////////////////////////

  .third-row {}
}
