@import 'syndesis-sass';

:host {
  .wizard {
    &__main {
      margin-left: -$gutter;
      margin-right: -$gutter;
      position: relative;
    }

    &-nav {
      &__button {
        margin-left: 1.6em;
      }
    }

    &__body {
      max-width: 700px;
      margin: auto;
    }
  }
}
