{{ if .ApiServer.Routes }}
#
# Ingress / Route used for Openshift
# + Automatically sets the Syndesis.RouteHostname when created
#   so no need to specify the RouteHostname in the CR.
# + Also supports re-encryption whilst ingress does not.
#
# See https://www.openshift.com/blog/kubernetes-ingress-vs-openshift-route
#
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    labels:
      app: syndesis
      syndesis.io/app: syndesis
      syndesis.io/type: infrastructure
    annotations:
      console.alpha.openshift.io/overview-app-route: "true"
    name: syndesis
  spec:
    host: {{.Syndesis.RouteHostname}}
    port:
      targetPort: 8443
    tls:
      insecureEdgeTerminationPolicy: Redirect
      termination: reencrypt
    to:
      kind: Service
      name: syndesis-oauthproxy
{{end}}
