<div class="card-pf-heading" *ngIf="createMode">
  <h2 class="card-pf-title">
    Review/Edit Connector Details
  </h2>
</div>
<div class="card-pf-body">
  <syndesis-validation-error *ngIf="processingError">
    {{ processingError }}
  </syndesis-validation-error>

  <form class="syn-form--card syn-form--api-connector form-horizontal" novalidate
    [class.syn-form--edit-mode]="!createMode"
    [class.syn-form--create-mode]="createMode"
    [formGroup]="apiConnectorDataForm"
    (submit)="onSubmit()">
    <fieldset>
      <div class="form-group icon-row syn-form-filebrowser">
        <label class="col-sm-3 control-label syn-form-filebrowser__label" for="connectorIcon">Connector Icon</label>
        <div class="col-sm-9 syn-form-column" id="connectorIcon">
          <span class="syn-form-filebrowser__default-file">
            <i class="fa fa-upload" *ngIf="createMode && !iconFile"></i>
            <img *ngIf="(createMode && iconFile) || !createMode"
              class="syn-form-filebrowser__preview"
              [src]="iconFile ? ({ icon: iconFile } | synIconPath) : (apiConnectorData | synIconPath)"
              id="connectorIconImg"
              #connectorIconImg>
          </span>
          <input class="syn-form-filebrowser__input"
            type="file"
            id="connectorIconInput"
            (change)="onChange()"
            #connectorIconInput
            formControlName="icon">
        </div>
      </div>

      <div class="form-group">
        <label class="required-pf col-sm-3 control-label" for="name">Connector Name</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="name"
            formControlName="name"
            #nameInput>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="description">Description</label>
        <div class="col-sm-9">
          <textarea class="form-control" type="text" id="description" rows="4"
            formControlName="description"
            #descriptionInput>
          </textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="host">Host</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="host"
            formControlName="host"
            #hostInput>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="basePath">Base URL</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="basePath"
            formControlName="basePath"
            #basePathInput>
        </div>
      </div>
    </fieldset>

    <div class="form-group">
      <fieldset class="col-sm-9 col-sm-offset-3">
        <syndesis-button *ngIf="createMode" theme="default" type="button" (click)="onBack.emit()">
          {{ 'shared.back-button' | synI18n }}
        </syndesis-button>
        <syndesis-button *ngIf="createMode"
                         class="create-api-btn"
                         type="submit"
                         [loading]="apiConnectorState.loading"
                         [disabled]="apiConnectorDataForm.invalid">
          Create API Connector
        </syndesis-button>
        <ng-container *ngIf="!createMode">
            <button *ngIf="!editMode" class="btn btn-primary" (click)="editForm()">Edit</button>
            <ng-container *ngIf="editMode">
                <button class="btn btn-default" (click)="cancelEdit()">Cancel</button>
                <button class="btn btn-primary" (click)="onSubmit()">Save</button>
            </ng-container>
        </ng-container>
      </fieldset>
    </div>
  </form>
</div>
