<div class="card-pf-heading" *ngIf="createMode">
  <h2 class="card-pf-title">
    Review/Edit Connector Details
  </h2>
</div>
<div class="card-pf-body">
  <syndesis-validation-error *ngIf="processingError">
    {{ processingError }}
  </syndesis-validation-error>

  <form class="syn-form--card syn-form--api-connector form-horizontal" novalidate
    [class.syn-form--edit-mode]="!createMode"
    [class.syn-form--create-mode]="createMode"
    [formGroup]="apiConnectorDataForm"
    (submit)="onSubmit()">
    <fieldset>
      <div class="form-group icon-row syn-form-filebrowser">
        <label class="col-sm-3 control-label syn-form-filebrowser__label" for="connectorName">Connector Icon</label>
        <div class="col-sm-9 syn-form-column">
          <span class="syn-form-filebrowser__default-file">
            <i class="fa fa-upload" *ngIf="(createMode && !iconFile) || !createMode"></i>
            <img *ngIf="createMode && iconFile"
              class="syn-form-filebrowser__preview"
              [src]="{ icon: iconFile } | synIconPath">
          </span>
          <input class="syn-form-filebrowser__input" type="file" name="connectorIcon" (change)="onChange($event)">
        </div>
      </div>

      <div class="form-group">
        <label class="required-pf col-sm-3 control-label" for="name">Connector Name</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="name"
            formControlName="name"
            (keyup.enter)="onChange($event)"
            (change)="onEditChange()"
            #nameInput
            [ngClass]="{'hidden': !createMode && editControlKey !== 'name'}">
          <span class="syn-form-row__input--editor" *ngIf="!createMode && editControlKey !== 'name'" (click)="onEditEnable($event, 'name')">
            {{ nameInput.value }}
            <i class="fa fa-pencil"></i>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="description">Description</label>
        <div class="col-sm-9">
          <textarea class="form-control" type="text" id="description" rows="4"
            formControlName="description"
            (keyup.enter)="onChange($event)"
            (change)="onEditChange()"
            #descriptionInput
            [ngClass]="{'hidden': !createMode && editControlKey !== 'description'}">
          </textarea>
          <span class="syn-form-row__input--editor" *ngIf="!createMode && editControlKey !== 'description'" (click)="onEditEnable($event, 'description')">
            <span [innerHtml]="descriptionInput.value | synParseMarkdownLinks"></span>
            <i class="fa fa-pencil"></i>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="host">Host</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="host"
            formControlName="host"
            (keyup.enter)="onChange($event)"
            (change)="onEditChange()"
            #hostInput
            [ngClass]="{'hidden': !createMode && editControlKey !== 'host'}">
          <span class="syn-form-row__input--editor" *ngIf="!createMode && editControlKey !== 'host'" (click)="onEditEnable($event, 'host')">
            {{ hostInput.value }}
            <i class="fa fa-pencil"></i>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="basePath">Base URL</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="basePath"
            formControlName="basePath"
            (keyup.enter)="onChange($event)"
            (change)="onEditChange()"
            #basePathInput
            [ngClass]="{'hidden': !createMode && editControlKey !== 'basePath'}">
          <span class="syn-form-row__input--editor" *ngIf="!createMode && editControlKey !== 'basePath'" (click)="onEditEnable($event, 'basePath')">
            {{ basePathInput.value }}
            <i class="fa fa-pencil"></i>
          </span>
        </div>
      </div>
    </fieldset>

    <div class="form-group">
      <fieldset class="col-sm-9 col-sm-offset-3" *ngIf="createMode">
        <syndesis-button type="submit" [loading]="apiConnectorState.loading" [disabled]="apiConnectorDataForm.invalid">
          Create API Connector
        </syndesis-button>
      </fieldset>
    </div>
  </form>
</div>
