<ng-template #template>
  <div class="modal-header">
    <button type="button"
            class="close"
            aria-hidden="true"
            (click)="cancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title">{{ 'customizations.extensions.delete-extension-modal-title' | synI18n }}</h4>
  </div>
  <div class="modal-body">
    <span aria-hidden="true" class="pficon pficon-error-circle-o"></span>
    <syndesis-loading [loading]="loading" [content]="content">
      <ng-template #content>
        <p [ngClass]="{'lead': integrations && integrations.length > 0 }">
          {{ 'customizations.extensions.delete-extension-modal-lead' | synI18n: extension?.name }}
        </p>
        <ng-container *ngIf="integrations && integrations.length > 0">
          <p>{{ 'customizations.extensions.delete-extension-modal' | synI18n }}</p>
          <ul class="delete-extension-list">
            <li *ngFor="let integration of integrations">
              <strong>{{ integration.name }}</strong>
              <span *ngIf="integration.description">
                {{ integration.description }}
              </span>
            </li>
          </ul>
        </ng-container>
      </ng-template>
    </syndesis-loading>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-default"
            (click)="cancel()">
      Cancel
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="delete()">
      {{ 'delete-modal-primary-text' | synI18n }}
    </button>
  </div>
</ng-template>
