.dv-connection-card,
.dv-connection-card--accented,
.dv-connection-card:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.dv-connection-card:hover {
  box-shadow: 0 1px 6px rgba(3,3,3,.35);
}

.dv-connection-card__body {
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.dv-connection-card__body .dv-connection-card__icon {
  height: 35px;
  width: 35px;
  margin-bottom: 25px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dv-connection-card__body .dv-connection-card__title,
.dv-connection-card__body .dv-connection-card__title:hover {
  color: initial;
  text-decoration: none;
}

.dv-connection-card__body .dv-connection-card__description {
  color: initial;
  font-size: small;
  font-weight: 300;
  margin-top: 15px;
  text-decoration: none;
  overflow: hidden;
  max-height: var(--pf-global--spacer--3xl);
}

.dv-connection-card__status {
  margin-bottom: 10px;
}

.dv-connection-card--accented {
  border-width: 2px;
  border-style: solid;
  border-color: #39a5dc;
}
