<div class="integration-activity__toolbar">
  <p class="integration-activity__toolbar-text" *ngIf='openshiftConsoleURL'>
    <a href="{{openshiftConsoleURL}}" target="integration-logs">View Log in OpenShift</a>
  </p>
  <p class="integration-activity__toolbar-text">Last refresh today at {{ lastRefresh | synDate: 'mediumTime' }}</p>
  <syndesis-button theme="default" (click)="fetchActivities()" type="button" [loading]="onRefresh" class="is-margin-reset">
    Refresh
  </syndesis-button>
</div>

<syndesis-validation-error *ngIf="onError">
  Error: the activity logs could not be refreshed. Please try again by clicking on 'Refresh'.
</syndesis-validation-error>

<div class="list-group list-view-pf list-view-pf-view">
  <div class="list-group-item" *ngFor="let activity of activities" [class.list-view-pf-expand-active]="activity.id == selectedActivity?.id">
    <div class="list-group-item-header" (click)="onSelectActivity($event, activity)">
      <div class="list-view-pf-expand" [class.active]="activity.id == selectedActivity?.id">
        <span class="fa fa-angle-right" [class.fa-angle-down]="activity.id == selectedActivity?.id"></span>
      </div>
      <div class="list-view-pf-actions">
        <div *ngIf="activity.failed; else notFailed">
          <i class="pficon pficon-error-circle-o"></i> Errors found
        </div>
        <ng-template #notFailed>
          <div>
            <i class="pficon pficon-ok"></i> No errors
          </div>
        </ng-template>
      </div>
      <div class="list-view-pf-main-info">
        <div class="list-view-pf-body">
          <div class="list-view-pf-description">
            <div class="list-group-item-heading">
              {{ activity.at | synDate: 'shortDate' }}
            </div>
            <div class="list-group-item-text">
              {{ activity.at | synDate: 'mediumTime' }}
            </div>
          </div>
          <div class="list-view-pf-additional-info">
            <div class="list-view-pf-additional-info-item">
              Version {{ activity.ver || 'unknown' }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid" [class.hidden]="activity.id != selectedActivity?.id">
      <div class="close" (click)="onSelectActivity($event, activity)">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered" *ngIf="activity.steps && activity.steps.length; else noStepsFound;">
            <thead>
              <tr>
                <th>Step</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Output</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let step of activity.steps" class="syn-nowrap integration-step">
                <td>{{ step.name }}</td>
                <td>{{ step.at | synDate:'medium' }}</td>
                <td>{{ step.duration | synDuration:'ns' }}</td>
                <td *ngIf="step.isFailed">
                  <i class="pficon pficon-error-circle-o"></i> Error</td>
                <td *ngIf="!step.isFailed">
                  <i class="pficon pficon-ok"></i> Success</td>
                <td *ngIf='step.output' class="integration-step__output">
                  <pre class="integration-step__output-log">{{ step.output }}</pre>
                </td>
                <td *ngIf='!step.output'>
                  No output
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #noStepsFound>
            <p>No steps information was found for this integration</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<pfng-pagination *ngIf="showPagination" class="integration-activity__pagination" [config]="paginationConfig" (onPageNumberChange)="renderActivitiesByPage()"
  (onPageSizeChange)="renderActivitiesByPage()">
</pfng-pagination>
