@import 'syndesis-sass';

:host {
  .syn-connection-detail-info__header,
  .syn-connection-detail-info__description {
    margin-bottom: $gutter;  
  }

  .syn-connection-detail-info__header {
    img {
      width: 46px;
      margin-right: $gutter;      
    }
  }
}
