{
  "apiEndpoint": "http://localhost:8080/api/v1",
  "title": "Syndesis",
  "datamapper": {
    "baseJavaServiceUrl": "https://localhost:8585/v2/atlas/java/",
    "baseMappingServiceUrl": "https://localhost:8585/v2/atlas/"
  },
  "oauth": {
    "clientId": "syndesis-ui",
    "scopes": [],
    "oidc": true,
    "hybrid": true,
    "issuer": "http://localhost:8282/auth/realms/syndesis-test",
    "auto-link-github": true
  }
}
