// prettier-ignore
////////////////////////////////////////////////////////////////////////////////
// PATTERNFLY COLORS
////////////////////////////////////////////////////////////////////////////////


// This is the darker gray we are using as a result of the lighter grays in PatternFly
// getting washed out on projectors, demo recordings, and BlueJeans screenshares.

$pf-custom-gray:           #E1E1E1;

$pf-black-100:             #fafafa;
$pf-black-150:             #f5f5f5; // Dashboard gray background
$pf-black-200:             #ededed;
$pf-black-300:             #d1d1d1;
$pf-black-400:             #bbb;
$pf-black-500:             #8b8d8f;
$pf-black-600:             #72767b;
$pf-black-700:             #4d5258;
$pf-black-800:             #393f44;
$pf-black-900:             #292e34;
$pf-blue-50:               #def3ff;
$pf-blue-100:              #bee1f4;
$pf-blue-200:              #7dc3e8;
$pf-blue-300:              #39a5dc;
$pf-blue-400:              #0088ce;
$pf-blue-500:              #00659c;
$pf-blue-600:              #004368;
$pf-blue-700:              #002235;
$pf-cyan-100:              #bedee1;
$pf-cyan-200:              #7dbdc3;
$pf-cyan-300:              #3a9ca6;
$pf-cyan-400:              #007a87;
$pf-cyan-500:              #005c66;
$pf-cyan-600:              #003d44;
$pf-cyan-700:              #001f22;
$pf-gold-100:              #fbeabc;
$pf-gold-200:              #f9d67a;
$pf-gold-300:              #f5c12e;
$pf-gold-400:              #f0ab00;
$pf-gold-500:              #b58100;
$pf-gold-600:              #795600;
$pf-gold-700:              #3d2c00;
$pf-green-100:             #cfe7cd;
$pf-green-200:             #9ecf99;
$pf-green-300:             #6ec664;
$pf-green-400:             #3f9c35;
$pf-green-500:             #2d7623;
$pf-green-600:             #1e4f18;
$pf-green-700:             #0f280d;
$pf-light-blue-100:        #beedf9;
$pf-light-blue-200:        #7cdbf3;
$pf-light-blue-300:        #35caed;
$pf-light-blue-400:        #00b9e4;
$pf-light-blue-500:        #008bad;
$pf-light-blue-600:        #005c73;
$pf-light-blue-700:        #002d39;
$pf-light-green-100:       #e4f5bc;
$pf-light-green-200:       #c8eb79;
$pf-light-green-300:       #ace12e;
$pf-light-green-400:       #92d400;
$pf-light-green-500:       #6ca100;
$pf-light-green-600:       #486b00;
$pf-light-green-700:       #253600;
$pf-orange-100:            #fbdebf;
$pf-orange-200:            #f7bd7f;
$pf-orange-300:            #f39d3c;
$pf-orange-400:            #ec7a08;
$pf-orange-500:            #b35c00;
$pf-orange-600:            #773d00;
$pf-orange-700:            #3b1f00;
$pf-purple-100:            #c7bfff;
$pf-purple-200:            #a18fff;
$pf-purple-300:            #8461f7;
$pf-purple-400:            #703fec;
$pf-purple-500:            #582fc0;
$pf-purple-600:            #40199a;
$pf-purple-700:            #1f0066;
$pf-red-100:               #cc0000;
$pf-red-200:               #a30000;
$pf-red-300:               #8b0000;
$pf-red-400:               #470000;
$pf-red-500:               #2c0000;

$pf-black:                 #030303;
$pf-blue:                  $pf-blue-400;
$pf-cyan:                  $pf-cyan-400;
$pf-gold:                  $pf-gold-400;
$pf-green:                 $pf-green-400;
$pf-light-blue:            $pf-light-blue-400;
$pf-light-green:           $pf-light-green-400;
$pf-orange:                $pf-orange-400;
$pf-purple:                $pf-purple-400;
$pf-red:                   $pf-red-100;
$pf-white:                 #fff;



