.card-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical.collapsed-nav {
  margin-left: 0;
}

.navbar-pf-vertical {
  a {
    color: #ffffff;
  }

  .navbar-brand {
    margin: 6px 0 0 25px;
  }
}
