@import 'colors';

////////////////////////////////////////////////////////////////////////////////
// PATTERNFLY CARD LAYOUT
////////////////////////////////////////////////////////////////////////////////


body.cards-pf {
  background-color: $pf-custom-gray;
}

.card-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}


////////////////////////////////////////////////////////////////////////////////
// PATTERNFLY VERTICAL NAVIGATION
////////////////////////////////////////////////////////////////////////////////

.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical.collapsed-nav {
  margin-left: 0;
}

.navbar-pf-vertical {
  a {
    color: #ffffff;
  }

  .navbar-brand {
    margin: 6px 0 0 25px;
  }
}


////////////////////////////////////////////////////////////////////////////////
// TABS
////////////////////////////////////////////////////////////////////////////////

.tab-container {
  .nav-tabs {
    border-bottom: none;

    li.nav-item {
      margin: 0;

      a {
        border: none;
        cursor: pointer;

        &.active:hover {
          background: #FFFFFF;
        }

        &:hover {
          background: $pf-black-300;
        }
      }
    }
  }

  .tab-content {
    background: #FFFFFF;
  }
}

