<div class="alert alert-success" (click)="handleLinks($event)" *ngIf="item.message">
  <span class="pficon pficon-ok"></span>
  <strong>{{ 'settings.oauth-apps.form.success.msg' | synI18n }}</strong>&nbsp;
  <span [innerHtml]="
    'settings.oauth-apps.form.success.action.msg' | synI18n: [
      ('settings.oauth-apps.form.success.action.link' | synI18n: '/connections/create'),
      item.client.name
    ]
  "></span>
</div>
<div class="alert alert-warning" *ngIf="item.error">
  <span class="pficon pficon-warning-triangle"></span>
  <strong>{{ 'settings.oauth-apps.form.warning.msg' | synI18n }}</strong>
  <pre>{{ error | json }}</pre>
</div>
<form class="form-horizontal" [formGroup]="formGroup">
  <syndesis-form-control *ngFor="let controlModel of formModel; last as last" [group]="formGroup" [model]="controlModel">
    <div *ngIf="last" class="col-sm-9 col-sm-offset-3">
      <div class="syn-form__submit">
        <ng-container *ngIf="!item.message">
          <button type="button" class="btn btn-primary" (click)="save()" [disabled]="formGroup.invalid || loading">
            <span class="spinner spinner-sm spinner-inline" *ngIf="loading"></span>{{ 'save' | synI18n }}</button>
          <button type="button" class="btn btn-default" (click)="exit()" [disabled]="loading">
            {{ 'cancel' | synI18n }}</button>
        </ng-container>
        <ng-container *ngIf="item.message">
          <button type="button" class="btn btn-primary" (click)="exit()" [disabled]="loading">{{ 'ok' |
            synI18n }}</button>
        </ng-container>
      </div>
    </div>
  </syndesis-form-control>
</form>
