.integration-list-item {
  cursor: pointer;
}

.integration-list-item .config-required {
  font-size: smaller;
}

.integration-list-item .config-required .pficon {
  padding-right: 5px;
}

.integration-list-item .integration-list-item__additional-info {
  display: inline-block;
}
