.integration-list-item .label,
.integration-list-item .view-integration-btn {
  font-size: var(--pf-global--FontSize--sm);
}

.integration-list-item .integration-icon__divider:before {
  font-size: 20px;
  line-height: 1.6;
}

.integration-list-item .integration-list-item__additional-info {
  display: inline-block;
}

@media (max-width: 1204px) {
  .integration-list-item .config-required {
    margin-left: 0 !important;
  }
}

@media (min-width: 992px) {
  .list-view-pf .list-group-item-heading {
    min-width: 110px;
    white-space: normal;
  }
}

.integration-list-item .list-view-pf-additional-info {
  width: 0;
}
