.integration-steps-horizontal-item {
  height: 100px;
  width: 120px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  position: relative;
  padding: 0 10px;
}

.integration-steps-horizontal-item * {
 vertical-align: center;
}

.integration-steps-horizontal-item a {
  color: var(--pf-global--Color--100);
}

.integration-steps-horizontal-item a:hover {
  text-decoration: none;
}

.integration-steps-horizontal-item .step-icon {
  border-radius: 100px;
  width: 55px;
  height: 55px;
  margin: 0 auto 5px;
  background-color: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #0088ce;
}
.integration-steps-horizontal-item .step-icon img {
  max-width: 24px;
  max-height: 24px;
}

.integration-steps-horizontal-item__arrow,
.integration-steps-horizontal-item__icon {
  padding: 0;
}

.integration-steps-horizontal-item__icon {
  width: 100px;
}

.integration-steps-horizontal-item .step-arrow {
  position: absolute;
  top: 28px;
  left: -8px;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  font-size: 2em;
  line-height: 1;
  color: #72767b;
}
