.integration-steps-horizontal-item .step-icon {
  border-radius: 100px;
  width: 55px;
  height: 55px;
  margin: 0 auto 5px;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #0088ce;
}

.integration-steps-horizontal-item__arrow, .integration-steps-horizontal-item__icon {
  padding: 0;
}

.integration-steps-horizontal-item .step-arrow {
  position: absolute;
  top: 28px;
  -webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  font-size: 2em;
  line-height: 1;
  color: #72767b;
}
