.integration-flow-step {
  display: flex;
  margin: 20px 0;
}
.integration-flow-step:last-child {
  align-items: flex-start; /* to cut the vertical line at the end of the icon, and not of the whole container */
}

.integration-flow-step__iconWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 0 0 100px;
  z-index: 1;
}

.integration-flow-step:not(:first-child) .integration-flow-step__iconWrapper::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #d4d4d4;
  top: -20px; /* same as root container top margin */
  bottom: 0;
  left: calc(100% / 2);
  z-index: 0;
}

.integration-flow-step:not(:last-child) .integration-flow-step__iconWrapper::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #d4d4d4;
  top: 0;
  bottom: -20px; /* same as root container bottom margin */
  left: calc(100% / 2);
  z-index: 0;
}

.integration-flow-step__icon {
  border: 3px solid #d0d0d0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 55px;
  height: 55px;
  position: relative;
  z-index: 1;
  color: #d0d0d0;
}


.is-active .integration-flow-step__icon {
  border-color: #0088ce;
}