<div class="syn-scrollable">
  <div class="syn-scrollable--body">
    <div class="container-fluid">
      <div class="row row-cards-pf">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h1 class="card-pf-title">{{ 'integrations.api-provider.save-title' | synI18n }}</h1>
          </div>
          <div class="card-pf-body">
            <p>{{ 'integrations.api-provider.save-subtitle' | synI18n }}</p>

            <syndesis-validation-error *ngIf="creationError">
              {{ 'integrations.api-provider.error-saving-integration' | synI18n }}
              <ul>
                <li *ngFor="let error of creationError.data">
                  {{ error.message }}
                </li>
              </ul>
            </syndesis-validation-error>

            <syndesis-loading
              [loading]="loading"
              [content]="content">
            </syndesis-loading>

            <ng-template #content>
              <form class="form-horizontal" (submit)="onSave.emit()">
                <div class="form-group required">
                  <label class="col-sm-3 control-label required-pf">
                    Integration Name
                  </label>
                  <div class="col-sm-9">
                    <input type="text"
                           name="nameInput"
                           data-id="nameInput"
                           [ngModel]="name"
                           (ngModelChange)="onNameChange.emit($event)"
                           class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-9">
                    <textarea data-id="descriptionInput"
                              name="descriptionInput"
                              class="form-control"
                              [ngModel]="description"
                              (ngModelChange)="onDescriptionChange.emit($event)"
                              rows="2"></textarea>
                  </div>
                </div>

                <fieldset>
                  <syndesis-button type="submit" [disabled]="!name">
                    {{ 'shared.save-and-continue' | synI18n }}
                  </syndesis-button>

                  <syndesis-button type="button" theme="default" (click)="onBack.emit()">
                    {{ 'shared.back' | synI18n }}
                  </syndesis-button>
                </fieldset>
              </form>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
