@import 'syndesis-sass';

.step-block {
  height: 100px;
  width: 120px;
  vertical-align: top;
  position: relative;
  padding: 0 10px;

  .connection {
    cursor: pointer;
  }

  & > .text-center {
    position: relative;
  }

  .icon {
    -moz-border-radius: 100px;
    border-radius: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: $color-pf-blue;
    width: 55px;
    height: 55px;
    margin: 0 auto 5px;
    background-color: $color-pf-white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .api-provider {
      max-width: 35px;
      max-height: 35px;
    }

    .connection-icon {
      width: 24px;
      height: 24px;
      margin-top: 1px;
    }
  }

  .step-sep {
    position: absolute;
    top: 28px;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 2em;
    line-height: 1;
    color: $color-pf-black-600;
  }
}

.integration-description {
  background-color: $color-pf-custom-gray;
  margin: (-$gutter) (-$gutter) 0;
  padding: $gutter;
  border-bottom: 1px solid #d1d1d1;

  &__draft {
    .list-pf-item {
      border-top: none;
    }
  }

  .block-copy-container,
  [class^="col-"] {
    padding: 0;
  }
}
