<syndesis-loading
  [loading]="!(currentFlowService.loaded$ | async)"
  [content]="content"
>
  <ng-template #content>
    <div class="container-fluid">
      <div class="row toolbar-pf">
        <div class="col-sm-12">
          <div class="toolbar-pf-actions">
            <div class="form-group toolbar-pf-filter">
              <strong> <span>Integration</span> </strong>
            </div>
            <div class="form-group" *ngIf="currentFlowService.isSaved()">
              <label for="integrationName">Name</label>&nbsp;
              <syndesis-editable-text
                name="integrationName"
                [value]="currentFlowService.integration.name"
                (onSave)="nameUpdated($event)"
              >
              </syndesis-editable-text>
            </div>
            <div class="form-group" *ngIf="currentFlow.name">
              <label for="flowName">Flow</label>&nbsp;
              <syndesis-editable-text
                name="flowName"
                [value]="currentFlow.name"
                (onSave)="flowNameUpdated($event)"
              >
              </syndesis-editable-text>
            </div>
            <div class="form-group" *ngIf="flows.length > 1">
              <label for="flowSelectDropDown">Flows</label>&nbsp;
              <div
                id="flowSelectDropDown"
                dropdown
                class="dropdown btn-group"
                placement="bottom"
                *ngIf="currentFlow && flows.length > 1"
              >
                <button
                  dropdownToggle
                  class="btn btn-default dropdown-toggle"
                  type="button"
                >
                Open flow&nbsp;<span class="caret"></span>
                </button>
                <ul
                  *dropdownMenu
                  class="dropdown-menu flow-select-menu"
                  role="menu"
                >
                  <li style="padding: 0 4px;">
                    <button
                      class="btn btn-default"
                      style="width: 100%"
                      [disabled]="
                      isPrimaryFlow(currentFlow) ||
                      flowPageService.saveInProgress ||
                      flowPageService.publishInProgress
                    "
                      (click)="
                      save([
                        '/integrations',
                        currentFlowService.integration?.id,
                        'edit'
                      ])
                    "
                    >
                      Go to primary flow
                    </button>
                  </li>
                  <li role="separator" class="divider"></li>
                  <ng-container *ngFor="let group of getConditionalFlowGroups(); let i=index; let lastGroup=last">
                    <li class="dropdown-header">#{{i + 1}} Conditional Flows</li>
                    <ng-container *ngFor="let flow of group.flows; let last=last">
                      <li>
                        <a
                          [routerLink]="[
                            '/integrations',
                            currentFlowService.integration?.id,
                            flow.id,
                            'edit'
                          ]"
                        >
                          <strong>{{ getFlowName(flow) }}</strong
                          ><br />
                          <div style="display: inline-flex">
                            <span class="condition" [textContent]="isDefaultFlow(flow) ? 'OTHERWISE' : 'WHEN'"
                                                    [attr.data-verb]="isDefaultFlow(flow) ? 'OTHERWISE' : 'WHEN'"></span>&nbsp;
                            <span>{{ flow.description }}</span>
                          </div>
                        </a>
                      </li>
                      <li *ngIf="!last" role="separator" class="divider"></li>
                    </ng-container>
                    <li *ngIf="!lastGroup" role="separator" class="divider"></li>
                  </ng-container>
                </ul>
              </div>
            </div>
            <div *ngIf="!hideButtons && isPrimaryFlow(currentFlow)" class="toolbar-pf-action-right">
              <button
                class="btn btn-default"
                (click)="flowPageService.cancel()"
                *ngIf="flowPageService.showCancel"
              >
                Cancel
              </button>
              <button
                class="btn btn-primary"
                (click)="flowPageService.done()"
                [disabled]="flowPageService.doneDisabled"
                *ngIf="flowPageService.showDone"
              >
                Done
              </button>
              <button
                class="btn btn-default"
                (click)="save()"
                *ngIf="!flowPageService.showDone"
                [disabled]="
                  (currentFlowService.currentFlowErrors$ | async).length ||
                  flowPageService.saveInProgress ||
                  flowPageService.publishInProgress
                "
              >
                <span
                  *ngIf="flowPageService.saveInProgress"
                  class="spinner spinner-sm spinner-inline"
                ></span>
                Save
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="publish()"
                *ngIf="!flowPageService.showDone"
                [disabled]="
                  (currentFlowService.currentFlowErrors$ | async).length ||
                  flowPageService.saveInProgress ||
                  flowPageService.publishInProgress
                "
              >
                <span
                  *ngIf="flowPageService.publishInProgress"
                  class="spinner spinner-sm spinner-inline"
                ></span>
                Publish
              </button>
            </div>
            <div *ngIf="!hideButtons && isAlternateFlow(currentFlow)" class="toolbar-pf-action-right">
              <button
                class="btn btn-default"
                (click)="flowPageService.cancel()"
                *ngIf="flowPageService.showCancel && flowPageService.showDone"
              >
                Cancel
              </button>
              <button
                class="btn btn-primary"
                (click)="flowPageService.done()"
                [disabled]="flowPageService.doneDisabled"
                *ngIf="flowPageService.showDone"
              >
                Done
              </button>
              <button
                class="btn btn-default"
                *ngIf="!flowPageService.showDone"
                [disabled]="
                      flowPageService.saveInProgress ||
                      flowPageService.publishInProgress
                    "
                (click)="
                      save([
                        '/integrations',
                        currentFlowService.integration?.id,
                        'edit'
                      ])
                    "
              >
                Go to primary flow
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row toolbar-pf toolbar-condensed" *ngIf="isAlternateFlow(currentFlow)">
        <div class="col-sm-12">
          <div class="toolbar-pf-actions">
            <div class="form-group toolbar-pf-filter">
              <h3>
                <span class="condition" [textContent]="isDefaultFlow(currentFlow) ? 'OTHERWISE' : 'WHEN'"
                                        [attr.data-verb]="isDefaultFlow(currentFlow) ? 'OTHERWISE' : 'WHEN'">

                </span>
                <span>
                  {{ currentFlow.description }}
                </span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</syndesis-loading>
