spring.application.name={{id}}
spring.cloud.kubernetes.secrets.paths=/opt/integration/secrets.properties
## name of CamelContext
camel.springboot.name={{id}}

camel.springboot.streamCachingEnabled = true
