<!-- Toolbar -->

<div class="row toolbar-pf toolbar">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="inline-block">
        <ol class="breadcrumb">
          <li>
            <a [routerLink]=" ['/'] ">Home</a>
          </li>
          <li>
            <a [routerLink]=" ['..'] ">Connections</a>
          </li>
          <li class="active"><strong>Create Connection</strong></li>
        </ol>
      </div>
      <div class="toolbar-pf-action-right">
        <button class="btn btn-default"
                (click)="cancel()">Cancel
        </button> &nbsp;
        <button class="btn btn-default"
                *ngIf="showBack()"
                (click)="goBack()">
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button class="btn btn-primary"
                *ngIf="getCurrentPage() === 'configure-fields'"
                (click)="goForward()"
                [disabled]="!canContinue()">
          Next <i class="fa fa-chevron-right"></i>
        </button>
        <button class="btn btn-primary"
                *ngIf="getCurrentPage() === 'review'"
                (click)="doCreate()"
                tourAnchor="connections.publish"
                [disabled]="!canContinue()">Create
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Wizard Progress Bar-->
<syndesis-wizard-progress-bar class="has-half-width"
  [steps]="['Select Connection Type', 'Configure Connection', 'Name Connection']"
  stepUrlPrefix="connections/create/"
  [stepUrls]="['connection-basics', 'configure-fields', 'review']">
</syndesis-wizard-progress-bar>

<!-- debug section -->
<!--
<div class="row">
  <pre>{{ connection | json }}</pre>
</div>
-->

<!-- Wizard Content -->

<router-outlet></router-outlet>
