{
  "apiEndpoint": "http://localhost:8080/api/v1",
  "mapperEndpoint": "http://localhost:8080/mapper/v1",
  "branding": {
    "productBuild": false,
    "appName": "Syndesis",
    "favicon32": "/favicon-32x32.png",
    "favicon16": "/favicon-16x16.png",
    "touchIcon": "/apple-touch-icon.png"
  },
  "datamapper": {
    "baseMappingServiceUrl": "http://localhost:8080/api/v1/atlas/",
    "baseJavaInspectionServiceUrl": "http://localhost:8080/api/v1/atlas/java/",
    "baseXMLInspectionServiceUrl": "http://localhost:8080/api/v1/atlas/xml/",
    "baseJSONInspectionServiceUrl": "http://localhost:8080/api/v1/atlas/json/",
    "disableMappingPreviewMode": false,
    "discardNonMockSources": false,
    "addMockJSONMappings": false,
    "addMockJavaSources": false,
    "addMockJavaSingleSource": false,
    "addMockXMLInstanceSources": false,
    "addMockXMLSchemaSources": false,
    "addMockJSONSources": false,
    "addMockJavaTarget": false,
    "addMockXMLInstanceTarget": false,
    "addMockXMLSchemaTarget": false,
    "addMockJSONTarget": false,
    "debugDocumentServiceCalls": false,
    "debugMappingServiceCalls": false,
    "debugClassPathServiceCalls": false,
    "debugValidationServiceCalls": false,
    "debugFieldActionServiceCalls": false,
    "debugDocumentParsing": false
  }
}
