.Dashboard-header {
  display: flex;
  flex-flow: row nowrap;
}

.Dashboard-header__title {
  flex: 1;
}

.Dashboard-header__actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px; /* to align it with the title */
  margin-bottom: 10px; /* to align it with the title */
}

.Dashboard-header__actions > * {
  margin-left: 10px;
}
