<form (change)="onChange()" class="templater-form form-horizontal">

  <p>
    {{ 'integrations.steps.templater-instruct-text1' | synI18n }}
    <a (click)="fileUpload.click()">
      {{ 'integrations.steps.templater-instruct-text2' | synI18n }}
    </a>
    {{ 'integrations.steps.templater-instruct-text3' | synI18n }}
  </p>

  <span class="file-upload-input-hidden">
    <input
      #fileUpload
      class="templater-form-file-chooser"
      type="file"
      accept="application/tmpl"
      ng2FileSelect
      [uploader]="uploader"/>
  </span>

  <p class="help-block"><em>{{ 'integrations.steps.templater-upload-helper-text-size-type' | synI18n }}</em></p>

  <div [hidden]="editorFocused || templateContent">{{ 'integrations.steps.templater-editor-placeholder' | synI18n }}</div>

  <div class="templater-form-editor">
    <div class="col-xs-12">
      <div class="form-group row">
        <div id="template-editor">
          <codemirror name="templateEditor" #templateEditor [(ngModel)]="templateContent"
                      [config]="editorConfig" (focus)="onEditorFocus()" (blur)="onEditorBlur()">
          </codemirror>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="invalidFileMsg">
    <span class="pficon-error-circle-o"></span>
    {{ invalidFileMsg }}
  </p>

  <div class="templater-form-validation" *ngIf="validationErrors.length > 0">
    <span class="pficon-error-circle-o"></span>
    {{ 'integrations.steps.templater-validation-errors' | synI18n }} ({{validationErrors.length}})

    <a class="view-all" (click)="expandCollapseValidDetail()">
      View all <i class="caret" [ngClass]="{'expanded': validationErrorsExpanded === true}"></i>
    </a>

    <div *ngIf="validationErrorsExpanded">
      <li *ngFor="let error of validationErrors" class="validation-error-text">
        {{error.message}}
      </li>
    </div>
  </div>

</form>
