@import 'syndesis-sass';

.templater-form {
  &-file-url-text {
    padding-right: 0;
  }

  &-file-url-btn {
    padding-left: 0;
  }

  &-editor {
    &:not(.create) {
      padding-top: $gutter / 2;
    }

    &.create {
      padding-left: $gutter * 2;
    }
  }

  .CodeMirror {
    border: 2px solid $color-pf-black-300;
    height: 15em;
  }

  .cm-mustache {
    color: #b21eab;
    font-weight: bold;
  }
}
