<form (change)="onChange()" class="templater-form">
  <p>
    {{ 'integrations.steps.templater-instruct-text1' | synI18n }}
    <a role="button" (click)="fileUpload.click()">
      {{ 'integrations.steps.templater-instruct-text2' | synI18n }}
    </a>
    {{ 'integrations.steps.templater-instruct-text3' | synI18n }}
  </p>

  <span class="file-upload-input-hidden">
    <input
      #fileUpload
      class="templater-form-file-chooser"
      type="file"
      accept="application/tmpl"
      ng2FileSelect
      [uploader]="uploader"/>
  </span>

  <p class="help-block"><em>{{ 'integrations.steps.templater-upload-helper-text-size-type' | synI18n }}</em></p>

  <div class="col-xs-12">
    <div class="form-group row">
      <div id="template-editor" class="template-editor"
           [ngClass]="{'show-placeholder' : !editorFocused && !templateContent, 'drag-enter' : dragEnter}"
           [attr.data-placeholder]="'integrations.steps.templater-editor-placeholder' | synI18n"
           [attr.data-drag-enter]="'integrations.steps.templater-editor-drag-enter' | synI18n">
        <codemirror name="templateEditor" #templateEditor [(ngModel)]="templateContent"
                    [config]="editorConfig"
                    (focus)="onEditorFocus()"
                    (blur)="onEditorBlur()"
                    (dragenter)="onEditorDragenter()"
                    (dragleave)="onEditorDragleave()"
                    (drop)="onEditorDrop()">
        </codemirror>
      </div>
    
      <div class="templater-form-validation">
        <p *ngIf="invalidFileMsg">
          <span class="pficon-error-circle-o"></span>
          {{ invalidFileMsg }}
        </p>
      </div>
    </div>
  </div>
</form>
