@import 'syndesis-sass';

:host,
.app,
main {
  height: 100%;
}

main {
  position: relative;
}

.app {
  header {
    // Navigation Bar
    .navbar.navbar-pf-vertical {
      .navbar-brand-icon.product {
        max-height: inherit;
        height: 19px;
        margin-top: -10px;
        margin-bottom: -10px;
      }

      li {
        border: 0;

        a,
        a:hover,
        a:focus {
          outline: none;
          text-decoration: none;
        }
      }

      .dropdown {
        li {
          cursor: pointer;
        }
      }

      .toggle-nav {
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        border: 0;
        border-radius: 1px;
        display: block;
        float: left;
        margin: 9px 15px;
        padding: 9px 10px;
        position: relative;

        &:focus {
          outline: -webkit-focus-ring-color 0;
          outline-color: transparent;
          outline-style: none;
        }

        .icon-bar {
          background: #d1d1d1;
          border-radius: 1px;
          display: block;
          height: 2px;
          margin-top: 4px;
          width: 22px;
        }

        .sr-only {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
      }
    }
  }

  .nav-pf-vertical .list-group-item > a,
  .nav-pf-vertical .list-group-item.active > a,
  .nav-pf-vertical .list-group-item:hover > a {
    font-weight: inherit;
    text-decoration: none;
  }
}
