@import 'syndesis-sass';

:host,
.pf-c-page,
main {
  height: 100%;
}

.pf-c-page {
  .nav-pf-vertical .list-group-item {
    a {
      font-weight: 400;
    }
    &:hover,
    &.active {
      a {
        font-weight: 600;
      }
    }
  }

  #appLogo {
    width: 164px;
    &.product {
      width: 310px;
    }
  }
}

.nav-pf-vertical {
  top: 76px;
  width: 290px;
  .list-group-item > a {
    width: 100%;
  }
}
