<div class="app">

  <pfng-toast-notification-list [notifications]="notifications|async"
                                (onActionSelect)="handleAction($event)"
                                (onCloseSelect)="handleClose($event)"
                                [showClose]="showClose">
  </pfng-toast-notification-list>

  <ng-template #brandTemplate>
    <a routerLink="/"
       class="navbar-brand">
          <img *ngIf="iconDarkBg && iconDarkBg !== ''"
               [class]="productBuild ? 'navbar-brand-icon product' : 'navbar-brand-icon'"
               [src]="loggedIn ? iconDarkBg : iconWhiteBg"
               alt="" />
          <img *ngIf="logoDarkBg"
               [class]="productBuild ? 'navbar-brand-name product' : 'navbar-brand-name'"
               [src]="loggedIn ? logoDarkBg : logoWhiteBg"
               alt="{{ appName }}" />
          <span *ngIf="logoDarkBg === '' && logoWhiteBg === ''"
               class="navbar-brand-name">{{ appName }}</span>
        </a>
  </ng-template>

  <header *ngIf="!firstTime">

    <!-- Navbar: Logged Out -->
    <nav class="navbar navbar-fixed-top navbar-light loggedOut"
         *ngIf="!loggedIn">
      <!-- Logo -->
      <ng-container *ngTemplateOutlet="brandTemplate"></ng-container>
    </nav>

    <!-- Navbar: Logged In -->
    <nav *ngIf="loggedIn"
         class="navbar navbar-pf-vertical">
      <div class="navbar-header">

        <!-- Toggle Sidebar-->
        <button type="button"
                class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Logo -->
        <ng-container *ngTemplateOutlet="brandTemplate"></ng-container>
      </div>

      <!-- Top Navbar -->

      <nav>
        <ul class="nav navbar-nav navbar-right navbar-iconic">

          <!-- Help Navbar -->

          <li dropdown
              class="dropdown help">
            <a dropdownToggle
               class="dropdown-toggle nav-item-iconic"
               id="dropdownHelp"
               aria-haspopup="true"
               aria-expanded="true">
              <span title="Help"
                    class="fa pficon-help"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu"
                aria-labelledby="horizontalDropdownMenu1">
              <li>
                <a [href]="tutorialLink"
                   rel="nofollow"
                   target="_blank">Sample Integration Tutorials</a>
              </li>
              <li>
                <a [href]="userGuideLink"
                   rel="nofollow"
                   target="_blank">User Guide</a>
              </li>
              <li><a routerLink="/support">Support</a></li>
              <li><a href="mailto:fuse-ignite-tech-preview@redhat.com"
                   rel="nofollow"
                   target="_blank">Contact Us</a></li>
            </ul>
          </li>

          <!-- User w/ No Dropdown -->

          <!--
          <li class="nav-item-iconic">
            <span title="Username"
                  class="fa pficon-user"></span>
            <span class="username">{{( user | async)?.name || ( user | async)?.fullName || ( user | async)?.username}}</span>
          </li>
          -->

          <!-- User Dropdown -->
          <li dropdown
              class="dropdown user">
            <a dropdownToggle
               class="dropdown-toggle nav-item-iconic"
               id="dropdownMenu2"
               aria-haspopup="true"
               aria-expanded="true">
              <span title="Username"
                    class="fa pficon-user"></span>
              <span class="username">{{ ( user$ | async)?.name }}</span>
              <span class="caret"></span>
            </a>
            <ul *dropdownMenu
                class="dropdown-menu"
                aria-labelledby="dropdownMenu2">
              <li>
                <a (click)="logout()">Logout</a>
              </li>
              <!--
              <li>
                <a (click)="resetDB()">Reset DB</a>
              </li>
              <li>
                <a (click)="exportDB()">Export DB</a>
              </li>
              <li>
                <a (click)="showImportDB()">Import DB</a>
              </li>
              -->
            </ul>
          </li>
        </ul>
      </nav>
    </nav>
    <!--/.navbar-->
  </header>

  <!-- Sidebar -->
  <div class="nav-pf-vertical hidden-icons-pf"
       *ngIf="loggedIn">
    <ul class="list-group">
      <li class="list-group-item"
          routerLinkActive="active">
        <a routerLink="dashboard">
          <span class="fa fa-tachometer"
                data-toggle="tooltip"
                title="Dashboard"></span>
          <span class="list-group-item-value">Home</span>
        </a>
      </li>
      <li class="list-group-item"
          routerLinkActive="active">
        <a routerLink="integrations">
          <span class="pficon pficon-topology"
                data-toggle="tooltip"
                title="Integrations"></span>
          <span class="list-group-item-value">Integrations</span>
        </a>
      </li>
      <li class="list-group-item"
          routerLinkActive="active">
        <a routerLink="connections">
          <span class="pficon pficon-network"
                data-toggle="tooltip"
                title="Connections"></span>
          <span class="list-group-item-value">Connections</span>
        </a>
      </li>
      <li class="list-group-item"
          routerLinkActive="active">
        <a routerLink="customizations">
          <span class="pficon pficon-network"
                data-toggle="tooltip"
                title="Customizations"></span>
          <span class="list-group-item-value">Customizations</span>
        </a>
      </li>
      <li class="list-group-item"
          routerLinkActive="active">
        <a routerLink="monitor">
          <span class="pficon pficon-network"
                data-toggle="tooltip"
                title="Monitor"></span>
          <span class="list-group-item-value">Monitor</span>
        </a>
      </li>
      <li class="list-group-item"
          routerLinkActive="active">
        <a routerLink="settings">
          <span class="fa fa-lock"
                data-toggle="tooltip"
                title="Settings"></span>
          <span class="list-group-item-value">Settings</span>
        </a>
      </li>
    </ul>
  </div>
  <main class="container-fluid container-pf-nav-pf-vertical"
        *ngIf="loggedIn">
    <router-outlet></router-outlet>
  </main>

  <syndesis-modal id="importDb"
                  title="Import Selection"
                  [body]="importDbModal">
    <ng-template #importDbModal
                 let-modal="modal">
      Please select the data file to import:
      <input type="file"
             id="file-import"
             (change)="importDB($event, modal)">
    </ng-template>
  </syndesis-modal>

</div>
