@import 'syndesis-sass';

:host,
.pf-c-page,
main {
  height: 100%;
}

.pf-c-page {
  .nav-pf-vertical .list-group-item > a,
  .nav-pf-vertical .list-group-item.active > a,
  .nav-pf-vertical .list-group-item:hover > a {
    font-weight: inherit;
    text-decoration: none;
  }

  #appLogo {
    width: 164px;
  }
}

.nav-pf-vertical {
  top: 76px;
  width: 290px;
  .list-group-item > a {
    width: 100%;
  }
}
