:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: visible;
}

ul {
  flex: 0 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  &.toolbar-pf {
    background: inherit;

    li {
      &.active {
        cursor: default;
      }

      cursor: pointer;
    }
  }
}
