name: Build on Push

on: 
  push

jobs:
  full-build:
    runs-on: ubuntu-latest
    env:
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Full Build of Syndesis
        run: tools/bin/syndesis build -d --batch-mode --all-images 
    # Send SonarCloud statistics
      - name: Set up JDK 11 for SonarCloud
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Install Java 11
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        if: ${{env.SONAR_TOKEN != ''}}
        uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: '11'
      - name: Send analysis to SonarCloud
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        if: ${{env.SONAR_TOKEN != ''}}
        run: cd app; ./mvnw -q -B -pl '!:extension-bom,!:integration-bom' jacoco:report && ./mvnw -B -N -Dsonar.login=${{secrets.SONAR_TOKEN}} sonar:sonar
