////////////////////////////////////////////////////////////////////////////////
// COMMON & HELPER CLASSES
////////////////////////////////////////////////////////////////////////////////

//----- Centers a Division ----------------->>

.center {
  margin: 0 auto;
}

//----- Convenience Class ----------------->>

.inline-block {
  display: inline-block;
}

//----- Disable Anchor / Link That Uses routerLink/routerActiveClass ----------------->>

a.disabled {
  @include preventclick;
}

//----- Vertically Align Contents in a Division ----------------->>

.vertical-align {
  display: flex;
  flex-direction: row;

  [class^='col-'],
  [class*=' col-'] {
    display: flex;
    align-items: center;
    //justify-content: center; /* Optional, to align inner items horizontally inside the column */
  }
}

//----- Convenience helpers mapping custom SASS mixins ----------------->>

.syn-visuallyhidden {
  @include visuallyhidden;
}

.syn-preventclick {
  @include preventclick;
}
