@import 'patternfly-sass/assets/stylesheets/patternfly/color-variables';

////////////////////////////////////////////////////////////////////////////////
// PATTERNFLY CARD LAYOUT
////////////////////////////////////////////////////////////////////////////////

// This is the darker gray we are using as a result of the lighter grays in PatternFly
// getting washed out on projectors, demo recordings, and BlueJeans screenshares.

$color-pf-custom-gray: #e1e1e1;

body.cards-pf {
  background-color: $color-pf-custom-gray;
}

.card-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

////////////////////////////////////////////////////////////////////////////////
// PATTERNFLY VERTICAL NAVIGATION
////////////////////////////////////////////////////////////////////////////////

.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical.collapsed-nav {
  margin-left: 0;
}

.navbar {
  a {
    color: #ffffff;
  }

  .navbar-brand {
    margin: 6px 0 0 25px;
    white-space: nowrap;
    .navbar-brand-icon {
      max-height: 28px;
      vertical-align: middle;
    }
    .navbar-brand-name {
      max-height: 28px;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// TABS
////////////////////////////////////////////////////////////////////////////////

.tab-container {
  .nav-tabs {
    border-bottom: solid 1px $color-pf-black-300;

    li.nav-item {
      margin: 0;

      a {
        border: none;
        cursor: pointer;

        &.active,
        &.active:hover,
        &.active:focus,
        &.active:visited {
          background: none;
          border-bottom: solid 1px $color-pf-blue-300;
        }

        &:hover {
          background: $color-pf-black-300;
          border-bottom: solid 1px $color-pf-black-300;
        }
      }
    }
  }

  .tab-content {
    background: #ffffff;
  }
}

// override the background that seems off with patternfly-ng's list
.list-pf {
  .list-pf-item {
    background: $color-pf-white;
    cursor: pointer;
    &:hover {
      background: $color-pf-blue-50;
    }
  }
}

.blank-slate-pf {
  background-color: inherit;
}

// override classes to help sort padding issues
.no-bottom-margin {
  margin-bottom: 0px;
}

// wrapper for toolbar-pf buttons where a breadcrumb is also used
.toolbar-pf-action-right-alignment {
  margin-top: 5px;
  position: relative;
}
