<div class="row toolbar-pf">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="inline-block">
        <ol class="breadcrumb no-bottom-margin">
          <li>
            <a routerLink="/">
              {{ 'shared.home' | synI18n }}</a>
          </li>
          <li>
            <a [routerLink]="['/customizations']">
              {{ 'shared.customizations' | synI18n }}
            </a>
          </li>
          <li>
            <a [routerLink]="['/customizations/extensions']">
              {{ 'shared.extensions' | synI18n }}
            </a>
          </li>
          <li class="active">
            <strong>
              <ng-container *ngIf="extensionUpdate && (extension$ | async); let extension; else import">
                {{ 'shared.update-this' | synI18n: extension.name }} <small>(ID: {{ extension.extensionId }})</small>
              </ng-container>
              <ng-template #import>
                {{ 'customizations.extensions.import-extension' | synI18n }}
              </ng-template>
            </strong>
          </li>
        </ol>
      </div>
      <div class="toolbar-pf-action-right">
        <div class="toolbar-pf-action-right-alignment">
          <button class="btn btn-default"
                [routerLink]="['/customizations/extensions']">
            {{ 'shared.cancel' | synI18n }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row row-cards-pf">
    <div class="col-xs-12">
      <div class="card-pf">
        <div class="card-pf-heading">
          <div class="card-pf-title">
            <h1 class="extension__title">
              <ng-container *ngIf="extensionUpdate && (extension$ | async); let extension; else import">
                {{ 'shared.update-this' | synI18n: extension.name }}
                <span class="extension__title__id">(ID: {{ extension.extensionId }})</span>
              </ng-container>
              <ng-template #import>
                {{ 'customizations.extensions.import-extension' | synI18n }}
              </ng-template>
            </h1>
          </div>
        </div>
        <div class="card-pf-body">
          <p class="extension__group">
            <ng-container *ngIf="extensionUpdate && (extension$ | async); else importHelp">
              {{ 'customizations.extensions.import-extension-update-help' | synI18n }}
            </ng-container>
            <ng-template #importHelp>
              {{ 'customizations.extensions.import-extension-help' | synI18n }}
            </ng-template>
          </p>
          <ng-container *ngIf="error">
            <div [class]="error.level">
              <span class="pficon pficon-error-circle-o"></span>
              <div [innerHtml]="error.message"></div>
            </div>
          </ng-container>

          <div class="syn-drop-zone extension__group"
            ng2FileDrop
            [uploader]="uploader"
            [ngClass]="{'syn-drop-zone--hover': hasBaseDropZoneOver}"
            (fileOver)="onFileOver($event)">
            <p>{{ 'customizations.extensions.import-extension-dnd-instructions' | synI18n }}</p>
            <div class="row syn-drop-zone__file-select">
              <div class="col-md-4">
                <p>
                  <input #fileSelect
                    type="file"
                    ng2FileSelect
                    [uploader]="uploader"
                    (onFileSelected)="fileSelect.value=''">
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  {{ item?.file?.name }}
                </p>
              </div>
              <div class="col-md-4">
                <p *ngIf="item.isUploading" class="text-muted">
                  <span *ngIf="item.isUploading" class="spinner spinner-sm spinner-inline"></span>
                  <em>{{ 'customizations.extensions.import-extension-uploading' | synI18n }}</em>
                </p>
                <p *ngIf="item.isUploaded">
                  <span *ngIf="item.isSuccess; else isError">
                    <span class="pficon-ok"></span>
                    {{ 'customizations.extensions.import-extension-upload-success' | synI18n }}
                  </span>
                  <ng-template #isError>
                    <span class="pficon-error-circle-o"></span>
                    {{ 'customizations.extensions.import-extension-upload-error' | synI18n }}
                  </ng-template>
                </p>
              </div>
            </div>
            <p class="help-block"><em>{{ 'customizations.extensions.import-extension-help-block' | synI18n }}</em></p>
          </div>
          <ng-container *ngIf="response">
            <h3>{{ 'customizations.extensions.import-extension-review-title' | synI18n }}</h3>
            <dl class="dl-horizontal">
              <dt>
                {{ 'shared.id' | synI18n }}
              </dt>
              <dd>
                {{ response.extensionId }}
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>
                {{ 'shared.name' | synI18n }}
              </dt>
              <dd>
                {{ response.name }}
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>
                {{ 'shared.description' | synI18n }}
              </dt>
              <dd>
                {{ response.description }}
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>
                {{ 'shared.type' | synI18n }}
              </dt>
              <dd>
                <ng-container [ngSwitch]="response.extensionType">
                  <span *ngSwitchCase="'Steps'">{{ 'customizations.extensions.step-extension' | synI18n }}</span>
                  <span *ngSwitchCase="'Connectors'">{{ 'customizations.extensions.connector-extension' | synI18n }}</span>
                  <span *ngSwitchCase="'Libraries'">{{ 'customizations.extensions.library-extension' | synI18n }}</span>
                  <span *ngSwitchDefault>{{ 'customizations.extensions.unknown-extension' | synI18n }}</span>
                </ng-container>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>
                <ng-container [ngSwitch]="response.extensionType">
                  <span *ngSwitchCase="'Steps'">{{ 'shared.steps' | synI18n }}</span>
                  <span *ngSwitchCase="'Connectors'">{{ 'shared.actions' | synI18n }}</span>
                </ng-container>
              </dt>
              <dd>
                <div *ngFor="let action of response.actions">
                  <strong>
                    {{ action.name }}
                  </strong>
                  - {{ action.description }}
                </div>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt></dt>
              <dd>
                <button type="button"
                        class="btn btn-primary"
                        [disabled]="importing"
                        (click)="doImport()">
                  <span *ngIf="importing"
                        class="spinner spinner-sm spinner-inline"></span>
                    <ng-container *ngIf="extensionUpdate; else import">
                      {{ 'shared.update' | synI18n }}
                    </ng-container>
                    <ng-template #update>
                      {{ 'shared.import' | synI18n }}
                    </ng-template>
                </button>
                <button *ngIf="!importing"
                        type="button"
                        class="btn btn-default"
                        [routerLink]="['/customizations/extensions']">
                  {{ 'shared.cancel' | synI18n }}
                </button>
              </dd>
            </dl>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
