.integration-detail-activity-item {
  border: none;
}

.integration-detail-activity-item .list-view-pf-main-info {
  min-height: 68px;
}

.integration-detail-activity-item .integration-detail-activity-item__status-item {
  padding-top: 6px;
}

.integration-detail-activity-item .integration-detail-activity-item-step-output {
  border: none;
  padding-top: 2px;
}

.integration-detail-activity-item__expanded-table {
  margin-top: 25px;
}
