<div *ngIf="form">
  <syndesis-loading [loading]="loading" [content]="content">
    <ng-template #content>
      <form (change)="onChange($event)" [formGroup]="form" class="basic-filter-form">

        <div class="form-group">

          <fieldset formGroupName="filterSettingsGroup" class="filterSettingsGroupContainer">
            <label for="basicFilterPredicateSelect">
              {{ form.get('filterSettingsGroup').value.predicateLabel }}
            </label>
            <select
              id="basicFilterPredicateSelect"
              formControlName="predicate"
              class="form-control predicate-select">
                <option
                  [ngValue]="option.value"
                  *ngFor="let option of predicateOpsModel$ | async;">
                  {{ option.label }}
                </option>
              </select>
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset
            formArrayName="rulesArray"
            *ngFor="let ruleSet of form.get('rulesArray').controls; let i = index;"
            class="rulesArrayContainer">
            <div [formGroupName]="i">
              <div class="col-md-3 rule-col">
                <input
                  class="form-control"
                  formControlName="path"
                  type="text"
                  [attr.list]="'path-list-' + i"
                  placeholder="Property name">
                <datalist [attr.id]="'path-list-' + i">
                  <option *ngFor="let path of paths">{{ path }}</option>
                </datalist>
                <span class="help-block">The data you want to evaluate</span>
                <span *ngIf="!ruleSet.controls.path.pristine && ruleSet.controls.path.errors?.required" class="help-block error">Object property name is required</span>
                <span *ngIf="ruleSet.controls.path.errors?.maxlength" class="help-block error">Maximum Characters Exceeded</span>
              </div>
              <div class="col-md-3 rule-col">
                <select formControlName="op" class="form-control">
                  <option
                    [ngValue]="option.value"
                    *ngFor="let option of ruleOpsModel$ | async">
                    {{ option.label }}
                  </option>
                </select>
                <span class="help-block">Must meet this condition</span>
              </div>
              <div class="col-md-3 rule-col">
                <input
                  class="form-control"
                  formControlName="value"
                  type="text"
                  placeholder="Keywords">
                <span class="help-block">For this value</span>
                <span *ngIf="!ruleSet.controls.value.pristine && ruleSet.controls.value.errors?.required" class="help-block error">A value is required</span>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="pull-right rule-buttons">
                  <a
                    *ngIf="i > 0"
                    tabindex="0"
                    [attr.aria-label]="'Remove rule set ' + (i + 1)"
                    class="fa fa-trash-o"
                    tooltip="Remove this rule set group"
                    placement="left"
                    container="body"
                    (keydown.enter)="removeRuleSet(i)"
                    (click)="removeRuleSet(i)">
                  </a>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      </form>
    </ng-template>
  </syndesis-loading>

  <div class="form-group">
    <button
      (keydown.enter)="addRuleSet()"
      (click)="addRuleSet()"
      class="add-rule">+ Add another rule
    </button>
  </div>
</div>
